openapi: 3.0.0
info:
  description: Online Boarding Process
  version: "1.0"
  title: Online Boarding Process
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Boarding New Proposals
  - name: Check Proposal Status
  - name: Declare Payment
  - name: Verify Tax ID (CPF for individual | CNPJ for company) at SERPRO
  - name: Service Contract Parameters
  - name: Account Fees for Required Service Parameters (accountFees)
  - name: Associations/Schemas Product Code for Settlement Parameters
  - name: List of Banks for Settlement
  - name: List of CNAEs Parameter
  - name: Professional License Status
  - name: Restricted/Unwanted CNAEs
  - name: MDR Service Fees Parameters (Standard Fees, for reference only)
  - name: Associations/Schemas List
  - name: Additional Services Parameters
  - name: Frequency Cycles for Additional Services
  - name: Capture Solutions Parameters
  - name: Phone Operators Parameters
  - name: Merchant - Compliance
  - name: List of Campaign Setup
  - name: List of Setup to Send Proposal
  - name: MCC
paths:
  "/config/compliance/merchantId/{merchantId}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Merchant - Compliance (Not Available)
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Merchant - Compliance (Not Available)
      summary: Merchant - Compliance (Not Available)
      operationId: checkCompliance
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: merchantId
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      deprecated: false
  "/config/campaigns/simulator":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Return the campaings according to the reported annual income for the simulator project
      summary: Return the campaings according to the reported annual income for the simulator project
      operationId: listOfCampaingsForSimulatorProject
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: anual-billing
          in: query
          description: Anual Billing
          required: true
          example: 360000
          schema:
            type: number
            format: double
        - name: service-contract
          in: query
          description: Service Contract. It is an internal code used in Fiserv to identify the Partner
          example: 103
          required: true
          schema:
            type: integer
            format: int64
        - name: type-person
          in: query
          description: Type of Person, Legal or Physical
          required: true
          schema:
            type: string
          example: "L"
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfListOfCampaingSimulatorDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
  "/config/campaigns/billing-range/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Range of Revenue for the Campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Range of Revenue for the Campaign
      summary: Range of Revenue for the Campaign
      operationId: listOfRangeOfRevenueForCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaign ID
          required: true
          example: "1"
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Revenue Range ID
          example: 2
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          example: 1
          description: Currante Page
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBillingRangeDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/factor-flex/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Factor fees for MDR Flex associated to a campaign
      summary: Get the Factor fees for MDR Flex associated to a campaign
      operationId: getFactorFeesForMDRFlexByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign Code
          required: true
          example: 1
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Revenue Range ID
          example: 2
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Quantity of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: receiving-deadline
          in: query
          description: Receiving Deadline
          example: 14
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfFactorFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/factor-flex/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Factor fees for MDR Flex associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Factor fees for MDR Flex associated to a campaign
      summary: Get the Factor fees for MDR Flex associated to a campaign
      operationId: getFactorFeesForMDRFlexByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign Code
          required: true
          example: 1
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Revenue amount
          example: 30000
          schema:
            type: number
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Quantity of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: receiving-deadline
          in: query
          description: Receiving Deadline
          example: 14
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfFactorFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr-flex/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Flex Fees associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the MDR Flex Fees associated to a campaign
      summary: Get the MDR Flex Fees associated to a campaign
      operationId: getMDRFlexFeesByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Fee Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: id-range
          in: query
          description: Billing range id related to the campaign
          example: 1
          schema:
            type: integer
            format: int64
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr-flex/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Flex Fees associated to a campaign - Billing Value
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the MDR Flex Fees associated to a campaign
      summary: Get the MDR Flex Fees associated to a campaign
      operationId: getMDRFlexFeesByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Fee Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: billing-value
          in: query
          description: Revenue amount
          example: 30000
          schema:
            type: number
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get MDR Fees for a given campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get MDR Fees for a given campaign
      summary: Get MDR Fees for a given campaign
      operationId: getMDRFeesByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 4923001
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Rate Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: id-range
          in: query
          description: Billing range id related to the campaign
          example: 1
          schema:
            type: integer
            format: int64
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrRatesDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Fees associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the MDR Fees associated to a campaign
      summary: Get the MDR Fees associated to a campaign
      operationId: getMDRFeesByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 4923001
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Rate Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: billing-value
          in: query
          description: Billing amount
          example: 30000
          schema:
            type: number
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrRatesDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/current-approvers/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the current campaign approvers
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the current campaign approvers
      summary: Get the current campaign approvers
      operationId: getCurrentApprovers
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApproversCampaignDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/approvers/service-contract/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get possible approvers for a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get possible approvers for a campaign
      summary: Get possible approvers for a campaign
      operationId: getApprovers
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service Contract
          example: 103
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApproversDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/business-point/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Business Point associated to a campaign - Billing value
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Business Point associated to a campaign
      summary: Get the Business Point associated to a campaign
      operationId: getBusinessPointWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBusinessPoint'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/business-point/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Business Point associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Business Point associated to a campaign
      summary: Get the Business Point associated to a campaign
      operationId: getBusinessPointWithoutBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBusinessPoint'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/technology-price-discount-fee/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the technology price discount fee associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the technology price discount fee associated to a campaign
      summary: Get the technology price discount fee associated to a campaign
      operationId: getTechnologyPriceDiscountFee
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfCampaignTechnologyPriceDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/premium-uf/service-contract/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Premium Rate according to the State/Servicecontract
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Premium Rate according to the State/Servicecontract
      summary: Get the Premium Rate according to the State/Servicecontract
      operationId: getPremiumRates
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service Contract code. Please Check with Fiserv
          required: true
          example: 101
          schema:
            type: integer
            format: int32
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PremiumUfDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/prepayment/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get PrePayment Fees for Campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get PrePayment Fees for Campaign
      summary: Get PrePayment Fees for Campaign
      operationId: getPrePaymentFees
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Revenue Range ID
          example: 2
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfPrepaymentRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/prepayment/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get PrePayment Fees for Campaign V2
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get PrePayment Fees for Campaign
      summary: Get PrePayment Fees for Campaign
      operationId: getPrePaymentFeesWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Revenue amount
          example: 30000
          schema:
            type: number
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfPrepaymentRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/pricing-technology/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get Device Prices associated to a Campaign
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get Device Prices associated to a Campaign
      summary: Get Device Prices associated to a Campaign
      operationId: getDevicePricesByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: id-service
          in: query
          description: Service ID
          example: "300"
          schema:
            type: string
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: billing-value
          in: query
          description: Anual Billing Card Value (if id-range is not null this field will be ignored)
          example: 500.30
          schema:
            type: number
            format: double
        - name: id-range
          in: query
          description: Id Range value
          example: 5
          schema:
            type: integer
            format: int64
        - name: person-type
          in: query
          description: Person Type
          example: L
          schema:
            type: string
            enum:
              - P
              - L
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfPriceTechnologyCampaignDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/service-contract/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Available Campaigns
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Available Campaigns
      summary: Get the Available Campaigns
      operationId: getAvailableCampaigns
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: agent-id
          in: query
          description: Agent ID
          example: "50043201"
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: cnpj
          in: query
          description: Company Tax ID (CNPJ) associated to the Economic Group
          example: "19402145000147"
          schema:
            type: string
        - name: has-economic-group
          in: query
          description: Flag for Economic Group Check
          example: false
          schema:
            type: boolean
            default: false
        - name: id-economic-group
          in: query
          description: Economic Group ID (if Exist)
          example: 10
          schema:
            type: integer
            format: int64
        - name: service-contract
          in: path
          description: Service Contract code. Please Check with Fiserv Representative
            junto a FISERV.
          required: true
          example: 101
          schema:
            type: integer
            format: int32
        - name: sub-channel
          in: query
          description: Sub Channel Code
          example: "00001"
          schema:
            type: string
        - name: uf
          in: query
          description: State Abbreviation
          example: SP
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/proposal/build-fees":
    post:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup -  Return the JSON with a model of Fees to be sent
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Return the JSON with a model of Fees to be sent
      summary: Return the JSON with a model of Fees to be sent
      operationId: getJsonModelFeesToSent
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
      requestBody:
        description: setUpFeesDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUpFees'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeDTO'
        201:
          description: Created
          content: {}
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: setUpFeesDTO
  "/config/proposal/status":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Setup to Send Proposal - Get the Proposal Status
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Get the Proposal Status
      summary: Get the Proposal Status
      operationId: getTheProposalStatus
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Proposal Status Description
                  example: AFFILIATED
                  enum:
                    - VALIDATION_ERROR
                    - REJECTED_CREDIT
                    - PENDING_QC
                    - REJECTED_QC
                    - PENDING_CREDIT
                    - APPROVED_CREDIT
                    - IN_PROGRESS
                    - AFFILIATED
                    - PENDING_CREDIT_SUBMISSION
                    - PENDING_SERPRO_SUBMISSION
                    - APPROVED_SERPRO
                    - REJECTED_SERPRO
                    - REJECTED_TMS
                    - EXPIRED_DUE_TO_LACK_OF_PAYMENT
                    - REJECTED_DUE_TO_REJECTED_PAYMENT
                    - PENDING_BOARDING_SUBMISSION
                    - PENDING_MERCHANT_ID
                    - PENDING_BLACK_LIST
                    - REJECTED_BLACK_LIST
                    - REJECTED_SERPRO_BY_PARTNER
                    - REJECTED_SERPRO_BY_BIRTH_DATE
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/proposal/build-fees/v2":
    post:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Setup to Send Proposal -  Return the JSON with a model of Fees to be sent
      x-group-name: Online Boarding
      x-child-product-name: Digital Solutions
      description: Return the JSON with a model of Fees to be sent
      summary: Return the JSON with a model of Fees to be sent
        Takes a slight difference that the default route (/config/proposal/build-fees/v2)
      operationId: getJsonModelFeesToSent1
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
      requestBody:
        description: setUpFeesDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUpFees'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeDTO'
        201:
          description: Created
          content: {}
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: setUpFeesDTO
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ResultOfListOfCampaingSimulatorDTO:
      type: object
      description: Result List of CampaingSimulatorDTO
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CampaingSimulatorDTO"
        error:
          type: boolean
          description: Return Code
          example: true
          enum:
            - True
            - False
        message:
          type: string
          description: Return Message
          example: "Return Message Text"
      title: ResultOfListOfCampaingSimulatorDTO
    ApiResult:
      type: object
      properties:
        error:
          type: boolean
          description: Return Code
          example: True
          enum:
            - True
            - False
        message:
          type: string
          description: Return Message
          example: "Return Message Text"
      title: ApiResult
    ProposalQuery:
      type: object
      description: Check the status of Boarding Process
      properties:
        merchantId:
          type: string
          description: Merchant Identification Code
          example: "91002806"
        paymentStatus:
          type: string
          description: Payment Status
          example: APPROVED.
          enum:
            - APPROVED
            - PENDING
            - REJECTED
            - EXPIRED
            - NOT_APPLICABLE
        proposalNumber:
          type: string
          example: O00000000711088
          description: Boarding Proposal Number
        proposalStatus:
          type: string
          description: Boarding Proposal Status
          example: APPROVED
          enum:
            - APPROVED
            - DENIED
            - IN ANALYSIS
        proposalStatusDetailed:
          type: string
          description: Detailed Proposal Status
          example: Affiliated
          enum:
            - Affiliated
            - Approved by Compliance
            - Approved by Pricing
            - Approved Credit
            - Approved Serpro
            - Denied not enabled
            - Error Black List
            - Error Generate Merchant Id
            - Expired Analysis Compliance
            - Expired due to lack of payment
            - Pending Accreditation
            - Pending Black List
            - Pending Boarding Submission
            - Pending Commercial Approval
            - Pending Compliance
            - Pending Credit Submission
            - Pending Credit
            - Pending Enabled Submission
            - Pending Enabled
            - Pending Manual review
            - Pending Merchant id
            - Pending Serpro Submission
            - Pending Terminals Validate
            - Rejected Black List
            - Rejected by Compliance
            - Rejected by Pricing
            - Rejected Credit
            - Rejected due to rejected payment
            - Rejected Serpro by birth date
            - Rejected Serpro by partner
            - Rejected Serpro
            - Rejected Terminals Validate
        serviceOrder:
          type: array
          description: Service Order Related to the Boarding Proposal
          items:
            $ref: "#/components/schemas/ServiceOrder"
        warning:
          type: string
          description: Mandatory stop maintenance message. This field is only returned if a mandatory stop is enabled
          enum:
            - Scheduled Maintenance
          example: Scheduled Maintenance
      title: ProposalQuery
    ServiceOrder:
      title: ServiceOrder
      description: Delivery Service Order Information (delivery from Fiserv > Merchant)
      allOf:
        - $ref: "#/components/schemas/ProposalQuery"
        - type: object
          properties:
            logicNumber:
              type: string
              description: Device Logical Number
              example: MVD0006F
            rnid:
              type: string
              description: Device RNID Number
              example: 600000063431
            serviceId:
              type: string
              description: Service ID related to the terminal that was contracted
              example: 301
          title: ServiceOrder
    CampaingSimulatorDTO:
      title: CampaingSimulatorDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 1
        camapingCode:
          type: string
          description: Campaign Code
          example: "10"
        description:
          type: string
          description: Campaign description
          example: "MDR 10k - 30k D+30"
        hasMdrFlex:
          type: boolean
          description: Inform if the campaing has mdr flex fees
          example: true
        hasMdr:
          type: boolean
          description: Inform if the campaing has mdr fees
          example: true
        mdrWithPrepayment:
          type: boolean
          description: inform if the mdr is with prepayment or not
          example: true
        minAnnualBilling:
          type: integer
          description: Minimum annual billing
          format: double
          example: 360000
        maxAnnualBilling:
          type: integer
          description: Maximun annual billing
          format: double
          example: 360000
      description: Campaign Information for Simulator Project
    BillingRangeDTO:
      title: BillingRangeDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID. Please check with Fiserv representative the usability
          format: int64
          example: 1
        idRange:
          type: integer
          description: Revenue Range ID
          format: int64
          example: 1
        maxAnnualBilling:
          type: number
          description: Revenue Range Max Amount
          example: 1000.00
        minAnnualBilling:
          type: number
          description: Revenu Range Min Amount
          example: 100.00
      description: Revenu Range Information
    Brand:
      title: Brand
      type: object
      properties:
        brand:
          type: string
          description: Association/Schema Name
          example: VISA
          enum:
            - MASTER
            - VISA
            - CABAL
            - MDS
            - HIPERCARD
            - ELO
            - AMEX
        rates:
          type: array
          description: Association/Schema Fee
          items:
            $ref: '#/components/schemas/Rate'
      description: Association/Schema Information
    CampaignDTO:
      title: CampaignDTO
      type: object
      properties:
        basedInCampaign:
          type: integer
          description: Campaign ID base
          format: int64
          example: 1
        basedInCampaignDescription:
          type: string
          description: Campaign Base Description
          example: Campanha promocional de Natal
        description:
          type: string
          description: Campaign Description
          example: Campanha promocional
        economicGroup:
          type: string
          description: Economic Group Description
          example: Grupo 1
        expireDate:
          type: string
          description: Campaign Expire Date
          format: date
          example: 2022-05-21
        id:
          type: integer
          description: Campaign ID
          format: int64
        idEconomicGroup:
          type: integer
          description: Economic Group ID
          format: int64
          example: 1
        idInstitution:
          type: string
          description: Merchant Institution Number
          example: "00000006"
        initialDate:
          type: string
          description: Campaign Start Date
          format: date
          example: 2020-05-21
        lastModifiedDate:
          type: string
          description: Last Campaign Modification
          format: date
          example: 18/11/2020 20:13:40
        enablePriceQueue:
          type: boolean
          description: Price Queue Flag
          example: true
        serviceContract:
          type: integer
          description: Merchant Service Contract Code
          format: int32
          example: 101
      description: Campaign Information
    FactorFlexRateDTO:
      title: FactorFlexRateDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 2
        idRange:
          type: integer
          description: Revenue Range ID
          format: int64
          example: 1
        mcc:
          type: integer
          description: MCC Code (Merchant Category Code)
          format: int32
          example: 6021
        minFactorRate1:
          type: number
          description: "Factor #1 - Minimum Fee"
          example: 1.0
        minFactorRate2:
          type: number
          description: "Factor #2 - Minimum Fee"
          example: 2.0
        suggestedFactorRate1:
          type: number
          description: "Factor #1 - Suggested Fee"
          example: 1.5
        suggestedFactorRate2:
          type: number
          description: "Factor #2 - Suggested Fee"
          example: 2.5
        receivingDeadline:
          type: integer
          description: Receiving Deadline
          format: int64
          example: 14
      description: MDR Flex Factors Information
    MdrFlexRateDTO:
      title: MdrFlexRateDTO
      type: object
      properties:
        brands:
          type: array
          items:
            $ref: '#/components/schemas/Brand'
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 1
        mcc:
          type: integer
          description: Merchant MCC (Merchant Category Code)
          format: int32
          example: 6012
        premiumPercent:
          type: number
          description: Percentual da taxa premium
          example: 5.5
      description: MDR FLEX Fee Information
    MdrRatesDTO:
      title: MdrRatesDTO
      type: object
      properties:
        brands:
          type: array
          description: Associaton/Schemas Information
          items:
            $ref: '#/components/schemas/Brand'
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 1
        mcc:
          type: integer
          description: Merchant MCC (Merchant Category Code)
          format: int32
          example: 6012
        premiumPercent:
          type: number
          description: Permium Share Percentage
          example: 5.5
      description: MDR Fee Information
    PageableDTOOfBillingRangeDTO:
      title: PageableDTOOfBillingRangeDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: Dados relacionados aos ranges de faturamento
          items:
            $ref: '#/components/schemas/BillingRangeDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Retorno paginado das informações de range de faturamento.
    PageableDTOOfFactorFlexRateDTO:
      title: PageableDTOOfFactorFlexRateDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: Dados relacionados aos fatores das taxas flex
          items:
            $ref: '#/components/schemas/FactorFlexRateDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Retorno paginado das informações de fator de taxa MDR Flex.
    PageableDTOOfMdrFlexRateDTO:
      title: PageableDTOOfMdrFlexRateDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: MDR FLEX Fees Information
          items:
            $ref: '#/components/schemas/MdrFlexRateDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return with Page Control for MDR FLEX Fee Information
    PageableDTOOfMdrRatesDTO:
      title: PageableDTOOfMdrRatesDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: MDR Fee Information
          items:
            $ref: '#/components/schemas/MdrRatesDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return with Page Control for MDR Fee Information
    PageableDTOOfPrepaymentRateDTO:
      title: PageableDTOOfPrepaymentRateDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: Prepayment Fee Information
          items:
            $ref: '#/components/schemas/PrepaymentRateDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return PrepaymentFee Information (with Page Control)
    PageableDTOOfPriceTechnologyCampaignDTO:
      title: PageableDTOOfPriceTechnologyCampaignDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: Technology Fee Campaign Information
          items:
            $ref: '#/components/schemas/PriceTechnologyCampaignDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return Technology Fee by Campaign (with Page Control)
    ApproversCampaignDTO:
      title: ApproversCampaignDTO
      type: object
      description: Returns the approver data for a campaign
      properties:
        cpfCnpj:
          type: string
          description: CPF/CNPJ of approver
          example: 01234567890
        idCampaignLong:
          type: integer
          description: ID Campaign
          example: 1
        campaignDescription:
          type: string
          description: Campaign Description
          example: Regular
        name:
          type: string
          description: Campaign Name
          example: Regular
        idApproverType:
          type: integer
          description: Approver type id
          example: 1
        approverType:
          type: string
          description: Approver type description
          example: MANAGER
          enum:
            - "MANAGER"
            - "DIRECTOR"
            - "EXECUTIVE_DIRECTOR"
    ApproversDTO:
      title: ApproversDTO
      type: object
      description: Returns possible approvers for a campaign
      properties:
        cpfCnpj:
          type: string
          description: CPF/CNPJ of approver
          example: 01234567890
        name:
          type: string
          description: Approver name
          example: João da Silva
        email:
          type: string
          description: Approver email
          example: joao@fiserv.com
    BusinessPointDTO:
      title: BusinessPointDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 1
        idRange:
          type: integer
          description: Range ID
          format: int32
          example: 5
        approverType:
          type: string
          description: Approver Type
          example: MANAGER
          enum:
            - MANAGER
            - DIRECTOR
            - EXECUTIVE_DIRECTOR
      description: Business Point Information
    CampaignTechnologyPriceDTO:
      title: CampaignTechnologyPriceDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 1
        idRange:
          type: integer
          description: Range ID
          format: int32
          example: 5
        discountFee:
          type: number
          description: Discount Fee Value
          example: 0.33
        approverType:
          type: string
          description: Approver Type
          example: MANAGER
          enum:
            - MANAGER
            - DIRECTOR
            - EXECUTIVE_DIRECTOR
        personType:
          type: string
          description: Person Type
          example: L
          enum:
            - P
            - L
      description: Technology Price Discount Information
    PageableDTOOfBusinessPoint:
      title: PageableDTOOfBusinessPoint
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: MDR Fee Information
          items:
            $ref: '#/components/schemas/BusinessPointDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return with Page Control for MDR Fee Information
    PageableDTOOfCampaignTechnologyPriceDTO:
      title: PageableDTOOfCampaignTechnologyPriceDTO
      type: object
      properties:
        page:
          type: integer
          description: Current Page
          format: int32
          example: 1
        response:
          type: array
          description: Technology Price Discount Information
          items:
            $ref: '#/components/schemas/CampaignTechnologyPriceDTO'
        size:
          type: integer
          description: Quantity of Records per Page
          format: int32
          example: 10
        totalItens:
          type: integer
          description: Quantity of Records
          format: int64
          example: 50
        totalPages:
          type: integer
          description: Total of Pages
          format: int32
          example: 5
      description: Return with Page Control for Technology Price Fee Information
    PremiumUfDTO:
      title: PremiumUfDTO
      type: object
      properties:
        premiumPercent:
          type: number
          description: Premium Share Percentage
          example: 5.5
        serviceContract:
          type: integer
          description: Service Contract Code
          format: int32
          example: 101
        state:
          type: string
          description: State
          example: São Paulo
        uf:
          type: string
          description: State Abbreviation
          example: SP
      description: Premium Share Percentage Information
    PrepaymentRateDTO:
      title: PrepaymentRateDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 2
        idRange:
          type: integer
          description: Revenue Range ID
          format: int64
          example: 1
        mcc:
          type: integer
          description: Merchant MCC Code
          format: int32
          example: 6021
        minAutoPrepayment:
          type: number
          description: Minimum Automatic Prepayment Fee
          example: 1.0
        minManualRate:
          type: number
          description: Minimum Manual Prepayment Fee
          example: 1.0
        suggestedAutoPrepayment:
          type: number
          description: Suggested Automatic Prepayment Fee
          example: 2.0
        suggestedManualRate:
          type: number
          description: Suggested Manual Prepayment Fee
          example: 2.0
      description: Prepayment Fee Information
    PriceTechnologyCampaignDTO:
      title: PriceTechnologyCampaignDTO
      type: object
      properties:
        idCampaign:
          type: integer
          description: Campaign ID
          format: int64
          example: 2
        minTechPrice:
          type: number
          description: Technology Minimum Price
          example: 20.00
        name:
          type: string
          description: Campaign Name
          example: Campanha promocional
        serviceId:
          type: string
          description: Tecnology Code
          example: "300"
          enum:
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "334 - Ecommerce TEF"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "352 - Mobile POS"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "380 - POS MP5"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "386 - POS do Futuro (meaning Future POS)"
            - "301 - POS GPRS"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "366 - POS Wifi"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "365 - POS Wifi GPRS"
            - "308 - E-Commerce Gateway 1"
            - "391 - App Hardwareless"
            - "356 - E-Comm IPG"
            - "300 - POS ISO"
            - "306 - PINPAD"
            - "379 - Gateway WhiteLabel"
            - "303 - POS Internet/Discado"
        suggestedTechPrice:
          type: number
          description: Technology Suggested Price
          example: 30.00
        tradeName:
          type: string
          description: Tecnology Trade name
          example: Fiserv
        idRange:
          type: integer
          description: Range ID
          format: int64
          example: 2
        personType:
          type: string
          description: Person Type
          example: "L"
          enum:
            - "P"
            - "L"
      description: Technology Campaign Information
    Rate:
      title: Rate
      type: object
      properties:
        minimumRate:
          type: number
[...]
