openapi: 3.0.2
info:
  description: Behavior Battery Terminals Status
  version: '1.0'
  title: Behavior Battery Terminals Status
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  '/bwa/consulta-bateria/v1/consulta/comportamentoBateria':
    post:
      tags:
        - Behavior Battery Terminals Status
      x-proxy-name: Merchant Devices - Battery Information - Get Terminal battery Information
      x-group-name: Devices Information
      x-child-product-name: Banworks
      summary: 'Get Terminal battery Information'
      description: Get Terminal battery Information
      operationId: GetTerminalBatteryInformation
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "dataHora | dataHota,asc | dataHora,desc"
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaBateriaRequest'
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaBateria'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum: 
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum: 
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado- (meaning Access Denied)
          type: string
          enum: 
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum: 
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseEntityConsultaBateria:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
            - 102
            - 103
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - >-
              0 - Sucesso.
            - >-
              101 - Formato da data nao suportado
            - >-
              102 - Data inicio nao pode ser maior que data fim
            - >-  
              103 - O numero de dias suportado para pesquisa deve menor ou igual a 7
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/StcStatisticDetailSpRespDTO'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage: 
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    StcStatisticDetailSpRespDTO:
      type: object
      properties:
        dataHora: 
          description: "Registration date and time"
          example: "HH:MM:SS DD-MM-YYYY"
          type: string
        numeroEC: 
          description: "Number of Merchant terminal"
          example: "000000065123489"
          type: string
        numeroLogico: 
          description: "Logical number of Merhant terminal"
          example: "PGW0181F"
          type: string
        numeroSerie: 
          description: "Serial number of Merchant terminal"
          example: "56912345678705900973"
          type: string
        modelo: 
          description: "Merchant terminal model"
          example: "MOVE25003GEMW-C"
          type: string
        nivelBateria: 
          description: "Merchant terminal battery level"
          example: "100%"
          type: string
        sinal: 
          description: "Signal strength of Merchant terminal"
          example: "41%"
          type: string
    ConsultaBateriaRequest:
      type: object
      properties:
        numeroLogico:
          description: "Logical number of Merchant terminal"
          example: "PGG0004T"
          type: string
        dataInicial:
          description: "Search start date (optional)"
          example: "YYYY-MM-DD"
          type: string
        dataFinal:
          description: "Search end date (optional)"
          example: "YYYY-MM-DD"
          type: string
   
   
   
   
