openapi: 3.0.2
info:
  description: Search for Device Informations
  version: "1.0"
  title: Search for Device Informations
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  "/bwa/device-fees/{institution}/{merchanID}":
    get:
      tags:
        - Search for Device Informations
      x-proxy-name: Merchant Devices and Fees - Consult
      x-group-name: Devices Information
      x-child-product-name: Banworks
      description: Merchant Devices and Fees - Consult
      summary: Search for Device Fees based on Merchant Institution and Merchant Code
      operationId: searchForDeviceFees - Deprecated
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchanID
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalResponse"
      deprecated: true
  "/bwa/device-fees/v2":
    get:
      tags:
        - Search for Device Informations
      x-proxy-name: Search for Device Fees based on Merchant Institution and Merchant Code - Changed the resource name
      x-group-name: Devices Information
      x-child-product-name: Banworks
      description: Search for Device Fees based on Merchant Institution and Merchant Code - Changed the resource name
      summary: Search for Device Fees based on Merchant Institution and Merchant Code - Changed the resource name
      operationId: searchForDeviceFees
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalResponseV2"
      deprecated: false
  "/bwa/device-fees/device-service":
    get:
      tags:
        - Search for Device Informations
      x-proxy-name: Search for Device Service Types
      x-group-name: Devices Information
      x-child-product-name: Banworks
      description: Search for Device Service Types
      summary: Search for Device Service Types
      operationId: searchForDeviceServiceTypes
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000005"
          required: true
          schema:
            type: string
        - name: merchant
          in: header
          description: Merchant Code
          example: "50500174"
          required: true
          schema:
            type: string
        - name: terminalId
          in: header
          description: Terminal Code
          example: "GPRG0QOH"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminalServiceResponse"
      deprecated: false
components:
  schemas:
    Terminal:
      type: object
      properties:
        numeroSerie:
          type: string
          description: Device Serial Number
          example: 16352WL34172963
        numeroLogico:
          type: string
          description: Device Logical Number
          example: GPR13903
        modeloTerminal:
          type: string
          description: Device Model
          example: "334"
          enum:
            - "300 - POS ISO"
            - "301 - POS GPRS"
            - "303 - POS Internet/Discado"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "306 - PINPAD"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "308 - E-Commerce Gateway 1"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "334 - Ecommerce TEF"
            - "352 - Mobile POS"
            - "356 - E-Comm IPG"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "365 - POS Wifi GPRS"
            - "366 - POS Wifi"
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "379 - Gateway WhiteLabel"
            - "380 - POS MP5"
            - "382 - POS Link2500 2G"
            - "383 - POS Link2500 3G"
            - "386 - POS do Futuro (meaning Future POS)"
            - "391 - App Hardwareless"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "ETC..."
        descricaoModeloTerminal:
          type: string
          description: Device Model Description
          example:
          enum:
            - "300 - POS ISO"
            - "301 - POS GPRS"
            - "303 - POS Internet/Discado"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "306 - PINPAD"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "308 - E-Commerce Gateway 1"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "334 - Ecommerce TEF"
            - "352 - Mobile POS"
            - "356 - E-Comm IPG"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "365 - POS Wifi GPRS"
            - "366 - POS Wifi"
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "379 - Gateway WhiteLabel"
            - "380 - POS MP5"
            - "382 - POS Link2500 2G"
            - "383 - POS Link2500 3G"
            - "386 - POS do Futuro (meaning Future POS)"
            - "391 - App Hardwareless"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "ETC..."
        currentVersion:
          type: string
          description: Most Update Device Browser Version. I might return Null
          example: "11.00.17.04.b02-fdb"
        browserVersion:
          type: string
          description: Device Browser Version. I might return Null
          example: "0214x"
        lastVisit:
          type: string
          description: Last Visit Date (not used)
          example: Null
        infoTerminal:
          type: string
          description: Additional Information about the Devices, such as Phone Operator, User, Card, etc.
          example: Celular,OP:CLARO,USER:claro,PASS:claro,GAPN:gprsnac.com.br,GPIN:,COND:RMDM,MDMMODEL:,MDMSERIAL:35241XXXXXXX08364,SIMCARDID:8955053XXXX030191083,GSIGNAL:25%,MODEL:MOVE50003GWB-C,APP:11.00.17.04.b02-fdb,EMVVR:838    ,PAG:0214x,BTDKD:true,BTCRG:100%
        deviceId:
          type: string
          description: Device Code (text)
          example: "Taxa Móve*l GPRS POS"
        feePercentage:
          type: string
          description: Fee Amount (not used)
          example: "0.00"
        feeBase:
          type: string
          description: Device Amount to be charged
          example: "94.00"
        feeMin:
          type: string
          description: Device Min Fee Amount (not used)
          example: "0.00"
        feeMax:
          type: string
          description: Device Max Fee Amount (not used)
          example: "0.00"
        effectiveDate:
          type: string
          description: Fee Effective Date
          example: "20191010"
        expireDate:
          type: string
          description: Fee Expire Date
          example: "20191020"
        feeMode:
          type: string
          description: Fee Mode, fixed '001'
          example: "001"
        status:
          type: string
          description: Device Status
          example: ACTIVE
          enum:
            - ACTIVE
            - INACTIVE
      title: Terminal
    TerminalResponse:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - 00 - Solicitação processada OK - (meaning Successfully Dine)
            - 01 - Status do Contrato inválido - (meaning Invalid Status)
            - 02 - Código do terminal não pertence ao código do estabelecimento - (meaning Combination Error Device and Merchat)
            - 03 - Terminal não está ativo - (meaning Device is not active)
            - 04 - Código da instituição inválida - (meaning Invalid Institution)
            - 05 - Código do estabelecimento inválido - (meaning Invalid Merchant Code)
            - 06 - Data Efetiva inválida - (meaning invalid Effective Date)
            - 07 - Data de Expiração inválida - (meaning Invalid Expire Date)
            - 08 - Código do Terminal inválido - (meaning Invalid Terminal Code)
            - 09 - Percentual da taxa inválido - (meaning Invalid Percentage Fee)
            - 10 - Taxa Base inválida - (meaning Invalida Base Fee)
            - 11 - Taxa Mínima inválida - (meaning Invaid Min Fee)
            - 12 - Taxa Máxima inválida - (meaning Invalid Max Fee)
            - 13 - Modo da taxa inválida - (meaning Invalid Fee Mode)
            - 14 - Usuário inválido - (meaning Invalid User)
            - 15 - Falta de informação obrigatória - (meaning Required Information not Provided)
            - 99 - Erro de sistema - (meaning System Error)
        descricaoRetorno:
          type: string
          description: Descrião do Código de Retorno.
          example: Solicitação processada OK.
          enum:
            - 00 - Solicitação processada OK - (meaning Successfully Dine)
            - 01 - Status do Contrato inválido - (meaning Invalid Status)
            - 02 - Código do terminal não pertence ao código do estabelecimento - (meaning Combination Error Device and Merchat)
            - 03 - Terminal não está ativo - (meaning Device is not active)
            - 04 - Código da instituição inválida - (meaning Invalid Institution)
            - 05 - Código do estabelecimento inválido - (meaning Invalid Merchant Code)
            - 06 - Data Efetiva inválida - (meaning invalid Effective Date)
            - 07 - Data de Expiração inválida - (meaning Invalid Expire Date)
            - 08 - Código do Terminal inválido - (meaning Invalid Terminal Code)
            - 09 - Percentual da taxa inválido - (meaning Invalid Percentage Fee)
            - 10 - Taxa Base inválida - (meaning Invalida Base Fee)
            - 11 - Taxa Mínima inválida - (meaning Invaid Min Fee)
            - 12 - Taxa Máxima inválida - (meaning Invalid Max Fee)
            - 13 - Modo da taxa inválida - (meaning Invalid Fee Mode)
            - 14 - Usuário inválido - (meaning Invalid User)
            - 15 - Falta de informação obrigatória - (meaning Required Information not Provided)
            - 99 - Erro de sistema - (meaning System Error)
        numeroInstituicao:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        numeroMerchant:
          type: string
          description: Merchant Code
          example: "91002806"
        terminal:
          type: array
          items:
            $ref: "#/components/schemas/Terminal"
      title: TerminalResponse
    TerminalResponseV2:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - 00 - Solicitação processada OK - (meaning Successfully Dine)
            - 01 - Status do Contrato inválido - (meaning Invalid Status)
            - 02 - Código do terminal não pertence ao código do estabelecimento - (meaning Combination Error Device and Merchat)
            - 03 - Terminal não está ativo - (meaning Device is not active)
            - 04 - Código da instituição inválida - (meaning Invalid Institution)
            - 05 - Código do estabelecimento inválido - (meaning Invalid Merchant Code)
            - 06 - Data Efetiva inválida - (meaning invalid Effective Date)
            - 07 - Data de Expiração inválida - (meaning Invalid Expire Date)
            - 08 - Código do Terminal inválido - (meaning Invalid Terminal Code)
            - 09 - Percentual da taxa inválido - (meaning Invalid Percentage Fee)
            - 10 - Taxa Base inválida - (meaning Invalida Base Fee)
            - 11 - Taxa Mínima inválida - (meaning Invaid Min Fee)
            - 12 - Taxa Máxima inválida - (meaning Invalid Max Fee)
            - 13 - Modo da taxa inválida - (meaning Invalid Fee Mode)
            - 14 - Usuário inválido - (meaning Invalid User)
            - 15 - Falta de informação obrigatória - (meaning Required Information not Provided)
            - 99 - Erro de sistema - (meaning System Error)
        mensagem:
          type: string
          description: Descrião do Código de Retorno.
          example: Solicitação processada OK.
          enum:
            - 00 - Solicitação processada OK - (meaning Successfully Dine)
            - 01 - Status do Contrato inválido - (meaning Invalid Status)
            - 02 - Código do terminal não pertence ao código do estabelecimento - (meaning Combination Error Device and Merchat)
            - 03 - Terminal não está ativo - (meaning Device is not active)
            - 04 - Código da instituição inválida - (meaning Invalid Institution)
            - 05 - Código do estabelecimento inválido - (meaning Invalid Merchant Code)
            - 06 - Data Efetiva inválida - (meaning invalid Effective Date)
            - 07 - Data de Expiração inválida - (meaning Invalid Expire Date)
            - 08 - Código do Terminal inválido - (meaning Invalid Terminal Code)
            - 09 - Percentual da taxa inválido - (meaning Invalid Percentage Fee)
            - 10 - Taxa Base inválida - (meaning Invalida Base Fee)
            - 11 - Taxa Mínima inválida - (meaning Invaid Min Fee)
            - 12 - Taxa Máxima inválida - (meaning Invalid Max Fee)
            - 13 - Modo da taxa inválida - (meaning Invalid Fee Mode)
            - 14 - Usuário inválido - (meaning Invalid User)
            - 15 - Falta de informação obrigatória - (meaning Required Information not Provided)
            - 99 - Erro de sistema - (meaning System Error)
        conteudo:
          type: array
          items:
            $ref: "#/components/schemas/TerminalV2"
      title: TerminalResponseV2
    TerminalService:
      type: object
      properties:
        manualEntry:
          type: string
          description: Device Accepts Manual Entry
          example: "N"
        foreignCardFlag:
          type: string
          description: Device Accepts Foreign Card Flag
          example: "Y"
        preAuthorization:
          type: string
          description: Device Accepts Pre Authorization
          example: "Y"
      title: TerminalService
    TerminalServiceResponse:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - 00 - Sucesso.
        descricaoRetorno:
          type: string
          description: Descrião do Código de Retorno.
          example: Sucesso.
          enum:
            - 00 - Sucesso. - (meaning Successfully Dine)
        conteudo:
          type: array
          items:
            $ref: "#/components/schemas/TerminalService"
      title: TerminalServiceResponse
    TerminalV2:
      type: object
      properties:
        numeroSerie:
          type: string
          description: Device Serial Number
          example: 16352WL34172963
        numeroLogico:
          type: string
          description: Device Logical Number
          example: GPR13903
        modeloTerminal:
          type: string
          description: Device Model
          example: "334"
          enum:
            - "300 - POS ISO"
            - "301 - POS GPRS"
            - "303- POS Internet/Discado"
            - "305- POS 3 Conexões (meaning POS three Connections)"
            - "306 - PINPAD"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "308 - E-Commerce Gateway 1"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "312 - POS-TEF Browser"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "334 - Ecommerce TEF"
            - "352 - Mobile POS"
            - "354 - Clover Mini Wi-Fi"
            - "355 - eCommerce SE Conecta"
            - "356 - E-Comm IPG"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "365 - POS Wifi GPRS"
            - "366 - POS Wifi"
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "379 - Gateway WhiteLabel"
            - "380 - POS MP5"
            - "381 - POS Move5000"
            - "382 - POS Link2500 2G"
            - "383 - POS Link2500 3G"
            - "384 - Rental POS 2G"
            - "385 - Rental POS 3G"
            - "386 - POS do Futuro (meaning Future POS)"
            - "389 - BeautyFair_Move"
            - "390 - BeautyFair_Link"
            - "391 - POS no celular (meaning Tap On Phone)"
            - "392 - POS Move5000 NovoCom"
            - "394 - POS MOBY6500 Aluguel"
            - "395 - POS MOBY6500 Venda (meaning POS MOBY6500 Rent)"
            - "396 - POS Link2500 2G NCom"
            - "397 - Move 5000 Mega Pop"
            - "398 - Link 2500 2G Pop"
            - "399 - Link de Pagamento"
            - "451 - WhatsApp Pay"
            - "452 - MP 15 - Gertec"
            - "453 - MP 35 - Gertec"
            - "454 - POS Link2500 4G"
            - "506 - POS-TEF Whitelabel"
            - "507 - POS Movel Teclado Vi"
            - "598 - POS Link2500 2G_PENT"
            - "599 - POS Link2500 3G_PENT"
            - "614 -Moby6500 entrega BAU"
            - "ETC..."
        descricaoModeloTerminal:
          type: string
          description: Device Model Description
          example:
          enum:
            - "300 - POS ISO"
            - "301 - POS GPRS"
            - "303- POS Internet/Discado"
            - "305- POS 3 Conexões (meaning POS three Connections)"
            - "306 - PINPAD"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "308 - E-Commerce Gateway 1"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "312 - POS-TEF Browser"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "334 - Ecommerce TEF"
            - "352 - Mobile POS"
            - "354 - Clover Mini Wi-Fi"
            - "355 - eCommerce SE Conecta"
            - "356 - E-Comm IPG"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "365 - POS Wifi GPRS"
            - "366 - POS Wifi"
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "379 - Gateway WhiteLabel"
            - "380 - POS MP5"
            - "381 - POS Move5000"
            - "382 - POS Link2500 2G"
            - "383 - POS Link2500 3G"
            - "384 - Rental POS 2G"
            - "385 - Rental POS 3G"
            - "386 - POS do Futuro (meaning Future POS)"
            - "389 - BeautyFair_Move"
            - "390 - BeautyFair_Link"
            - "391 - POS no celular (meaning Tap On Phone)"
            - "392 - POS Move5000 NovoCom"
            - "394 - POS MOBY6500 Aluguel"
            - "395 - POS MOBY6500 Venda (meaning POS MOBY6500 Rent)"
            - "396 - POS Link2500 2G NCom"
            - "397 - Move 5000 Mega Pop"
            - "398 - Link 2500 2G Pop"
            - "399 - Link de Pagamento"
            - "451 - WhatsApp Pay"
            - "452 - MP 15 - Gertec"
            - "453 - MP 35 - Gertec"
            - "454 - POS Link2500 4G"
            - "506 - POS-TEF Whitelabel"
            - "507 - POS Movel Teclado Vi"
            - "598 - POS Link2500 2G_PENT"
            - "599 - POS Link2500 3G_PENT"
            - "614 -Moby6500 entrega BAU"
            - "ETC..."
        currentVersion:
          type: string
          description: Most Update Device Browser Version. I might return Null
          example: "11.00.17.04.b02-fdb"
        browserVersion:
          type: string
          description: Device Browser Version. I might return Null
          example: "0214x"
        lastVisit:
          type: string
          description: Last Visit Date (not used)
          example: Null
        infoTerminal:
          type: string
          description: Additional Information about the Devices, such as Phone Operator, User, Card, etc.
          example: Celular,OP:CLARO,USER:claro,PASS:claro,GAPN:gprsnac.com.br,GPIN:,COND:RMDM,MDMMODEL:,MDMSERIAL:35241XXXXXXX08364,SIMCARDID:8955053XXXX030191083,GSIGNAL:25%,MODEL:MOVE50003GWB-C,APP:11.00.17.04.b02-fdb,EMVVR:838    ,PAG:0214x,BTDKD:true,BTCRG:100%
        deviceId:
          type: string
          description: Device Code (text)
          example: "Taxa Móvel GPRS POS"
        feePercentage:
          type: string
          description: Fee Amount (not used)
          example: "0.00"
        feeBase:
          type: string
          description: Device Amount to be charged
          example: "94.00"
        feeMin:
          type: string
          description: Device Min Fee Amount (not used)
          example: "0.00"
        feeMax:
          type: string
          description: Device Max Fee Amount (not used)
          example: "0.00"
        effectiveDate:
          type: string
          description: Fee Effective Date
          example: "20191010"
        expiryDate:
          type: string
          description: Fee Expire Date
          example: "20191020"
        feeMode:
          type: string
          description: Fee Mode, fixed '001'
          example: "001"
        status:
          type: string
          description: Device Status
          example: ACTIVE
          enum:
            - ACTIVE
            - INACTIVE
      title: TerminalV2
