openapi: 3.0.2
info:
  description: Search for Sales for a Merchant
  version: "1.0"
  title: Search for Sales for a Merchant
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Sales for a Merchant
paths:
  "/bwa/vendas/resources/v1/receber/{inst}/{merchant}/{dataInicio}/{dataFim}":
    get:
      tags:
        - Search for Sales for a Merchant
      x-proxy-name: Merchant Sales - Paid or To Be Received - Consult
      x-group-name: Sales Information
      x-child-product-name: Banworks
      description: Merchant Sales - Paid or To Be Received - Consult
      summary: Search for Paid Sales or Sales to be Received By Period, Institution, Merchant and Other Options. It allows the seleciton of ONLY ONE association schema
      operationId: searchForSalesReceivedOrToBeReceivedByOneAssociation
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: Summarization Type Possible values
            [ T - (TODOS meaning All) /
            D - (DATA meaning Date) /
            P - (PRODUTO meaning Product) /
            B - (BANDEIRA meaning Association/Schema)
            ]
          allowEmptyValue: false
          required: false
          schema:
            type: string
            enum:
              - T
              - D
              - P
              - B
        - name: codigoBandeira
          in: query
          description: Association/Schema Code. Possible values
            [ 002 (Mastercard) /
            003 (Visa) /
            004 (Amex Full) /
            009 (CABAL) /
            020 (MDS) /
            024 (Hipercard/Hiper) /
            025 (ELO Full)
            ]
          example: "002"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "002"
              - "003"
              - "004"
              - "009"
              - "020"
              - "024"
              - "025"
        - name: codigoProduto
          in: query
          description: Product Code. Possible values
            [ 102 (Adq - MC Credit) /
            103 (Acq-CABAL Credit) /
            104 (Acq-CABAL Debit) /
            109 (Adq - Hiper Credit) /
            110 (Acq-ELO Full Credit) /
            111 (Acq-ELO Full Debit) /
            113 (Adq-AMEX Full Credit) /
            201 (Adq - VISA Credit) /
            200 (Adq - VISA Debit) /
            716 (Adq - MC Debit) /
            ]
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "102"
              - "103"
              - "104"
              - "109"
              - "110"
              - "111"
              - "113"
              - "201"
              - "200"
              - "716"
        - name: numTerminal
          in: query
          description: Terminal number.
          example: "EII0051B"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Type transaction.
          example: "LOJISTA"
          required: false
          allowEmptyValue: true
          schema:
            type: string
            enum:
              - LOJISTA
              - COMPRA
              - EMISSOR
              - CREDIARIO
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: tipoOrdenacao
          in: query
          description: order.
          example: "DESC"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32

      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendasResponse"
      deprecated: false
  "/bwa/vendas/resources/v1/realizadas/{inst}/{merchant}/{dataInicio}/{dataFim}":
    get:
      tags:
        - Search for Sales for a Merchant
      x-proxy-name: Merchant Sales - To Be Received - Consult - It allows the selection of MULTIPLE association schema
      x-group-name: Sales Information
      x-child-product-name: Banworks
      description: Merchant Sales - To Be Received - Consult - It allows the selection of MULTIPLE association schema
      summary: Search for Paid Sales or Sales to be Received By Period, Institution, Merchant and Other Options. It allows the selection of MULTIPLE association schema
      operationId: searchForSalesReceivedOrToBeReceivedByMultipleAssociationV1
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: Summarization Type Possible values
            [ T - (TODOS meaning All) /
            D - (DATA meaning Date) /
            P - (PRODUTO meaning Product) /
            B - (BANDEIRA meaning Association/Schema)
            ]
          allowEmptyValue: false
          required: false
          schema:
            type: string
            enum:
              - T
              - D
              - P
              - B
        - name: codigoBandeira
          in: query
          description: Association/Schema Code. Array with association code. Possible values
            [ 002 (Mastercard) /
            003 (Visa) /
            004 (Amex Full) /
            009 (CABAL) /
            020 (MDS) /
            024 (Hipercard/Hiper) /
            025 (ELO Full)
            ]
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codigoProduto
          in: query
          description: Product Code
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "CREDIT"
              - "DEBIT"
              - "CREDIT,DEBIT"
        - name: tipoOrdenacao
          in: query
          description: order.
          example: "DESC"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codAutorizacao
          in: query
          description: Authorization Code.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: numTerminal
          in: query
          description: Terminal number.
          example: "EII0051B"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Transaction tipe.
          example: "LOJISTA"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - LOJISTA
              - COMPRA
              - EMISSOR
              - CREDIARIO
        - name: indicadorCancelVenda
          in: query
          description: Sales cancel indicato.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendasResponse"
      deprecated: false
  "/bwa/vendas/resources/v2/realizadas/{dataInicio}/{dataFim}":
    get:
      tags:
        - Search for Sales for a Merchant
      x-proxy-name: Merchant Sales - Paid - Consult - It allows the selection of MULTIPLE association schema -V2
      x-group-name: Sales Information
      x-child-product-name: Banworks
      description: Merchant Sales - Paid - Consult - It allows the selection of MULTIPLE association schema
      summary: Search for Paid Sales or Sales to be Received By Period, Institution, Merchant and Other Options. It allows the selection of MULTIPLE association schema
      operationId: searchForSalesReceivedOrToBeReceivedByMultipleAssociation
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: Summarization Type Possible values
            [ T - (TODOS meaning All) /
            D - (DATA meaning Date) /
            P - (PRODUTO meaning Product) /
            B - (BANDEIRA meaning Association/Schema)
            ]
          allowEmptyValue: false
          required: false
          schema:
            type: string
            enum:
              - T
              - D
              - P
              - B
        - name: codAutorizacao
          in: query
          description: Authorization Code.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: numTerminal
          in: query
          description: Terminal number.
          example: "EII0051B"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Transaction tipe.
          example: "LOJISTA"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - LOJISTA
              - COMPRA
              - EMISSOR
              - CREDIARIO
        - name: indicadorCancelVenda
          in: query
          description: Sales cancel indicato.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codigoBandeira
          in: query
          description: Association/Schema Code. Array with association code. Possible values
            [ 002 (Mastercard) /
            003 (Visa) /
            004 (Amex Full) /
            009 (CABAL) /
            020 (MDS) /
            024 (Hipercard/Hiper) /
            025 (ELO Full)
            ]
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: produto
          in: query
          description: Product Code
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "CREDIT"
              - "DEBIT"
              - "CREDIT,DEBIT"
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: tipoOrdenacao
          in: query
          description: order.
          example: "DESC"
          required: false
          allowEmptyValue: false
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendasResponse"
      deprecated: false
  "/bwa/vendas/resources/v2/receber/{dataInicio}/{dataFim}":
    get:
      tags:
        - Search for Sales for a Merchant
      x-proxy-name: Merchant Sales - To Be Received - Consult - It allows the selection of MULTIPLE association schema V2
      x-group-name: Sales Information
      x-child-product-name: Banworks
      description: Merchant Sales - To Be Received - Consult - It allows the selection of MULTIPLE association schema
      summary: Search for Paid Sales or Sales to be Received By Period, Institution, Merchant and Other Options. It allows the selection of MULTIPLE association schema
      operationId: searchForSalesToReceive
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: true
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: Summarization Type Possible values
            [ T - (TODOS meaning All) /
            D - (DATA meaning Date) /
            P - (PRODUTO meaning Product) /
            B - (BANDEIRA meaning Association/Schema)
            ]
          allowEmptyValue: false
          required: false
          schema:
            type: string
            enum:
              - T
              - D
              - P
              - B
        - name: codAutorizacao
          in: query
          description: Authorization Code.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: numTerminal
          in: query
          description: Terminal number.
          example: "EII0051B"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Transaction tipe.
          example: "LOJISTA"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - LOJISTA
              - COMPRA
              - EMISSOR
              - CREDIARIO
        - name: codigoBandeira
          in: query
          description: Association/Schema Code. Array with association code. Possible values
            [ 002 (Mastercard) /
            003 (Visa) /
            004 (Amex Full) /
            009 (CABAL) /
            020 (MDS) /
            024 (Hipercard/Hiper) /
            025 (ELO Full)
            ]
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: produto
          in: query
          description: Product Code
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "CREDIT"
              - "DEBIT"
              - "CREDIT,DEBIT"
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned, available only when the parameter "tipoSumarizacao" is equal to null
          required: false
          schema:
            type: integer
            format: int32
        - name: tipoOrdenacao
          in: query
          description: order.
          example: "DESC"
          required: false
          allowEmptyValue: false
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendasResponse"
      deprecated: false
  "/bwa/vendas/resources/v2/canceladas":
    get:
      tags:
        - Search for Sales for a Merchant
      x-proxy-name: Merchant Sales - Canceled - Consult - It allows the selection of MULTIPLE association schema
      x-group-name: Sales Information
      x-child-product-name: Banworks
      description: Merchant Sales - Canceled - Consult
      summary: Search for Paid Sales or Sales to be Received By Period, Institution, Merchant and Other Options. It allows the selection of MULTIPLE association schema
      operationId: searchForSalesCanceled
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataInicioTransacao
          in: query
          description: Search Start Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: false
          schema:
            type: string
        - name: dataFimTransacao
          in: query
          description: Search End Date - Format YYYYMMDD. Interval between dates vary. Please refer to the descrition at the top of response information
          required: false
          schema:
            type: string
        - name: numeroTransacao
          in: query
          description: Transaction number.
          example: "11111222"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: codAutorizacao
          in: query
          description: Authorization Code.
          example: "002,003,004"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: numTerminal
          in: query
          description: Terminal number.
          example: "EII0051B"
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Transaction tipe.
          example: "LOJISTA"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - LOJISTA
              - COMPRA
              - EMISSOR
              - CREDIARIO
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelamentoResponse"
      deprecated: false
components:
  schemas:
    Sumarizacao:
      type: object
      description: This block will be returned when Summ Information is provided
      properties:
        data:
          type: string
          description: Transaction Date. Returned when type is "T" e "D".
          example: YYYYMMDD
        codigoBandeira:
          type: string
          description: Association/Schema Code. Returned when type is "T" e "B".
          example: "020"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        descricaoBandeira:
          type: string
          description: Association/Schema Description. Returned when type is "T" e "B".
          example: "MDS"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        codigoProduto:
          type: string
          description: Product Code. Returned when type is "T" e "P".
          example: "716"
          enum:
            - "102 - Adq - MC Credit"
            -  103 - Acq-CABAL Credit
            -  104 - Acq-CABAL Debit
            - "109 - Adq - Hiper Credit"
            - "110 - Acq-ELO Full Credit"
            - "111 - Acq-ELO Full Debit"
            - "113 - Adq-AMEX Full Credit"
            - "201 - Adq - VISA Credit"
            - "200 - Adq - VISA Debit"
            - "716 - Adq - MC Debit"
        descricaoProduto:
          type: string
          description: Product Code Description. Returned when type is "T" e "P".
          example: "Adq - MC Débito"
          enum:
            - "102 - Adq - MC Credit"
            -  103 - Acq-CABAL Credit
            -  104 - Acq-CABAL Debit
            - "109 - Adq - Hiper Credit"
            - "110 - Acq-ELO Full Credit"
            - "111 - Acq-ELO Full Debit"
            - "113 - Adq-AMEX Full Credit"
            - "201 - Adq - VISA Credit"
            - "200 - Adq - VISA Debit"
            - "716 - Adq - MC Debit"
        codTipoTransacao:
          type: string
          description: Transaction Type Code. Returned when type is "T". These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative
          example: "005"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 006 - Reembolso Crédito - (meaning Refund Credit)
            - 115 - Pagamento Recibo - (meaning Invoice Payment)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
            - 485 - Crediario Install-02 parcels - (meaning Crediario - 12 issuer installments)
            - 486 - Crediario Install-03 parcels - (meaning Crediario - 12 issuer installments)
            - 487 - Crediario Install-04 parcels - (meaning Crediario - 12 issuer installments)
            - 488 - Crediario Install-05 parcels - (meaning Crediario - 12 issuer installments)
            - 489 - Crediario Install-06 parcels - (meaning Crediario - 12 issuer installments)
            - 490 - Crediario Install-07 parcels - (meaning Crediario - 12 issuer installments)
            - 491 - Crediario Install-08 parcels - (meaning Crediario - 12 issuer installments)
            - 492 - Crediario Install-09 parcels - (meaning Crediario - 12 issuer installments)
            - 493 - Crediario Install-10 parcels - (meaning Crediario - 12 issuer installments)
            - 494 - Crediario Install-11 parcels - (meaning Crediario - 12 issuer installments)
            - 495 - Crediario Install-12 parcels - (meaning Crediario - 12 issuer installments)
            - 496 - Crediario Install>12 parcels - (meaning Crediario - 12 issuer installments)
            - "***** These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative *****"
        descTipoTransacao:
          type: string
          description: Transaction Type Code Description. Returned when type is "T". These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative
          example: "Compra"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 006 - Reembolso Crédito - (meaning Refund Credit)
            - 115 - Pagamento Recibo - (meaning Invoice Payment)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
            - 485 - Crediario Install-02 parcels - (meaning Crediario - 12 issuer installments)
            - 486 - Crediario Install-03 parcels - (meaning Crediario - 12 issuer installments)
            - 487 - Crediario Install-04 parcels - (meaning Crediario - 12 issuer installments)
            - 488 - Crediario Install-05 parcels - (meaning Crediario - 12 issuer installments)
            - 489 - Crediario Install-06 parcels - (meaning Crediario - 12 issuer installments)
            - 490 - Crediario Install-07 parcels - (meaning Crediario - 12 issuer installments)
            - 491 - Crediario Install-08 parcels - (meaning Crediario - 12 issuer installments)
            - 492 - Crediario Install-09 parcels - (meaning Crediario - 12 issuer installments)
            - 493 - Crediario Install-10 parcels - (meaning Crediario - 12 issuer installments)
            - 494 - Crediario Install-11 parcels - (meaning Crediario - 12 issuer installments)
            - 495 - Crediario Install-12 parcels - (meaning Crediario - 12 issuer installments)
            - 496 - Crediario Install>12 parcels - (meaning Crediario - 12 issuer installments)
            - "***** These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative *****"
        valorBrutoParcela:
          type: string
          description: Installment Gross Amount. Returned when type is "T", "P", "B" e "D"
          example: "50"
        valorDescontoParcela:
          type: string
          description: Installment Discount Amount. Returned when type is "T", "P", "B" e "D"
          example: "0.93"
        valorLiquidoParcela:
          type: string
          description: Installment Net Amount. Returned when type is "T", "P", "B" e "D"
          example: "49.07"
        valorLiquidoMedio:
          type: string
          description: Average Net Amount. Returned when type is "T", "P", "B" e "D"
          example: "49.07"
        valorBrutoMedio:
          type: string
          description: Average Gross Amount. Returned when type is "T", "P", "B" e "D"
          example: "50"
        quantidade:
          type: string
          description: Quantity of Installments. Returned when type is "T", "P", "B" e "D"
          example: "1"
      title: Sumarizacao
    Venda:
      type: object
      description: This block will be returned when Summ Information is not provided
      properties:
        numeroTransacao:
          type: string
          description: Sales Transaction Number (not available for Summarization)
          example: "92674343362"
        dataTransacao:
          type: string
          description: Sales Transaction Date
          example: YYYYMMDD
        horaTransacao:
          type: string
          description: Time Transaction Date
          example: "HH:MM:SS"
        comprovante:
          type: string
          description: code that ensures the transaction occured
          example: "000000966"
        codProdutoTransacao:
          type: string
          description: Transaction Product Code
          example: "716"
          enum:
            - "102 - Adq - MC Credit"
            -  103 - Acq-CABAL Credit
            -  104 - Acq-CABAL Debit
            - "109 - Adq - Hiper Credit"
            - "110 - Acq-ELO Full Credit"
            - "111 - Acq-ELO Full Debit"
            - "113 - Adq-AMEX Full Credit"
            - "201 - Adq - VISA Credit"
            - "200 - Adq - VISA Debit"
            - "716 - Adq - MC Debit"
        descProdutoTransacao:
          type: string
          description: Transaction Product Code Description
          example: "Adq - MC Débito"
          enum:
            - "102 - Adq - MC Credit"
            -  103 - Acq-CABAL Credit
            -  104 - Acq-CABAL Debit
            - "109 - Adq - Hiper Credit"
            - "110 - Acq-ELO Full Credit"
            - "111 - Acq-ELO Full Debit"
            - "113 - Adq-AMEX Full Credit"
            - "201 - Adq - VISA Credit"
            - "200 - Adq - VISA Debit"
            - "716 - Adq - MC Debit"
        codBandeira:
          type: string
          description: Transaction Association/Schema Code
          example: "020"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        descBandeira:
          type: string
          description: Transaction Association/Schema Code Description
          example: "MDS"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        codTipoTransacao:
          type: string
          description: Transaction Type Code. These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative
          example: "005"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 006 - Reembolso Crédito - (meaning Refund Credit)
            - 115 - Pagamento Recibo - (meaning Invoice Payment)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
            - 485 - Crediario Install-02 parcels - (meaning Crediario - 12 issuer installments)
            - 486 - Crediario Install-03 parcels - (meaning Crediario - 12 issuer installments)
            - 487 - Crediario Install-04 parcels - (meaning Crediario - 12 issuer installments)
            - 488 - Crediario Install-05 parcels - (meaning Crediario - 12 issuer installments)
            - 489 - Crediario Install-06 parcels - (meaning Crediario - 12 issuer installments)
            - 490 - Crediario Install-07 parcels - (meaning Crediario - 12 issuer installments)
            - 491 - Crediario Install-08 parcels - (meaning Crediario - 12 issuer installments)
            - 492 - Crediario Install-09 parcels - (meaning Crediario - 12 issuer installments)
            - 493 - Crediario Install-10 parcels - (meaning Crediario - 12 issuer installments)
            - 494 - Crediario Install-11 parcels - (meaning Crediario - 12 issuer installments)
            - 495 - Crediario Install-12 parcels - (meaning Crediario - 12 issuer installments)
            - 496 - Crediario Install>12 parcels - (meaning Crediario - 12 issuer installments)
            - "***** These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative *****"
        descTipoTransacao:
          type: string
          description: Transaction Type Code Description. These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative
          example: "Compra"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 006 - Reembolso Crédito - (meaning Refund Credit)
            - 115 - Pagamento Recibo - (meaning Invoice Payment)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
            - 485 - Crediario Install-02 parcels - (meaning Crediario - 12 issuer installments)
            - 486 - Crediario Install-03 parcels - (meaning Crediario - 12 issuer installments)
            - 487 - Crediario Install-04 parcels - (meaning Crediario - 12 issuer installments)
            - 488 - Crediario Install-05 parcels - (meaning Crediario - 12 issuer installments)
            - 489 - Crediario Install-06 parcels - (meaning Crediario - 12 issuer installments)
            - 490 - Crediario Install-07 parcels - (meaning Crediario - 12 issuer installments)
            - 491 - Crediario Install-08 parcels - (meaning Crediario - 12 issuer installments)
            - 492 - Crediario Install-09 parcels - (meaning Crediario - 12 issuer installments)
            - 493 - Crediario Install-10 parcels - (meaning Crediario - 12 issuer installments)
            - 494 - Crediario Install-11 parcels - (meaning Crediario - 12 issuer installments)
            - 495 - Crediario Install-12 parcels - (meaning Crediario - 12 issuer installments)
            - 496 - Crediario Install>12 parcels - (meaning Crediario - 12 issuer installments)
            - "***** These domains are part of a parameter table. It might vary, please ask the full list of domain to your Fiserv Representative *****"
        numeroParcela:
          type: string
          description: Installment Number
          example: ""
        qtdeParcelas:
          type: string
          description: Quantity of Installments
          example: ""
        valorTotalPlano:
          type: string
          description: Sales Total Plan Amount
          example: ""
        codAutorizacao:
          type: string
          description: Transaction Authorization Code
          example: "964906"
        numCartao:
          type: string
          description: Card Number
          example: ""
        numTerminal:
          type: string
          description: Device Transaction Number
          example: "ETD2CF63"
        codTipoTerminal:
          type: string
          description: Device Type Code
          example: "303"
          enum:
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "334 - Ecommerce TEF"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "352 - Mobile POS"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "380 - POS MP5"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "386 - POS do Futuro (meaning Future POS)"
            - "301 - POS GPRS"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "366 - POS Wifi"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "365 - POS Wifi GPRS"
            - "308 - E-Commerce Gateway 1"
            - "391 - App Hardwareless"
            - "356 - E-Comm IPG"
            - "300 - POS ISO"
            - "306 - PINPAD"
            - "379 - Gateway WhiteLabel"
            - "303 - POS Internet/Discado"
        descTipoTerminal:
          type: string
          description: Device Type Code Description
          example: "POS Internet/Discado"
          enum:
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "334 - Ecommerce TEF"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "352 - Mobile POS"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "380 - POS MP5"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "386 - POS do Futuro (meaning Future POS)"
            - "301 - POS GPRS"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "366 - POS Wifi"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "365 - POS Wifi GPRS"
            - "308 - E-Commerce Gateway 1"
            - "391 - App Hardwareless"
            - "356 - E-Comm IPG"
            - "300 - POS ISO"
            - "306 - PINPAD"
            - "379 - Gateway WhiteLabel"
            - "303 - POS Internet/Discado"
        codTipoCartao:
          type: string
          description: Card Type Code
          example: 898
          enum:
            - "204 - Estrangeiro Master (meaning Foreigner Master)"
            - "209 - Estrangeiro (meaning Foreigner)"
            - "898 - Doméstico BR (meaning National BR)"
        descTipoCartao:
          type: string
          description: Card Type Code Description
          example: Doméstico - BR
          enum:
            - "204 - Estrangeiro Master (meaning Foreigner Master)"
            - "209 - Estrangeiro (meaning Foreigner)"
            - "898 - Doméstico BR (meaning National BR)"
        valorBrutoParcela:
          type: string
          description: Transaction Installment Gross Amount
          example: 240.00
        seuNumero:
          type: string
          description: Number of client
          example: 0001
        valorDescontoParcela:
          type: string
          description: Transaction Installment Discount Amount
          example: 7.18
        valorLiquidoParcela:
          type: string
          description: Transaction Installment Net Amount
          example: 232.82
        indicadorCredDeb:
          type: string
          description: Transaction Debit/Credit Indicator
          example: "C"
          enum:
            - "D - Debit"
            - "C - Credit"
        indicadorCancelVenda:
          type: string
          description: Transaction Cancelling Indicator
          example: "000"
          enum:
            - "000 - Not Cancelled"
            - "001 - Cancelled"
        numeroParcelado:
          type: string
          description: Transaction Installment Number
          example: 91219086727
        numeroResumoVenda:
          type: string
          description: a number that represents the resume of the sales
          example: 91219223169
        dataPrevistaPagto:
          type: string
          description: Payment Due Date (forecast)
          example: 20190730
        eciCode:
          type: string
          description: Payment Due Date (forecast)
          example: 20190730
        cashbackAmount:
          type: string
          description: Payment Due Date (forecast)
          example: 20190730
        reverseInterchange:
          type: string
          description: Payment Due Date (forecast)
          example: 20190730
        valorTotalCancelamento:
          type: string
          description: Canceled Value
          example: 10000.00
        statusPagamento:
          type: string
          description: Payment Status
          example: E
      title: Vendas
      xml:
        name: Vendas
        attribute: false
        wrapped: false
    VendasResponse:
      type: object
      description: "All the sales based on input parameters 'Receber or Realizadas'. Max Interval of Dates is 30 days for all the parameters with Summ Information. If tipoSumarizacao is not defined/sent, the Maxium Interval between dates will be 7 days.
                   1) Paramater 'Realizadas' + Summ 'D', it will summ up by Transaction Date;
                   2) Parameter 'Receber' + Summ 'D', it will summ up by Payment Date (future date)."
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - sumarizacao
        - totalElements
        - totalPages
        - vendas
      properties:
        codigoRetorno:
          type: string
          description: Return Code. 00 for Successs. 01 Errors. 99 System Errors
          enum:
            - 00 - Successfully
            - 01 - Errors
            - 99 - System Errors
        descricaoRetorno:
          type: string
          description: Return Description
        first:
          type: boolean
          description: First Page
        last:
          type: boolean
          description: Last Page
        pageNumber:
          type: integer
          format: int32
          description: Page Number
        size:
          type: integer
          format: int32
          description: Page Size
        sumarizacao:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: "#/components/schemas/Sumarizacao"
        totalElements:
          type: integer
          format: int32
          description: Total of Records
            informados.
        totalPages:
          type: integer
          format: int32
          description: Total of Pages
        vendas:
          type: array
          description: This block will be returned when Summ Information is not provided
          items:
            $ref: "#/components/schemas/Venda"
      title: VendasResponse
      xml:
        name: response
        attribute: false
        wrapped: false
    CancelamentoResponse:
      type: object
      description: "Canceled Sales parameters 'canceladas'. "
      required:
        - codigoRetorno
        - mensagem
        - cancelamento
      properties:
        codigoRetorno:
          type: string
          description: Return Code. 00 for Successs. 01 Errors. 99 System Errors
          enum:
            - 00 - Successfully
            - 01 - Errors
            - 99 - System Errors
        mensagem:
          type: string
          description: Return Description
        cancelamento:
          type: array
          description: This block will be returned when Summ Information is not provided
          items:
            $ref: "#/components/schemas/Cancelamento"
      title: cancelamentoResponse
      xml:
        name: response
        attribute: false
        wrapped: false
    Cancelamento:
      type: object
      description: "Canceled Sales parameters 'canceladas'. "
      required:
        - dataCancelamento
        - horaCancelamento
        - valorCancelamento
        - dataTransacao
        - horaTransacao
        - numeroParcelado
        - numeroTransacao
      properties:
        dataCancelamento:
          type: string
          description: Canceled date
        horaCancelamento:
          type: string
          description: Return Description
        valorCancelamento:
          type: string
          description: Canceled date
        dataTransacao:
          type: string
          description: Return Description
        horaTransacao:
          type: string
          description: Canceled date
        numeroParcelado:
          type: string
          description: Return Description
        numeroTransacao:
          type: string
          description: Return Description
