openapi: 3.0.2
info:
  description: Account Payment Information Validation
  version: "1.0"
  title: Account Payment Information Validation
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Account Payment Information Validation
paths:
  /bwa/domicilio-bancario/:
    post:
      tags:
        - Account Payment Information Validation
      x-proxy-name: Payment Settlement Account - Validation
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Search for Rules to Validate Account Payment Information
      summary: Search for Rules to Validate Account Payment Information
      operationId: searchForValidationRules
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestRegra"
        description: "JSON will return Account Ownership, Bank and Type of Account. For instance: 'CPF','001','Conta Corrente'"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseRegra"
      deprecated: false
  /bwa/domicilio-bancario/validar:
    post:
      tags:
        - Account Payment Information Validation
      x-proxy-name: Payment Settlement Account - Validation based on Rules for Bank and Type of Account
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Payment Settlement Account - Validation based on Rules for Bank and Type of Account
      summary: Validate Bank, Branch/Digit, Account Digit based on the Rules for Bank and Type of Account
      operationId: validateAccountPaymentInformation
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestValidacao"
        description: JSON will be validated based on the rules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseValidacao"
      deprecated: false
  /bwa/domicilio-bancario/resources/v2/domicilio-bancario/validate:
    post:
      tags:
        - Account Payment Information Validation
      x-proxy-name: Payment Settlement Account - Validation based on Rules for Bank and Type of Account - V2
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Payment Settlement Account - Validation based on Rules for Bank and Type of Account - V2
      summary: Validate domicilio bancario
      operationId: validate
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: institution
          in: header
          description: Requestor institution
          required: true
          schema:
            type: string
        - name: serviceContract
          in: header
          description: Requestor service contract
          required: true
          schema:
            type: string
        - name: channel
          in: header
          description: Requestor channel
          required: true
          schema:
            type: string
        - name: subChannel
          in: header
          description: Requestor sub channel
          required: true
          schema:
            type: string
        - name: requestor
          description: Requestor system name
          in: header
          required: true
          schema:
            type: string
        - name: channelType
          description: Requestor channel type
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomicilioBancarioDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseValidacao'
components:
  schemas:
    DomicilioBancarioDTO:
      required:
        - account
        - accountDigit
        - agency
        - agencyDigit
        - cpfCnpj
        - institution
        - modality
        - serviceContract
      type: object
      properties:
        serviceContract:
          type: integer
          format: int64
          description: Requestor Service Contract
          example: "111"
        institution:
          type: string
          description: Requestor institution
          example: "001"
        bank:
          type: string
          description: Requestor bank
          example: "111"
        agency:
          type: string
          description: Requestor agency
          example: "1111"
        agencyDigit:
          type: string
          description: Agency digit
          example: "1"
        account:
          type: string
          description: Requestor account
          example: "11111"
        accountDigit:
          type: string
          description: Account digit
          example: "1"
        cpfCnpj:
          type: string
          description: Requestor CPF/CNPJ
          example: "11111111111"
        modality:
          type: string
          description: Requestor Saving/Checking account (Conta Corrente/Conta Poupança)
          example: "Conta Corrente"
        operation:
          type: string
          description: Operation code
          example: "001"
    RegraDomicilioBancarioVO:
      type: object
      properties:
        agenciaComoEnviarBW:
          type: string
          description: Rule explaining how branch information shall be sent
          example: "Somente o campo agencia sem digito completando com zero a esquerda até as 6 posições - (meaning Only branch, without digit shall be sent, with 6 bytes and zeros to the left )"
        agenciaFormato:
          type: string
          description: Mininum and maximum size for branch code
          example: 4,4
        agenciaMsgErroFormato:
          type: string
          description: Provide information about possible errors
          example: Digitar somente números - (meaning - provide only numbers)
        agenciaObrigatorio:
          type: boolean
          description: Indicator of Mandatory field for branch
          example: true
          enum:
            - True
            - False
        agenciaTamanho:
          type: string
          description: Size for branch field
          example: 4
        agenciaTamanhoMinObrigatorio:
          type: string
          description: Mandatory minimum size for branch field
          example: 4
        banco:
          type: string
          description: Bank code information
          example: 341
        contaComoEnviarBW:
          type: string
          description: Rule explaining how conta information shall be sent
          example: "Somente o campo agencia sem digito completando com zero a esquerda até as 6 posições - (meaning Only branch, without digit shall be sent, with 6 bytes and zeros to the left )"
        contaFormato:
          type: string
          description: Mininum and maximum size for account number
          example: 3,12
        contaMsgErroFormato:
          type: string
          description: Provide information about possible errors
          example: Digitar somente números - (meaning - provide only numbers)
        contaObrigatorio:
          type: boolean
          description: Indicator of Mandatory field for branch
          example: true
          enum:
            - True
            - False
        contaTamanho:
          type: string
          description: Size for account field
          example: 12
        contaTamanhoMinObrigatorio:
          type: string
          description: Mandatory minimum size for account field
          example: 3
        digitoVerAgenciaMsgErroFormato:
          type: string
          description: Error message for account field
          example: "Se o digito for uma letra ou não existir favor preencher com 0 (zero) - (meaning If the digit is a letter ou does not exist, send as ZERO)"
        digitoVerContaFormato:
          type: string
          description: Size for accounts's digit
          example: 1
        digitoVerContaMsgErroFormato:
          type: string
          description: Account's digit error message
          example: "Se o digito for uma letra ou não existir favor preencher com 0 (zero) - (meaning If the digit is a letter ou does not exist, send as ZERO)"
        digitoVerContaObrigatorio:
          type: boolean
          description: Indicator of Mandatory field for account
          example: true
          enum:
            - True
            - False
        digitoVerContaTamanho:
          type: string
          description: Size for account's digit field
          example: 1
        digitoVerificadorAgenciaObrigatorio:
          type: boolean
          description: Indicator of mandatory field for Branch's digit
          example: true
          enum:
            - True
            - False
        digitoVerificadorAgenciaTamanho:
          type: string
          description: Size for branch's digit field
          example: 1
        digitoVerificadorFormato:
          type: string
          description: Mninum size for branch's digit
          example: 1
        modalidade:
          type: string
          description: Type of Account
          example: Conta Corrente
          enum:
            - Conta Corrente - (meaning Checking Account)
            - Conta Poupança - (meaning Saving Account)
            - Conta Pagamento - (meaning Payment Account)
        operacaoApresentarInformacao:
          type: string
          description: Operation Type Required Indicator (Applicable to CEF Bank only)
          example: 1
          enum:
            - "1 - Show the Information"
            - "N/A - Not Applicable"
        operacaoObrigatorio:
          type: boolean
          description: Operation information mandatory (Applicable to CEF Bank only)
          example: true
          enum:
            - true
            - false
        titularidade:
          type: string
          description: Account Type (CPF for Individual and CNPJ for Company)
          example: CPF
          enum:
            - CPF
            - CNPJ
      title: Account Payment Information Rules
    RequestRegra:
      type: object
      properties:
        banco:
          type: string
          description: Bank Code Information. For Payment Account, provide the string "Conta Pagamento"
          example: 341
          enum:
            - Bank Code (with 3 digits, such as 001, 341, 237, etc). If Payment Account, provide the string "Conta Pagamento"
        modalidade:
          type: string
          description: Type of Account
          example: Conta Corrente
          enum:
            - Conta Corrente - (meaning Checking Account)
            - Conta Poupança - (meaning Saving Account)
            - Conta Pagamento - (meaning Payment Account). When "Conta Pagamento" option, provide "Conta Pagamento" to "Banco" field
        titularidade:
          type: string
          description: Type of Ownership
          example: CPF
          enum:
            - CPF - (meaning Tax ID for Individual)
            - CNPJ - (meaning Tax ID for Company)
      title: RequestRegra
    RequestValidacao:
      type: object
      properties:
        banco:
          type: string
          description: Bank Code Information. For Payment Account, provide the string "Conta Pagamento"
          example: 999
          enum:
            - Bank Code (with 3 digits, such as 001, 341, 237, etc). If Payment Account, provide the string "Conta Pagamento"
        agencia:
          type: string
          description: Branch Code
          example: 9999
        digitoAgencia:
          type: string
          description: Branch's Digit Number
          example: 1
        conta:
          type: string
          description: Account Number
          example: 1234567
        digitoConta:
          type: string
          description: Acount's digit Number
          example: 1
        cpfCnpj:
          type: string
          description: Tax ID of Account Owner (CPF or CNPJ)
          example: 1234567890
        modalidade:
          type: string
          description: Type of Account
          example: Conta Corrente - (meaning Checking Account)
          enum:
            - Conta Corrente - (meaning Checking Account)
            - Conta Poupança - (meaning Saving Account)
            - Conta Pagamento - (meaning Payment Account). When "Conta Pagamento" option, provide "Conta Pagamento" to "Banco" field
        operacao:
          type: string
          description: Operation type (required for CEF Bank only)
          example: 13
        titularidade:
          type: string
          description: Type of Ownership. CPF for Individual or CNPJ for Company
          example: CPF
          enum:
            - CPF
            - CNPJ
      title: RequestValidacao
    ResponseRegra:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return code
          example: "00"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: "Regra Localizada - (meaning rule located)"
        status:
          type: boolean
          description: Provide information about validation
          example: true
          enum:
            - True
            - False
        regraDomicilioBancarioVO:
          $ref: "#/components/schemas/RegraDomicilioBancarioVO"
      title: ResponseRegra
    ResponseValidacao:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: "Agência ou Conta Inválida - (meaning Branch or Account Invalid)"
        mensagemValidacao:
          type: string
          description: Return Message
          example: "Agência ou Conta Inválida - (meaning Branch or Account Invalid)"
        status:
          type: boolean
          description: Indicator of validation happened
          example: true
      title: ResponseValidacao
