openapi: 3.0.2
info:
  description: Payment Account Information for Settlement (Domicílio Bancário)
  version: "1.0"
  title: Payment Account Information for Settlement (Domicílio Bancário)
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Payment Account Information for Settlement (Domicílio Bancário)
paths:
  "/bwa/wsm/merchantinformation/accounts/paymentAccountInfo/":
    post:
      tags:
        - Payment Account Information for Settlement
      x-proxy-name: Payment Settlement Account - Update
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Payment Account Information for Settlement (Domicílio Bancário)
      summary: Payment Account Information for Settlement (Domicílio Bancário)
      operationId: paymentAccountForSettlement
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body"
        description: dadosAccounts
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
components:
  schemas:
    paymentAccountInfo:
      type: object
      required:
        - institutionNumber
        - merchantId
        - requestType
        - accountTypeId
        - bankNumber
        - branchNumber
        - rbsAccountNumber
        - userId
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number. Mandatory for Request Type "C" and "U"
          example: "00000003"
        merchantId:
          type: string
          description: Merchant Code. Mandatory for Request Type "C" and "U"
          example: "91002806"
        requestType:
          type: string
          description: Request Type - Consult or Update
          example: "U"
          enum:
            - "C - Consult"
            - "U - Update"
        accountTypeId:
          type: string
          description: Account Type ID related to the Association/schema. Required when Request Type is "U"
          example: "050"
          enum:
            - 050 - Visa Credit
            - 051 - Marter Credit
            - 052 - Master Debit
            - 053 - Visa Debit
            - 055 - Cabal Credit
            - 056 - Cabal Debit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 061 - ELO Debit
            - 063 - AMEX Credit
        bankNumber:
          type: string
          description: Bank Code. Required when Request Type is "U"
          example: "004"
        branchNumber:
          type: string
          description: Branch Code and Digit Number - Max 6 numbers. Required when Request Type is "U"
          example: "1010"
        rbsAccountNumber:
          type: string
          description: Account Number and Digit Number - Max 28 numbers. Required when Request Type is "U"
          example: "17045487"
        paymentAccountNumber:
          type: string
          description: Payment Account Number. If not sent, it will assume the same of Merchant. Required when Request Type is "U"
          example: "12345678"
        bankAccountType:
          type: string
          description: Type of Account. Required when Request Type is "U"
          example: "001"
          enum:
            - 005 - Checking Account
            - 006 - Deposit Account
            - 007 - Payment Account
            - 008 - Saving Account
        userId:
          type: string
          example: Request an user for Fiserv Representative
          description: UserID Provided by Fiserv. Mandatory for Request Type "C" and "U"
    Body:
      type: object
      properties:
        paymentAccountInfo:
          type: array
          items:
            $ref: "#/components/schemas/paymentAccountInfo"
    accounts:
      type: object
      properties:
        merchantId:
          type: string
          description: Merchant Code for Payment PrePayment
          example: "91002806"
        accountTypeId:
          type: string
          description: Account Type ID related to the Association. Required when Request Type is "U"
          example: "050"
          enum:
            - 050 - Visa Credit
            - 051 - Marter Credit
            - 052 - Master Debit
            - 053 - Visa Debit
            - 055 - Cabal Credit
            - 056 - Cabal Debit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 061 - ELO Debit
            - 063 - AMEX Credit
        bankNumber:
          type: string
          description: Bank Code. Required when Request Type is "U"
          example: "004"
        branchNumber:
          type: string
          description: Branch Code and Digit Number - Max 6 numbers. Required when Request Type is "U"
          example: "1010"
        rbsAccountNumber:
          type: string
          description: Account Number and Digit Number - Max 28 numbers. Required when Request Type is "U"
          example: "17045487"
        paymentAccountNumber:
          type: string
          description: Payment Account Number. If not sent, it will assume the same of Merchant. Required when Request Type is "U"
          example: 12345678
        bankAccountType:
          type: string
          description: Type of Account. Required when Request Type is "U"
          example: 001
          enum:
            - 005 - Checking Account
            - 006 - Deposit Account
            - 007 - Payment Account
            - 008 - Saving Account
    responseInformationList:
      type: object
      properties:
        responseCode:
          type: string
          description: Return Status Code.
          example: "00"
          enum:
            - 00 - Successfully.
            - 01 - Invalid Type of Request.
            - 02 - Invalid institution Number.
            - 03 - Invalid Merchant ID.
            - 04 - Invalid Account Type.
            - 05 - Invalid Bank Code.
            - 06 - Invalid Branch Code.
            - 07 - Invalid Bank, Branch and Account.
            - 08 - Invalid Account Number.
            - 09 - Invalid Payment Account Number.
            - 10 - Invalid UserID.
            - 11 - Update Already requested.
            - 12 - Invalid Parameters.
            - 13 - Bank Account is Locked.
            - 14 - Upper Level Hierarchy shall be isolated.
            - 15 - Required Information not Sent.
            - 99 - System Error.
        responseCodeDesc:
          type: string
          description: Return Code description.
          example: "Successfully"
          enum:
            - 00 - Successfully.
            - 01 - Invalid Type of Request.
            - 02 - Invalid institution Number.
            - 03 - Invalid Merchant ID.
            - 04 - Invalid Account Type.
            - 05 - Invalid Bank Code.
            - 06 - Invalid Branch Code.
            - 07 - Invalid Bank, Branch and Account.
            - 08 - Invalid Account Number.
            - 09 - Invalid Payment Account Number.
            - 10 - Invalid UserID.
            - 11 - Update Already requested.
            - 12 - Invalid Parameters.
            - 13 - Bank Account is Locked.
            - 14 - Upper Level Hierarchy shall be isolated.
            - 15 - Required Information not Sent.
            - 99 - System Error.
    response:
      type: object
      properties:
        responseInformationList:
          type: array
          items:
            $ref: "#/components/schemas/responseInformationList"
    processMessage:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        userId:
          type: string
          description: UserID provided by Fiserv
          example: Request an user for Fiserv Representative
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/accounts"
        response:
          type: array
          items:
            $ref: "#/components/schemas/response"
    Response:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessage"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
