openapi: 3.0.2
info:
  description: Prepayment Information Maintenance
  version: "1.0"
  title: Prepayment Information Maintenance
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Prepayment Information Maintenance
paths:
  /bwa/wsm/prepayments/consultations/consultPrepayment:
    post:
      tags:
        - Prepayment Information Maintenance
      x-proxy-name: Prepayment - Maintenance/Simulate/Confirm/Reject - Consult Available Balances For Prepayment (all Associations)
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description:  Consult Available Balances For Prepayment (all Associations)
      summary: Consult Available Balances For Prepayment (all Associations)
      operationId: ConsultAvailableBalancesForPrepayment (all Associations)
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyConsult"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseConsult"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/prepayments/autoPrepayments/automaticPrepayment:
    post:
      tags:
        - Prepayment Information Maintenance
      x-proxy-name: Automatic Prepayment Information Maintenance
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Automatic Prepayment Information Maintenance
      summary: Automatic Prepayment Information Maintenance
      operationId: automaticPrepaymentInformationMaintenance
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyAutomatic"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAutomatic"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/prepayments/prepaySimulations/prepaymentSimulation:
    post:
      tags:
        - Prepayment Information Maintenance
      x-proxy-name: Prepayment - Maintenance/Simulate/Confirm/Reject - Consult or Simulate Manual Prepayment
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Consult or Simulate Manual Prepayment
      summary: Consult or Simulate Manual Prepayment
      operationId: consultOrSimulatingManualPrepayment
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodySimulate"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSimulate"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/prepayments/prepaySimulationsAction/prepaySimConfReject:
    post:
      tags:
        - Prepayment Information Maintenance
      x-proxy-name: Prepayment - Maintenance/Simulate/Confirm/Reject - Confirmation or Rejection of Manual Prepayment Simulation
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Banworks
      description: Confirmation or Rejection of Manual Prepayment Simulation
      summary:  Confirmation or Rejection of Manual Prepayment Simulation
      operationId: ConfirmationOrRejectionOfManualPrepaymentSimulation
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: DAte - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyConfirm"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseConfirm"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
components:
  schemas:
    automaticPrepayments:
      type: object
      required:
        - requestType
        - institutionNumber
        - merchantID
        - transactionType
        - frequencyType
        - frequencyPeriod
        - userID
        - userType
      properties:
        requestType:
          type: string
          description: Prepayment Request Type. Use "N" for new Prepayment Request, "C" for Consult
          example: "N"
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        schemeOptions:
          type: string
          description: "Association/Schema Code for Prepayment. To request more than one schema, add ',' following the orders specificed. It is mandatory to follow the exactly sequence. IMPORTANT: In case it is requested the same dates for different Associations/Schemas, the return will consolidate with previous requests and return all the Associations/Schemas (Field is required for Request Type = 'N')"
          example: "002,003"
          enum:
            - 002 Mastercard
            - 003 Visa
            - 004 Amex Full
            - 009 Cabal
            - 024 Hipercard/Hiper
            - 025 Elo Full
            - "POSSIBLE COMBINATION FOR MORE THAN ONE ASSOCIATION: "
            - 002,003 - Mastercard + Visa
            - 002,003,004 - Mastercard + Visa + Amex Full
            - 002,003,004,009 - Mastercard + Visa + Amex Full + CABAL
            - 002,003,004,009,024 - Mastercard + Visa + Amex Full + CABAL + Hipercard/Hiper
            - 002,003,004,009,024,025 - Mastercard + Visa + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 002,003,004,009,025 - Mastercard + Visa + Amex Full + CABAL + ELO Full
            - 002,003,004,024 - Mastercard + Visa + Amex Full + Hipercard/Hiper
            - 002,003,004,024,025 - Mastercard + Visa + Amex Full + Hipercard/Hiper + ELO Full
            - 002,003,004,025 - Mastercard + Visa + Amex Full + ELO Full
            - 002,003,009 - Mastercard + Visa + CABAL
            - 002,003,009,024 - Mastercard + Visa + CABAL + Hipercard/Hiper
            - 002,003,009,024,025 - Mastercard + Visa + CABAL + Hipercard/Hiper + ELO Full
            - 002,003,009,025 - Mastercard + Visa + CABAL + ELO Full
            - 002,003,024 - Mastercard + Visa + Hipercard/Hiper
            - 002,003,024,025 - Mastercard + Visa + Hipercard/Hiper + ELO Full
            - 002,003,025 - Mastercard + Visa + ELO Full
            - 002,004 - Mastercard + Amex Full
            - 002,004,009 - Mastercard + Amex Full + CABAL
            - 002,004,009,024 - Mastercard + Amex Full + CABAL + Hipercard/Hiper
            - 002,004,009,024,025 - Mastercard + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 002,004,009,025 - Mastercard + Amex Full + CABAL + ELO Full
            - 002,004,024 - Mastercard + Amex Full + Hipercard/Hiper
            - 002,004,024,025 - Mastercard + Amex Full + Hipercard/Hiper + ELO Full
            - 002,004,025 - Mastercard + Amex Full + ELO Full
            - 002,009 - Mastercard + CABAL
            - 002,009,024 - Mastercard + CABAL + Hipercard/Hiper
            - 002,009,024,025 - Mastercard + CABAL + Hipercard/Hiper + ELO Full
            - 002,009,025 - Mastercard + CABAL + ELO Full
            - 002,024 - Mastercard + Hipercard/Hiper
            - 002,024,025 - Mastercard + Hipercard/Hiper + ELO Full
            - 002,025 - Mastercard + ELO Full
            - 003,004 - Visa + Amex Full
            - 003,004,009 - Visa + Amex Full + CABAL
            - 003,004,009,024 - Visa + Amex Full + CABAL + Hipercard/Hiper
            - 003,004,009,024,025 - Visa + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 003,004,009,025 - Visa + Amex Full + CABAL + ELO Full
            - 003,004,024 - Visa + Amex Full + Hipercard/Hiper
            - 003,004,024,025 - Visa + Amex Full + Hipercard/Hiper + ELO Full
            - 003,004,025 - Visa + Amex Full + ELO Full
            - 003,009 - Visa + CABAL
            - 003,009,024 - Visa + CABAL + Hipercard/Hiper
            - 003,009,024,025 - Visa + CABAL + Hipercard/Hiper + ELO Full
            - 003,009,025 - Visa + CABAL + ELO Full
            - 003,024 - Visa + Hipercard/Hiper
            - 003,024,025 - Visa + Hipercard/Hiper + ELO Full
            - 003,025 - Visa + ELO Full
            - 004,009 - Amex Full + CABAL
            - 004,009,024 - Amex Full + CABAL + Hipercard/Hiper
            - 004,009,024,025 - Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 004,009,025 - Amex Full + CABAL + ELO Full
            - 004,024 - Amex Full + Hipercard/Hiper
            - 004,024,025 - Amex Full + Hipercard/Hiper + ELO Full
            - 004,025 - Amex Full + ELO Full
            - 009,024 - CABAL + Hipercard/Hiper
            - 009,024,025 - CABAL + Hipercard/Hiper + ELO Full
            - 009,025 - CABAL + ELO Full
            - 024,025 - Hipercard/Hiper + ELO Full
        transactionType:
          type: string
          description: Transaction Type Code to be used for prepayment selection
          example: "001"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        frequencyType:
          type: string
          description: Frequency Type for Prepayment request
          example: "305"
          enum:
            - 305 = Diário - (meaning Daily)
            - 309 = Semanal - Seg - (meaing Weekly Monday)
            - 310 = Semanal - Ter - (meaing Weekly Tuesday)
            - 311 = Semanal - Qua - (meaing Weekly Wednesday)
            - 312 = Semanal - Qui - (meaing Weekly Thursday)
            - 313 = Semanal - Sex - (meaing Weekly Friday)
            - 409 = Bimestral 1-15 - (meaing Bimonthly - 1-15)
            - 410 = Bimestral 2-16 - (meaing Bimonthly - 2-16)
            - 411 = Bimestral 3-17 - (meaing Bimonthly - 3-17)
            - 412 = Bimestral 4-18 - (meaing Bimonthly - 4-18)
            - 413 = Bimestral 5-19 - (meaing Bimonthly - 5-19)
            - 414 = Bimestral 6-20 - (meaing Bimonthly - 6-20)
            - 415 = Bimestral 7-21 - (meaing Bimonthly - 7-21)
            - 416 = Bimestral 8-22 - (meaing Bimonthly - 8-22)
            - 417 = Bimestral 9-23 - (meaing Bimonthly - 9-23)
            - 418 = Bimestral 10-24 - (meaing Bimonthly - 10-24)
            - 419 = Bimestral 11-25 - (meaing Bimonthly - 11-25)
            - 420 = Bimestral 12-26 - (meaing Bimonthly - 12-26)
            - 421 = Bimestral 13-27 - (meaing Bimonthly - 13-27)
            - 422 = Bimestral 14-28 - (meaing Bimonthly - 14-28)
            - 423 = Bimestral 15-29 - (meaing Bimonthly - 15-29)
            - 424 = Bimestral 16-30 - (meaing Bimonthly - 16-30)
            - 707 = 1 DOM comercial - (meaning 1 SUN Commercial)
            - 708 = 2 DOM comercial - (meaning 2 SUN Commercial)
            - 709 = 3 DOM comercial - (meaning 3 SUN Commercial)
            - 710 = 4 DOM comercial - (meaning 4 SUN Commercial)
            - 711 = 5 DOM comercial - (meaning 5 SUN Commercial)
            - 712 = 6 DOM comercial - (meaning 6 SUN Commercial)
            - 713 = 7 DOM comercial - (meaning 7 SUN Commercial)
            - 714 = 8 DOM comercial - (meaning 8 SUN Commercial)
            - 715 = 9 DOM comercial - (meaning 9 SUN Commercial)
            - 716 = 10 DOM comercial - (meaning 10 SUN Commercial)
            - 717 = 11 DOM comercial - (meaning 11 SUN Commercial)
            - 718 = 12 DOM comercial - (meaning 12 SUN Commercial)
            - 719 = 13 DOM comercial - (meaning 13 SUN Commercial)
            - 720 = 14 DOM comercial - (meaning 14 SUN Commercial)
            - 721 = 15 DOM comercial - (meaning 15 SUN Commercial)
            - 722 = 16 DOM comercial - (meaning 16 SUN Commercial)
            - 723 = 17 DOM comercial - (meaning 17 SUN Commercial)
            - 724 = 18 DOM comercial - (meaning 18 SUN Commercial)
            - 725 = 19 DOM comercial - (meaning 19 SUN Commercial)
            - 726 = 20 DOM comercial - (meaning 20 SUN Commercial)
            - 727 = 21 DOM comercial - (meaning 21 SUN Commercial)
            - 728 = 22 DOM comercial - (meaning 22 SUN Commercial)
            - 729 = 23 DOM comercial - (meaning 23 SUN Commercial)
            - 730 = 24 DOM comercial - (meaning 24 SUN Commercial)
            - 731 = 25 DOM comercial - (meaning 25 SUN Commercial)
            - 732 = 26 DOM comercial - (meaning 26 SUN Commercial)
            - 733 = 27 DOM comercial - (meaning 27 SUN Commercial)
            - 734 = 28 DOM comercial - (meaning 28 SUN Commercial)
            - 735 = 29 DOM comercial - (meaning 29 SUN Commercial)
            - 736 = 30 DOM comercial - (meaning 30 SUN Commercial)
            - 737 = 31 DOM comercial - (meaning 31 SUN Commercial)
        frequencyPeriod:
          type: string
          description: Frequency Period that the Merchant will receive the prepayment
          example: "005"
          enum:
            - 005 – Monthly End of Month
            - 010 – Bimonthly
            - 015 – End of Next Cycle
            - 020 – Start of Cycle
            - 025 – Service Anniversary
            - 030 – Day 30
            - 730 - 24 Business Day of the Month
        effectiveDate:
          type: string
          description: Effective Date for Prepayment. When the prepayment will start
          example: "20190202"
        expiryDate:
          type: string
          description: Expire Date for Prepayment. When the prepayment will end
          example: "20191220"
        userID:
          type: string
          description: Requester User. Please check with Fiserv representative
          example: "000456"
        userType:
          type: string
          description: User Type. Fixed "006"
          example: "006"
    BodyAutomatic:
      type: object
      properties:
        automaticPrepayments:
          type: array
          items:
            $ref: "#/components/schemas/automaticPrepayments"
    consultPrepayments:
      type: object
      required:
        - institutionNumber
        - merchantID
        - userID
      properties:
        institutionNumber:
          type: string
          description: Merchant Instituion Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        userID:
          type: string
          description: Requester User. Please check with Fiserv representative
          example: "000456"
    BodyConsult:
      type: object
      properties:
        consultPrepayments:
          type: array
          items:
            $ref: "#/components/schemas/consultPrepayments"
    prepaymentConfirmRejects:
      type: object
      required:
        - requestType
        - institutionNumber
        - merchantID
        - originalPrepaymentNumber
        - userID
        - userType
      properties:
        requestType:
          type: string
          description: Request Type - Confirmation or Rejection
          example: "C"
          enum:
            - C - Confirmation
            - D - Rejection
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        originalPrepaymentNumber:
          type: string
          description: Original Prepayment Number
          example: "00000003978"
        selectedValue:
          type: string
          description: Amount Request Type
          example: "2"
          enum:
            - 1 - Valor Máximo (High) - meaning Maximum amount (High)
            - 2 - Valor Mínimo (Low) - meaning (Minimum amount (Low)
        userID:
          type: string
          description: Requester User. Please check with Fiserv representative
          example: "000456"
        userType:
          type: string
          description: User Type. Fixed "006"
          example: "006"
    BodyConfirm:
      type: object
      properties:
        prepaymentConfirmRejects:
          type: array
          items:
            $ref: "#/components/schemas/prepaymentConfirmRejects"
    prepaymentSimulations:
      type: object
      required:
        - requestType
        - institutionNumber
        - merchantID
        - transactionType
        - schemeOption
        - userID

        - userType

      properties:
        requestType:
          type: string
          description: Prepayment Request Type. Use "N" for new Prepayment Request, "C" for Consult
          example: "N"
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        originalPrepaymentNumber:
          type: string
          description: Original Prepayment Number. It is optional for Consult and must be ZEROS for Simulation
          example: "00000003978"
        prepaymentStatus:
          description: Prepayment Status Code. Fixed "000" for Request Type "N".
          type: string
          example: "000"
          enum:
            - 001 - Inicializado (meaning Initialized)
            - 002 - Pendente (meaning Pending)
            - 003 - Recusada (meaning Declined)
            - 004 - Vencido (meaning Expired)
            - 006 - Solicitacao em andamento(meaning Waiting for approval)
            - 007 - Efetuada enviada p pagto(meaning Done. Payment to be sent)
            - 008 - Efet parc enviada p pagto(meaning Partialy Done. To be paid)
            - 009 - Nao efetuada(meaning Request not Approved)
            - 010 - Pago (meaning Paid)
        transactionType:
          type: string
          description: Transaction Type Code to be used for prepayment selection
          example: "001"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        schemeOption:
          type: string
          description: "Association/Schema Code for Prepayment. To request more than one schema, add ',' following the orders specificed. It is mandatory to follow the exactly sequence. IMPORTANT: In case it is requested the same dates for different Associations/Schemas, the return will consolidate with previous requests and return all the Associations/Schemas"
          example: "002,024"
          enum:
            - 002 Mastercard
            - 003 Visa
            - 004 Amex Full
            - 009 Cabal
            - 024 Hipercard/Hiper
            - 025 Elo Full
            - "POSSIBLE COMBINATION FOR MORE THAN ONE ASSOCIATION: "
            - 002,003 - Mastercard + Visa
            - 002,003,004 - Mastercard + Visa + Amex Full
            - 002,003,004,009 - Mastercard + Visa + Amex Full + CABAL
            - 002,003,004,009,024 - Mastercard + Visa + Amex Full + CABAL + Hipercard/Hiper
            - 002,003,004,009,024,025 - Mastercard + Visa + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 002,003,004,009,025 - Mastercard + Visa + Amex Full + CABAL + ELO Full
            - 002,003,004,024 - Mastercard + Visa + Amex Full + Hipercard/Hiper
            - 002,003,004,024,025 - Mastercard + Visa + Amex Full + Hipercard/Hiper + ELO Full
            - 002,003,004,025 - Mastercard + Visa + Amex Full + ELO Full
            - 002,003,009 - Mastercard + Visa + CABAL
            - 002,003,009,024 - Mastercard + Visa + CABAL + Hipercard/Hiper
            - 002,003,009,024,025 - Mastercard + Visa + CABAL + Hipercard/Hiper + ELO Full
            - 002,003,009,025 - Mastercard + Visa + CABAL + ELO Full
            - 002,003,024 - Mastercard + Visa + Hipercard/Hiper
            - 002,003,024,025 - Mastercard + Visa + Hipercard/Hiper + ELO Full
            - 002,003,025 - Mastercard + Visa + ELO Full
            - 002,004 - Mastercard + Amex Full
            - 002,004,009 - Mastercard + Amex Full + CABAL
            - 002,004,009,024 - Mastercard + Amex Full + CABAL + Hipercard/Hiper
            - 002,004,009,024,025 - Mastercard + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 002,004,009,025 - Mastercard + Amex Full + CABAL + ELO Full
            - 002,004,024 - Mastercard + Amex Full + Hipercard/Hiper
            - 002,004,024,025 - Mastercard + Amex Full + Hipercard/Hiper + ELO Full
            - 002,004,025 - Mastercard + Amex Full + ELO Full
            - 002,009 - Mastercard + CABAL
            - 002,009,024 - Mastercard + CABAL + Hipercard/Hiper
            - 002,009,024,025 - Mastercard + CABAL + Hipercard/Hiper + ELO Full
            - 002,009,025 - Mastercard + CABAL + ELO Full
            - 002,024 - Mastercard + Hipercard/Hiper
            - 002,024,025 - Mastercard + Hipercard/Hiper + ELO Full
            - 002,025 - Mastercard + ELO Full
            - 003,004 - Visa + Amex Full
            - 003,004,009 - Visa + Amex Full + CABAL
            - 003,004,009,024 - Visa + Amex Full + CABAL + Hipercard/Hiper
            - 003,004,009,024,025 - Visa + Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 003,004,009,025 - Visa + Amex Full + CABAL + ELO Full
            - 003,004,024 - Visa + Amex Full + Hipercard/Hiper
            - 003,004,024,025 - Visa + Amex Full + Hipercard/Hiper + ELO Full
            - 003,004,025 - Visa + Amex Full + ELO Full
            - 003,009 - Visa + CABAL
            - 003,009,024 - Visa + CABAL + Hipercard/Hiper
            - 003,009,024,025 - Visa + CABAL + Hipercard/Hiper + ELO Full
            - 003,009,025 - Visa + CABAL + ELO Full
            - 003,024 - Visa + Hipercard/Hiper
            - 003,024,025 - Visa + Hipercard/Hiper + ELO Full
            - 003,025 - Visa + ELO Full
            - 004,009 - Amex Full + CABAL
            - 004,009,024 - Amex Full + CABAL + Hipercard/Hiper
            - 004,009,024,025 - Amex Full + CABAL + Hipercard/Hiper + ELO Full
            - 004,009,025 - Amex Full + CABAL + ELO Full
            - 004,024 - Amex Full + Hipercard/Hiper
            - 004,024,025 - Amex Full + Hipercard/Hiper + ELO Full
            - 004,025 - Amex Full + ELO Full
            - 009,024 - CABAL + Hipercard/Hiper
            - 009,024,025 - CABAL + Hipercard/Hiper + ELO Full
            - 009,025 - CABAL + ELO Full
            - 024,025 - Hipercard/Hiper + ELO Full
        requestedAmount:
          type: string
          description: Prepayment Requested Amount
          example: "000000050000"
        dateFrom:
          type: string
          description: Date From (transaction selection)
          example: "20190202"
        dateTo:
          type: string
          description: Date To (transaction selection)
          example: "20191220"
        userID:
          type: string
          description: Requester User. Please check with Fiserv representative
          example: "000456"
        userType:
          type: string
          description: User Type. Fixed "006"
          example: "006"
    BodySimulate:
      type: object
      properties:
        prepaymentSimulations:
          type: array
          items:
            $ref: "#/components/schemas/prepaymentSimulations"
    automaticPrepaymentInformationList:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        schemeOptions:
          type: string
          description: Association/Schema Code
          example: "050"
          enum:
            - 050 - Visa Credit
            - 051 - MC Credit
            - 055 - Cabal Credit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 063 - Amex Credit
        schemeOptionsDesc:
          type: string
          description: Association/Schema Code Description
          example: "Visa Credit"
          enum:
            - 050 - Visa Credit
            - 051 - MC Credit
            - 055 - Cabal Credit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 063 - Amex Credit
        transactionType:
          type: string
          description: Transaction Type Code to be used for prepayment selection
          example: "001"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        transactionTypeDesc:
          type: string
          description: Transaction Type Description
          example: "Parcelado"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        frequencyType:
          type: string
          description: Frequency Type for Prepayment
          example: "305"
          enum:
            - 305 = Diário - (meaning Daily)
            - 309 = Semanal - Seg - (meaing Weekly Monday)
            - 310 = Semanal - Ter - (meaing Weekly Tuesday)
            - 311 = Semanal - Qua - (meaing Weekly Wednesday)
            - 312 = Semanal - Qui - (meaing Weekly Thursday)
            - 313 = Semanal - Sex - (meaing Weekly Friday)
            - 409 = Bimestral 1-15 - (meaing Bimonthly - 1-15)
            - 410 = Bimestral 2-16 - (meaing Bimonthly - 2-16)
            - 411 = Bimestral 3-17 - (meaing Bimonthly - 3-17)
            - 412 = Bimestral 4-18 - (meaing Bimonthly - 4-18)
            - 413 = Bimestral 5-19 - (meaing Bimonthly - 5-19)
            - 414 = Bimestral 6-20 - (meaing Bimonthly - 6-20)
            - 415 = Bimestral 7-21 - (meaing Bimonthly - 7-21)
            - 416 = Bimestral 8-22 - (meaing Bimonthly - 8-22)
            - 417 = Bimestral 9-23 - (meaing Bimonthly - 9-23)
            - 418 = Bimestral 10-24 - (meaing Bimonthly - 10-24)
            - 419 = Bimestral 11-25 - (meaing Bimonthly - 11-25)
            - 420 = Bimestral 12-26 - (meaing Bimonthly - 12-26)
            - 421 = Bimestral 13-27 - (meaing Bimonthly - 13-27)
            - 422 = Bimestral 14-28 - (meaing Bimonthly - 14-28)
            - 423 = Bimestral 15-29 - (meaing Bimonthly - 15-29)
            - 424 = Bimestral 16-30 - (meaing Bimonthly - 16-30)
            - 707 = 1 DOM comercial - (meaning 1 SUN Commercial)
            - 708 = 2 DOM comercial - (meaning 2 SUN Commercial)
            - 709 = 3 DOM comercial - (meaning 3 SUN Commercial)
            - 710 = 4 DOM comercial - (meaning 4 SUN Commercial)
            - 711 = 5 DOM comercial - (meaning 5 SUN Commercial)
            - 712 = 6 DOM comercial - (meaning 6 SUN Commercial)
            - 713 = 7 DOM comercial - (meaning 7 SUN Commercial)
            - 714 = 8 DOM comercial - (meaning 8 SUN Commercial)
            - 715 = 9 DOM comercial - (meaning 9 SUN Commercial)
            - 716 = 10 DOM comercial - (meaning 10 SUN Commercial)
            - 717 = 11 DOM comercial - (meaning 11 SUN Commercial)
            - 718 = 12 DOM comercial - (meaning 12 SUN Commercial)
            - 719 = 13 DOM comercial - (meaning 13 SUN Commercial)
            - 720 = 14 DOM comercial - (meaning 14 SUN Commercial)
            - 721 = 15 DOM comercial - (meaning 15 SUN Commercial)
            - 722 = 16 DOM comercial - (meaning 16 SUN Commercial)
            - 723 = 17 DOM comercial - (meaning 17 SUN Commercial)
            - 724 = 18 DOM comercial - (meaning 18 SUN Commercial)
            - 725 = 19 DOM comercial - (meaning 19 SUN Commercial)
            - 726 = 20 DOM comercial - (meaning 20 SUN Commercial)
            - 727 = 21 DOM comercial - (meaning 21 SUN Commercial)
            - 728 = 22 DOM comercial - (meaning 22 SUN Commercial)
            - 729 = 23 DOM comercial - (meaning 23 SUN Commercial)
            - 730 = 24 DOM comercial - (meaning 24 SUN Commercial)
            - 731 = 25 DOM comercial - (meaning 25 SUN Commercial)
            - 732 = 26 DOM comercial - (meaning 26 SUN Commercial)
            - 733 = 27 DOM comercial - (meaning 27 SUN Commercial)
            - 734 = 28 DOM comercial - (meaning 28 SUN Commercial)
            - 735 = 29 DOM comercial - (meaning 29 SUN Commercial)
            - 736 = 30 DOM comercial - (meaning 30 SUN Commercial)
            - 737 = 31 DOM comercial - (meaning 31 SUN Commercial)
        frequencyTypeDesc:
          type: string
          description: Frequency Description for Prepayment
          example: "Diário"
          enum:
            - 305 = Diário - (meaning Daily)
            - 309 = Semanal - Seg - (meaing Weekly Monday)
            - 310 = Semanal - Ter - (meaing Weekly Tuesday)
            - 311 = Semanal - Qua - (meaing Weekly Wednesday)
            - 312 = Semanal - Qui - (meaing Weekly Thursday)
            - 313 = Semanal - Sex - (meaing Weekly Friday)
            - 409 = Bimestral 1-15 - (meaing Bimonthly - 1-15)
            - 410 = Bimestral 2-16 - (meaing Bimonthly - 2-16)
            - 411 = Bimestral 3-17 - (meaing Bimonthly - 3-17)
            - 412 = Bimestral 4-18 - (meaing Bimonthly - 4-18)
            - 413 = Bimestral 5-19 - (meaing Bimonthly - 5-19)
            - 414 = Bimestral 6-20 - (meaing Bimonthly - 6-20)
            - 415 = Bimestral 7-21 - (meaing Bimonthly - 7-21)
            - 416 = Bimestral 8-22 - (meaing Bimonthly - 8-22)
            - 417 = Bimestral 9-23 - (meaing Bimonthly - 9-23)
            - 418 = Bimestral 10-24 - (meaing Bimonthly - 10-24)
            - 419 = Bimestral 11-25 - (meaing Bimonthly - 11-25)
            - 420 = Bimestral 12-26 - (meaing Bimonthly - 12-26)
            - 421 = Bimestral 13-27 - (meaing Bimonthly - 13-27)
            - 422 = Bimestral 14-28 - (meaing Bimonthly - 14-28)
            - 423 = Bimestral 15-29 - (meaing Bimonthly - 15-29)
            - 424 = Bimestral 16-30 - (meaing Bimonthly - 16-30)
            - 707 = 1 DOM comercial - (meaning 1 SUN Commercial)
            - 708 = 2 DOM comercial - (meaning 2 SUN Commercial)
            - 709 = 3 DOM comercial - (meaning 3 SUN Commercial)
            - 710 = 4 DOM comercial - (meaning 4 SUN Commercial)
            - 711 = 5 DOM comercial - (meaning 5 SUN Commercial)
            - 712 = 6 DOM comercial - (meaning 6 SUN Commercial)
            - 713 = 7 DOM comercial - (meaning 7 SUN Commercial)
            - 714 = 8 DOM comercial - (meaning 8 SUN Commercial)
            - 715 = 9 DOM comercial - (meaning 9 SUN Commercial)
            - 716 = 10 DOM comercial - (meaning 10 SUN Commercial)
            - 717 = 11 DOM comercial - (meaning 11 SUN Commercial)
            - 718 = 12 DOM comercial - (meaning 12 SUN Commercial)
            - 719 = 13 DOM comercial - (meaning 13 SUN Commercial)
            - 720 = 14 DOM comercial - (meaning 14 SUN Commercial)
            - 721 = 15 DOM comercial - (meaning 15 SUN Commercial)
            - 722 = 16 DOM comercial - (meaning 16 SUN Commercial)
            - 723 = 17 DOM comercial - (meaning 17 SUN Commercial)
            - 724 = 18 DOM comercial - (meaning 18 SUN Commercial)
            - 725 = 19 DOM comercial - (meaning 19 SUN Commercial)
            - 726 = 20 DOM comercial - (meaning 20 SUN Commercial)
            - 727 = 21 DOM comercial - (meaning 21 SUN Commercial)
            - 728 = 22 DOM comercial - (meaning 22 SUN Commercial)
            - 729 = 23 DOM comercial - (meaning 23 SUN Commercial)
            - 730 = 24 DOM comercial - (meaning 24 SUN Commercial)
            - 731 = 25 DOM comercial - (meaning 25 SUN Commercial)
            - 732 = 26 DOM comercial - (meaning 26 SUN Commercial)
            - 733 = 27 DOM comercial - (meaning 27 SUN Commercial)
            - 734 = 28 DOM comercial - (meaning 28 SUN Commercial)
            - 735 = 29 DOM comercial - (meaning 29 SUN Commercial)
            - 736 = 30 DOM comercial - (meaning 30 SUN Commercial)
            - 737 = 31 DOM comercial - (meaning 31 SUN Commercial)
        frequencyPeriod:
          type: string
          description: Frequency Period that the Merchant will receive the prepayment
          example: "005"
          enum:
            - 005 – Monthly End of Month
            - 010 – Bimonthly
            - 015 – End of Next Cycle
            - 020 – Start of Cycle
            - 025 – Service Anniversary (request date)
            - 030 – Day 30
            - 730 - 24 Business Day of the Month
        frequencyPeriodDesc:
          type: string
          description: Frequency Period Description
          example: "005 – 05 Dias"
          enum:
            - 005 – Monthly End of Month
            - 010 – Bimonthly
            - 015 – End of Next Cycle
            - 020 – Start of Cycle
            - 025 – Service Anniversary (request date)
            - 030 – Day 30
            - 730 - 24 Business Day of the Month
        effectiveDate:
          type: string
          description: Effective Date for Prepayment. When the prepayment will start
          example: "20190202"
        expiryDate:
          type: string
          description: Effective Date for Prepayment. When the prepayment will end
          example: "20191220"
    information:
      type: object
      properties:
        automaticPrepaymentInformationList:
          type: array
          items:
            $ref: "#/components/schemas/automaticPrepaymentInformationList"
    responseInformationList:
      type: object
      properties:
        responseCode:
          type: string
          description: Return Code. A different message might be sent, with error details
          example: "00"
          enum:
            - 00 - Request Approved
            - 01 - Invalid Parameters (for instance, Invalid Content or Invalid Merchant)
            - 02 - Merchant Not Available for Prepayment
            - 03 - Effective Date Lesser than Current Date
            - 04 - Fraud Flag set as Y
            - 05 - Blocked Account
            - 06 - Suspended Account
            - 07 - Merchant Status is not Active or Dormant
            - 08 - Merchant has no enough amount to be anticipated
            - 09 - The combination between Prepayment Number and Merchant ID is invalid
            - 10 - Merchant is set to USD currency
            - 12 - Simulation with status Paid
            - 13 - Simulation already confirmed
            - 15 - Invalid Prepayment Number
            - 16 - Simulation with status Expired
            - 17 - MID + Institution combination invalid
            - 18 - Merchant not at billing level - when acct_number is not equal to payment_acct_number in cas_client_account
            - 14 - Merchant has automatic Pre-payment set for the Card scheme requested
            - 17 - MID + Institution combination invalid
            - 18 - Merchant not at billing level - Payment Hierarquy
            - 99 - System Error
        responseCodeDesc:
          type: string
          description: Return Code Description
          example: "Request Approved"
          enum:
            - 00 - Request Approved
            - 01 - Invalid Parameters (for instance, Invalid Content or Invalid Merchant)
            - 02 - Merchant Not Available for Prepayment
            - 03 - Effective Date Lesser than Current Date
            - 04 - Fraud Flag set as Y
            - 05 - Blocked Account
            - 06 - Suspended Account
            - 07 - Merchant Status is not Active or Dormant
            - 08 - Merchant has no enough amount to be anticipated
            - 09 - The combination between Prepayment Number and Merchant ID is invalid
            - 10 - Merchant is set to USD currency
            - 12 - Simulation with status Paid
            - 13 - Simulation already confirmed
            - 15 - Invalid Prepayment Number
            - 16 - Simulation with status Expired
            - 17 - MID + Institution combination invalid
            - 18 - Merchant not at billing level - when acct_number is not equal to payment_acct_number in cas_client_account
            - 14 - Merchant has automatic Pre-payment set for the Card scheme requested
            - 17 - MID + Institution combination invalid
            - 18 - Merchant not at billing level - Payment Hierarquy
            - 99 - System Error
    response:
      type: object
      properties:
        responseInformationList:
          type: array
          items:
            $ref: "#/components/schemas/responseInformationList"
    processMessageAutomatic:
      type: object
      properties:
        information:
          $ref: "#/components/schemas/information"
        response:
          $ref: "#/components/schemas/response"
    ResponseAutomatic:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessageAutomatic"
    processMessageConsult:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
        merchantID:
          type: string
          description: Merchant Code
        prepaymentIndicator:
          type: string
          description: Indicates whether the Merchant has prepayment request enabled (returns only the code)
          example: "0"
          enum:
            - 0 - No
            - 1 - Yes
        prepaymentIndicatorDesc:
          type: string
          description: Prepayment request indicator description (returns only the description)
          example: "No"
          enum:
            - 0 - No
            - 1 - Yes
        prepaymentEffectiveDate:
          type: string
          description: Prepayment Effective Date. It can be "00000000".
          example: "16062019"
        reservePercent:
          type: string
          description: "% of Reservation, with 3 integers and 2 decimals"
          example: "001.00"
        autoPrepayRate:
          type: string
          description: Automatic PrepaymentFee, with 3 integers and 2 decimals
          example: "007.00"
        releasedRate:
          type: string
          description: Prepayment Release Fee, with 3 integers and 2 decimals
          example: "001.99"
        unreleasedRate:
          type: string
          description: Prepayment Unreleased Fee (pending Installments), with 3 integers and 2 decimals
          example: "001.99"
        amounts:
          type: object
          description: Prepayment Amounts
          properties:
            visacredit:
              type: string
              description: Visa Prepayment Amount
              example: "123456.78"
            hipercardCredit:
              type: string
              description: Hipercard Prepayment Amount
              example: "123456.78"
            mccredit:
              type: string
              example: "123456.78"
              description: Mastercard Prepayment Amount
            cabalcredit:
              type: string
              description: Cabal Prepayment Amount
              example: "123456.78"
            elocredit:
              type: string
              description: Elo Prepayment Amount
              example: "123456.78"
            amexCredit:
              type: string
              description: Elo Prepayment Amount
              example: "123456.78"
        response:
          $ref: "#/components/schemas/response"
    ResponseConsult:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessageConsult"
    processMessageConfirm:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        originalPrepaymentNumber:
          type: string
          description: Simulation Prepayment Number
          example: "00000003978"
        grossAmount:
          type: string
          description: Available Gross Amount for Prepayment
          example: "000000000003090.12"
        netAmount:
          type: string
          description: Available Net AMount for Prepayment
          example: "000000000003000.35"
        feeAmount:
          type: string
          description: Prepayment Fee Amount
          example: "000000000000089.77"
        averageRate:
          type: string
          description: Average Prepayment Fee Amount
          example: "000000000000002.91"
        releasedRate:
          type: string
          description: Fee Rate used for released amount
          example: "000000000000001.70"
        unreleasedRate:
          type: string
          description: Fee Rate (pending installments)
          example: "000000000000001.70"
        availableBalance:
          type: string
          description: Available Balance for Prepaymet
          example: "000000000003090.12"
        response:
          $ref: "#/components/schemas/response"
    ResponseConfirm:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessageConfirm"
    prepaymentSimulationInformationList:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        originalPrepaymentNumber:
          type: string
          description: Original Prepayment Number
          example: "00000003978"
        prepaymentStatus:
          type: string
          description: Prepayment Status Code
          example: "Pending"
          enum:
            - Inicializado (meaning Initialized)
            - Pendente (meaning Pending)
            - Recusada (meaning Declined)
            - Vencido (meaning Expired)
            - Solicitacao em andamento(meaning Waiting for approval)
            - Efetuada enviada p pagto(meaning Done. Payment to be sent)
            - Efet parc enviada p pagto(meaning Partialy Done. To be paid)
            - Nao efetuada(meaning Request not Approved)
            - Pago (meaning Paid)
        schemeOptions:
          type: string
          description: Association/Schema Code. To request for more than 1 schema, separate with ','
          example: "050"
          enum:
            - 050 - Visa Credit
            - 051 - MC Credit
            - 055 - Cabal Credit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 063 - Amex Credit
        schemeOptionsDesc:
          type: string
          description: Association/Schema Description. To request for more than 1 schema, separate with ','
          example: Visa Credit
          enum:
            - 050 - Visa Credit
            - 051 - MC Credit
            - 055 - Cabal Credit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 063 - Amex Credit
        transactionType:
          type: string
          description: Transaction Type Code to be used for prepayment selection
          example: "001"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        transactionTypeDesc:
          type: string
          description: Transaction Type Description
          example: "Parcelado"
          enum:
            - "001 - Parcelado sem juros - (meaning Installment with no interesting)"
            - "003 - Compra à Vista (sem parcelado) - (meaning Purchase with no Installments)"
            - "999 - Cred Vista e Parcelado sem Juros - (meaning All)"
        dateFrom:
          type: string
          description: Date From (transaction selection)
          example: "20190202"
        dateTo:
          type: string
          description: Date To (transaction selection)
          example: "20191220"
        requestedAmount:
          type: string
          description: Prepayment Requested Amount
          example: "000000000132500.42"
        paymentDate:
          type: string
          description: Prepayment Date
          example: "20191118"
        grossAmount:
          type: string
          description: Available Gross Amount for Prepayment, based on the requested amount
          example: "000000000000769.63"
        netAmount:
          type: string
          description: Available Net AMount for Prepayment
          example: "000000000000742.66"
        feeAmount:
          type: string
          description: Prepayment Fee Amount
          example: "000000000000026.97"
        averageRate:
          type: string
          description: Prepayment Average Fee Rate
          example: "000000000000003.50"
        releasedRate:
          type: string
          description: Fee Rate used for released amount, based on Prepayment information
          example: "00000000000002.30"
        unreleasedRate:
          type: string
          description: Fee Rate (pending installments), based on Prepayment information
          example: "000000000000002.30"
        availableBalance:
          type: string
          description: Available Balance for Prepaymet (Agenda)
          example: "000000000000769.63"
        highAmount:
          type: string
          description: Maximum Net Amount for Prepayment, based on the requested amount
          example: "000000000000742.66"
        lowAmount:
          type: string
          description: Minimum Net Amount for Prepayment, based on the requested amount
          example: "000000000000000.00"
    informationSimulate:
      type: object
      properties:
        prepaymentSimulationInformationList:
          type: array
          items:
            $ref: "#/components/schemas/prepaymentSimulationInformationList"
    processMessageSimulate:
      type: object
      properties:
        information:
          $ref: "#/components/schemas/informationSimulate"
        response:
          $ref: "#/components/schemas/response"
    ResponseSimulate:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessageSimulate"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
