openapi: 3.0.0
info:
  title: Search for Chargeback Information (Chargeback Portal)
  description: Search for Chargeback Information (Chargeback Portal)
  termsOfService: urn:tos
  version: "1.0"
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Chargeback Information
    description: Search for Chargeback Information
paths:
  '/bwa/chargeback-ec/api/chargeback/ec/apigee/filter':
    post:
      tags:
        - Search for Chargeback Information (Chargeback Portal)
      x-proxy-name: Merchant Chargeback - Consult
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Chargeback - Consult
      summary: Search for Chargeback Information
      operationId: Search for Chargeback Information
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number. Please check with your Fiserv representative
          example: "00000003"
          required: true
          schema:
            type: string
            enum:
              - "00000003"
              - "00000004"
              - "00000005"
              - "00000007"
              - "00000010"
              - "First Data México 1"
        - name: ecCode
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Select the language - pt-BR (Português - Brazil) | es-MX (Spanish - México) | en-US (English - US)
          schema:
            type: string
            default: pt-BR
            enum:
              - pt-BR
              - es-MX
              - en-US
        - name: authCode
          in: query
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
          schema:
            type: string
        - name: cardBrandId
          in: query
          description: Card Brand to be Searched - 1 - Visa | 2 - Mastercard | 3 - Elo Full | 4 - Hipercard | 5 - Amex Full
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
        - name: chargebackStatus
          in: query
          description: Chargeback Status to be Searched
          schema:
            type: string
            enum:
              - NEW
              - DOC_REQUESTED
              - SCREENING
              - ANALYSIS
              - DONE
        - name: key
          description: Encrypted chargeback key
          in: query
          schema:
            type: string
        - name: lastModifiedStartDate
          example: '2020-07-06'
          description: Last Modified Start Date Information
          in: query
          schema:
            type: string
            format: date
        - name: lastModifiedEndDate
          description: Last Modified End Date Information. Format YYYY-MM-DD
          in: query
          schema:
            type: string
            format: date
        - name: processingStartDate
          description: Last Modified Start Date Information. Format YYYY-MM-DD
          in: query
          schema:
            type: string
            format: date
        - name: processingEndDate
          description: Last Modified End Date Information. Format YYYY-MM-DD
          in: query
          schema:
            type: string
            format: date
        - name: orderNumber
          in: query
          description: Order Number
          schema:
            type: string
        - name: screeningStatus
          in: query
          description: Screening Status Information
          schema:
            type: string
            enum:
              - DEBIT
              - RESUBMISSION
              - RECONCILIATION
              - FRIENDLY COLLECTION
              - ACQUIRER LOSS
        - name: transactionType
          in: query
          description: Type of Tranaction to be searched
          schema:
            type: string
            enum:
              - Credit Card
              - Debit Card
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: null
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "transactionDate | transactionDate,asc | transactionDate,desc"
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DChargebackResponsePage'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
components:
  schemas:
    DChargebackInstallmentResponse:
      title: DChargebackInstallmentResponse
      type: object
      properties:
        action:
          type: string
          description: Chargeback Installment Action
          example: null
        id:
          type: integer
          format: int64
          description: Chargeback Installment identifier
          example: 4211
        installmentNumber:
          type: integer
          description: Chargeback Installment number
          example: 3
    DChargebackResponse:
      title: DChargebackResponse
      type: object
      properties:
        arn:
          type: string
          description: Chargeback Acquirer Reference Number
          example: '85182199329946084425304'
        authCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
          example: '667902'
        captureMode:
          type: string
          description: Transaction capture mode (entry mode)
          example: '054-eCommerce, Canal Criptografado'
        cardBrand:
          type: string
          description: Card Brand
          example: 'Visa'
          enum:
            - Visa
            - Mastercard
            - Elo Full
            - Hipercard/Hiper
            - Amex Full
        cardNumber:
          type: string
          description: Card Number
          example: '515590******1242'
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: '1109039753'
        currencyCode:
          type: string
          description: Transaction Currency
          example: BRL
        customerName:
          type: string
          description: Customer Name
          example: 'TEST MERCHANT'
        ecCode:
          type: integer
          description: Merchant code
          example: '1234595'
        emailSentDate:
          type: string
          format: date
          description: Date when the Email Information was sent
          example: '25/04/2020'
        id:
          type: integer
          description: chargeback internal Id Code
          example: 2731
        installmentList:
          type: array
          description: Information related to the Installments for the transaction
          items:
            $ref: '#/components/schemas/DChargebackInstallmentResponse'
        institution:
          type: string
          description: Merchant Institution Name
          example: 'Bancoob'
        key:
          type: string
          description: Chargeback encrypted key
          example: '98703001515590******1242667902'
        messageText:
          type: string
          description: Free Message Text
          example: null
        rcCardBrand:
          type: string
          description: Card Brand Reason code
          example: '4804-Multiple Processing, Duplicate'
        receivedAging:
          type: integer
          description: Chargeback Received aging
          example: 93
        screeningStatus:
          type: string
          description: Screening Status
          example: '- READABLE - OUTDATED - INVALID - UNREADABLE - REITERATION'
          enum:
            - DEBIT
            - RESUBMISSION
            - RECONCILIATION
            - FRIENDLY COLLECTION
            - ACQUIRER LOSS
        serviceContract:
          type: string
          description: Institution Service Contract
          example: '101-Merchant Retail BIN'
        terminalId:
          type: string
          description: Terminal Logical Number
          example: 'EII0184B'
        totalTransactionValue:
          type: number
          description: Total Transaction Amount
          example: 407.07
        transactionDate:
          type: string
          description: Transaction Date
          example: '25/11/2019'
        transactionType:
          type: string
          description: Transaction Type
          example: 'Credit Card'
          enum:
            - Debit Card
            - Credit Card
        transactionTypeDescription:
          type: string
          description: Transaction Type Description
          example: 'Merchant Install-07 parcels'
    DChargebackResponsePage:
      title: DChargebackResponsePage
      type: object
      properties:
        currentPage:
          type: integer
          description: Current Page
          example: 0
        data:
          type: array
          items:
            $ref: '#/components/schemas/DChargebackResponse'
        lastPage:
          type: boolean
          description: is the last page
          example: true
        totalItems:
          type: integer
          description: total number of items
          example: 1
        totalPages:
          type: integer
          description: total number of pages
          example: 0
