openapi: 3.0.1
info:
  description: Existing Client Verification, by Tax ID, Document, Channel and Tecnology (CPF/CNPJ)
  version: '1.0'
  title: Existing Client Verification, by Tax ID, Document, Channel and Tecnology (CPF/CNPJ)
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Existing Customer by Tax ID (CPF/CNPJ)
  - name: Validate if Customer can be Boarded - Applicable for BIN only
paths:
  '/bwa/validacao-cliente/v2/validacao/{documento}':
    get:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search Existing Customer by Tax ID (CPF/CNPJ)
      summary: Merchant Information & Cases
      operationId: Search Existing Customer by Tax ID (CPF/CNPJ)
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number (7 digits)
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: (CPF/CNPJ) - 11 digits for CPF and 14 for CNPJ
          example: "12345678901"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeConsultaClienteDTO'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v2/credenciamento/documento/{instituicao}/{documento}':
    get:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - by Institution and Tax ID (CPF/CNPJ)
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Validation by Institution and Tax ID
      summary: Merchant Information & Cases
      operationId: Validation by Institution and Tax ID
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number  (7 digits)
          example: '00000003'
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Tax ID to be Searched - 11 digits for CPF and 14 for CNPJ
          example: '12345678901'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTODocumento'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v3/credenciamento/documento/{instituicao}/{documento}/{service-contract}':
    get:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - by Institution and Tax ID (CPF/CNPJ) and Service contract
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Validation by Institution and Tax ID and Service contract
      summary: Merchant Information & Cases
      operationId: Validation by Institution and Tax ID and Service contract
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number  (7 digits)
          example: '00000003'
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Tax ID to be Searched - 11 digits for CPF and 14 for CNPJ
          example: '12345678901'
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service contract be Searched (3 digits)
          example: '125'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTODocumento'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v2/credenciamento/canal':
    post:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - Validation by Boarding Channel
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Validation by Boarding Channel
      summary: Merchant Information & Cases
      operationId: Validation by Boarding Channel
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DRequestCredenciamentoChannel'
        description: Information for consultation by fee
        required: true
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTOChannel'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v2/credenciamento/taxa':
    post:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - Validation by MDR Comparison
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description:  Validation by MDR Comparison
      summary: Merchant Information & Cases
      operationId: Validation by MDR Comparison
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DRequestCredenciamentoTaxa'
        description: Information for consultation by fee
        required: true
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTOTaxa'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v2/credenciamento/tecnologia/{codigoTecnologia}/{instituicao}/{documento}':
    get:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - Validation by Technology - ECommerce X POS comparison
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Validation by Technology - ECommerce X POS comparison
      summary: Merchant Information & Cases
      operationId: Validation by Technology - ECommerce X POS comparison
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number (7 digits)
          example: '00000003'
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Tax ID to Verified - 11 digits for CPF and 14 for CNPJ
          example: '12345678901'
          required: true
          schema:
            type: string
        - name: codigoTecnologia
          description: Technology group to be Verified
          in: path
          example: POS
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTOTecnologia'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/validacao-cliente/v3/credenciamento/tecnologia/{codigoTecnologia}/{instituicao}/{documento}/{service-contract}':
    get:
      tags:
        - Search for Existing Customer by Tax ID (CPF/CNPJ)
      x-proxy-name: Existing Customer Validation - Validation by Technology and Service contract - ECommerce X POS comparison
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Validation by Technology and Service contract - ECommerce X POS comparison
      summary: Merchant Information & Cases
      operationId: Validation by Technology and Service contract - ECommerce X POS comparison
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number (7 digits)
          example: '00000003'
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Tax ID to Verified - 11 digits for CPF and 14 for CNPJ
          example: '12345678901'
          required: true
          schema:
            type: string
        - name: codigoTecnologia
          description: Technology group to be Verified
          in: path
          example: POS
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service contract be Searched (3 digits)
          example: '125'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRespondeCredenciamentoRespDTOTecnologia'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios - (meaning Mandatory Fields)
          type: string
          enum:
            - 9 - Campos mandatorios - (meaning Mandatory Fields)
            - 10 - (Erro validaçao) - (meaning VAlidation Error)
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado - Meaning Denied Access
          type: string
          enum:
            - "3 - Acesso negado - (Meaning Denied Access)"
            - "6 - Token expirado - (Meaning Expired Token"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (Meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (Meaning Integration Error)"
    DRespondeConsultaClienteDTO:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/ConsultaClienteDTO'
    ConsultaClienteDTO:
      type: object
      properties:
        findCpfCnpj:
          description: Merchant Tax ID (CPF or CNPJ)
          example: 04962772000165
          type: string
        statusClientCode:
          description: Status code client
          example: '00'
          type: string
          enum:
            - 00 - Cliente consta em nossa base de dados - (meaning Existing Customer)
            - 01 - Cliente não consta em nossa base de dados, siga com o fluxo de credenciamento - (meaning Customer does not exist)
            - 02 - Cliente suspenso ou fechado - (meaning Suspended or Cancelled Customer)
            - 03 - Cliente liberado para credenciamento - (meaning Customer can be boarded)
            - 91 - CPF ou CNPJ do solicitante inválido  - (meaning Requester CPF or CNPJ invalid)
            - 99 - Erro de sistema  - (meaning System Error)
        statusClientDescription:
          description: Description of status code client
          example: Cliente consta em nossa base de dados
          type: string
          enum:
            - 00 - Cliente consta em nossa base de dados - (meaning Existing Customer)
            - 01 - Cliente não consta em nossa base de dados, siga com o fluxo de credenciamento - (meaning Customer does not exist)
            - 02 - Cliente suspenso ou fechado - (meaning Suspended or Cancelled Customer)
            - 03 - Cliente liberado para credenciamento - (meaning Customer can be boarded)
            - 91 - CPF ou CNPJ do solicitante inválido  - (meaning Requester CPF or CNPJ invalid)
            - 99 - Erro de sistema  - (meaning System Error)
        listClientDetails:
          type: array
          items:
            $ref: '#/components/schemas/DetalhesClienteDTO'
    DetalhesClienteDTO:
      type: object
      properties:
        clientNumber:
          description: Merchant Code
          example: '19005420'
          type: string
        institutionNumber:
          description: Merchant Institution Number
          example: '00000003'
          type: string
        clientStatus:
          description: Merchant Status
          type: string
          enum:
            - Ativo - (meaning Active)
            - Inativo  - (meaning Inactive)
            - Suspenso  - (meaning Suspended)
            - Fechado  - (meaning Closed)
            - Cobrança  - (meaning Collection Process)
            - Incobrável  - (meaning Uncollected)
            - Sem Cobrança  - (meaning Without Collection)
        boardingDate:
          description: Merchant Boarded Date
          example: YYYYMMDD
          type: string
        marca:
          description: Service Contract Code
          example: BIN
          type: string
          enum:
            - 101 - Bin
            - 104 - Sipag
            - 113 - Credicard
            - 116 - Hipercard
            - 125 - Fdb
            - 128 - Banco Inter
    DRespondeCredenciamentoRespDTODocumento:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/CredenciamentoRespDTODocumento'
    CredenciamentoRespDTODocumento:
      type: object
      properties:
        cadastramento:
          description: Return true or false
          type: boolean
          example: false
        mensagem:
          description: When False will bring the message of Active Existing Customer
          type: string
          example: Cadastro já existente ativo! Não é possível prosseguir com o credenciamento.
    DRequestCredenciamentoChannel:
      type: object
      properties:
        canal:
          description: Channel
          example: '001'
          type: string
        subCanal:
          description: Sub channel
          example: '01234'
          type: string
        instituicao:
          description: Merchant Institution Number
          example: '00000003'
          type: string
        documento:
          description: Tax Id to be searched
          example: '12345678901'
          type: string
    DRespondeCredenciamentoRespDTOChannel:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/CredenciamentoRespDTOChannel'
    CredenciamentoRespDTOChannel:
      type: object
      properties:
        cadastramento:
          description: Return true or false
          type: boolean
          example: false
        mensagem:
          description: When False will bring the message of Active Existing Customer/Channel
          type: string
          example: Cadastro já existente com mesmo canal! Não é possível prosseguir com o credenciamento.
    DRequestCredenciamentoTaxa:
      type: object
      description: It is required to send all Rates for all associations/schema
      properties:
        instituicao:
          description: Merchant Institution Number
          example: '00000003'
          type: string
        documento:
          description: Tax Id to be searched
          example: '12345678901'
          type: string
        serviceContract:
          description: Service Contract Number
          example: '101'
          type: string
        taxas:
          type: array
          items:
            $ref: '#/components/schemas/DRequestTaxa'
    DRequestTaxa:
      type: object
      properties:
        areaEvento:
          description: Event area. If the CARD is National or International
          example: '002'
          type: string
          enum:
            - "001 - Internacional"
            - "002 - Nacional"
        categoria:
          description: Type of Fee category
          example: '003'
          type: string
          enum:
            - 003 or 502 - MDR
            - 501 - MDR Flex
        codigoBandeira:
          description: Association Code
          example: 009
          type: string
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        codigoProduto:
          description: Product Code, related to the Association
          example: '102'
          type: string
          enum:
            - 102 - Adq-MC Crédito
            - 103 - Acq-CABAL Credit
            - 104 - Acq-CABAL Debit
            - 109 - Acq-Hipercard Credit
            - 110 - Acq-ELO Full Credito
            - 111 - Acq-ELO Full Debito
            - 113 - Acq-AMEX Full Credit
            - 200 - Adq-VISA Débito
            - 716 - Adq-MC Débito
            - 201 - Adq-VISA Crédito
        taxa:
          description: Fee Rate
          example: '11.31'
          type: string
        tipoTransacao:
          description: Transaction type
          example: '467'
          type: string
          enum:
            - 005 - Compra - (meaning Purchase)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
            - 999 - ALL
    DRespondeCredenciamentoRespDTOTaxa:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/CredenciamentoRespDTOTaxa'
    CredenciamentoRespDTOTaxa:
      type: object
      properties:
        cadastramento:
          description: Return true or false
          type: boolean
          example: false
        mensagem:
          description: When False will bring the message of Existing Customer with Rates incompatibility
          type: string
          example: Cadastro cliente Sipag já existente com taxa menor que informada. Não é possível prosseguir com o credenciamento.
    DRespondeCredenciamentoRespDTOTecnologia:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/CredenciamentoRespDTOTecnologia'
    CredenciamentoRespDTOTecnologia:
      type: object
      properties:
        cadastramento:
          description: Return true or false
          type: boolean
          example: false
        mensagem:
          description: When False will bring the message of Active Existing Technology
          type: string
          example: Cadastro já existente com mesma tecnologia! Não é possível prosseguir com o credenciamento
#  '/resources/v2/cliente/{institution}/{findCpfCnpj}/{requestCpfCnpj}':
#    get:
#      tags:
#        - 'Search Existing Customer by Tax ID (CPF/CNPJ) - It will be sunset'
#      summary: 'xisting Client Verification, by Tax ID (CPF/CNPJ) - It will be sunset'
#      operationId: ExistingClientVerificationByTaxId-ItWillBeSunset
#      parameters:
#        - name: Message-Signature
#          in: header
#          description: HMAC
#          required: true
#          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
#          schema:
#            type: string
#        - name: Api-Key
#          in: header
#          description: APigee Key
#          required: true
#          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
#          schema:
#            type: string
#        - name: auth
#          in: header
#          description: Oauth Key
#          required: true
#          example: null
#          schema:
#            type: string
#        - name: Timestamp
#          in: header
#          description: Date - Epoch format
#          required: true
#          example: 1563309156733
#          schema:
#            type: string
#        - name: Client-Request-Id
#          in: header
#          description: Randomly generated by client
#          required: true
#          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
#          schema:
#            type: string
#        - name: institution
#          in: path
#          description: Merchant Institution Number
#          example: '00000003'
#          required: true
#          schema:
#            type: string
#        - name: findCpfCnpj
#          in: path
#          description: Tax ID to be searched (CPF/CNPJ)
#          example: '12345678901'
#          required: true
#          schema:
#            type: string
#        - name: requestCpfCnpj
#          in: path
#          description: Requester (Commercial) Tax ID (CPF/CNPJ)
#          example: '12345678901'
#          required: true
#          schema:
#            type: string
#      responses:
#        '200':
#          description: Successfully Done
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/DRespondeConsultaClienteDTORefactory'
#        '206':
#          description: Partial Content
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/PartialContent'
#        '401':
#          description: Unauthorized
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/Unauthorized'
#        '403':
#          description: Forbidden
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/Forbidden'
#        '404':
#          description: Not Found
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/NotFound'
#        '409':
#          description: Conflict
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/Conflict'
#        '500':
#          description: Internal Server Error
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/InternalServerError'
