openapi: 3.0.2
info:
  description: "API Merchant Contract Update."
  version: "1.0"
  title: "API Merchant Contract Update."
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  "/bwa/status-estabelecimento/v1/atualizaStatusEstabelecimento":
    post:
      tags:
        - API Merchant Contract Update
      x-proxy-name: Merchant Contract Status - Update
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Contract Status - Update
      summary: Merchant Contract Update
      operationId: merchantContractUpdate
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Client Number
          example: "11130203"
          required: true
          schema:
            type: string
        - name: status
          in: header
          description: Status for change
          example: "1"
          required: true
          schema:
            type: string
        - name: razao
          in: header
          description: Reason for change
          example: "01"
          required: true
          schema:
            type: string
        - name: userID
          in: header
          description: BW User ID
          example: "000000001"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractUpdateResponse'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false

components:
  schemas:
    ContractUpdateResponse:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
        mensagem:
          description: Description return code
          example: Sucesso (meaning Success)
          type: string
          enum:
            - 0 - Sucesso (meaning Success)
        conteudo:
          $ref: '#/components/schemas/StcContractUpdateResponseDTO'
    StcContractUpdateResponseDTO:
      type: object
      properties:
        statusCode:
          description: "Status code"
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 8
            - 9
            - 101
        mensagem:
          description: Description return code
          example: Merchant status updated.
          type: string
          enum:
            - 0 - Merchant status updated...
            - 1 - Merchant status already set...
            - 2 - Merchant not found...
            - 3 - Invalid Merchant status...
            - 4 - Invalid Reason...
            - 5 - No response from Commserver/TMS/FHM...
            - 6 - Request rejected by TMS/FHM...
            - 8 - Mandatory information missing...
            - 9 - System error...
            - 101 - Alteracao nao permitida. Abrir Case Backoffice...
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning Missing Mandatory Fields)
          type: string
          enum:
            - 9 - Campos mandatorios...
            - 10 - (Erro validaçao)...
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado (meaning Access Denied for he parameters provided)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado (meaning Access Denied)
          type: string
          enum:
            - 3 - Acesso negado (meaning Access Denied)
            - 6 - Token expirado (meaning Expired Token)
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
          type: integer
          format: int32
          enum:
            - 5
            - 11
        mensagem:
          description: Description return code
          example: Item nao encontrado (meaning Item not found)
          type: string
          enum:
            - 5 - Item nao encontrado (meaning Item not found)
            - 11 - Registros nao encontrados (meaning No records found)
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado (meaning Duplicated Item)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno (meaning Internal Error)
          type: string
          enum:
            - 2 - Erro Interno (meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (meaning Integration Error)
