openapi: 3.0.2
info:
  description: Search for Merchant Information by Tax ID or Merchant Code
  version: "1.0"
  title: Search for Merchant Information by Tax ID or Merchant Code
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Merchant Information by Tax ID or Merchant Code
paths:
  "/bwa/estabelecimento/v2":
    get:
      tags:
        - Search for Merchant Information by Tax ID or Merchant Code
      x-proxy-name: Merchant Customer Information - Consult
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Merchant Information by Tax ID or Merchant Code
      summary: Merchant Information & Cases
      operationId: Search for Merchant Information by Tax ID or Merchant Code
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Establishment Number
          example: "99999999"
          required: false
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ) Information
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstabelecimentoResponse"
      deprecated: false
  "/bwa/estabelecimento/{instituicao}/{documento}":
    get:
      tags:
        - Search for Merchant Information by Tax ID or Merchant Code
      x-proxy-name: Merchant Customer Information - Search for Merchant - To be retired (TBD)
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Merchant Information - To be retired (TBD)
      summary: Merchant Information & Cases
      operationId: searchMerchantInformation - To be retired (TBD)
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Tax ID (CPF/CNPJ) Information
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstabelecimentoResponse"
      deprecated: true
components:
  schemas:
    Contato:
      type: object
      properties:
        nome:
          type: string
          description: Company Contact Name
          example: "Nome do contato"
        telefone:
          type: string
          description: Contact Telephone Number
          example: "01136611662"
        telefoneCelular:
          type: string
          description: Contact Cellphone Number
          example: "01136611663"
        telefoneComercial:
          type: string
          description: Contact Company Number
          example: "01136611664"
        indicadorPep:
          type: string
          description: Indicator of Politically Exposed Person (PEP)
          example: "000"
          enum:
            - "000 - No"
            - "001 - Yes"
      title: Contact
      xml:
        name: contact
        attribute: false
        wrapped: false
    DomicilioBancario:
      type: object
      properties:
        codigoProduto:
          type: string
          description: Product Code to be paid for the payment information
          example: "002 - Debit"
          enum:
            - "001 - Credit"
            - "002 - Debit"
        codigoBandeira:
          type: string
          description: Association/Schema to be paid for the payment information
          example: "009"
          enum:
            - "002 - Mastercard"
            - "003 - Visa"
            - "004 - Amex Full"
            - "009 - Cabal"
            - "020 - MDS (Maestro)"
            - "024 - Hipercard/Hiper"
            - "025 - Elo Full"
        tipoConta:
          type: string
          description: Settlement Account Type
          example: "005"
          enum:
            - "005 - Checking Account"
            - "006 - Deposit Account"
            - "007 - Payment Account"
            - "008 - Saving Account"
        numBanco:
          type: string
          description: Bank Code
          example: "341"
        numAgencia:
          type: string
          description: Branch Number
          example: "000501"
        numContaCorrente:
          type: string
          description: Account Number
          example: "0000024472018"
        dataInicioTrava:
          type: string
          description: Lock Start Date
          example: "YYYYMMDD"
        dataFimTrava:
          type: string
          description: Lock End Date
          example: "YYYYMMDD"
        cpfCnpj:
          type: string
          description: Customer ID
          example: "00000000000000"
      title: PaymentInformation
      xml:
        name: PaymentInformation
        attribute: false
        wrapped: false
      description: Settlement Payment Information
    EnderecoBilling:
      type: object
      description: Billing Address Information
      properties:
        endereco:
          type: string
          description: Merchant Billing Address
          example: "Rua das Acacias"
        numero:
          type: string
          description: Merchant Billing Address Number
          example: "169"
        complemento:
          type: string
          description: Merchant Billing Address Complement
          example: "Apartamento 11"
        bairro:
          type: string
          description: Merchant Billing Address Neighborhood
          example: "Nome do Bairro"
        cidade:
          type: string
          description: Merchant Billing Address City
          example: "São Paulo"
        estado:
          type: string
          description: Merchant Billing Address State
          example: "SP"
        cep:
          type: string
          description: Merchant Billing Address Zipcode
          example: "05056000"
        email:
          type: string
          description: Merchant Billing Address Email
          example: "email@email.com.br"
      title: Endereco
      xml:
        name: endereco
        attribute: false
        wrapped: false
    EnderecoShipping:
      type: object
      description: Shipping Address Information
      properties:
        endereco:
          type: string
          description: Merchant Shipping Address
          example: "Rua das Acacias"
        numero:
          type: string
          description: Merchant Shipping Address Number
          example: "169"
        complemento:
          type: string
          description: Merchant Shipping Address Complement
          example: "Apartamento 11"
        bairro:
          type: string
          description: Merchant Shipping Address Neighborhood
          example: "Nome do Bairro"
        cidade:
          type: string
          description: Merchant Shipping Address City
          example: "São Paulo"
        estado:
          type: string
          description: Merchant Shipping Address State
          example: "SP"
        cep:
          type: string
          description: Merchant Shipping Address Zipcode
          example: "05056000"
        email:
          type: string
          description: Merchant Shipping Address Email
          example: "email@email.com.br"
      title: Endereco
      xml:
        name: endereco
        attribute: false
        wrapped: false
    Estabelecimento:
      type: object
      properties:
        numeroMerchant:
          type: string
          description: Merchant Code
          example: "39900592"
        codStatusMerchant:
          type: string
          description: Merchant Status Code
          example: "001"
          enum:
            - "001 - Ativo - (meaning Active)"
            - "002 - Inativo - (meaning Inactive)"
            - "003 - Suspenso - (meaning Suspended)"
            - "004 - Fechado - (meaning Closed)"
            - "016 - Cobrança - (meaning Collection)"
            - "021 - Divida Incobrável - (meaning Collection not Available)"
            - "022 - Sem Cobrança - (meaning without Collection)"
        descStatusMerchant:
          type: string
          description: Merchant Merchant Status Description
          example: "Ativo"
          enum:
            - "001 - Ativo - (meaning Active)"
            - "002 - Inativo - (meaning Inactive)"
            - "003 - Suspenso - (meaning Suspended)"
            - "004 - Fechado - (meaning Closed)"
            - "016 - Cobrança - (meaning Collection)"
            - "021 - Divida Incobrável - (meaning Collection not Available)"
            - "022 - Sem Cobrança - (meaning without Collection)"
        motivoCancelamento:
          type: string
          description: Cancelling Reason, when applicable
          example: "Suspensão Requisição Cliente"
          enum:
            - Operações Default - (meaning Operations - Default)
            - Inoperante - (meaning Inoperative)
            - Suspensão Fraude - (meaning Fraud Suspension)
            - Suspensão Risco - (meaning Risk Suspension)
            - Suspensão Requisição Cliente - (meaning Suspension customer request)
            - Suspensão Requisição Comercial - (meaning Suspension comercial request)
            - Encerramento Fraude (meaning Fraud - Closure)
            - Encerramento Risco - (meaning Risk Closure)
            - Encerramento Requisição Cliente - (meaning Closure customer request)
            - Encerramento Requisição Comercial - (meaning losureC comercial request)
        bloqueioTemporario:
          type: string
          description: Temporary block
          maxLength: 50
          example: Sim
          enum:
            - Sim - (Yes)
            - Nao - (No)
        nomeEstabelecimento:
          type: string
          description: Merchant Legal Name
          maxLength: 50
          example: Estabelecimento XPTO
        nomeFantasia:
          type: string
          description: Merchant Trade Name
          maxLength: 40
          example: Estabelecimento OTPX
        cnae:
          type: string
          description: CNAE - Main Activity Code
          example: "5819100"
        tipoDocumento:
          type: string
          description: Type of Document
          example: "CPF"
          enum:
            - CPF for Individual
            - CNPJ for Company
        dataAfiliacao:
          type: string
          description: Boarding Date
          example: "YYYYMMDD"
        webSite:
          type: string
          description: Website Name
          example: "www.site.com.br"
        ticketMedio:
          type: string
          description: Merchant Average Purchase
          example: "000000000000150.00"
        totalMoedaCredDeb:
          type: string
          description: Merchant Annual Volume in Currency
          example: "000000000000150.00"
        totalCredDeb:
          type: string
          description: Merchant Annual Volume in Debit/Credit
          example: "000000000000150.00"
        ultimaAtualizacaoCadastral:
          type: string
          description: Last Demographic Updated Date
          example: "YYYYMMDD"
        ultimaAtualizacaoContrato:
          type: string
          description: Last Contract Updated Date
          example: "YYYYMMDD"
        tipoCanalBoarding:
          type: string
          description: Boarding Channel Code (Internal Information)
          example: "007"
        serviceContract:
          type: string
          description: Service Contract Id
        descTipoCanalBoarding:
          type: string
          description: Boarding Channel Code Description (Internal Information)
          example: "01. BANCO"
        enderecoPadrao:
          description: Billing Address
          oneOf:
            - $ref: "#/components/schemas/EnderecoBilling"
        enderecoComercial:
          description: Shipping Address
          oneOf:
            - $ref: "#/components/schemas/EnderecoShipping"
        contato:
          $ref: "#/components/schemas/Contato"
        socios:
          $ref: "#/components/schemas/Socio"
        horarioFuncionamento:
          $ref: "#/components/schemas/HorarioFuncionamento"
        domiciliosBancario:
          $ref: "#/components/schemas/DomicilioBancario"
      title: Estabelecimento
      xml:
        name: Establishment
        attribute: false
        wrapped: false
      description: Merchant Information
    EstabelecimentoResponse:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - "00 Successfully Done"
            - "01 Error Message"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: "00"
          enum:
            - "00 Successfully Done"
            - "01 Error Message"
        estabelecimentos:
          $ref: "#/components/schemas/Estabelecimento"
      title: EstablishmentResponse
      xml:
        name: response
        attribute: false
        wrapped: false
      description: Merchant Service Response
    HorarioFuncionamento:
      type: object
      properties:
        diaSemana:
          type: string
          description: Week Days
          example: Domingo (meaning Sunday)
          enum:
            - Domingo - (meaning Sunday)
            - Segunda - (meaning MOnday)
            - Terça - (meaning Tuesday)
            - Quarta - (meaning Wednesday)
            - Quinta - (meaning Thursday)
            - Sexta - (meaning Friday)
            - Sábado - (meaning Saturday)
        horarioEntrada:
          type: string
          description: Merchant Star Working Hour
          example: "01:00"
        horarioSaida:
          type: string
          description: Merchant End Working Hour
          example: "10:00"
      title: Working Hour
      xml:
        name: Working Hour
        attribute: false
        wrapped: false
      description: Merchant Working Hour
    Socio:
      type: object
      properties:
        nome:
          type: string
          description: Merchant Partner Name
          example: "Marcio Soares"
        cpf:
          type: string
          description: Merchant Partner Tax ID (CPF/CNPJ)
          example: "12345678901"
        dataNascimento:
          type: string
          description: Merchant Partner Birthdate
          example: YYYYMMDD
        celular:
          type: string
          description: Merchant Partner Cellphone Number
          example: "021987665555"
      title: Partner
      xml:
        name: Contact
        attribute: false
        wrapped: false
