openapi: 3.0.2
info:
  description: Merchant Payment Hierarchy Maintenance - Search, Add and Remove the hierarchy
  version: "1.0"
  title: Merchant Payment Hierarchy Maintenance - Search, Add and Remove the hierarchy
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Merchant Payment Hierarchy Maintenance
paths:
  "/bwa/hierarquia-pagamento/v1/config/account-type":
    get:
      tags:
        -  Merchant Payment Hierarchy Maintenance
      x-proxy-name: Merchant Payment Hierarchy - Consult
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Payment Hierarchy - Consult
      summary: Merchant Information & Cases
      operationId: searchMerchantPaymentHierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          required: true
          example: 00000009
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          example: 12345678
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTypeResponse'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false
  "/bwa/hierarquia-pagamento/v1/incluir":
    post:
      tags:
        -  Merchant Payment Hierarchy Maintenance
      x-proxy-name: Merchant Payment Hierarchy - Include
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Payment Hierarchy - Include
      summary: Merchant Information & Cases
      operationId: addMerchantPaymentHierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          required: true
          example: 00000003
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          example: 12345678
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DRequestInsert'
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HierarquiaResponse"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false
  "/bwa/hierarquia-pagamento/v1/excluir":
    post:
      tags:
        -  Merchant Payment Hierarchy Maintenance
      x-proxy-name: Merchant Payment Hierarchy - Remove
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Payment Hierarchy - Remove
      operationId: removeMerchantPaymentHierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          required: true
          example: 00000009
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          example: 12345678
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DRequestRemove'
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HierarquiaResponse"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false
  "/bwa/hierarquia-pagamento/v1/":
    post:
      tags:
        -  Merchant Payment Hierarchy Maintenance
      x-proxy-name: Merchant Payment Hierarchy - Search for Payment Hierarchy
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Payment Hierarchy - Search for Payment Hierarchy
      summary: Merchant Information & Cases
      operationId: Get Payment Hierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          required: true
          example: 00000003
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          example: 12345678
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DRequestInsert'
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchHierarquiaResponse"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false
components:
  requestBodies:
    DRequestInsert:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DRequestHierarquiaInsert"
      description: Hierarchy to insert
      required: true
    DRequestRemove:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DRequestHierarquiaRemove"
      description: Hierarchy to remove
      required: true
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    DRequestHierarquiaInsert:
      type: object
      properties:
        accountTypeID:
          type: string
          description: "Use method /v1/config/account-type to get the Account Type Id. Array type. Possible values: 050 - VISA Credit | 051 - MC Credit | 052 - MC Debit | 053 - VISA Debit | 055 - CABAL Credit | 056 - CABAL Debit | 059 - Hipercard Credit | 060 - ELO Credit | 061 - ELO Debit | 062 - Diners Credit | 063 - Amex Credit"
          example: ['050','051']
        estabelecimentoPai:
          type: string
          description: Parent Merchant Code
          example: '35041964'
        userId:
          description: Requesting user identification. Please check with Fiserv Representative
          example: '123456'
          type: string
      title: DRequestHierarquiaInsert
    DRequestHierarquiaRemove:
      type: object
      properties:
        accountTypeID:
          type: string
          description: "Use method /v1/config/account-type to get the Account Type Id. Array type. Possible values: 050 - VISA Credit | 051 - MC Credit | 052 - MC Debit | 053 - VISA Debit | 055 - CABAL Credit | 056 - CABAL Debit | 059 - Hipercard Credit | 060 - ELO Credit | 061 - ELO Debit | 062 - Diners Credit | 063 - Amex Credit"
          example: ['050', '051']
        userId:
          type: string
          description: Requesting user identification. Please check with Fiserv Representative
      title: DRequestHierarquiaInsert
    HierarquiaResponse:
      type: object
      properties:
        codigoRetorno:
          example: 0
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 99
            - 106
            - 107
            - 108
            - 109
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - 0 - Successfully executed
            - 0 - Hierarquia incluida com sucesso
            - 0 - Hierarquia excluiada com sucesso
            - 1 - Invalid Request Type
            - 2 - Invalid Institution Number
            - 3 - Invalid Merchant ID
            - 4 - Invalid Account Type ID
            - 5 - Invalid Bank Number
            - 6 - Invalid Branch Number
            - 7 - Invalid combination between Bank and Branch number fields
            - 8 - Invalid RBS Account Number
            - 9 - Invalid Payment Account Number
            - 10 - Invalid UserID Information
            - 11 - Update already executed
            - 12 - Invalid Parameters
            - 13 - Bank Account is Locked?
            - 14 - Account in top-level of hierarchy must be isolated
            - 15 - Mandatory Information missing
            - 99 - System Error
            - 106 - Este estabelecimento nao possui hierarquia de pagamento
            - 107 - Estabelecimento nao possui relacionamento
            - 108 - Dados da conta invalido
            - 109 - Account Type invalido
    AccountTypeResponse:
      type: array
      description: Account Type List
      items:
        $ref: "#/components/schemas/AccountType"
    AccountType:
      type: object
      properties:
        accountTypeID:
          type: string
          description: Account Type ID. It will return only the Code
          example: '050'
          enum:
            - '050'
            - '051'
            - '052'
            - '053'
            - '055'
            - '056'
            - '059'
            - '060'
            - '061'
            - '063'
        description:
          type: string
          description: Description of Account Type. It will return only the description
          example: VISA Credit
          enum:
            - 050 - Visa Credit
            - 051 - Master Credit
            - 052 - Master Debit
            - 053 - Visa Debit
            - 055 - Cabal Credit
            - 056 - Cabal Debit
            - 059 - Hipercard Credit
            - 060 - ELO Credit
            - 061 - ELO Debit
            - 063 - AMEX Credi
    SearchHierarquiaResponse:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
        mensagem:
          description: Description return code
          example: Sucesso (meaning Success)
          type: string
          enum:
            - 0 - Sucesso (meaning Success)
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/StcSearchResponseDTO'
    StcSearchResponseDTO:
      type: object
      properties:
        accountTypeID:
          description: "Account Type ID"
          example: "050"
          type: string
        bankNumber:
          description: "Bank Number"
          example: "237"
          type: string
        branchNumber:
          description: "Branch Number"
          example: "000215"
          type: string
        rbsAccountNumber:
          description: "RBS Account Number"
          example: "3453469"
          type: string
        paymentAccountNumber:
          description: "Payment Account Number"
          example: "33333332"
          type: string
        bankAccountType:
          description: "Bank Account Type"
          example: "007"
          type: string
