openapi: 3.0.2
info:
  description: Receivable Register, Receivable Unit and Agenda Out
  version: "1.0"
  title: Receivable Register, Receivable Unit and Agenda Out
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  "/bwa/recebiveis/v1/receivableUnit/consulta/{dataInicio}/{dataFim}":
    get:
      tags:
        - Receivable Register, Receivable Unit and Agenda Out
      x-proxy-name: Merchant Information - Registradora (CIRC3952)
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - Registradora
      summary: Merchant Information & Cases
      operationId: Receivable Unit
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "01472589000158"
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Start date, Reference Date. Format YYYYMMDD
          required: true
          example: "20201001"
          schema:
            type: string
        - name: dataFim
          in: path
          description: End date, Reference Date. Format YYYYMMDD
          required: true
          example: "20200901"
          schema:
            type: string
        - name: arranjo
          in: query
          description: Arranjo. Array with Payment Combination. Possible values [ ACC (Amex Credit) / CBC (Cabal Credit) / CBD (Cabal Debit) / ECC (ELO Credit) / ECD (ELO Debit) / HCC (Hipercard Credit) / MCC (Mastercard Credit) / MCD (Mastercard Debit) / VCC (Visa Credit) / VCD (Visa Debit) ]
          required: false
          example: "CBC,MCC"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseReceivableUnit"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  "/bwa/recebiveis/v1/agendaOut/consulta/{dataInicio}/{dataFim}":
    get:
      tags:
        - Receivable Register, Receivable Unit and Agenda Out
      x-proxy-name: Merchant Information - Agenda Out
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - Agenda Out
      summary: Agenda Out
      operationId: Agenda Out
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "74185296000185"
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Start date, Reference Date. Format YYYYMMDD
          required: true
          example: "20201001"
          schema:
            type: string
        - name: dataFim
          in: path
          description: End date, Reference Date. Format YYYYMMDD
          required: true
          example: "20200901"
          schema:
            type: string
        - name: arranjo
          in: query
          description: Arranjo. Array with Payment Combination. Possible values [ ACC (Amex Credit) / CBC (Cabal Credit) / CBD (Cabal Debit) / ECC (ELO Credit) / ECD (ELO Debit) / HCC (Hipercard Credit) / MCC (Mastercard Credit) / MCD (Mastercard Debit) / VCC (Visa Credit) / VCD (Visa Debit) ]
          required: false
          example: "CBC,MCC"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAgendaOut"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  "/bwa/recebiveis/v1/lockInformation/consulta/{dataInicio}/{dataFim}":
    get:
      tags:
        - Receivable Register, Receivable Unit and Agenda Out
      x-proxy-name: Merchant Information - Lock Information
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - Lock Information
      summary: Lock Information
      operationId: Lock Information
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "01472583000120"
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Start date, Reference Date. Format YYYYMMDD
          required: true
          example: "20201001"
          schema:
            type: string
        - name: dataFim
          in: path
          description: End date, Reference Date. Format YYYYMMDD
          required: true
          example: "20200901"
          schema:
            type: string
        - name: arranjo
          in: query
          description: Arranjo. Array with Payment Combination. Possible values [ ACC (Amex Credit) / CBC (Cabal Credit) / CBD (Cabal Debit) / ECC (ELO Credit) / ECD (ELO Debit) / HCC (Hipercard Credit) / MCC (Mastercard Credit) / MCD (Mastercard Debit) / VCC (Visa Credit) / VCD (Visa Debit) ]
          required: false
          example: "CBC,MCC"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "dtRegistro | dtRegistro,asc | dtRegistro,desc"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseLockInformation"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing)"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado- (meaning Access Denied)
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseReceivableUnit:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ResponseUnit'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage:
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    ResponseUnit:
      type: object
      properties:
        valorLiquido:
          type: string
          description: Net value
          example: "485.51"
        valorBruto:
          type: string
          description: Gross amount
          example: "502.02"
        arranjo:
          description: Arranjo. Payment Combination
          example: "CBC"
          enum:
            - "ACC - Amex Credit"
            - "CBC - Cabal Credit"
            - "CBD - Cabal Debit"
            - "ECC - ELO Credit"
            - "ECD - ELO Debit"
            - "HCC - Hipercard Credit"
            - "MCC - Mastercard Credit"
            - "MCD - Mastercard Debit"
            - "VCC - Visa Credit"
            - "VCD - Visa Debit"
        cnpjCpfEc:
          type: string
          description: Cnpj or Cpf
          example: "04424777000190"
        valorPago:
          type: string
          description: Amount Paid
          example: "485.51"
        dataRegistro:
          type: string
          description: Registration date
          example: "20201016"
        instituicao:
          type: string
          description: Merchant Institution Number
          example: "00000009"
        dataPagamento:
          type: string
          description: Payment date
          example: "20201030"
        idRegistro:
          type: string
          description: Id registration
          example: "00008816727"
        valorBloqueado:
          type: string
          description: Locked value
          example: "0"
        valorAntecipacaoAuto:
          type: string
          description: Automatic Anticipation value
          example: "0"
        valorTransacaoOnline:
          type: string
          description: Online Transaction value
          example: "0"
        valorAntecipacaoManual:
          type: string
          description: Manual Anticipation value
          example: "0"
        valorAntecipacaoAutoConf:
          type: string
          description: Automatic Anticipation value
          example: "0"
        statusDaOperacao:
          type: string
          description: Operation status
          example: "Create record successful"
        valorTransacaoPresente:
          type: string
          description: Current transaction value
          example: "0"
        valorPagoConfirmado:
          type: string
          description: Paid Confirmed
          example: "0"
        contaInternaPagamento:
          type: string
          description: Internal account Payment
          example: "33820000002"
        valorAntecipacaoManualConf:
          type: string
          description: Manual Anticipation value
          example: "0"
    ResponseAgendaOut:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ResponseOut'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage:
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    ResponseOut:
      type: object
      properties:
        cnpjOwner:
          type: string
          description: Tax ID (CPF or CNPJ)
          example: "05340663000245"
        sequencia:
          type: string
          description: Sequence
          example: "Número do arquivo"
          enum:
            - "Process number"
            - "Comm. Last Test No."
            - "Europay IRN Chargeb."
            - "Statement File No"
            - "Visa NMAS Slip"
            - "Notification Number"
            - "No arq da conta GL"
            - "No. do grupo (CIS)"
            - "Número de referência"
            - "Ref de resgate"
            - "Comprovante NMASVISA"
            - "ID do reg de câmbio"
            - "No. ação no chamado"
            - "Número notificação"
            - "TICKET VAN File Seq"
            - "TMS Request Number"
            - "File number"
            - "Transaction slip No"
            - "Visa IRN Chargebacks"
            - "Embossing File No"
            - "Sundry History"
            - "Ticket Number"
            - "Ticket Action Number"
            - "CABAL Vouch Resp Seq"
            - "No série banc compen"
            - "Chargebacks VISA IRN"
            - "Resgates VISA IRN"
            - "No. arquivo extrato"
            - "Número da cotação"
            - "CABAL VAN File Seq"
            - "RU Interim ID"
            - "AP003 API requests"
            - "GL File number"
            - "Bank Clear Serial No"
            - "Europay IRN Retriev."
            - "Record ID"
            - "Center batch ID"
            - "Reference No"
            - "ELO CR File Seq"
            - "ELO DR File Seq"
            - "ID relat (cabeçalho)"
            - "No. do cliente (CIS)"
            - "Instruções da conta"
            - "Número do chamado"
            - "ID seq terminal"
            - "Our unique Ref. No"
            - "Europay STAN"
            - "Batch Summary No"
            - "FX Record ID"
            - "Ticket Group Number"
            - "ELO Conc File Seq"
            - "AMEX Test File No"
            - "No. arq de gravação"
            - "No. comp trans lote"
            - "Número do processo"
            - "No. grupo do chamado"
            - "Banese VAN File Seq"
            - "Statement Group"
            - "Report ID (header)"
            - "Detail ID"
            - "Application number"
            - "Group number (CIS)"
            - "Account Number"
            - "ID do grupo"
            - "Número da proposta"
            - "Cbk Europay IRN"
            - "No de resumo do lote"
            - "Localizador NMASVISA"
            - "Número da conta"
            - "Banestes VAN File Sq"
            - "Lockin No"
            - "Client number (CIS)"
            - "Retrieval reference"
            - "Swift_file"
            - "Acct Instructions"
            - "ID do detalhe"
            - "No. do EC"
            - "ID do registro"
            - "No comprovante trans"
            - "Additional Info"
            - "CABAL Dr File Seq"
            - "SORO VAN File Seq"
            - "Voice auths sequence"
            - "Group ID"
            - "Seq number"
            - "Merchant No."
            - "Visa IRN Retrievals"
            - "Auth response value"
            - "Batch Tran Slip No"
            - "Visa NMAS Locator"
            - "AMEX File No"
            - "Número do arquivo"
            - "Número sequencial"
            - "ID de lote central"
            - "Europay PADRÃO"
            - "Nome login no Portal"
            - "TMS Reference ID"
            - "Receivable Unit No"
            - "Rule Action Id"
            - "Quotation Number"
            - "Portal Login Name"
            - "AMEX Conc File Seq"
            - "Nosso No. referência"
            - "Resgate IRN Europay"
            - "Valor resposta aut"
            - "Seq de aut por voz"
            - "ID de regra de ação"
            - "Arquivo Swift"
            - "CABAL Cr File Seq"
            - "RU Payment Detail"
        tipoOperacao:
          type: string
          description: Operation type
          example: "Create Record"
        valorLiquido:
          type: string
          description: Amount
          example: "2817.56"
        valorTRXCP:
          type: string
          description: value of TRXCP
          example: "0"
        netAmount:
          type: string
          description: Net Amount
          example: "555.22"
        ispb:
          type: string
          description: ISPB Code
          example: "60701190"
        beneficiario:
          type: string
          description: Beneficiary
          example: "27677191000187"
        numeroBanco:
          type: string
          description: Brank Number
          example: "341"
        protocolo:
          type: string
          description: Protocol
        tipoConta:
          type: string
          description: Account type
          example: "Checking Account"
          enum:
            - "No account"
            - "Giro acct w/CS"
            - "Depo acct w/CS"
            - "Giro+depo acct w/CS"
            - "Checking Account"
            - "Deposit Account"
            - "Payment Account"
            - "Saving Account"
        agencia:
          type: string
          description: Branch Code
          example: "00444"
        cnpjec:
          type: string
          description: EC Tax ID (CNPJ)
          example: "05340663000245"
        codigoErro:
          type: string
          description: Error code
          example: "Value not permitted"
          enum:
            - "Value not permitted"
            - "Mandatory field"
            - "Date in wrong format, must be YYYY-MM-DD"
            - "Field must be greater than 0"
            - "Invalid field type"
            - "Date in wrong format, must be DD-MM-YYYY"
            - "Minimal length"
            - "Invalid field"
            - "Branch field is mandatory when field TipoConta is not PG"
            - "Field IdentificacaoContratoAnterior is mandatory when Repactuacao is 1"
            - "Field must have specific value"
            - "Field UsuarioFinalRecebedor is required"
            - "CERC updated Account Owner Tax ID - Potential new lockin"
            - "Outside of CERC API time window"
            - "CERC failure encountered"
        cnpjtitular:
          type: string
          description: Holder Tax Id (CNPJ)
          example: "07740333000145"
        valorBruto:
          type: string
          description: Gross Value
          example: "2993.00"
        statusErro:
          type: string
          description: Error status
          example: "No"
          enum:
            - "No"
            - "Yes"
            - "Yes Inactive"
            - "Yes (by Grp)"
            - "Assigned"
            - "n/a"
            - "Não"
            - "Sim"
            - "Sim Inativ"
            - "Sim (Grupo)"
            - "Atribuído"
            - "n/a"
            - "Reverse Pend"
            - "Include"
            - "Exclude"
        arranjo:
          type: string
          description: Schema Payment
          example: "CBC"
          enum:
            - "ACC - Amex Credit"
            - "CBC - Cabal Credit"
            - "CBD - Cabal Debit"
            - "ECC - ELO Credit"
            - "ECD - ELO Debit"
            - "HCC - Hipercard Credit"
            - "MCC - Mastercard Credit"
            - "MCD - Mastercard Debit"
            - "VCC - Visa Credit"
            - "VCD - Visa Debit"
        numeroConta:
          type: string
          description: Account number
          example: "12345687"
        valorTRXCNP:
          type: string
          description: TRX CNP Value
          example: "0"
        dataPrevistaPagamento:
          type: string
          description: Expected Payment date
          example: "20200928"
        valorBloqueado:
          type: string
          description: Locked value
          example: "22.33"
        horaRecebimento:
          type: string
          description: Receiving time
          example: "145500"
        dataEfetivaPagamento:
          type: string
          description: Payment Effective date
          example: "20191212"
        dataRecebimento:
          type: string
          description: Receiving date
          example: "20191212"
        valorAntecipado:
          type: string
          description: Anticipated value
          example: "12.00"
        valorEfetivoPagamento:
          type: string
          description: Effective Payment Value
          example: "55.22"
    ResponseLockInformation:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ResponseLock'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage:
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    ResponseLock:
      type: object
      properties:
        ispb:
          type: string
          description: ISPB Code
          example: "60746948"
        arranjo:
          type: string
          description: Schema Payment
          example: "CBC"
          enum:
            - "ACC - Amex Credit"
            - "CBC - Cabal Credit"
            - "CBD - Cabal Debit"
            - "ECC - ELO Credit"
            - "ECD - ELO Debit"
            - "HCC - Hipercard Credit"
            - "MCC - Mastercard Credit"
            - "MCD - Mastercard Debit"
            - "VCC - Visa Credit"
            - "VCD - Visa Debit"
        dtRegistro:
          type: string
          description: Registration Date
          example: "20200929"
        numeroConta:
          type: string
          description: Account Number
          example: "1984634"
        cnpjCpfEc:
          type: string
          description: Tax Id (CPF or CNPJ)
          example: "05324665000190"
        prioridade:
          type: string
          description: Priority
          example: "001"
        instituicao:
          type: string
          description: Institution Number
          example: "00000003"
        agenciaBanco:
          type: string
          description: Branch Code
          example: "000098"
        constituicao:
          type: string
          description: Constitution
          example: "Existent"
          enum:
            - "Existent"
            - "Non-Existent"
        valor:
          type: string
          description: Amount
          example: "20.00"
        dtPagamento:
          type: string
          description: Payment Date
          example: "20191212"
        numeroBanco:
          type: string
          description: Bank Code
          example: "235"
        cnpjTitular:
          type: string
          description: Owner Tax ID (CNPJ)
          example: "05340663000245"
        tipoContrato:
          type: string
          description: Contract Type
          example: "Credit Assignment"
          enum:
            - "Credit Assignment"
            - "Loan - Fiduciary Assignment"
            - "Loan - Other"
            - "Judicial Block"
        tipoConta:
          type: string
          description: Account Type
          example: "Checking Account"
          enum:
            - "No account"
            - "Giro acct w/CS"
            - "Depo acct w/CS"
            - "Giro+depo acct w/CS"
            - "Checking Account"
            - "Deposit Account"
            - "Payment Account"
            - "Saving Account"
        idRegistro:
          type: string
          description: Registration Id
          example: "00000000006"
        identificadorArquivo:
          type: string
          description: File Identifier
          example: "00536526"
        criterioContrato:
          type: string
          description: Contract criteria
          example: "Gross Amount"
          enum:
            - "Gross Amount"
            - "Percentage Amount"
        codigoBancoFiserv:
          type: string
          description: Fiserv Bank Code
          example: "10014772"
        cnpjRegistradora:
          type: string
          description: Recorder Tax Id (CNPJ da Registradora)
          example: "02038232000190"
        cnpjCredenciadora:
          type: string
          description: Accreditation Tax Id (CNPJ)
          example: "27766970000190"
        protocoloRegistradora:
          type: string
          description: Registration Protocol
          example: "c9aab4b4-d161-4a5f-a78d-1a7043eb4b38"
        valorComprometido:
          type: string
          description: committed value
          example: "100"
