openapi: 3.0.2
info:
  description: >-
    Merchant Relationship Hierarchy Maintenance - Search, Add and Remove the hierarchy
  version: '1.0'
  title: >-
    Merchant Relationship Hierarchy Maintenance - Search, Add and Remove the hierarchy
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: 'Get The Merchant Relationship Hierarchy'
  - name: 'Add Merchant Relationship Hierarchy'
  - name: 'Remove Merchant Relationship Hierarchy'
paths:
  '/bwa/hierarquia-relacionamento/v1/relacionamento/obterEstabelecimentoPai':
    get:
      tags:
        - Merchant Relationship Hierarchy Maintenance
      x-proxy-name: Merchant Relationship Hierarchy - Consult
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search Merchant Relationship Hierarchy
      summary: Merchant Information & Cases
      operationId: Search Merchant Relationship Hierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: '12345678'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityMerchantPaiDTO'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/hierarquia-relacionamento/v1/relacionamento/incluir':
    post:
      tags:
        - Merchant Relationship Hierarchy Maintenance
      x-proxy-name: Merchant Relationship Hierarchy - Add
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Relationship Hierarchy - Add
      summary: Merchant Information & Cases
      operationId: addMerchantRelationshipHierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: '12345678'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DRequestRelacionamentoIncluir'
        required: true
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityMerchantPaiDTOIncluir'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/hierarquia-relacionamento/v1/relacionamento/excluir':
    post:
      tags:
        - Merchant Relationship Hierarchy Maintenance
      x-proxy-name: Merchant Relationship Hierarchy - Remove
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Relationship Hierarchy - Remove
      summary: Merchant Information & Cases
      operationId: removeMerchantRelationshipHierarchy
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: '12345678'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DRequestRelacionamentoExcluir'
        required: true
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityMerchantPaiDTOExcluir'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseEntityMerchantPaiDTO:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 104
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
            - "104 - Estabelecimento ja possui hierarquia"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/MerchantPaiDTO'
    MerchantPaiDTO:
      type: object
      properties:
        estabelecimento:
          description: Merchant Code
          example: '35041964'
          type: string
        nomeEstabelecimento:
          description: Merchant Name
          example: 'Banco Fiserv'
          type: string
        grupo:
          description: Merchant Group
          example: 00009999
          type: string
        documento:
          description: Tax ID (CPF or CNPJ)
          example: '12345678000177'
    DRequestRelacionamentoIncluir:
      type: object
      properties:
        estabelecimentoPai:
          description: Parent Merchant Code
          example: '35041964'
          type: string
        userId:
          description: Requesting user identification. Please check with Fiserv Representative
          example: '123456'
          type: string
    ResponseEntityMerchantPaiDTOIncluir:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          enum:
            - 0
            - 101
            - 102
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
            - "101 - Estabelecimento ja possui relacionamento"
            - "102 - Estabelecimento pai nao tem relacionamento com o estabelecimento informado"
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/ResponseEntityStatusRespDTOIncluir'
    ResponseEntityStatusRespDTOIncluir:
      type: object
      properties:
        codigo:
          description: Code Of Message
          example: '00'
          type: string
        descricao:
          description: Description Of Code Message
          example: 'Successfully executed'
          type: string
        mensagem:
          description: Additional success message
          example: Estabelecimento vinculado com sucesso
          type: string
    ResponseEntityMerchantPaiDTOExcluir:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 103
            - 105
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso."
            - "103 - Este estabelecimento ja possui hierarquia de pagamento, favor remover a hierarquia antes de prosseguir"
            - "105 - A exclusao solicitada nao possui hierarquia"
        conteudo:
          type: object
          allOf:
            - $ref: '#/components/schemas/ResponseEntityStatusRespDTOExcluir'
    ResponseEntityStatusRespDTOExcluir:
      type: object
      properties:
        codigo:
          description: Code Of Message
          example: '00'
          type: string
        descricao:
          description: Description Of Code Message
          example: 'Hierarquia excluida com sucesso'
          type: string
    DRequestRelacionamentoExcluir:
      type: object
      properties:
        userId:
          description: Requesting user identification. Please check with Fiserv Representative
          example: '123456'
          type: string      
