openapi: 3.0.2
info:
  description: Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
  version: "1.0"
  title: Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
  - name: Request Opening (Cases in Salesforce)
paths:
  "/bwa/wsm/merchantinformation/workingHours/config/motivos":
    get:
      tags:
        - Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
      x-proxy-name: Merchant Requests (Cases) - Open
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Requests (Cases) - Open
      summary: Merchant Information & Cases
      operationId: searchForCaseReasons
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reasons"
        "500":
          description: System Error
      deprecated: false
  "/bwa/abertura-caso/config/sub-motivos/{Id}":
    get:
      tags:
        - Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
      x-proxy-name: Merchant Requests (Cases) - Search for Sub-Reasons to be used for Salesforce Case Opening by Reason
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Sub-Reasons to be used for Salesforce Case Opening by Reason
      summary: Search for Sub-Reasons to be used for Salesforce Case Opening by Reason from /motivos
      operationId: searchForCaseSub-Reason
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: Id
          description: Reason Code (get from /motivos). In case of an invalid Reason Code, the returned JSON will be empty
          in: path
          required: true
          example: 96
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subreasons"
        "500":
          description: System Error
      deprecated: false
  "/bwa/abertura-caso/config/sintomas/{Id}":
    get:
      tags:
        - Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
      x-proxy-name: Merchant Requests (Cases) - Search for Symptom to be used for Salesforce Case Opening by Symptoms
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Symptom to be used for Salesforce Case Opening by Symptoms
      summary: Search for Symptom to be used for Salesforce Case Opening by Symptoms from /sub-motivos
      operationId: searchForCaseSymptoms
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: Id
          in: path
          description: Sub-Reason Code (get from /sub-motivos). In case of an invalid Sub-Reason Code, the returned JSON will be empty
          required: true
          example: 217
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/symptom"
        "500":
          description: System Error
      deprecated: false
  "/bwa/abertura-caso/":
    post:
      tags:
        - Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
      x-proxy-name: Merchant Requests (Cases) - Request Opening (Cases in Salesforce)
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Request Opening (Cases in Salesforce)
      summary: Request Opening (Cases in Salesforce)
      operationId: requestOpening
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Caso"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCaso"
      deprecated: false
  "/bwa/abertura-caso/{marca}":
    post:
      tags:
        - Search for Reason, Sub-Reason and Symptom for Cases to be opened in Salesforce
      x-proxy-name: Merchant Requests (Cases) - Request Opening by Brand (Cases in Salesforce)
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description:  Request Opening by Brand
      summary: Request Opening by Brand (Cases in Salesforce)
      operationId: requestOpeningByBrand
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: marca
          in: path
          description: Brand related to the case
          required: true
          schema:
            type: string
            enum:
              - BIN
              - SIPAG
              - SICREDI
              - CREFISA
              - CREDICARD
              - HIPERCARD
              - CITI
              - Etc.
      requestBody:
        $ref: "#/components/requestBodies/Caso"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCaso"
      deprecated: false
components:
  requestBodies:
    Caso:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Caso"
      description: Caso a ser cadastrado
      required: true
  schemas:
    reasons:
      type: array
      items:
        $ref: "#/components/schemas/reasonslist"
    reasonslist:
      type: object
      properties:
        id:
          description: Reason Code
          type: integer
          example: 96
        descricao:
          description: Reason Description
          type: string
          example: "Antecipação (meaning Prepayment)"
      title: List of Reasons
    subreasons:
      type: array
      items:
        $ref: "#/components/schemas/subreasonslist"
    subreasonslist:
      type: object
      properties:
        id:
          description: Sub-Reason Code
          type: integer
          example: 250
        descricao:
          description: Sub-Reason Description
          type: string
          example: "Antecipação (meaning Prepayment)"
        motivo:
          description: Not Used. It will return Null
          type: string
      title: List of Sub-Reasons
    symptom:
      type: array
      items:
        $ref: "#/components/schemas/symptomlist"
    symptomlist:
      type: object
      properties:
        id:
          description: Symptom Code
          type: integer
          example: 107
        descricao:
          description: Sub-Reason Description
          type: string
          example: "Não Segura Carga (meaning Recharge Problem)"
        subMotivo:
          description: Not Used. It will return Null
          type: string
        mandatoryFields:
          description: Describe the required fields when opening a case
          type: string
          example: Número Lógico,Número de Série,Modelo - (meaning Logical Number, Serial Number, Model)
      title: List of Sub-Reasons
    ResponseCaso:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Status Code for the request
          example: "00"
          enum:
            - 00
            - 01
        descricaoRetorno:
          type: string
          description: Status Code description.
          example: "00"
          enum:
            - 00 - Ok
            - 01 - System Error
        numeroCaso:
          type: integer
          description: Case number
          example: "123456789"
    Caso:
      type: object
      required:
        - cpfCnpj
        - emailSolicitante
        - motivoNivel1
        - motivoNivel2
        - motivoNivel3
        - assuntoCaso
        - descricaoCaso
        - numeroInstituicao
        - numeroMerchant
        - origem
        - nomeSolicitante
      properties:
        cpfCnpj:
          type: string
          description: Tax ID for Individual or Company
          example: "12345678901 ou 12345678901234"
        emailSolicitante:
          type: string
          description: Requester e-mail.
          example: contato@firstdatacorp.com.br
        motivoNivel1:
          type: string
          description: Reason for opening the case. Please refer to the config for codes "/config/motivos"
          example: "Motivo Nível 1"
        motivoNivel2:
          type: string
          description: Sub-reason for opening the case. Please refer to the config for codes "/config/sub-motivos"
          example: "Motivo Nível 2"
        motivoNivel3:
          type: string
          description: Symption for opening the case. Please refer to the config for codes "/config/sintomas"
          example: "Motivo Nível 3"
        assuntoCaso:
          type: string
          description: Request Subject
          example: "Pagamento"
        descricaoCaso:
          type: string
          description: Request Description
          example: "Solicitação de Pagamento"
        numeroInstituicao:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        numeroMerchant:
          type: string
          description: Merchant Code
          example: "91002806"
        origem:
          type: string
          description: Source of the request (free text)
          example: "Abertura via Web"
        nomeSolicitante:
          type: string
          description: Requester Name
          example: "Comercio de Bebidas 123"
        numeroCaso:
          type: string
          description: Existing Case number, if exists
          example: "123456789"
        status:
          type: string
          description: Open the case as CLOSED. Please contact Fiserv Representative for reference
          example: "Fechado"
          enum:
            - 'FECHADO'
            - ''
      title: Caso
