openapi: 3.0.2
info:
  description: Search for Cases opened in Salesforce
  version: "1.0"
  title: Search for Cases opened in Salesforce
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Cases opened in Salesforce
  - name: Search for Comments related to a Case
    description: Caso Resource
paths:
  "/bwa/sales-force-ws/caso/{numeroInstituicao}":
    get:
      tags:
        - Search for Cases and comments opened in Salesforce
      x-proxy-name: Search for Cases opened in Salesforce
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Cases opened in Salesforce
      summary: Merchant Information & Cases
      operationId: searchForCasesOpenedInSF
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: marca
          in: query
          description: Institution Brand
          required: true
          allowEmptyValue: false
          example: "Bin"
          schema:
            type: string
        - name: merchantId
          in: query
          description: Merchant Code
          example: "91002806"
          required: true
          allowEmptyValue: false
          schema:
            type: string
        - name: numeroInstituicao
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: dataInicio
          in: query
          description: Search Start Date. Format DD-MM-YYYY
          example: DD-MM-YYYY
          required: true
          allowEmptyValue: false
          schema:
            type: string
        - name: dataFim
          in: query
          description: Search End Date. Format DD-MM-YYYY
          example:
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: externalCaseNumber
          in: query
          description: Temporary Case Number returned when Opening (if applicable)
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: idCaso
          in: query
          description: Case ID Number (SF Internal Number). Sample '5000g000022h4qHAAQ'
          example:
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: status
          in: query
          description: Case Status
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: offset
          in: query
          description: Page Parameter
          required: false
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: query
          description: Page Parameter
          required: false
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page Parameter
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CasoPage"
        "500":
          description: System Error
      deprecated: false
  "/bwa/sales-force-ws/comentarios":
    get:
      tags:
        - Search for Cases and comments opened in Salesforce
      x-proxy-name: Search for Comments related to a Case
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Comments related to a Case
      summary: Merchant Information & Cases
      operationId: Search for Comments related to a Case
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: caseNumber
          in: header
          description: Case Number. It can be found when searching for cases "/sales-force-ws/caso"
          required: false
          allowEmptyValue: false
          example: 2345446
          schema:
            type: string
        - name: idCase
          in: header
          description: Case ID Number (SF Internal Number). Sample '5000g000022h4qHAAQ'. It can be found when searching for cases "/sales-force-ws/caso"
          example:
          required: false
          allowEmptyValue: false
          schema:
            type: string
        - name: externalCaseNumber
          in: header
          description: Temporary Case Number returned when Opening (if applicable) via WebServices
          required: false
          allowEmptyValue: false
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/caseComment"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      deprecated: false
components:
  schemas:
    Caso:
      type: object
      required:
        - assunto
        - caseNumber
        - classificao
        - closedDate
        - createdDate
        - descricao
        - emailRequisitante
        - externalCaseNumber
        - idSalesForce
        - lastModifiedDate
        - merchantId
        - nomeRequisitante
        - numeroInstituicao
        - origem
        - personalId
        - recordDate
        - resolucao
        - sintoma
        - slaTargetDate
        - status
        - subClasse
        - subTipoResolucao
      properties:
        assunto:
          type: string
          description: Case Subject
          example: Case Subject
        caseNumber:
          type: string
          description: Case number
          example: 1234567
        classificao:
          type: string
          description: Case Reason
          example: Payment
        closedDate:
          type: string
          description: Case Closure Date
          example: DD/MM/YYYY
        createdDate:
          type: string
          description: Case Criation Date
          example: DD/MM/YYYY
        descricao:
          type: string
          description: Case description
          example: Case description
        emailRequisitante:
          type: string
          description: Requester E-mail
          example: email@email.com.br
        externalCaseNumber:
          type: string
          description: External ID Number provided when opening the case
          example: 12345
        idSalesForce:
          type: string
          description: Case ID Code
          example: 5000g000022h4qHAAQ
        lastModifiedDate:
          type: string
          description: Last modified date
          example: DD/MM/YYYY
        merchantId:
          type: string
          description: Merchant Code
          example: 12345678
        nomeRequisitante:
          type: string
          description: Requester Name
          example: "Name #1"
        numeroInstituicao:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        origem:
          type: string
          description: Case Source Description
          example: Web
        personalId:
          type: string
          description: Customer Tax ID (CPF/CNPJ)
          example: 2040607030
        recordDate:
          type: string
          format: date-time
          description: Record date
          example: DD/MM/YYYY
        resolucao:
          type: string
          description: Case Resolution Description (text)
          example: Case Resolved
        sintoma:
          type: string
          description: Case Symptom (text)
          example: Payment not done
        slaTargetDate:
          type: string
          description: SLA for Resolution
          example: DD/MM/YYYY
        status:
          type: string
          description: Case Status
          example: Open
          enum:
            - Open/New
            - Closed/Resolved
        subClasse:
          type: string
          description: Case sub-reason (text)
          example: Pending Settlement
        subTipoResolucao:
          type: string
          description: Sub Type Information (text)
          example: Case information of sub Type
      title: Caso
    CasoPage:
      type: object
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - totalElements
        - totalPages
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - "00 - Successfully Done"
            - "01 - Sustem Error"
        content:
          type: array
          items:
            $ref: "#/components/schemas/Caso"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: Successfully Done
          enum:
            - "00 - Successfully Done"
            - "01 - Sustem Error"
        first:
          type: boolean
          description: First Page Indicator
        last:
          type: boolean
          description: Last Page Indicator
        pageNumber:
          type: integer
          format: int32
          description: Current Page
        size:
          type: integer
          format: int32
          description: Page Size
        totalElements:
          type: integer
          format: int32
          description: Total Records
            informados.
        totalPages:
          type: integer
          format: int32
          description: Total Number of Pages
      title: CasoPage
    caseComment:
      type: object
      properties:
        codigoRetorno:
          type: string
          description: Return Code
          example: '0'
          enum:
            - 0 - Sucesso (meaning Success) - HTTP 200
            - 2 - Erro Interno (meaning Internal Error) - HTTP 500
            - 3 - Acesso negado (meaning Access Denied) - HTTP 401
            - 4 - Acesso nao autorizado (meaning Unauthorized Access) - HTTP 401
            - 5 - Não foram encontrados dados para o parâmetro informado (meaning - Item not found) - HTTP 404
            - 6 - Token invalido (meaning Invalid Token) = HTTP 401
            - 7 - Erro na integracao da API. Detalhe (meaning Integration Error) - HTTP 500
            - 9 - Não foi enviado parâmetro de entrada (meaning Input parameter not sent) - HTTP 206
            - 101 - Apenas um parâmetro de entrada deve ser enviado (meaning Mandatory Fields. Only one input parameter shall be provided) - HTTP 206
        mensagem:
          type: string
          description: Return Code Description
          example: 'Sucesso'
          enum:
            - 0 - Sucesso (meaning Success) - HTTP 200
            - 2 - Erro Interno (meaning Internal Error) - HTTP 500
            - 3 - Acesso negado (meaning Access Denied) - HTTP 401
            - 4 - Acesso nao autorizado (meaning Unauthorized Access) - HTTP 401
            - 5 - Não foram encontrados dados para o parâmetro informado (meaning - Item not found) - HTTP 404
            - 6 - Token invalido (meaning Invalid Token) = HTTP 401
            - 7 - Erro na integracao da API. Detalhe (meaning Integration Error) - HTTP 500
            - 9 - Não foi enviado parâmetro de entrada (meaning Input parameter not sent) - HTTP 206
            - 101 - Apenas um parâmetro de entrada deve ser enviado (meaning Mandatory Fields. Only one input parameter shall be provided) - HTTP 206
        conteudo:
          type: array
          description: Comments related to the case searched
          items:
            $ref: "#/components/schemas/comentarioDetails"
    comentarioDetails:
      type: object
      properties:
        idCaseComment:
          type: string
          description: Internal Case Comment ID from Salesforce
          example: 00a0g000016rWTQAA2
        idCase:
          type: string
          description: Internal Case ID from Salesforce
          example: 5000g000022h4qHAAQ
        externalCaseNumber:
          type: string
          description: Temporary Case Number provided when case is opened via API. In case it is was not opened via API, it will be ""
          example: 1234
        recordDate:
          type: string
          description: Time Stamp related to when the case was extracted from Salesforce
          example: 28/08/20 00:06
        caseNumber:
          type: string
          description: Case Number managed by Salesforce. This number can be searched directly in Salesforce
          example: 38084515
        commentPublic:
          type: string
          description: 'It returns "TRUE" or "FALSE". It means if the comment was classifed as Public or Private '
          example: 12345
        createdDate:
          type: string
          description: Date/Time when the comment was added
          example: "2020-08-28T11:17:44.000Z"
        createdBy:
          type: string
          description: User Name that added the comment
          example: Maria da Silva
        lastModifiedDate:
          type: string
          description: Date/Time when the comment was updated
          example: "2020-08-28T11:17:44.000Z"
        lastModifiedBy:
          type: string
          description: User Name that updated the comment
          example: "João dos Santos"
        caseComment:
          type: string
          description: Comment Description
          example: "Sr. Lucas, as 17h15min pelo 0965789372, informa que não recebeu a maquina, falou com a Gertec, para solicitar a carta de correção, menciona que a maquina esta nos correios e aguarda a entrega. Peço verificar"
        lastPage:
          type: boolean
          description: Last Page Indicator
        totalPages:
          type: integer
          format: int32
          description: Total Number of Pages
        totalItems:
          type: integer
          format: int32
          description: Total Records
        currentPage:
          type: integer
          format: int32
          description: Current Page
      title: caseComments
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
