openapi: 3.0.0
info:
  title: Search/Update for Available Services (Association/Schema) to a Merchant
  description: Search/Update for Available Services (Association/Schema) to a Merchant
  termsOfService: urn:tos
  version: "1.0"
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
- name: Controller-Consultation-Service
  description: Controller Consultation Service
- name: Change-Status-Controller
  description: Change Status Controller
paths:
  '/bwa/consulta-servico-bandeira/v1/consulta/servicoBandeira':
    get:
      tags:
        - Controller Consultation Service
      x-proxy-name: Merchant Services - Consult/Update for Associations/Schema
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Association/Schema Service Status
      summary: Merchant Information & Cases
      operationId: Search for Association/Schema Service Status
      parameters:
      - name: Message-Signature
        in: header
        description: HMAC
        required: true
        example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        schema:
          type: string
      - name: Api-Key
        in: header
        description: APigee Key
        required: true
        example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        schema:
          type: string
      - name: auth
        in: header
        description: Oauth Key
        required: true
        example: null
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Date - Epoch format
        required: true
        example: 1563309156733
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Randomly generated by client
        required: true
        example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        schema:
          type: string
      - name: instituicao
        in: header
        description: Merchant Institution Number
        example: "00000003"
        required: true
        schema:
          type: string
      - name: estabelecimento
        in: header
        description: Merchant Code
        example: "12341964"
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaServicoBandeira'
        206:
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/consulta-servico-bandeira/v1/consulta/servicoBandeira/{categoria}':
    get:
      tags:
        - Controller Consultation Service
      x-proxy-name: Merchant Services - Consult for Associations/Schema Status by Category
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Search for Association/Schema Service Status by Category
      summary: Merchant Information & Cases
      operationId: Search for Association/Schema Service Status by Category
      parameters:
      - name: Message-Signature
        in: header
        description: HMAC
        required: true
        example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        schema:
          type: string
      - name: Api-Key
        in: header
        description: APigee Key
        required: true
        example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        schema:
          type: string
      - name: auth
        in: header
        description: Oauth Key
        required: true
        example: null
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Date - Epoch format
        required: true
        example: 1563309156733
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Randomly generated by client
        required: true
        example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        schema:
          type: string
      - name: instituicao
        in: header
        description: Merchant Institution Number
        example: "00000003"
        required: true
        schema:
          type: string
      - name: estabelecimento
        in: header
        description: Merchant Code
        example: "12341964"
        required: true
        schema:
          type: string
      - name: categoria
        in: path
        description: "002 – Full (ex: mastercard, visa) | 007 – VAN (ex: Sorocred débito) | 028 – Voucher (ex: Ticket refeição)"
        example: '028'
        required: true
        schema:
          type: string
          enum: 
            - "002"
            - "007"
            - "028"
      responses:
        200:
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaServicoBandeira'
        206:
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/consulta-servico-bandeira/v1/altera/status':
    post:
      tags:
        - Controller Consultation Service
      x-proxy-name: Merchant Services - Update for Associations/Schema Status
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Change for Association/Schema Service Status
      summary: Merchant Information & Cases
      operationId: Change for Association/Schema Service Status
      parameters:
      - name: Message-Signature
        in: header
        description: HMAC
        required: true
        example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        schema:
          type: string
      - name: Api-Key
        in: header
        description: APigee Key
        required: true
        example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        schema:
          type: string
      - name: auth
        in: header
        description: Oauth Key
        required: true
        example: null
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Date - Epoch format
        required: true
        example: 1563309156733
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Randomly generated by client
        required: true
        example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        schema:
          type: string
      - name: instituicao
        in: header
        description: Merchant Institution Number
        example: "00000003"
        required: true
        schema:
          type: string
      - name: estabelecimento
        in: header
        description: Merchant Code
        example: "12341964"
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraStatusRequest'
      responses:
        200:
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityAlteraStatus'
        206:
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum: 
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios - (meaning Mandatory Fields)
          type: string
          enum: 
            - "9 - Campos mandatorios - (meaning Mandatory Fields)"
            - "10 - (Erro validaçao) - (meaning VAlidation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado - Meaning Denied Access
          type: string
          enum: 
            - "3 - Acesso negado - (Meaning Denied Access)"
            - "10 - Token expirado - (Meaning Expired Token"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          type: string
          enum: 
            - "2 - Erro Interno - (Meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (Meaning Integration Error)"
    ResponseEntityConsultaServicoBandeira:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso - (Meaning Successfull Done)"
            - "101 - Nao existem servicos registrados para a combinacao informada - (Meaning There is no service for the combination requested)"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ServicoBandeiraRespDTO'
    ServicoBandeiraRespDTO:
      type: object
      properties:
        institutionNumber:
          description: "Institution Code"
          example: "00000009"
          type: string
        clientNumber:
          description: Merchant Code
          example: "24012345"
          type: string
        reviewDate: 
          description: "Date of the last service review"
          example: "YYYYMMDD"
          type: string
        clientTariff:
          description: "Description of the Rate type, associated to the MCC and CNAE (Brazilian Activity Code)"
          example: "7011-Hotéis"
          type: string
        status:
          description: "Service status" 
          example: "Ativo"
          type: string
          enum: 
            - "Ativo"
            - "Inativo"
        serviceId:
          description: Product Service Code related to the Category (it will return only the code)
          example: "102"
          type: string
          enum:
          - 102 Acq - MC Credit
          - 103 Acq - CABAL Credit
          - 104 Acq - CABAL Debit
          - 105 Acq-CABAL Vouch Food
          - 106 Acq-CABAL Vouch Meal
          - 107 Acq-CABAL Vouch F+M
          - 108 Acq-CABAL Vouch Cult
          - 109 Acq-Hipercard Credit
          - 110 Acq-ELO Full Credit
          - 111 Acq-ELO Full Debit
          - 113 Acq-AMEX Full Credit
          - 115 Acq-Sor Credit
          - 116 Acq-Sor Debit
          - 117 Acq-Sor Vouch Food
          - 118 Acq-Sor Vouch Meal
          - 119 Acq-Sor Vouch Cultr
          - 120 Acq-Sor Vouch Fuel
          - 121 Acq-Sor Vouch Fleet
          - 122 Acq-Sor Vouch Pharm
          - 123 Acq-Sor Vouch Trans
          - 124 Acq-Sor Vouch Cargo
          - 125 Acq-Sor Vouch Incen
          - 126 Acq-ELO Credit
          - 127 Acq-ELO Debit
          - 128 Acq-ALELO Vouch Food
          - 129 Acq-ALELO Vouch Meal
          - 130 Acq-ALELO Vouch Cult
          - 131 Acq-ALELO Vouch Auto
          - 132 Acq-Banese Credit
          - 133 Acq-Banese Debit
          - 134 Acq-Banese Vouch F+M
          - 135 Acq-Banestes Credit
          - 136 Acq-Banestes Debit
          - 137 Acq-Ticket V Food
          - 138 Acq-Ticket V Meal
          - 139 Acq-Ticket V Cult
          - 141 Acq-VR Voucher Meal
          - 142 Acq-VR Voucher Food
          - 143 Acq-VR Voucher Auto
          - 144 Acq-VR Vouch Cultura
          - 145 Acq-VR Vouc Benefits
          - 146 Acq-SODEXO Vouc Auto
          - 147 Acq-SODEXO V Culture
          - 148 Acq-SODEXO V Premium
          - 149 Acq-SODEXO Vouc Gift
          - 150 Acq-SODEXO Vouc Meal
          - 151 Acq-SODEXO Vouc Food
          - 200 Acq - Visa Debit
          - 201 Acq - Visa Credit
        serviceIdDescr:
          description: Product Service description related to the Category (it will return only the description)
          example: Acq - MC Credit
          type: string
          enum:
          - 102 Acq - MC Credit
          - 103 Acq - CABAL Credit
          - 104 Acq - CABAL Debit
          - 105 Acq-CABAL Vouch Food
          - 106 Acq-CABAL Vouch Meal
          - 107 Acq-CABAL Vouch F+M
          - 108 Acq-CABAL Vouch Cult
          - 109 Acq-Hipercard Credit
          - 110 Acq-ELO Full Credit
          - 111 Acq-ELO Full Debit
          - 113 Acq-AMEX Full Credit
          - 115 Acq-Sor Credit
          - 116 Acq-Sor Debit
          - 117 Acq-Sor Vouch Food
          - 118 Acq-Sor Vouch Meal
          - 119 Acq-Sor Vouch Cultr
          - 120 Acq-Sor Vouch Fuel
          - 121 Acq-Sor Vouch Fleet
          - 122 Acq-Sor Vouch Pharm
          - 123 Acq-Sor Vouch Trans
          - 124 Acq-Sor Vouch Cargo
          - 125 Acq-Sor Vouch Incen
          - 126 Acq-ELO Credit
          - 127 Acq-ELO Debit
          - 128 Acq-ALELO Vouch Food
          - 129 Acq-ALELO Vouch Meal
          - 130 Acq-ALELO Vouch Cult
          - 131 Acq-ALELO Vouch Auto
          - 132 Acq-Banese Credit
          - 133 Acq-Banese Debit
          - 134 Acq-Banese Vouch F+M
          - 135 Acq-Banestes Credit
          - 136 Acq-Banestes Debit
          - 137 Acq-Ticket V Food
          - 138 Acq-Ticket V Meal
          - 139 Acq-Ticket V Cult
          - 141 Acq-VR Voucher Meal
          - 142 Acq-VR Voucher Food
          - 143 Acq-VR Voucher Auto
          - 144 Acq-VR Vouch Cultura
          - 145 Acq-VR Vouc Benefits
          - 146 Acq-SODEXO Vouc Auto
          - 147 Acq-SODEXO V Culture
          - 148 Acq-SODEXO V Premium
          - 149 Acq-SODEXO Vouc Gift
          - 150 Acq-SODEXO Vouc Meal
          - 151 Acq-SODEXO Vouc Food
          - 200 Acq - Visa Debit
          - 201 Acq - Visa Credit
        effectiveDate:
          description: "Last Transaction Date / Service Deactivation"
          example: "YYYYMMDD"
          type: string
        noOfInstallments:
          description: "Service Maximum Installment" 
          example: "12"
          type: string
    AlteraStatusRequest:
      type: object
      properties:
        serviceId:
          description: Product Service Code related to the Category (it will return only the code)
          example: "102"
          type: string
          enum:
          - 102 Acq - MC Credit
          - 103 Acq - CABAL Credit
          - 104 Acq - CABAL Debit
          - 105 Acq-CABAL Vouch Food
          - 106 Acq-CABAL Vouch Meal
          - 107 Acq-CABAL Vouch F+M
          - 108 Acq-CABAL Vouch Cult
          - 109 Acq-Hipercard Credit
          - 110 Acq-ELO Full Credit
          - 111 Acq-ELO Full Debit
          - 113 Acq-AMEX Full Credit
          - 115 Acq-Sor Credit
          - 116 Acq-Sor Debit
          - 117 Acq-Sor Vouch Food
          - 118 Acq-Sor Vouch Meal
          - 119 Acq-Sor Vouch Cultr
          - 120 Acq-Sor Vouch Fuel
          - 121 Acq-Sor Vouch Fleet
          - 122 Acq-Sor Vouch Pharm
          - 123 Acq-Sor Vouch Trans
          - 124 Acq-Sor Vouch Cargo
          - 125 Acq-Sor Vouch Incen
          - 126 Acq-ELO Credit
          - 127 Acq-ELO Debit
          - 128 Acq-ALELO Vouch Food
          - 129 Acq-ALELO Vouch Meal
          - 130 Acq-ALELO Vouch Cult
          - 131 Acq-ALELO Vouch Auto
          - 132 Acq-Banese Credit
          - 133 Acq-Banese Debit
          - 134 Acq-Banese Vouch F+M
          - 135 Acq-Banestes Credit
          - 136 Acq-Banestes Debit
          - 137 Acq-Ticket V Food
          - 138 Acq-Ticket V Meal
          - 139 Acq-Ticket V Cult
          - 141 Acq-VR Voucher Meal
          - 142 Acq-VR Voucher Food
          - 143 Acq-VR Voucher Auto
          - 144 Acq-VR Vouch Cultura
          - 145 Acq-VR Vouc Benefits
          - 146 Acq-SODEXO Vouc Auto
          - 147 Acq-SODEXO V Culture
          - 148 Acq-SODEXO V Premium
          - 149 Acq-SODEXO Vouc Gift
          - 150 Acq-SODEXO Vouc Meal
          - 151 Acq-SODEXO Vouc Food
          - 200 Acq - Visa Debit
          - 201 Acq - Visa Credit
        serviceIdDescr:
          description: Product Service description related to the Category (it will return only the description)
          example: Acq - MC Credit
          type: string
          enum:
          - 102 Acq - MC Credit
          - 103 Acq - CABAL Credit
          - 104 Acq - CABAL Debit
          - 105 Acq-CABAL Vouch Food
          - 106 Acq-CABAL Vouch Meal
          - 107 Acq-CABAL Vouch F+M
          - 108 Acq-CABAL Vouch Cult
          - 109 Acq-Hipercard Credit
          - 110 Acq-ELO Full Credit
          - 111 Acq-ELO Full Debit
          - 113 Acq-AMEX Full Credit
          - 115 Acq-Sor Credit
          - 116 Acq-Sor Debit
          - 117 Acq-Sor Vouch Food
          - 118 Acq-Sor Vouch Meal
          - 119 Acq-Sor Vouch Cultr
          - 120 Acq-Sor Vouch Fuel
          - 121 Acq-Sor Vouch Fleet
          - 122 Acq-Sor Vouch Pharm
          - 123 Acq-Sor Vouch Trans
          - 124 Acq-Sor Vouch Cargo
          - 125 Acq-Sor Vouch Incen
          - 126 Acq-ELO Credit
          - 127 Acq-ELO Debit
          - 128 Acq-ALELO Vouch Food
          - 129 Acq-ALELO Vouch Meal
          - 130 Acq-ALELO Vouch Cult
          - 131 Acq-ALELO Vouch Auto
          - 132 Acq-Banese Credit
          - 133 Acq-Banese Debit
          - 134 Acq-Banese Vouch F+M
          - 135 Acq-Banestes Credit
          - 136 Acq-Banestes Debit
          - 137 Acq-Ticket V Food
          - 138 Acq-Ticket V Meal
          - 139 Acq-Ticket V Cult
          - 141 Acq-VR Voucher Meal
          - 142 Acq-VR Voucher Food
          - 143 Acq-VR Voucher Auto
          - 144 Acq-VR Vouch Cultura
          - 145 Acq-VR Vouc Benefits
          - 146 Acq-SODEXO Vouc Auto
          - 147 Acq-SODEXO V Culture
          - 148 Acq-SODEXO V Premium
          - 149 Acq-SODEXO Vouc Gift
          - 150 Acq-SODEXO Vouc Meal
          - 151 Acq-SODEXO Vouc Food
          - 200 Acq - Visa Debit
          - 201 Acq - Visa Credit
        newStatus:
          description: New status to be assigned
          example: "001"
          type: string
          enum:
          - "001 Habilitado"
          - "002 Desabilitado"
        noOfInstallments:
          description: Service Maximum Installment 
          example: "12"
          type: string
        userId:
          description: User code making the change
          example: "12345"
          type: string
    ResponseEntityAlteraStatus:
      type: object
      properties:
        codigo:
          type: string
          description: "Change result code"
          example: "300"
          enum: 
          - "300"
          - "301"
          - "302"
        descricao:
          type: string
          description: "Description of the result of the change"
          example: "Servico [102] habilitado com sucesso para o estabelecimento [12345678]"
          enum:
          - "300 Servico [102] habilitado com sucesso para o estabelecimento [12345678]"
          - "301 A solicitacao do servico [102] para o estabelecimento [12345678] sera efetivada em ate 24 horas"
          - "302 Servico [102] desabilitado com sucesso para o estabelecimento [12345678]"
