openapi: 3.0.0
info:
  description: Online Boarding Process
  version: "1.0"
  title: Online Boarding Process
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Boarding New Proposals
  - name: Check Proposal Status
  - name: Declare Payment
  - name: Verify Tax ID (CPF for individual | CNPJ for company) at SERPRO
  - name: Service Contract Parameters
  - name: Account Fees for Required Service Parameters (accountFees)
  - name: Associations/Schemas Product Code for Settlement Parameters
  - name: List of Banks for Settlement
  - name: List of CNAEs Parameter
  - name: Professional License Status
  - name: Restricted/Unwanted CNAEs
  - name: MDR Service Fees Parameters (Standard Fees, for reference only)
  - name: Associations/Schemas List
  - name: Additional Services Parameters
  - name: Frequency Cycles for Additional Services
  - name: Capture Solutions Parameters
  - name: Phone Operators Parameters
  - name: Merchant - Compliance
  - name: List of Campaign Setup
  - name: List of Setup to Send Proposal
  - name: MCC
paths:
  "/api/proposal":
    post:
      tags:
        - Online Boarding Process
      x-proxy-name: Online Boarding and Status
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      summary: Boarding New Proposals. To prepare the payload area, it will be required to check some other endpoints as described in some fields
      description: >-
        Importante: Each person has its respective fields to be sent.
        The example has 2 fullfiled obects, one for Individual (PF) and oter for Companies (PJ). Use he examples.
      operationId: boardingNewProposals
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Submission"
        description: submission
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResultOfCreatedProposalResp"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Verify Errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response422detail"
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/api/proposal/v3":
    post:
      tags:
        - Online Boarding Process
      x-proxy-name: Online Boarding and Status - Boarding New Proposals
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      summary: Boarding New Proposals. To prepare the payload area, it will be required to check some other endpoints as described in some fields - V3
      description: >-
        Importante: Each person has its respective fields to be sent.
        The example has 2 fullfiled obects, one for Individual (PF) and oter for Companies (PJ). Use he examples.
        This endpoint acts almost like the default route (api/proposal). Nevertheless, this route shows slight comportamental differences about tax and currency.
      operationId: boardingNewProposals1
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Submission"
        description: submission
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResultOfCreatedProposalResp"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Verify Errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response422detail"
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/api/proposal/{proposalNumber}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Check Proposal Status
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      summary: Check Proposal Status
      description: Check Proposal Status using the Proposal Number
      operationId: checkProposalStatus
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: proposalNumber
          in: path
          description: Proposal Number
          required: true
          example: O00000000000843
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResultOfProposalQuery"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Invalid value
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/api/payment/report":
    post:
      tags:
        - Online Boarding Process
      x-proxy-name: Declare Payment - Used for Device Sales
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Declare Payment - Used for Device Sales
      summary: Declare Payment - Used for Device Sales
      operationId: declarePayment
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentReport"
        description: Objeto para Informar Pagamento
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResult"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Invalid value
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/api/serpro/cnpj/{cnpj}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Verify Tax ID (CNPJ for company) at SERPRO
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Verify Tax ID (CNPJ for company) at SERPRO
      summary: Verify Tax ID (CNPJ for company) at SERPRO
      operationId: verifyTaxIdATSerpro
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: cnpj
          in: path
          description: Company Tax ID (CNPJ)
          example: 04139566000150
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SerproResponse"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Invalid value
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/api/serpro/cpf/{cpf}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Verify Tax ID (CPF for individual) at SERPRO
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Verify Tax ID (CPF for individual) at SERPRO
      summary: Verify Tax ID (CPF for individual) at SERPRO
      operationId: verifyTaxIdATSerproGET
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: cpf
          in: path
          description: Individual Tax ID (CPF)
          example: 12345678901
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSerproCPF"
        "400":
          description: Invalid value
        "401":
          description: Access denied
        "404":
          description: Item not found
        "422":
          description: Invalid value
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false
  "/config/service-contract":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Service Contract Parameters. It is an internal code used in Fiserv to identify the Partner
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description:  Service Contract Parameters. It is an internal code used in Fiserv to identify the Partner
      summary: Service Contract Parameters. It is an internal code used in Fiserv to identify the Partner
      operationId: ListOfAvailableServiceContracts
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceContractDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      deprecated: false
  "/config/account-fees/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Acount Fees for Required Service Parameters (accountFees)
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Acount Fees for Required Service Parameters (accountFees)
      summary: Acount Fees for Required Service Parameters (accountFees)
      operationId: listOfAccountFeesForRequiredServices(Account Fees)
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfAccountFees"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/bank-accounts/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Associations/Schemas Product Code for Settlement Parameters
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Associations/Schemas Product Code for Settlement Parameters
      summary: Associations/Schemas Product Code for Settlement Parameters
      operationId: listOfAvailableSchemasForSettlement
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfBankingAccounts"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/bank-accounts/{serviceContract}/prepayment":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Associations/Schemas Product Code for Settlement Parameters with prepayment enable value
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Associations/Schemas Product Code for Settlement Parameters with prepayment enable value
      summary: Associations/Schemas Product Code for Settlement Parameters with prepayment enable value
      operationId: listOfAvailableSchemasForSettlement1
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfBankingAccountsWithPrepaymentEnableValue"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/bank":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Banks for Settlement to be used during boarding
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: List of Banks for Settlement to be used during boarding
      summary: List of Banks for Settlement to be used during boarding
      operationId: listOfAvailableBanksForSettlement
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bank"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/cnae/{institution}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of CNAEs Parameter for Boarding
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: List of CNAEs Parameter for Boarding
      summary: List of CNAEs Parameter for Boarding
      operationId: listOfAvailableCNAEForBoarding
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: partial-cnae
          in: query
          description: Part of CNAE Code
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfCnae"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/mcc/{institution}/{cnae-number}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Returns an object containing Merchant category identification code
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Returns an object containing Merchant category identification code
      summary: returns an object containing Merchant category identification code
      operationId: getMcc
      parameters:
        - name: institution
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: cnae-number
          in: path
          description: CNAE Code (Economical Activity Nacional Classification)
          example: 1053800
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MccDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Item Not Found
        "500":
          description: Server error
      security:
        - Bearer: []
      deprecated: false

  "/config/professional-license/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Returns the object 'ApiResult' with the status of professional license
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Returns the object 'ApiResult' with the status of professional license
      summary: Returns the object 'ApiResult' with the status of professional license
      operationId: getProfessionalLicenseStatusByServiceContract
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service Contract code. Please Check with Fiserv Representative
            junto a FISERV.
          required: true
          example: 101
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/restricted-cnae":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Restricted/Unwanted CNAEs for Boarding
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Restricted/Unwanted CNAEs for Boarding
      summary: Restricted/Unwanted CNAEs for Boarding
      operationId: ListOfRestrictedUnwantedCNAEs
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: '"X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB"'
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: '"6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC"'
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: '"1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno="'
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: '"1563309156733"'
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 91002806
        - name: page
          in: query
          description: Page Number
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: service-contract
          in: query
          description: Service Contract Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 101
        - name: size
          in: query
          description: Items per Page
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
            default: 50
          example: 50
        - name: status
          in: query
          description: CNAE Status
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - UNWANTED
              - RESTRICTED
          example: RESTRICTED
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
        400:
          description: Invalid value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
        422:
          description: Invalid value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCnaeRestrictRespnse'
      deprecated: false
      security:
        - Bearer: []
  "/config/fees/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: MDR Service Fees Parameters (Standard Fees, for reference only)
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: MDR Service Fees Parameters (Standard Fees, for reference only)
      summary: MDR Service Fees Parameters (Standard Fees, for reference only)
      operationId: "listOfAvailableMDRFees - Reference Only"
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 322106
          required: true
          schema:
            type: integer
            format: int32
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
        - name: serviceId
          in: query
          description: Association/Schema Code for its fees. To get the list of Association/Schema. Check Associations/Schemas List  - "/config/acquisition/"
          example: 301
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfTransactionTypes"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/acquisition/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Associations/Schemas List
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      summary: Associations/Schemas List
      description: Associations/Schemas List
      operationId: listOfAvailableAssociations/Schemas
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfAquisition"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/additional-services/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Additional Services Parameters
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Additional Services Parameters
      summary: Additional Services Parameters
      operationId: listOfAvailableAdditionalServices
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfService"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/frequencies/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Frequency Cycles for Additional Services
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Frequency Cycles for Additional Services
      summary: Frequency Cycles for Additional Services
      operationId: listOfAvailableFrequencyCycles
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: cycleTypeId
          in: query
          description: Frequency Cycle Code for Additional Services. Check Additional Services Parameters "/config/additional-services/"
          required: true
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfFrequency"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/capture-solution/{serviceContract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Capture Solutions Parameters
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Capture Solutions Parameters
      summary: Capture Solutions Parameters
      operationId: listOfAvailableCaptureSolutions
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: serviceContract
          in: path
          description: Service Contract Code. Please check with Fiserv Representative
          example: "101"
          required: true
          schema:
            type: integer
            format: int32
        - name: modality
          in: query
          description: Request Type (Rent or Sale)
          example: RENT
          required: false
          schema:
            type: string
            enum:
              - RENT
              - SALES
        - name: ommitISO
          in: query
          description: ommitISO
          required: false
          schema:
            type: boolean
        - name: technology-group
          in: query
          description: Technology Type
          example: "POS"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfCaptureSolution"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/mobile-operator":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Phone Operators Parameters
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Phone Operators Parameters
      summary: Phone Operators Parameters
      operationId: listOfPhoneOperatios
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultOfListOfMobileOperator"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - Bearer: []
      deprecated: false
  "/config/compliance/merchantId/{merchantId}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Merchant - Compliance (Not Available)
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Merchant - Compliance (Not Available)
      summary: Merchant - Compliance (Not Available)
      operationId: checkCompliance
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: merchantId
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      deprecated: false
  "/config/campaigns/simulator":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Return the campaings according to the reported annual income for the simulator project
      summary: Return the campaings according to the reported annual income for the simulator project
      operationId: listOfCampaingsForSimulatorProject
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: anual-billing
          in: query
          description: Anual Billing
          required: true
          example: 360000
          schema:
            type: number
            format: double
        - name: service-contract
          in: query
          description: Service Contract. It is an internal code used in Fiserv to identify the Partner
          example: 103
          required: true
          schema:
            type: integer
            format: int64
        - name: type-person
          in: query
          description: Type of Person, Legal or Physical
          required: true
          schema:
            type: string
          example: "L"
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfListOfCampaingSimulatorDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
  "/config/campaigns/billing-range/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: Range of Revenue for the Campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Range of Revenue for the Campaign
      summary: Range of Revenue for the Campaign
      operationId: listOfRangeOfRevenueForCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaign ID
          required: true
          example: "1"
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Revenue Range ID
          example: 2
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          example: 1
          description: Currante Page
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBillingRangeDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/factor-flex/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the Factor fees for MDR Flex associated to a campaign
      summary: Get the Factor fees for MDR Flex associated to a campaign
      operationId: getFactorFeesForMDRFlexByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign Code
          required: true
          example: 1
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Revenue Range ID
          example: 2
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Quantity of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: receiving-deadline
          in: query
          description: Receiving Deadline
          example: 14
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfFactorFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/factor-flex/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Factor fees for MDR Flex associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the Factor fees for MDR Flex associated to a campaign
      summary: Get the Factor fees for MDR Flex associated to a campaign
      operationId: getFactorFeesForMDRFlexByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign Code
          required: true
          example: 1
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Revenue amount
          example: 30000
          schema:
            type: number
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Quantity of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: receiving-deadline
          in: query
          description: Receiving Deadline
          example: 14
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfFactorFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr-flex/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Flex Fees associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the MDR Flex Fees associated to a campaign
      summary: Get the MDR Flex Fees associated to a campaign
      operationId: getMDRFlexFeesByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Fee Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: id-range
          in: query
          description: Billing range id related to the campaign
          example: 1
          schema:
            type: integer
            format: int64
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr-flex/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Flex Fees associated to a campaign - Billing Value
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the MDR Flex Fees associated to a campaign
      summary: Get the MDR Flex Fees associated to a campaign
      operationId: getMDRFlexFeesByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          example: 2391501
          schema:
            type: integer
            format: int32
        - name: id-campaign
          in: path
          description: Campaign ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Fee Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: billing-value
          in: query
          description: Revenue amount
          example: 30000
          schema:
            type: number
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrFlexRateDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get MDR Fees for a given campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get MDR Fees for a given campaign
      summary: Get MDR Fees for a given campaign
      operationId: getMDRFeesByCampaign
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 4923001
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Rate Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: id-range
          in: query
          description: Billing range id related to the campaign
          example: 1
          schema:
            type: integer
            format: int64
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrRatesDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/mdr/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the MDR Fees associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the MDR Fees associated to a campaign
      summary: Get the MDR Fees associated to a campaign
      operationId: getMDRFeesByCampaignWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: cnae
          in: query
          description: CNAE Code
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 4923001
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: mcc
          in: query
          description: Merchant Category Code
          example: 6012
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: premium-uf
          in: query
          description: Premium Rate Percentage
          example: 2.5
          schema:
            type: number
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
        - name: billing-value
          in: query
          description: Billing amount
          example: 30000
          schema:
            type: number
        - name: person-type
          in: query
          description: Person type. P for physical person and L for legal person
          example: "P"
          schema:
            type: string
            enum:
              - P
              - L
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfMdrRatesDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/current-approvers/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the current campaign approvers
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the current campaign approvers
      summary: Get the current campaign approvers
      operationId: getCurrentApprovers
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApproversCampaignDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/approvers/service-contract/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get possible approvers for a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get possible approvers for a campaign
      summary: Get possible approvers for a campaign
      operationId: getApprovers
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service Contract
          example: 103
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApproversDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/business-point/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Business Point associated to a campaign - Billing value
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the Business Point associated to a campaign
      summary: Get the Business Point associated to a campaign
      operationId: getBusinessPointWithBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBusinessPoint'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/business-point/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Business Point associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the Business Point associated to a campaign
      summary: Get the Business Point associated to a campaign
      operationId: getBusinessPointWithoutBillingValue
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: id-range
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfBusinessPoint'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/technology-price-discount-fee/billing-value/id-campaign/{id-campaign}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the technology price discount fee associated to a campaign
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the technology price discount fee associated to a campaign
      summary: Get the technology price discount fee associated to a campaign
      operationId: getTechnologyPriceDiscountFee
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: id-campaign
          in: path
          description: Campaing ID
          example: 1
          required: true
          schema:
            type: integer
            format: int64
        - name: billing-value
          in: query
          description: Billing Value
          allowEmptyValue: false
          schema:
            type: number
          example: 4923001
        - name: approver-type
          in: query
          description: Approver Type
          example: MANAGER
          schema:
            type: string
            enum:
              - MANAGER
              - DIRECTOR
              - EXECUTIVE_DIRECTOR
        - name: page
          in: query
          description: Current Page
          example: 1
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          description: Total of Records
          example: 10
          schema:
            type: integer
            format: int32
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableDTOOfCampaignTechnologyPriceDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/premium-uf/service-contract/{service-contract}":
    get:
      tags:
        - Online Boarding Process
      x-proxy-name: List of Campaign Setup - Get the Premium Rate according to the State/Servicecontract
      x-group-name: Online Boarding
      x-child-product-name: Banworks
      description: Get the Premium Rate according to the State/Servicecontract
      summary: Get the Premium Rate according to the State/Servicecontract
      operationId: getPremiumRates
      parameters:
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: service-contract
          in: path
          description: Service Contract code. Please Check with Fiserv
          required: true
          example: 101
          schema:
            type: integer
            format: int32
        - name: uf
          in: query
          description: State Abbreviation
          example: "SP"
          schema:
            type: string
            enum:
              - AC
              - AL
              - AP
              - AM
              - BA
              - CE
              - DF
              - ES
              - GO
              - MA
              - MT
              - MS
              - MG
              - PA
              - PB
              - PR
              - PE
              - PI
              - RJ
              - RN
              - RS
              - RO
              - RR
              - SC
              - SP
              - SE
              - TO
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PremiumUfDTO'
        401:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        404:
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      deprecated: false
      security:
        - Bearer: []
  "/config/campaigns/prepayment/id-campaign/{id-campaign}":
    get:
      tags:
[...]
