openapi: 3.0.2
info:
  description: Automatic Prepayment - Cancel
  version: '1.0'
  title: Automatic Prepayment - Cancel
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  '/bwa/antecipacao-automatica/v1/antecipacao/':
    get:
      tags:
        - Automatic Prepayment
      x-proxy-name: Automatic Prepayment - Cancel - Consult Automatic Prepayment
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Consult Automatic Prepayment - Cancel
      summary: 'Consult Automatic Prepayment - Cancel'
      operationId: 'Consult Automatic Prepayment - Cancel'
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
        - name: bandeira
          in: query
          description: Account type. Possible values [ 050 (Visa Credit) / 051 (Master Credit) / 055 (Cabal Credit) / 059 (Hipercard Credit) / 060 (ELO Credit) / 063 (AMEX Credi)]
          example: 051, 050
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/antecipacao-automatica/v1/antecipacao':
    post:
      tags:
        - Automatic Prepayment
      x-proxy-name: Automatic Prepayment - Cancel - Automatic Prepayment
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Automatic Prepayment - Cancel - Automatic Prepayment
      summary: 'Automatic Prepayment - Cancel'
      operationId: 'Automatic Prepayment - Cancel'
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntecipacaoPutDTO'
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponse'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 102
          type: integer
          format: int32
        mensagem:
          description: Description return code
          example: Estabelecimento nao possui Antecipacao Automatica Vigente
          type: string
          enum: 
            - "102 - Estabelecimento nao possui Antecipacao Automatica Vigente"
            - "101 -Nenhum registro foi alterado"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado- (meaning Access Denied)
          type: string
          enum: 
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum: 
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    DResponse:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/MessageSourceDTO'
    MessageSourceDTO:
      type: object
      properties:
        code: 
          description: "Return code"
          example: "302"
          type: string
        message: 
          description: "Return message"
          example: "Registro alterado com sucesso"
          type: string
    AntecipacaoPutDTO:
      type: object
      properties:
        userId:
          description: "User id"
          example: "000001"
          type: string
        card:
          description: Association Code
          example: "002"
          type: string
          enum:
            - 002 - MC Credit       
              003 - VISA Credit     
              004 - Amex Credit     
              006 - Diners Credit   
              009 - CABAL Credit    
              024 - Hipercard Credit
              025 - ELO Credit     
    ResponseEntity:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - >-
              0 - Sucesso.
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/Response'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 14
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 273
          type: integer
          format: int32
        currentPage: 
          description: Current search page
          example: 1
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 20
          type: integer
          format: int32  
    Response:
      type: object
      properties:
        expiryDate:
          type: string
          description: expiry Date
          example: "20211231"
        transactionType:
          type: string
          description: transaction Type
          example: "001"
          enum:
            - 001 Acquirer Instalments 
            - 002 Acquirer Instalments Full Plan 
            - 003 Purchase (exlc. Instalments) 
            - 999 All 
        merchantId:
          type: string
          description: merchant Id
          example: "33333333"
        schemeOptionsDesc:
          type: string
          description: scheme Options 
          example: "MC credit"
          enum:
            - 050 Visa Credit
            - 051 Master Credit
            - 055 Cabal Credit
            - 059 Hipercard Credit
            - 060 Elo Credit
            - 063 Amex Credit
        transactionTypeDesc:
          type: string
          description: transaction Type
          example: "Acquirer Instalments"
          enum:
            - 001 Acquirer Instalments 
            - 002 Acquirer Instalments Full Plan 
            - 003 Purchase (exlc. Instalments) 
            - 999 All
        frequencyTypeDesc:
          type: string
          description: frequency Type 
          example: "DAILY"
          enum:
            - 305 DAILY
            - 309 Weekly - Mon
            - 310 Weekly - Tue
            - 311 Weekly - Wed
            - 312 Weekly - Thur
            - 313 Weekly - Fri
            - 409 BIMONTHLY 1-15
            - 410 BIMONTHLY 2-16
            - 411 BIMONTHLY 3-17
            - 412 BIMONTHLY 4-18
            - 413 BIMONTHLY 5-19
            - 414 BIMONTHLY 6-20
            - 415 BIMONTHLY 7-21
            - 416 BIMONTHLY 8-22
            - 417 BIMONTHLY 9-23
            - 418 BIMONTHLY 10-24
            - 419 BIMONTHLY 11-25
            - 420 BIMONTHLY 12-26
            - 421 BIMONTHLY 13-27
            - 422 BIMONTHLY 14-28
            - 423 BIMONTHLY 15-29
            - 424 BIMONTHLY 16-30
            - 707 1 Business DOM
            - 708 2 Business DOM
            - 709 3 Business DOM
            - 710 4 Business DOM
            - 711 5 Business DOM
            - 712 6 Business DOM
            - 713 7 Business DOM
            - 714 8 Business DOM
            - 715 9 Business DOM
            - 716 10 Business DOM
            - 717 11 Business DOM
            - 718 12 Business DOM
            - 719 13 Business DOM
            - 720 14 Business DOM
            - 721 15 Business DOM
            - 722 16 Business DOM
            - 723 17 Business DOM
            - 724 18 Business DOM
            - 725 19 Business DOM
            - 726 20 Business DOM
            - 727 21 Business DOM
            - 728 22 Business DOM
            - 729 23 Business DOM
            - 730 24 Business DOM
            - 731 25 Business DOM
            - 732 26 Business DOM
            - 733 27 Business DOM
            - 734 28 Business DOM
            - 735 29 Business DOM
            - 736 30 Business DOM
            - 737 31 Business DOM
        frequencyPeriod:
          type: string
          description: frequency Period
          example: "005"
          enum:
            - 005 5 days frequency period 
            - 007 7 days frequency period
            - 010 10 days frequency period
            - 015 15 days frequency period
            - 020 20 days frequency period
            - 025 25 days frequency period
            - 030 30 days frequency period
            - 730 730 days frequency period
        frequencyPeriodDesc:
          type: string
          description: frequency Period 
          example: "5 days frequency period"
          enum:
            - 005 5 days frequency period 
            - 007 7 days frequency period
            - 010 10 days frequency period
            - 015 15 days frequency period
            - 020 20 days frequency period
            - 025 25 days frequency period
            - 030 30 days frequency period
            - 730 730 days frequency period
        institutionNumber:
          type: string
          description: institution Number
          example: "00000003"
        effectiveDate:
          type: string
          description: effective Date
          example: "20210325"
        schemeOptions:
          type: string
          description: scheme Options
          example: "051"
          enum:
            - 050 Visa Credit
            - 051 Master Credit
            - 055 Cabal Credit
            - 059 Hipercard Credit
            - 060 Elo Credit
            - 063 Amex Credit
        frequencyType:
          type: string
          description: frequency Type
          example: "305"
          enum:
            - 305 DAILY
            - 309 Weekly - Mon
            - 310 Weekly - Tue
            - 311 Weekly - Wed
            - 312 Weekly - Thur
            - 313 Weekly - Fri
            - 409 BIMONTHLY 1-15
            - 410 BIMONTHLY 2-16
            - 411 BIMONTHLY 3-17
            - 412 BIMONTHLY 4-18
            - 413 BIMONTHLY 5-19
            - 414 BIMONTHLY 6-20
            - 415 BIMONTHLY 7-21
            - 416 BIMONTHLY 8-22
            - 417 BIMONTHLY 9-23
            - 418 BIMONTHLY 10-24
            - 419 BIMONTHLY 11-25
            - 420 BIMONTHLY 12-26
            - 421 BIMONTHLY 13-27
            - 422 BIMONTHLY 14-28
            - 423 BIMONTHLY 15-29
            - 424 BIMONTHLY 16-30
            - 707 1 Business DOM
            - 708 2 Business DOM
            - 709 3 Business DOM
            - 710 4 Business DOM
            - 711 5 Business DOM
            - 712 6 Business DOM
            - 713 7 Business DOM
            - 714 8 Business DOM
            - 715 9 Business DOM
            - 716 10 Business DOM
            - 717 11 Business DOM
            - 718 12 Business DOM
            - 719 13 Business DOM
            - 720 14 Business DOM
            - 721 15 Business DOM
            - 722 16 Business DOM
            - 723 17 Business DOM
            - 724 18 Business DOM
            - 725 19 Business DOM
            - 726 20 Business DOM
            - 727 21 Business DOM
            - 728 22 Business DOM
            - 729 23 Business DOM
            - 730 24 Business DOM
            - 731 25 Business DOM
            - 732 26 Business DOM
            - 733 27 Business DOM
            - 734 28 Business DOM
            - 735 29 Business DOM
            - 736 30 Business DOM
            - 737 31 Business DOM
