openapi: 3.0.1
info:
  title: CashFlow
  description: API for consult cash flow
  termsOfService: urn:tos
  contact:
    name: Fiserv
    url: https://merchants.fiserv.com/pt-br/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 2021-11-15_22-51
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: https://prod.api.firstdata.com
servers:
  - url: https://cat.api.firstdata.com
security:
  - JWT: []
paths:
  /bwa/cashflow/v1/transactionDetails:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get transaction details
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get transaction details
      operationId: getTransactionDetail
      parameters:
        - name: originalRefNum
          in: query
          description: Original Ref Num
          required: true
          schema:
            type: string
          example: '00510710105568'
        - name: valueDate
          in: query
          description: Date
          required: true
          schema:
            type: string
          example: 20210228
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000004'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 40000046
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessTransactionDetail'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
  /bwa/cashflow/v1/summaryByScheme/total:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get cash flow summary by scheme Total
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get cash flow summary by scheme Total
      operationId: getSummaryBySchemeTotal
      parameters:
        - name: dataInicio
          in: query
          description: Search start date
          required: true
          schema:
            type: string
          example: 20210228
        - name: dataFim
          in: query
          description: Search end date
          required: true
          schema:
            type: string
          example: 20210228
        - name: modo
          in: query
          description: modo C for Client or H for Hierarchy
          required: true
          schema:
            type: string
          example: '050'
        - name: accountType
          in: query
          description: Account type
          required: false
          schema:
            type: string
          example: '050'
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000004'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 40000046
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessSummaryBySchemeTotal'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
  /bwa/cashflow/v1/summaryByScheme/products:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get cash flow summary by scheme for Products
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get cash flow summary by scheme for Products
      operationId: getSummaryBySchemeForProducts
      parameters:
        - name: dataInicio
          in: query
          description: Search start date
          required: true
          schema:
            type: string
          example: 20210228
        - name: dataFim
          in: query
          description: Search end date
          required: true
          schema:
            type: string
          example: 20210228
        - name: modo
          in: query
          description: modo C for Client or H for Hierarchy 
          required: true
          schema:
            type: string
          example: '050'
        - name: accountType
          in: query
          description: Account type
          required: false
          schema:
            type: string
          example: '050'
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000004'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 40000046
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessSummaryBySchemeForPeriod'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
  /bwa/cashflow/v1/summaryByScheme/period:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get Summary By Scheme For Period
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get cash flow summary by scheme for products
      operationId: getSummaryBySchemeForPeriod
      parameters:
        - name: dataInicio
          in: query
          description: Search start date
          required: true
          schema:
            type: string
          example: 20210228
        - name: dataFim
          in: query
          description: Search end date
          required: true
          schema:
            type: string
          example: 20210228
        - name: modo
          in: query
          description: modo C for Client or H for Hierarchy 
          required: true
          schema:
            type: string
          example: '050'
        - name: accountType
          in: query
          description: Account Type
          required: false
          schema:
            type: string
          example: '050'
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000004'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 40000046
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessSummaryBySchemeForProducts'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
  /bwa/cashflow/v1/resume:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get resume
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get resume
      operationId: getResume
      parameters:
        - name: dataInicio
          in: query
          description: Search start date
          required: true
          schema:
            type: string
          example: 20210301
        - name: dataFim
          in: query
          description: Search end date
          required: true
          schema:
            type: string
          example: 20210330
        - name: modo
          in: query
          description: modo C (for client) or H for (Hierarchy)
          required: true
          schema:
            type: string
          example: M
        - name: periodo
          in: query
          description: Period D (for day) or M for (mounth) 
          required: true
          schema:
            type: string
          example: M
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000003'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 33333331
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResume'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
  /bwa/cashflow/v1/detailByScheme:
    get:
      tags:
        - cash-flow-controller
      x-proxy-name: Get cash flow detail by scheme
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Get cash flow detail by scheme
      operationId: getDetailByScheme
      parameters:
        - name: dataInicio
          in: query
          description: Search start date
          required: true
          schema:
            type: string
          example: 20210301
        - name: dataFim
          in: query
          description: Search end date
          required: true
          schema:
            type: string
          example: 20210331
        - name: modo
          in: query
          description: modo C (for client) or H for (Hierarchy)
          required: true
          schema:
            type: string
          example: H
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000004'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 40000046
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: 'Sorting '
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessDetailByScheme'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Erro
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
        default:
          description: CashFlow Api Rotes
          content:
            application/json:
              schema:
                type: object
      security:
        - JWT: []
components:
  schemas:
    ITransactionDetails:
      type: object
      properties:
        typeId:
          type: string
          description: Type ID
          example: ELO Credit
        model:
          type: string
          description: Model
          example: POS GPRS WIFI
        transactionType:
          type: string
          description: Transaction Type
          example: Compra com 05 parcelas
        clientNumber:
          type: string
          description: Cliente Number
          example: '33333332'
        recordDate:
          type: string
          description: Record Date
          example: '20210222'
        cardNumber:
          type: string
          description: Card Number
          example: 506721******4311
        areaOfAction:
          type: string
          description: Area Of Action
          example: Doméstico - BR
        installNumber:
          type: string
          description: Install Number
          example: 3/5
        settlementAmountNet:
          type: string
          description: Settlement Amount Net
          example: '1276.0'
        terminalId:
          type: string
          description: Terminal Id
          example: PGW02B32
        authCode:
          type: string
          description: Auth Code
          example: '308580'
        eci:
          type: string
          description: Eci
        loanAmount:
          type: string
          description: Loan Amount
          example: '6800'
        settlementAmountChg:
          type: string
          description: Settlement Amount Chg
          example: '63.6'
        settlementAmountGr:
          type: string
          description: Settlement Amount Gr
          example: '1276.0'
        merchControlNumber:
          type: string
          description: Merch Control Number
          example: '234255630'
        retrievalReference:
          type: string
          description: Retrieval Reference
          example: '000000536'
      description: Field containing the request return
    SuccessTransactionDetail:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/ITransactionDetails'
        lastPage:
          type: boolean
          description: Last page indicator
          example: true
          enum:
            - true
            - false
        totalPages:
          type: integer
          description: Total page counter
          format: int32
          example: 1
        totalItems:
          type: integer
          description: Total Items counter
          format: int64
          example: 1
        currentPage:
          type: integer
          description: Current page number
          format: int32
          example: 0
        totalCurrentItems:
          type: integer
          description: Current item total item counter
          format: int32
          example: 1
    Conflict:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 8
          enum:
            - 8
        mensagem:
          type: string
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          enum:
            - 8 - Item duplicado (Meaning Duplicated Item)
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 9
          enum:
            - 9
            - 10
            - 101
        mensagem:
          type: string
          description: Description return code
          example: 'Campos mandatorios: ... (meaning Mandatory Fields)'
          enum:
            - '9 - Campos mandatorios: ... (meaning Mandatory Fields)'
            - 10 - (Erro validaçao) (meaning VAlidation Error)
            - 101 - Não encontrado transacoes rejeitadas com os parametros informados (meaning Transaction Not Found Error)
    NotFound:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 5
          enum:
            - 5
        mensagem:
          type: string
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          enum:
            - 5 - Item nao encontrado (Meaning item not found)
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 4
          enum:
            - 4
        mensagem:
          type: string
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          enum:
            - Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 3
          enum:
            - 3
            - 6
        mensagem:
          type: string
          description: Description return code
          example: Acesso negado - (Meaning Denied Access)
          enum:
            - 3 - Acesso negado - (Meaning Denied Access)
            - 10 - Token expirado - (Meaning Expired Token
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 2
          enum:
            - 2
            - 7
        mensagem:
          type: string
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          enum:
            - 2 - Erro Interno (Meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (Meaning Integration Error)
    ISummaryBySchemeTotal:
      type: object
      properties:
        total:
          type: string
          description: Total
          example: Total
        vendasCredito:
          type: string
          description: Credit Amount
          example: '1023.21'
        saldo:
          type: string
          description: Total Amount
          example: '5043.56'
        ajustes:
          type: string
          description: Debit Amount
          example: '2032.23'
        periodo:
          type: string
          description: Period
      description: Field containing the request return
    SuccessSummaryBySchemeTotal:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/ISummaryBySchemeTotal'
    ISummaryBySchemePeriodo:
      type: object
      properties:
        total:
          type: string
          description: total
          example: '1000'
        vendasCredito:
          type: string
        saldo:
          type: string
        ajustes:
          type: string
        tipoConta:
          type: string
      description: Field containing the request return
    SuccessSummaryBySchemeForPeriod:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/ISummaryBySchemePeriodo'
    ISummaryBySchemeProdutos:
      type: object
      properties:
        vendasCredito:
          type: string
          description: Credit Amount
          example: '2341.22'
        saldo:
          type: string
          description: Total Amount
          example: '5678.93'
        ajustes:
          type: string
          description: Debit Amount
          example: '2543.11'
        tipoConta:
          type: string
          description: Type ID
          example: VISA Débito
        dataEfetivaPagamento:
          type: string
      description: Field containing the request return
    SuccessSummaryBySchemeForProducts:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/ISummaryBySchemeProdutos'
    IResume:
      type: object
      properties:
        saldo:
          type: string
          description: Balance
          example: '1021.0'
        ajustes:
          type: string
          description: Adjustment
          example: '950.0'
        vendaCredito:
          type: string
          description: Total Amount Net
          example: '3045.21'
        dataEfetivaPagamento:
          type: string
          description: Date
          example: '20210222'
      description: Field containing the request return
    SuccessResume:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/IResume'
        lastPage:
          type: boolean
          description: Last page indicator
          example: true
          enum:
            - true
            - false
        totalPages:
          type: integer
          description: Total page counter
          format: int32
          example: 1
        totalItems:
          type: integer
          description: Total Items counter
          format: int64
          example: 1
        currentPage:
          type: integer
          description: Current page number
          format: int32
          example: 0
        totalCurrentItems:
          type: integer
          description: Current item total item counter
          format: int32
          example: 1
    IDetailByScheme:
      type: object
      properties:
        numeroCliente:
          type: string
          description: Client Number
          example: '33333332'
        comprovante:
          type: string
          description: Original Reference Number
          example: '1231012'
        produto:
          type: string
          description: Type ID
          example: VISA Débito
        ajustes:
          type: string
          description: Transaction Type
          example: Compra em 5 parcelas
        comprovantes:
          type: string
          description: Number Slips
          example: '20210222'
        valorBruto:
          type: string
          description: Tran Amount GR
          example: '123.45'
        valorLiquido:
          type: string
          description: Tran Amount Net
          example: '234.56'
        dataTransacao:
          type: string
          description: Record Date
          example: '20210222'
        dataEfetivaPagamento:
          type: string
          description: Date
          example: '20210222'
      description: Field containing the request return
    SuccessDetailByScheme:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/IDetailByScheme'
        lastPage:
          type: boolean
          description: Last page indicator
          example: true
          enum:
            - true
            - false
        totalPages:
          type: integer
          description: Total page counter
          format: int32
          example: 1
        totalItems:
          type: integer
          description: Total Items counter
          format: int64
          example: 1
        currentPage:
          type: integer
          description: Current page number
          format: int32
          example: 0
        totalCurrentItems:
          type: integer
          description: Current item total item counter
          format: int32
          example: 1
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
