openapi: 3.0.2
info:
  description: Payments Information
  version: "1.0"
  title: Payments Information
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Payments Information
paths:
  /bwa/pagamentos/resources/v1/transacoes/sumarizacao/{inst}/{merchant}/{dataInicio}/{dataFim}:
    get:
      tags:
        - Payments Information
      x-proxy-name: Payments - Consult for All Transaction Period - Summarized
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Search for All Transaction Period - Summarized
      summary: Search for All Transaction Period - Summarized
      operationId: searchForAllTransactionPeriodSumm
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: codigoBandeira
          in: query
          description: "Association/Schema Code: 002 - Mastercard | 003 - Visa | 004 - Amex Full | 009 - CABAL | 020 - MDS | 024 - Hipercard/Hiper | 025 - ELO Full"
          example: "002"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "002"
              - "003"
              - "004"
              - "009"
              - "020"
              - "024"
              - "025"
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: "Type of Summary: T - Todos (meaning ALL) | D - Data  (meaning Date) | P - Produto (meaning Product) | B - Bandeira (meaning Association/Schema)"
          required: true
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "T"
              - "D"
              - "P"
              - "B"
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransacaoResponse"
      deprecated: false
  /bwa/pagamentos/resources/v1/{inst}/{merchant}/{dataInicio}/{dataFim}:
    get:
      tags:
        - Payments Information
      x-proxy-name: Payments - Consult for Completed Payments
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Search for Completed Payments
      summary: Search for Completed Payments
      operationId: searchForCompletedPayments
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Number
          example: "91002806"
          required: true
          schema:
            type: string
        - name: codigoTipoPagto
          in: query
          description: Payment Type Code. Allowed values [250 – Pagamentos pelo EC (meaning payments done by Merchant) / 251 – Antecipação Manual (meaning manual prepayment) / 252 – Antecipação Automatica (meaning auto prepayment)]. Example [250,251]
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransacaoResponsePag"
  /bwa/pagamentos/resources/v1/{tipoPagamento}/{inst}/{merchant}/{dataInicio}/{dataFim}:
    get:
      tags:
        - Payments Information
      x-proxy-name: Payments - Search for Payments in specific status suspended or rejected
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Search for Payments in specific status suspended or rejected
      summary: Search for Payments in specific status suspended or rejected
      operationId: searchForSuspendedOrRejectedPayments
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: dataFim
          in: path
          description: Search End Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search Start Date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: tipoPagamento
          in: path
          description: Payment Type "suspensos" meaning Suspended or "rejeitados" meaning Rejected
          example: "rejeitados"
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Number
          example: "91002806"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransacaoResponsePag"
  /bwa/pagamentos/resources/v1/transacoes/{inst}/{merchant}/{dataInicio}/{dataFim}/{ordemPagamento}:
    get:
      tags:
        - Payments Information
      x-proxy-name: Payments - Search for Payment Order
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Search for Payment Order
      summary: Search for Payment Order
      operationId: searchPaymentOrderDetail
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: codigoBandeira
          in: query
          description: "Association/Schema Code: 002 - Mastercard | 003 - Visa | 004 - Amex Full | 009 - CABAL | 020 - MDS | 024 - Hipercard/Hiper | 025 - ELO Full"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "002"
              - "003"
              - "004"
              - "009"
              - "020"
              - "024"
              - "025"
        - name: dataFim
          in: path
          description: Search end date - format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search start date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: ordemPagamento
          in: path
          description: Payment Order Number
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned.
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransacaoOrdemResponse"
      deprecated: false
  /bwa/pagamentos/resources/v1/transacoes/{inst}/{merchant}/{dataInicio}/{dataFim}:
    get:
      tags:
        - Payments Information
      x-proxy-name: Payments - Search all Transactions for a period
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Search all Transactions for a period
      summary: Search all Transactions for a period
      operationId: searchAllTransactionsPeriod
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: codigoBandeira
          in: query
          description: "Association/Schema Code: 002 - Mastercard | 003 - Visa | 004 - Amex Full | 009 - CABAL | 020 - MDS | 024 - Hipercard/Hiper | 025 - ELO Full"
          required: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - "002"
              - "003"
              - "004"
              - "009"
              - "020"
              - "024"
              - "025"
        - name: dataFim
          in: path
          description: Search end date - format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Search start date - Format YYYYMMDD
          required: true
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page Number. Used for search pagination, it should be informed which page will be returned.
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Page Size. Used for search pagination, it must be informed how many records per page will be returned.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransacaoOrdemResponse"
      deprecated: false
components:
  schemas:
    Sumarizacao:
      type: object
      properties:
        data:
          type: string
          description: Transaction Date. Returned when type is T, D.
          example: YYYYMMDD
        codigoBandeira:
          type: string
          description: Association/Schema Code. Returned when type is T, B.
          example: "002"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        descricaoBandeira:
          type: string
          description: Association/Schema Description. Returned when type is T, B.
          example: Mastercard
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        codigoProduto:
          type: string
          description: Product Code. Returned when type is T, P.
          example: "102"
          enum:
            - 102 - Adq-MC Crédito
            - 103 - Acq-CABAL Credit
            - 104 - Acq-CABAL Debit
            - 109 - Acq-Hipercard Credit
            - 110 - Acq-ELO Full Credito
            - 111 - Acq-ELO Full Debito
            - 113 - Acq-AMEX Full Credit
            - 200 - Adq-VISA Débito
            - 716 - Adq-MC Débito
            - 201 - Adq-VISA Crédito
        descricaoProduto:
          type: string
          description: Product Description. Returned when type is T, P.
          example: "Descrição, quando houver"
          enum:
            - 102 - Adq-MC Crédito
            - 103 - Acq-CABAL Credit
            - 104 - Acq-CABAL Debit
            - 109 - Acq-Hipercard Credit
            - 110 - Acq-ELO Full Credito
            - 111 - Acq-ELO Full Debito
            - 113 - Acq-AMEX Full Credit
            - 200 - Adq-VISA Débito
            - 716 - Adq-MC Débito
            - 201 - Adq-VISA Crédito
        codTipoTransacao:
          type: string
          description: Payment Type Code. Returned when type is T, P.
          example: "005"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
        descTipoTransacao:
          type: string
          description: Payment Type Code Description. Returned when type is T, P.
          example: "Compra"
          enum:
            - 005 - Compra - (meaning Purchase)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
        qtdTransacoes:
          type: string
          description: Quantity of Transactions as part of the return. Returned when type is T, D, P, B.
          example: 1
        valorBrutoParcela:
          type: string
          description: Installments Gross Amount. Returned when type is T, D, P, B.
          example: 40
        valorDescontoParcela:
          type: string
          description: Installments Gross Amount. Returned when type is T, D, P, B.
          example: 0.81
        valorLiquidoParcela:
          type: string
          description: Installment Net Amount. Returned when type is T, D, P, B.
          example: 39.19
        valorLiquidoMedio:
          type: string
          description: Average Net Amount. Returned when type is T, D, P, B.
          example: 39.19
        valorBrutoMedio:
          type: string
          description: Average Gross Transaction Amount. Returned when type is T, D, P, B.
          example: 40.00
      title: Sumarizacao
    Transacao:
      type: object
      required:
        - numeroTransacao
        - dataTransacao
        - horaTransacao
        - comprovante
        - codAutorizacao
        - codBandeira
        - codProdutoTransacao
        - codTipoCaptura
        - codTipoCartao
        - codTipoTransacao
        - dataPrevistaPagto
        - descBandeira
        - descProdutoTransacao
        - descTipoCaptura
        - descTipoCartao
        - descTipoTransacao
        - indicadorCancelVenda
        - indicadorCredDeb
        - numCartao
        - numTerminal
        - numeroParcela
        - numeroParcelado
        - numeroResumoVenda
        - qtdeParcelas
        - valorBrutoParcela
        - valorDescontoParcela
        - valorLiquidoParcela
        - valorTotalPlano
      properties:
        numeroTransacao:
          type: string
          description: Transaction Number
          example: 91219086730
        dataTransacao:
          type: string
          description: Transaction Date
          example: YYYYMMDD
        horaTransacao:
          type: string
          description: Transaction Time
          example: 12:48:35
        comprovante:
          type: string
          description: Transction Receipt Number
          example: "000001094"
        codProdutoTransacao:
          type: string
          description: Transaction Product Code
          example: 102
          enum:
            - "200 - Adq - VISA Debit"
            - "109 - Adq - Hiper Credit"
            - "102 - Adq - MC Credit"
            - "111 - Acq-ELO Full Debit"
            - "201 - Adq - VISA Credit"
            - "110 - Acq-ELO Full Credit"
            - "716 - Adq - MC Debit"
            - "113 - Adq-AMEX Full Credit"
        descProdutoTransacao:
          type: string
          description: Transaction Product Code Description
          example: "Adq - VISA Débito"
          enum:
            - "200 - Adq - VISA Debit"
            - "109 - Adq - Hiper Credit"
            - "102 - Adq - MC Credit"
            - "111 - Acq-ELO Full Debit"
            - "201 - Adq - VISA Credit"
            - "110 - Acq-ELO Full Credit"
            - "716 - Adq - MC Debit"
            - "113 - Adq-AMEX Full Credit"
        codBandeira:
          type: string
          description: Transaction Association/Schema Code
          example: "002"
          enum:
            - 002 - Mastercard
            - 003 - Visa
            - 004 - Amex Full
            - 009 - CABAL
            - 020 - MDS
            - 024 - Hipercard/Hiper
            - 025 - ELO Full
        descBandeira:
          type: string
          description: Transaction Association/Schema Code Description
          example: Mastercard
          enum:
            - Mastercard
            - Visa
            - Amex Full
            - CABAL
            - MDS
            - Hipercard/Hiper
            - ELO Full
        codTipoTransacao:
          type: string
          description: Transaction Type Code
          example: 469
          enum:
            - 005 - Compra - (meaning Purchase)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
        descTipoTransacao:
          type: string
          description: Transaction Type Code Description
          example: Compra com 10 parcelas
          enum:
            - 005 - Compra - (meaning Purchase)
            - 461 - Compra com 02 parcelas - (meaning Purchase 02 installments)
            - 462 - Compra com 03 parcelas - (meaning Purchase 03 installments)
            - 463 - Compra com 04 parcelas - (meaning Purchase 04 installments)
            - 464 - Compra com 05 parcelas - (meaning Purchase 05 installments)
            - 465 - Compra com 06 parcelas - (meaning Purchase 06 installments)
            - 466 - Compra com 07 parcelas - (meaning Purchase 07 installments)
            - 467 - Compra com 08 parcelas - (meaning Purchase 08 installments)
            - 468 - Compra com 09 parcelas - (meaning Purchase 09 installments)
            - 469 - Compra com 10 parcelas - (meaning Purchase 10 installments)
            - 470 - Compra com 11 parcelas - (meaning Purchase 11 installments)
            - 471 - Compra com 12 parcelas - (meaning Purchase 12 installments)
            - 472 - Compra com >12 parcelas - (meaning Purchase > 12 issuer installments)
            - 473 - Parcelado Emissor-02 parc - (meaning Purchase 02 issuer installments)
            - 474 - Parcelado Emissor-03 parc - (meaning Purchase 03 issuer installments)
            - 475 - Parcelado Emissor-04 parc - (meaning Purchase 04 issuer installments)
            - 476 - Parcelado Emissor-05 parc - (meaning Purchase 05 issuer installments)
            - 477 - Parcelado Emissor-06 parc - (meaning Purchase 06 issuer installments)
            - 478 - Parcelado Emissor-07 parc - (meaning Purchase 07 issuer installments)
            - 479 - Parcelado Emissor-08 parc - (meaning Purchase 08 issuer installments)
            - 480 - Parcelado Emissor-09 parc - (meaning Purchase 09 issuer installments)
            - 481 - Parcelado Emissor-10 parc - (meaning Purchase 10 issuer installments)
            - 482 - Parcelado Emissor-11 parc - (meaning Purchase 11 issuer installments)
            - 483 - Parcelado Emissor-12 parc - (meaning Purchase 12 issuer installments)
            - 484 - Parcelado Emissor >12 parc - (meaning Purchase 12 issuer installments)
        numeroParcela:
          type: string
          description: Transaction Installment Number
          example: "004"
        qtdeParcelas:
          type: string
          description: Transaction Total Installments
          example: "10"
        valorTotalPlano:
          type: string
          description: Transaction Total Amount
          example: 2400
        codAutorizacao:
          type: string
          description: Transaction Authorization Code
          example: 005185
        numCartao:
          type: string
          description: Card Number responsible for the Transaction
          example: "-"
        numTerminal:
          type: string
          description: Device Authorization Number
          example: PGW33A41
        codTipoCaptura:
          type: string
          description: Transaction Capture Type Code\
          example: "334"
          enum:
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "334 - Ecommerce TEF"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "352 - Mobile POS"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "380 - POS MP5"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "386 - POS do Futuro (meaning Future POS)"
            - "301 - POS GPRS"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "366 - POS Wifi"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "365 - POS Wifi GPRS"
            - "308 - E-Commerce Gateway 1"
            - "391 - App Hardwareless"
            - "356 - E-Comm IPG"
            - "300 - POS ISO"
            - "306 - PINPAD"
            - "379 - Gateway WhiteLabel"
            - "303 - POS Internet/Discado"
        descTipoCaptura:
          type: string
          description: Transaction Capture Type Code Description
          example: "Ecommerce TEF"
          enum:
            - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
            - "334 - Ecommerce TEF"
            - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
            - "352 - Mobile POS"
            - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
            - "377 - POS Web"
            - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
            - "380 - POS MP5"
            - "309 - Arquivo de lote (meaning Batch file)"
            - "386 - POS do Futuro (meaning Future POS)"
            - "301 - POS GPRS"
            - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
            - "305 - POS 3 Conexões (meaning POS three Connections)"
            - "366 - POS Wifi"
            - "357 - POGO"
            - "364 - POS Virtual"
            - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
            - "365 - POS Wifi GPRS"
            - "308 - E-Commerce Gateway 1"
            - "391 - App Hardwareless"
            - "356 - E-Comm IPG"
            - "300 - POS ISO"
            - "306 - PINPAD"
            - "379 - Gateway WhiteLabel"
            - "303 - POS Internet/Discado"
        codTipoCartao:
          type: string
          description: Card Type Code
          example: 898
          enum:
            - "204 - Estrangeiro Master (meaning Foreigner Master)"
            - "209 - Estrangeiro (meaning Foreigner)"
            - "898 - Doméstico BR (meaning National BR)"
        descTipoCartao:
          type: string
          description: Card Type Code Description
          example: Doméstico - BR
          enum:
            - "204 - Estrangeiro Master (meaning Foreigner Master)"
            - "209 - Estrangeiro (meaning Foreigner)"
            - "898 - Doméstico BR (meaning National BR)"
        valorBrutoParcela:
          type: string
          description: Transaction Installment Gross Amount
          example: 240.00
        valorDescontoParcela:
          type: string
          description: Transaction Installment Discount Amount
          example: 7.18
        valorLiquidoParcela:
          type: string
          description: Transaction Installment Net Amount
          example: 232.82
        indicadorCredDeb:
          type: string
          description: Transaction Debit/Credit Indicator
          example: "C"
          enum:
            - "D - Debit"
            - "C - Credit"
        indicadorCancelVenda:
          type: string
          description: Transaction Cancelling Indicator
          example: "000"
          enum:
            - "000 - Not Cancelled"
            - "001 - Cancelled"
        numeroParcelado:
          type: string
          description: Transaction Installment Number
          example: 91219086727
        numeroResumoVenda:
          type: string
          description: Transaction Selling Number
          example: 91219223169
        dataPrevistaPagto:
          type: string
          description: Payment Due Date (forecast)
          example: 20190730
        lockinType:
          type: string
          description: (001 - Cessão, 002, 003, 004 - Gravame)
          example: 001
        finInstitutionTaxId:
          type: string
          description: CNPJ FDIC
          example: 99999999999999
      title: Transacao
    TransacaoResponse:
      type: object
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - totalElements
        - totalPages
        - transacoesSumarizadas
      properties:
        codigoRetorno:
          type: string
          description: Return Code. It will return only the code
          example: "00"
          enum:
            - "00 - Successfully done"
            - "01 - Done with estrictions"
            - "99 - System Error"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: "Successfully done"
          enum:
            - "00 - Successfully done"
            - "01 - Done with estrictions"
            - "99 - System Error"
        first:
          type: boolean
          description: Indicator for fisrt page
          example: true
        last:
          type: boolean
          description: Indicator for last page
          example: true
        pageNumber:
          type: integer
          format: int32
          description: Number of current page
          example: 1
        size:
          type: integer
          format: int32
          description: Page size
          example: 1
        totalElements:
          type: integer
          format: int32
          description: Quantity of elements returned
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Total number of pages
          example: 1
        transacoesSumarizadas:
          type: array
          description: Summarized Transactions List
          items:
            $ref: "#/components/schemas/Sumarizacao"
      title: TransacaoResponse
    TransacaoOrdemResponse:
      type: object
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - totalElements
        - totalPages
        - transacoes
      properties:
        codigoRetorno:
          type: string
          description: Retunr Code
          example: "00"
        descricaoRetorno:
          type: string
          description: Response Description
          example: "Consulta realizada com sucesso."
        first:
          type: boolean
          description: Indicator for fisrt page
          example: true
        last:
          type: boolean
          description: Indicator for last page
          example: true
        pageNumber:
          type: integer
          format: int32
          description: Number of current page
          example: 1
        size:
          type: integer
          format: int32
          description: Page size
          example: 1
        totalElements:
          type: integer
          format: int32
          description: Quantity of elements returned
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Total number of pages
          example: 1
        transacoes:
          type: array
          description: Lista de transações
          items:
            $ref: "#/components/schemas/Transacao"
      title: TransacaoOrdemResponse
    TransacaoResponsePag:
      type: object
      required:
        - codigoRetorno
        - descricaoRetorno
        - totalPages
        - totalElements
        - pageNumber
        - size
        - first
        - last
      properties:
        codigoRetorno:
          type: string
          description: Return Code. It will return only the code
          example: "00"
          enum:
            - "00 - Successfully done"
            - "01 - Done with estrictions"
            - "99 - System Error"
        descricaoRetorno:
          type: string
          description: Return Code Description
          example: "Successfully done"
          enum:
            - "00 - Successfully done"
            - "01 - Done with estrictions"
            - "99 - System Error"
        first:
          type: boolean
          description: Indicator for fisrt page
          example: true
        last:
          type: boolean
          description: Indicator for last page
          example: true
        pageNumber:
          type: integer
          format: int32
          description: Number of current page
          example: 1
        size:
          type: integer
          format: int32
          description: Page size
          example: 1
        totalElements:
          type: integer
          format: int32
          description: Quantity of elements returned
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Total number of pages
          example: 1
        ordensPagamento:
          type: array
          description: Transactions List
          items:
            $ref: "#/components/schemas/TransacaoDetalhe"
      title: TransacaoResponsePag
    TransacaoDetalhe:
      type: object
      required:
        - numeroOrdemPagto
        - dataEfetivaPagto
        - valorPagtoLiquido
        - numeroBanco
        - numeroAgencia
        - numeroContaCorrente
        - codigoStatusPagto
        - descStatusPagto
        - codigoTipoPagto
        - descTipoPagto
      properties:
        numeroOrdemPagto:
          type: string
          description: Payment Order Number
          example: 92908678690
        dataEfetivaPagto:
          type: string
          description: Payment Effective Date
          example: YYYYMMDD
        valorPagtoLiquido:
          type: string
          description: Payment Net Amount
          example: 39.19
        numeroBanco:
          type: string
          description: Settlement Bank Code
          example: 341
        numeroAgencia:
          type: string
          description: Settlement Branch Code
          example: "000776"
        numeroContaCorrente:
          type: string
          description: Settlement Account Number
          example: "049844"
        codigoStatusPagto:
          type: string
          description: Payment Status Code
          example: "002 (always 002)"
          enum:
            -  "002"
        descStatusPagto:
          type: string
          description: Payment Status Code Description
          example: Postada
          enum:
            - "002 - Postada"
        codigoTipoPagto:
          type: string
          description: Payment Type Code
          example: 250
          enum:
            - 250 – Pagamentos pelo EC (meaning payments done by Merchant)
            - 251 – Antecipação Manual  (meaning manual prepayment)
            - 252 – Antecipação Automatica (meaning auto prepayment)
        descTipoPagto:
          type: string
          description: Payment Type Code Description
          example: Pagamentos pelo EC
          enum:
            - 250 – Pagamentos pelo EC (meaning payments done by Merchant)
            - 251 – Antecipação Manual  (meaning manual prepayment)
            - 252 – Antecipação Automatica (meaning auto prepayment)
        situacaoPago:
          type: string
          description: Situação complementar do Pagamento
          example: Pago
          enum:
            - "Rejeitado (meaning Rejected)"
            - "Pago (meaning Paid)"
            - "Enviado (meaning Sent)"
        codBandeira:
          type: string
          description: Scheme code
          example: 025
        descBandeira:
          type: string
          description: Scheme description
          example: ELO Full
        codProduto:
          type: string
          description: Product code
          example: 110
        descProduto:
          type: string
          description: Product description
          example: Acq-ELO Full Credito
        lockinType:
          type: string
          description: Locking type
          example: 002 - Gravame
          enum:
            - "001 - Cessão"
            - "002 - Gravame"
            - "003 - Onus Bonus"
            - "004 - Bloqueio Judicial"
        finInstitutionTaxId:
          type: string
          description: Locking type taxId of finance institution
          example: 73850789000143
      title: TransacaoDetalhe
