openapi: 3.0.1
info:
  title: Released Payments
  description: Performs the consultation of payments that were released after suspension
  termsOfService: urn:tos
  contact:
    name: Fiserv
    url: https://merchants.fiserv.com/pt-br/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: '1.1'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: https://prod.api.firstdata.com
servers:
  - url: https://cat.api.firstdata.com
security:
  - JWT: []
paths:
  /bwa/pagamentos-liberados/v1/socs/detalhamento:
    post:
      tags:
        - PAYMENTS INFORMATION
      x-proxy-name: Detailing payments
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Detailing payments
      operationId: Vendas Liberadas
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000003'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 33333332
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetalhamentoSocRequestDTO'
        required: true
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessDetailingSOCs'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
      security:
        - JWT: []
  /bwa/pagamentos-liberados/v1/rocs/detalhamento:
    get:
      tags:
        - SALES INFORMATION
      x-proxy-name: Detailing of sales
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      description: Detailing of sales
      operationId: Detalhe venda
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000003'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 33333332
        - name: numeroResumoVenda
          in: query
          description: SOC identifier code
          required: true
          schema:
            type: string
          example: 84707025237
        - name: comprovante
          in: query
          description: SOC Reference
          schema:
            type: string
          example: '000000604'
        - name: bandeira
          in: query
          description: SOC band code
          required: false
          schema:
            type: string
          example: '009'
        - name: produto
          in: query
          description: SOC Product code
          required: false
          schema:
            type: string
          example: '002'
        - name: valor
          in: query
          description: SOC Amount
          required: false
          schema:
            type: string
          example: 815.1
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessROCs'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
      security:
        - JWT: []
components:
  schemas:
    DetalhamentoSocRequestDTO:
      type: object
      properties:
        dataInicio:
          type: string
          description: Begin Date
          example: '20210101'
        dataFim:
          type: string
          description: End Date
          example: '20210901'
        produto:
          type: string
          description: Product
          example: '01'
        bandeira:
          type: string
          example: '01'
        bancoAgConta:
          type: string
          example: 237/000215/3453467
    NotFound:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 5
          enum:
            - 5
        mensagem:
          type: string
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          enum:
            - 5 - Item nao encontrado (Meaning item not found)
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 9
          enum:
            - 9
            - 10
        mensagem:
          type: string
          description: Description return code
          example: 'Campos mandatorios: ... (meaning Mandatory Fields)'
          enum:
            - '9 - Campos mandatorios: ... (meaning Mandatory Fields)'
            - 10 - (Erro validaçao) (meaning VAlidation Error)
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 3
          enum:
            - 3
            - 6
        mensagem:
          type: string
          description: Description return code
          example: Acesso negado - (Meaning Denied Access)
          enum:
            - 3 - Acesso negado - (Meaning Denied Access)
            - 10 - Token expirado - (Meaning Expired Token
    DetalhamentoDTO:
      type: object
      properties:
        dataPagamentoOriginal:
          type: string
          description: Original payment schedule date Format YYYYMMDD
          example: '20180130'
        estabelecimento:
          type: string
          description: Merchant code
          example: '33333332'
        numeroResumoVenda:
          type: string
          description: SOC identifier code
          example: '84707025237'
        bandeira:
          type: string
          description: SOC related available services (Association/Schema) to a Merchant
          example: Amex
          enum:
            - Mastercard
            - Visa
            - Amex Full
            - Diners
            - CABAL
            - Mastercard
            - Hipercard/Hiper
            - ELO Full
            - Sorocred
            - ELO
            - Banese
            - Banestes
            - Ticket
            - Alelo
            - AMEX
            - VR
            - SODEXO
            - Softnex
            - Redecompras
            - Fepas
        produto:
          type: string
          description: SOC related product
          example: Credito
          enum:
            - Credito
            - Debito
        quantidadeComprovantes:
          type: string
          description: Number of transactions (ROCs) linked to the SOC
          example: '3'
        tipoPagamento:
          type: string
          description: Identification of the 'Released Suspension' payment type
          example: Liberado Suspensão
          enum:
            - Liberado Suspensão
        dataLiberacaoSuspensao:
          type: string
          description: Date of release of suspension of payment Format YYYYMMDD
          example: '20180225'
        valorBruto:
          type: string
          description: SOC gross value
          example: '103.62'
        valorLiquido:
          type: string
          description: SOC net value
          example: '86.49'
        dataPagamentoEfetivo:
          type: string
          description: Effective payment date Format YYYYMMDD
          example: '20180330'
        bancoAgConta:
          type: string
          description: Banco Agencia e conta
      description: Details of the amounts released in the payment order
    SOCsBandeirasDTO:
      type: object
      properties:
        total:
          type: string
          description: Identification of the totalization of values
          example: Total
        bandeira:
          type: string
          description: Net value of SOCs for the selected brand / product
          example: 10034,95
        produto:
          type: string
          description: SOC related product
          example: Credit Card
          enum:
            - Debit Card
            - All
            - Credit Card
        valorBruto:
          type: string
          description: Gross amount of the sum of SOCs for the selected flag / product
          example: 10740,01
      description: Summation of the values of the SOCs by available services (Association/Schema) to a Merchan of the values released in the payment order
    SOCsDTO:
      type: object
      properties:
        detalhamento:
          type: array
          description: Details of the amounts released in the payment order
          items:
            $ref: '#/components/schemas/DetalhamentoDTO'
        socsBandeiras:
          type: array
          description: Summation of the values of the SOCs by available services (Association/Schema) to a Merchan of the values released in the payment order
          items:
            $ref: '#/components/schemas/SOCsBandeirasDTO'
        sumarizadoSaldoPeriodo:
          $ref: '#/components/schemas/SaldoPeriodoDTO'
      description: Field containing the request return
    SaldoPeriodoDTO:
      type: object
      properties:
        balance:
          type: string
        valorBruto:
          type: string
          description: Gross amount of the sum of SOCs for the selected available services (Association/Schema) to a Merchan / product
        valorLiquido:
          type: string
          description: Net value of SOCs for the selected available services (Association/Schema) to a Merchan / product
      description: Summation of SOCs values by period of the amounts released in the payment order
    SuccessDetailingSOCs:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
            - 101
            - 102
            - 103
            - 104
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
            - 101- Pagamentos liberados nao localizados neste periodo
            - 102- Formato da data nao suportado
            - 103- Data inicio nao pode ser maior que data fim
            - 104- O numero de dias suportado para pesquisa deve menor ou igual a 30
        conteudo:
          $ref: '#/components/schemas/SOCsDTO'
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 2
          enum:
            - 2
            - 7
        mensagem:
          type: string
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          enum:
            - 2 - Erro Interno (Meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (Meaning Integration Error)
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 4
          enum:
            - 4
        mensagem:
          type: string
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          enum:
            - Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
    Conflict:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 8
          enum:
            - 8
        mensagem:
          type: string
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          enum:
            - 8 - Item duplicado (Meaning Duplicated Item)
    ROCsDTO:
      type: object
      properties:
        numeroResumoVenda:
          type: string
          description: SOC identifier code
          example: '84707025237'
        dataCredito:
          type: string
          description: Effective payment date Format YYYYMMDD
          example: '20180330'
        dataTransacao:
          type: string
          description: Transaction date Format YYYYMMDD
          example: '20180330'
        estabelecimento:
          type: string
          description: Merchant code
          example: '33333332'
        quantidadeComprovantes:
          type: string
          description: Number of transactions (ROCs) linked to the SOC
          example: '3'
        bandeira:
          type: string
          description: SOC related available services (Association/Schema) to a Merchant
          example: Amex
          enum:
            - Mastercard
            - Visa
            - Amex Full
            - Diners
            - CABAL
            - Mastercard
            - Hipercard/Hiper
            - ELO Full
            - Sorocred
            - ELO
            - Banese
            - Banestes
            - Ticket
            - Alelo
            - AMEX
            - VR
            - SODEXO
            - Softnex
            - Redecompras
            - Fepas
        produto:
          type: string
          description: SOC related product
          example: Credito
          enum:
            - Credito
            - Debito
        parcela:
          type: string
          description: Number of the parcel related to the ROC
          example: '1'
        totalParcelas:
          type: string
          description: Transaction total installments
          example: '5'
        autorizacao:
          type: string
          description: Transaction authorization code
          example: '903301'
        numeroCartao:
          type: string
          description: Card number used in the transaction
          example: 506741******0054
        seuNumero:
          type: string
          description: E-commerce purchase identification code
          example: A1543520269101388631
        eciCode:
          type: string
          description: E-commerce transaction category indication
          example: '7'
          enum:
            - R
            - T
            - '0'
            - '1'
            - '2'
            - '4'
            - '5'
            - '6'
            - '7'
        terminal:
          type: string
          description: Terminal identification code
          example: EII01857
        tipoCaptura:
          type: string
          description: Type of the terminal that captured the transaction
          example: Bin e-commerce
          enum:
            - Arquivo de lote
            - BeautyFair_Link
            - BeautyFair_Move
            - Bin e-commerce
            - E-Comm Gateway 2
            - E-Comm Gateway 3
            - E-Comm Gateway 4
            - E-Comm Gateway 5
            - E-Comm Subadquirente
            - E-Commerce Gateway 1
            - eCommerce SE Con 616
            - eCommerce SE Conecta
            - Future POS
            - IP de TEF
            - Link de Pagamento
            - Link 2500 2G Pop
            - Mobile POS
            - Move 5000 Mega Pop
            - N/A
            - PINPAD Serial
            - PINPAD USB
            - POS Desktop
            - POS Eth + Desktop
            - POS GPRS Desktop
            - POS GPRS Dt+Dial+Eth
            - POS GPRS Mobile
            - POS GPRS WIFI
            - POS ISO
            - POS Link2500 2G_PENT
            - POS Link2500 3G_PENT
            - POS MOBY6500 Aluguel
            - POS MOBY6500 Venda
            - POS no celular
            - POS Virtual
            - POS-TEF Browser
            - POS-TEF Whitelabel
            - Rental POS 2G
            - Solução própr ecomm
            - TEF dedicada
        tipoCartao:
          type: string
          description: Type of card used in the transaction
          example: Doméstico
          enum:
            - Estrangeiro
            - Doméstico
            - Todos
        valorTotalTransacao:
          type: string
          description: Total transaction amount (in case of sale in installments)
          example: 0,00
        valorBrutoParcela:
          type: string
          description: Gross transaction amount (in case of cash sale) or gross amount of the parcel (in case of sale in installments)
          example: '236'
        desconto:
          type: string
          description: Transaction fee amount (MDR)
          example: '5.9'
        valorLiquido:
          type: string
          description: Net transaction value (in case of cash sale) or net value of the portion (in case of sale in installments)
          example: '230.1'
        statusDaTransacao:
          type: string
          description: Transaction status
          example: Não Aplicável
        tipoDePagamento:
          type: string
          description: Type of payment
          example: Deposito pelo EC
      description: Field containing the request return
    SuccessROCs:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
            - 105
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
            - 105 - Pagamentos liberados nao localizados para este numero do resumo da venda
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/ROCsDTO'
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
