openapi: 3.0.2
info:
  description: Query History of Authorized Transactions
  version: "1.0"
  title: Query History of Authorized Transactions
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Query History of Authorized Transactions
    description: Query History of Authorized Transactions
paths:
  "/bwa/autorizacoesbw/v1/autorizacoesbw":
    get:
      tags:
        - Query History of Authorized Transactions
      x-proxy-name: Merchant Authorizations History - Consult
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Query History of Authorized Transactions
      summary: Query History of Authorized Transactions
      operationId: Query History of Authorized Transactions
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          example: "98703001"
          schema:
            type: string
        - name: dataInicio
          in: query
          description: Start Date. Format YYYYMMDD
          required: true
          example: "20210401"
          schema:
            type: string
        - name: dataFim
          in: query
          description: End Date. Format YYYYMMDD
          required: true
          example: "20210411"
          schema:
            type: string
        - name: terminal
          in: query
          description: terminal
          required: false
          example: "TFX023E8"
          schema:
            type: string
        - name: status
          in: query
          description: status
          required: false
          example: "Declined"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEntity"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
            - 101
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing)"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
            - "101 - Formato de data invalido"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado- (meaning Access Denied)
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseEntity:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - >-
              0 - Sucesso.
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/Response'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 14
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 273
          type: integer
          format: int32
        currentPage:
          description: Current search page
          example: 1
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 20
          type: integer
          format: int32
    Response:
      type: object
      properties:
        data:
          type: string
          description: data
          example: "210401"
        status:
          type: string
          description: Status
          example: "Declined"
        valor:
          type: string
          description: Value
          example: "0000000000000030000"
        creditoOuDebito:
          type: string
          description: Credit or debit
          example: "CR"
          enum:
            - "CR – Transação de crédito"
            - "DR – Transação de débito"
            - "N/A – Demais transações"
        numeroTerminal:
          type: string
          description: Terminal number
          example: "PGW02B32"
        numeroCartao:
          type: string
          description: Card number
          example: "422061******9978"
        numeroDocumento:
          type: string
          description: Document number
          example: "000000336301"
        autorizacao:
          type: string
          description: authorization
          example: "775166989"
        comprovante:
          type: string
          description: Evidence
          example: "0000004700"
        hora:
          type: string
          description: Hour
          example: "122220"
        codigoCliente:
          type: string
          description: Merchant Id Code
          example: "33333332"
