openapi: 3.0.2
info:
  description: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
  title: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
  version: "1.0"
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
paths:
  "/bwa/chargeback-api-external/api/chargeback/apigee/filter":
    post:
      tags:
        - Search for Chargeback Information by Tax ID, Merchant Code and Instituion
      x-proxy-name: Consult Chargeback Information
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
      summary: Merchant Information & Cases
      operationId: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Establishment Number
          example: "99999999"
          required: false
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ) Information
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DChargebackFilterRequest"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPage"
        "400":
          description: BadRequest
          content: { }
        "401":
          description: Unauthorized
          content: { }
      deprecated: false
      security:
        - JWT: []
components:
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    DChargebackFilterRequest:
      type: object
      properties:
        authCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
        cardBrand:
          type: string
          description: Card Brand to be Searched - Visa | Mastercard | Elo Full | Hipercard | Amex Full
          example: "VISA"
        chargebackKey:
          type: string
          description: Encrypted chargeback key
          example: "31472582506723******9011922359"
        reasonCode:
          type: string
          description: Card Brand Reason code
          example: "30-Product not received or service not provided"
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: "1109039753"
        processingStartDate:
          type: string
          format: date
          description: Processing Start Date Information. Format YYYY-MM-DD
          example: "2022-09-20"
        processingEndDate:
          type: string
          format: date
          description: Processing End Date Information. Format YYYY-MM-DD. Max difference in days are 10.
          example: "2022-09-30"
        actionStartDate:
          type: string
          format: date
          description: Action Start Date Information. Format YYYY-MM-DD
          example: "2022-09-20"
        actionEndDate:
          type: string
          format: date
          description: Action End Date Information. Format YYYY-MM-DD. Max difference in days are 10.
          example: "2022-09-30"
      title: DChargebackFilterRequest
      description: Filter object
    DPage:
      type: object
      title: DPage
      description: Page wrapper with list of chargebacks object
      properties:
        data:
          type: array
          description: Array of chargebacks object
          items:
            $ref: '#/components/schemas/DChargebackTransactionResponse'
        lastPage:
          type: boolean
          description: Is the last page
          example: true
        totalPages:
          type: integer
          description: Total number of pages
          example: 0
        totalItems:
          type: integer
          description: Total number of items
          example: 1
        currentPage:
          type: integer
          description: Current Page
          example: 0
    DChargebackTransactionResponse:
      type: object
      title: DChargebackTransactionResponse
      description: Page wrapper with list of chargebacks object
      properties:
        receivedAging:
          type: integer
          description: Chargeback Received aging
          example: 13
        key:
          type: string
          description: Chargeback encrypted key
          example: "98703001515590******1242667902"
        orderNumber:
          type: string
          description: Order Number
        emailSentDate:
          type: string
          format: date
          description: Date when the Email Information was sent
          example: "2022-09-30"
        screeningStatus:
          type: string
          description: Screening Status
          example: "Readable document"
        customerName:
          type: string
          description: Customer Name
          example: "TEST MERCHANT"
        ecCode:
          type: integer
          description: Merchant code
          example: "99999999"
        rcCardBrand:
          type: string
          description: Card Brand Reason code
          example: "30-Product not received or service not provided"
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: "1109039753"
        cardNumber:
          type: string
          description: Card Number
          example: "515590******1242"
        arn:
          type: string
          description: Chargeback Acquirer Reference Number
          example: "85182199329946084425304"
        transactionDate:
          type: string
          description: Transaction Date
          example: "2022-09-30"
        authCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
          example: "667902"
        totalTransactionValue:
          type: number
          description: Total Transaction Amount
          example: 407.07
        transactionType:
          type: string
          description: Transaction Type
          example: "Credit Card"
          enum:
            - Debit Card
            - Credit Card
        transactionTypeDescription:
          type: string
          description: Transaction Type Description
          example: "Merchant Install-07 parcels"
        cardBrand:
          type: string
          description: Card Brand
          example: "Visa"
          enum:
            - Visa
            - Mastercard
            - Elo Full
            - Hipercard/Hiper
            - Amex Full
        messageText:
          type: string
          description: Free Message Text
          example: null
        serviceContract:
          type: string
          description: Institution Service Contract
          example: "101-Merchant Retail BIN"
        terminalId:
          type: string
          description: Terminal Logical Number
          example: "EII0184B"
        captureMode:
          type: string
          description: Transaction capture mode (entry mode)
          example: "054-eCommerce, Canal Criptografado"
        hasDocument:
          type: boolean
          description: If the chargaback has document
          example: true
        action:
          type: string
          description: Chargeback Action
        actionDate:
          type: string
          format: date
          description: Date of action at the chargeback
          example: "2022-09-30"
        processingDate:
          type: string
          format: date
          description: Processing Date Information. Format YYYY-MM-DD
          example: "2022-09-20"
        companyNumber:
          type: string
          description: Tax ID (CPF/CNPJ) Information
          example: "98102650006779"
        institution:
          type: object
          description: Institution object
          oneOf:
            - $ref: '#/components/schemas/DInstitutionResponse'
    DInstitutionResponse:
      type: object
      title: DInstitutionResponse
      description: Institution object
      properties:
        code:
          type: integer
          description: Code of institution
          example: "7"
        name:
          type: string
          description: Name of institution
          example: "Fiserv"
