openapi: 3.0.2
info:
  description: Search for keyed transaction status, with CNAE details
  version: "1.0"
  title: Search for keyed transaction status, with CNAE details
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  '/bwa/consulta-transacao-digitada/v1/consulta':
    get:
      tags:
        - Search for keyed transaction status, with CNAE details
      x-proxy-name: Merchant Sales - Keyed Trans Permission - Consult
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search detailed information by Customer Information
      summary: 'Search detailed information by Customer Information'
      operationId: Search detailed information by Customer Information
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant ID Number
          example: "33333333"
          required: true
          schema:
            type: string
        - name: codigoContrato
          in: header
          description: Service contract code
          example: "104"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaCnae'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum: 
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum: 
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado
          type: string
          enum: 
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum: 
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseEntityConsultaCnae:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - >-
              0 - Sucesso.
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/StcStatisticDetailSpRespDTO'
        
    StcStatisticDetailSpRespDTO:
      type: object
      properties:
        cnae: 
          description: "CNAE Number (Brazilian Activity Code)"
          example: 113322
          type: integer
        mcc: 
          description: "MCC - Merchant Category Code"
          example: 65123
          type: integer
        nivel: 
          description: "Risk Level to enable transaction keyed"
          example: "L"
          enum:
           - H - High
           - M - Medium
           - L - Low
          type: string
        denominacao: 
          description: "CNAE description"
          example: "Cultivo de abacaxi"
          type: string
        vendaDigitada: 
          description: "CNAE autorization Information"
          example: "Liberado -  Mediante Formulário - (meaning Released - Request Form Required)"
          enum:
            - Não Liberado  - (meaning Not released)
            - Não atuar - Segmento não qualificado  - (meaning No Action - Segment not qualified)
            - Não atuar - Política de Contingência - (meaning No Action - Policy)
            - Liberado - Dispensado de Formulário - (meaning Released - Exempt Form)
            - Liberado - Mediante Formulário - (meaning Released - Request Form Required)
          type: string
        reativacao: 
          description: "Reactivation type"
          example: "BKO"
          enum:
            - BKO - Backoffice
            - C&R - Credit & Risk
          type: string
        descricaoMcc: 
          description: "MCC description"
          example: "COOPERATIVA AGRÍCOLA"
          type: string
        tipoRisco: 
          description: "Risk type to enable Transaction Keyed. I Lowest - IV Higuest"
          example: "I"
          enum:
            - I
            - II
            - III
            - IV
          type: string
        sic: 
          description: "SIC (Standard Industrial Classification) Number"
          example: 5261
          type: integer
