openapi: 3.0.1
info:
  description: Search for Transactions Authorization
  version: "1.0"
  title: Search for Transactions Authorization
  termsOfService: urn:tos
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Transacions Authorization
    description: Transacions Authorization
paths:
  "/bwa/autorizacoes/{inst}/{merchant}":
    get:
      tags:
        - Search for Transactions Authorization
      x-proxy-name: Merchant Authorizations - Consult (Institute and marchant)
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Transacions Authorization
      summary: Transacions Authorization
      operationId: searchTransactionsAuthorization
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucessfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
      deprecated: false
  "/bwa/autorizacoes/{inst}/{merchant}/{terminals}":
    get:
      tags:
        - Search for Transactions Authorization
      x-proxy-name: Merchant Authorizations - Consult by Institution Number, Merchant Code and Terminal
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search the last transaction for devices to a given Institution Number and Merchant Code and Terminal
      summary: Search the last transaction for devices to a given Institution Number and Merchant Code
      operationId: searchLastTransaction
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example:
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: terminals
          in: path
          description: Device Identification
          example: "PFT001B5"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
      deprecated: false
components:
  schemas:
    Autorizacoes:
      type: object
      required:
        - bandeira
        - codAutorizacao
        - codMensagem
        - codProcessamento
        - data
        - estabelecimento
        - estornada
        - horario
        - terminal
        - tipoMensagem
        - valorBruto
      properties:
        bandeira:
          type: string
          description: Association/Schema code related to the authorization
          example: "VL"
          enum:
            - visa domestic debit= "VL",
            - visa domestic credit= "VN",
            - visa foreign debit= "VF",
            - visa foreign credit= "V ",
            - visa corporate credit= "VC",
            - mastercard domestic debit= "ML",
            - master thru bnet domestic= "MB",
            - mastercard domestic credit= "MN",
            - mastercard foreign debit= "MF",
            - mastercard foreign credit= "M ",
            - mastercard corporate credit= "MC",
            - cabal domestic credit= "CN",
            - cabal domestic debit= "CL",
            - cabal foreign credit= "CG",
            - cabal foreign debit= "CF",
            - cabal voucher reficao = "CR",
            - cabal voucher alimentacao = "CA",
            - cabal voucher cultura = "CT",
            - soroc domestic credit= "SN",
            - soroc domestic debit= "SL",
            - soroc voucher reficao = "SR",
            - soroc voucher alimentacao = "SA",
            - elo voucher reficao = "LR"
            - elo voucher alimentacao = "LA"
            - elo voucher cultura = "LC"
            - elo voucher auto = "LV"
            - banese domestic credit= "GN"
            - banese domestic debit= "GL"
            - banese voucher = "GV"
            - banestes domestic credit= "TN"
            - banestes domestic debit= "TL"
            - ticket voucher alimentacao = "KA"
            - ticket voucher refeicao= "KR"
            - ticket voucher cultura= "KT"
            - hiperc domestic credit= "HC"
            - hiper domestic credit= "HN"
            - elof domestic credit= "ON"
            - elof domestic debit= "OL"
            - amex foreign credit= "A "
            - amexf domestic credit= "XN"
            - amexf foreign credit= "X "
            - sodexo voucher alimentacao = "FA"
            - sodexo voucher refeicao= "FR"
            - sodexo voucher cultura= "FT"
        codAutorizacao:
          type: string
          description: Authorization Code
          example: "000247"
        codMensagem:
          type: string
          description: Message Authorization Code
          example: "0200"
        codProcessamento:
          type: string
          description: Processing Authorization Code
          example: "003000"
        data:
          type: string
          description: Authorization Date
          example: "2019-06-06 00:00:00.0"
        estabelecimento:
          type: string
          description: Merchant Identification Code
          example: "33832822"
        estornada:
          type: string
          description: Reversal Authorization Identification
          example: "0"
          enum:
            - "0 - Not reversal"
            - "1 - reversal"
        horario:
          type: string
          description: Authorization Time
          example: "125523"
        terminal:
          type: string
          description: Device Code used for Authorization
          example: "PFT001B5"
        tipoMensagem:
          type: string
          description: Message Type related to the authorization
          example: "210"
        valorBruto:
          type: string
          description: Authorization Gross Amount
          example: 365.00
      title: Authorization
    Response:
      type: object
      required:
        - autorizacoes
        - codigoRetorno
        - descricaoRetorno
      properties:
        autorizacoes:
          type: array
          description: Authorizations List
          items:
            $ref: "#/components/schemas/Autorizacoes"
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - "00 - Successfully Done"
            - "01 - Realized but with erros"
            - "99 - System Error"
        descricaoRetorno:
          type: string
          description: Return Description
          example: "Successfully Done"
          enum:
            - "00 - Successfully Done"
            - "01 - Realized but with erros"
            - "99 - System Error"
      title: AutorizacoesResponse
