openapi: 3.0.1
info:
  title: API Sales Tracking
  description: API Sales Tracking
  termsOfService: urn:tos
  contact:
    name: Fiserv
    url: https://merchants.fiserv.com/pt-br/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: '1.2'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: https://prod.api.firstdata.com
servers:
  - url: https://cat.api.firstdata.com
security:
  - JWT: []
paths:
  /bwa/acompanhamento-vendas/v1/acompanhamentoVendas:
    get:
      tags:
        - SALES TRACKING
      x-proxy-name: Sales tracking
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Sales tracking
      operationId: buscaAcompanhamentoVendas
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          schema:
            type: string
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: auth
          in: header
          description: Authorization token. Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          schema:
            type: string
          example: 1563309156733
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          schema:
            type: string
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: '00000003'
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 33333331
        - name: anomes
          in: query
          description: Fomart date. yyyyMM
          required: true
          schema:
            type: string
          example: 202101
        - name: page
          in: query
          description: Search page number (Default 0)
          schema:
            type: string
          example: 0
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          schema:
            type: string
          example: 20
        - name: sort
          in: query
          description: Sorting 
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Success'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
      security:
        - JWT: []
components:
  schemas:
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 4
          enum:
            - 4
        mensagem:
          type: string
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          enum:
            - Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
    Conflict:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 8
          enum:
            - 8
        mensagem:
          type: string
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          enum:
            - 8 - Item duplicado (Meaning Duplicated Item)
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 9
          enum:
            - 9
            - 10
        mensagem:
          type: string
          description: Description return code
          example: 'Campos mandatorios: ... (meaning Mandatory Fields)'
          enum:
            - '9 - Campos mandatorios: ... (meaning Mandatory Fields)'
            - 10 - (Erro validaçao) (meaning VAlidation Error)
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 2
          enum:
            - 2
            - 7
        mensagem:
          type: string
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          enum:
            - 2 - Erro Interno (Meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (Meaning Integration Error)
    AcompanhamentoVendasDTO:
      type: object
      properties:
        nomeComercial:
          type: string
          description: Trade Name
          example: Sicredi
        numero:
          type: string
          description: Street number
          example: '787'
        instituicao:
          type: string
          description: Merchant Institution Number
          example: '00000001'
        cep:
          type: string
          description: Zip code
          example: '11221150'
        cidade:
          type: string
          description: City Name
          example: São Paulo
        cnpjCpf:
          type: string
          description: Cnpj or Cpf
          example: 'CNPJ: 01.181.521/0001-60'
        endereco:
          type: string
          description: Street name
          example: Avenida Aureliano de Figueiredo Pinto
        comissaoPaga:
          type: string
          description: Comission Paid
          example: '887403'
        comissaoFdb:
          type: string
          description: Comission FDB
          example: '899637'
        vendas:
          type: string
          description: Sales
          example: '9196'
        bairro:
          type: string
          description: Neighbourhood
          example: Vila madalena
        estado:
          type: string
          description: Cliente state code
          example: SP
        mesCaptura:
          type: string
          description: Capture Month
          example: '06'
        tipoServico:
          type: string
          description: Service type
          example: DEBITO
        comissaoIssBanco:
          type: string
          description: Comission Iss Bank
          example: '35598'
        cnpjCpfInstituicao:
          type: string
          description: Institution cnpj or cpf
          example: 'CNPJ: 01.181.521/0001-60'
        nomeComercialInstituicao:
          type: string
          description: Institution trade name
          example: Sicredi
        enderecoInstituicao:
          type: string
          description: Institution Street name
          example: Avenida Aureliano de Figueiredo Pinto
        nomeInstituicao:
          type: string
          description: Institution name
          example: '00000001'
        cidadeInstituicao:
          type: string
          description: Institution City Name
          example: São Paulo
        incTaxaRealizado:
          type: string
          description: Inc Tax Held
          example: '13494555'
        numeroInstituicao:
          type: string
          description: Institution Number
          example: '787'
        bairroInstituicao:
          type: string
          description: Institution Neighbourhood
          example: Vila Madalena
      description: Field containing the request return
    Success:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/AcompanhamentoVendasDTO'
        lastPage:
          type: boolean
          description: Last page indicator
          example: true
          enum:
            - true
            - false
        totalPages:
          type: integer
          description: Total page counter
          format: int32
          example: 1
        totalItems:
          type: integer
          description: Total Items counter
          format: int64
          example: 1
        currentPage:
          type: integer
          description: Current page number
          format: int32
          example: 0
        totalCurrentItems:
          type: integer
          description: Current item total item counter
          format: int32
          example: 1
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 3
          enum:
            - 3
            - 6
        mensagem:
          type: string
          description: Description return code
          example: Acesso negado - (Meaning Denied Access)
          enum:
            - 3 - Acesso negado - (Meaning Denied Access)
            - 10 - Token expirado - (Meaning Expired Token
    NotFound:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 5
          enum:
            - 5
        mensagem:
          type: string
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          enum:
            - 5 - Item nao encontrado (Meaning item not found)
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
