openapi: 3.0.2
info:
  description: Consult suspended transactions by Merchant
  version: '1.0'
  title: Consult suspended transactions
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  '/bwa/consulta-transacoes-suspensas/v1/consulta/transacaosuspensa':
    post:
      tags:
        - Consult suspended transactions by Merchant
      x-proxy-name: Merchant Sales - Suspended Transactions - Consult
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search for suspended transactions by Merchant ID
      summary: 'Search for suspended transactions by Merchant ID'
      operationId: Search for suspended transactions by Merchant ID
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacaoRequest'
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaTransacao'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/consulta-transacoes-suspensas/v1/consulta/transacaosuspensaSumarizada':
    post:
      tags:
        - Consult suspended transactions by Merchant
      x-proxy-name: Merchant Sales - Suspended Transactions - Consult suspended summarized by Merchant ID
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search for suspended summarized by Merchant ID
      summary: 'Search for suspended summarized by Merchant ID'
      operationId: Search for suspended summarized by Merchant ID
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacaoRequest'
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaTransacaoSumarizada'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum: 
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning mdantory Fields Missing)
          type: string
          enum: 
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado- (meaning Access Denied)
          type: string
          enum: 
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (meaning Internal Error)
          type: string
          enum: 
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"
    ResponseEntityConsultaTransacao:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
            - 102
            - 103
            - 104
            - 105
            - 106
        mensagem:
          description: Description return code
          example: Sucesso (Success)
          type: string
          enum:
            - "0 - Sucesso - (meaning Success)"
            - "101 - Formato da data nao suportado - (meaning Wrong Data Format)"
            - "102 - Data inicio nao pode ser maior que data fim - (meaning Start Date cannot be greated than End Date)"
            - "103 - O numero de dias suportado para pesquisa deve menor ou igual a 30  - (meaning Quantity of Days must be equal or less 30)"
            - "104 - A bandeira informada nao e valida - (meaning invalid Association/Schema)"
            - "105 - O servico informado nao e valido - (meaning Invalid Service)"
            - "106 - Nao existe transacoes rejeitadas com os parametros informados - (meaning There is no Suspended Transactions for the parameters)"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ITransacaoSuspensaDTO'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage: 
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    ITransacaoSuspensaDTO:
      type: object
      properties:
        dataOriginalPagamento: 
          description: "Original payment date"
          example: "20210503"
          type: string
        dataPagamento: 
          description: "Original payment date"
          example: "20210430"
          type: string
        clientNumber: 
          description: "Merchant Code"
          example: "12345678"
          type: string
        comprovanteTransacao:
          description: "Transaction Receipt Number"
          example: "02809425968"
          type: string
        tipoTransacao:
          description: "Transaction type"
          example: "Visa Credito"
          type: string
          enum:
            - "Amex Credit"
            - "CABAL Credit"
            - "CABAL Debit"
            - "ELO Credit"
            - "ELO Debit"
            - "Hipercard Credit"
            - "MC Credit"
            - "MC Debit"
            - "VISA Credit"
            - "VISA Debit"
        numeroParcela:
          description: "Installment number"
          example: "2"
          type: string
        statusPagamento:
          description: "Payment status"
          example: "Pagamento recusado - (meaning Payment Rejected)"
          type: string
          enum:
            - "Antecipada" 
            - "Apr inexistente" 
            - "Apresentação tardia" 
            - "Aprovada" 
            - "BIN Adq não encontr" 
            - "Cancelada" 
            - "Carregada" 
            - "Cartão fora Tab BIN" 
            - "Cat term incorreta" 
            - "Chargeback" 
            - "Ciclo encerrado" 
            - "Client/cart não enc" 
            - "Cód autorização req" 
            - "Código POS inválido" 
            - "COLOCAR EM ESPERA" 
            - "Confere" 
            - "Contrato encerrado" 
            - "Contrato inválido" 
            - "Data trans inválida" 
            - "DCC não confere" 
            - "Destino não definido" 
            - "Digitada" 
            - "Em Chargeback" 
            - "Equipamento não enc" 
            - "Erro" 
            - "Excluída" 
            - "Falha conta contábil" 
            - "Falha verif Luhn" 
            - "Fase1 Inst proc inex" 
            - "Formato DCC inválido" 
            - "Fraude confirmada" 
            - "Fraude perda banco" 
            - "Fraude perda pelo EC" 
            - "Fundos indisponíveis" 
            - "Hr trans inválido" 
            - "Legítima" 
            - "Liberada" 
            - "Limite parc excedido" 
            - "Liquidação pendente" 
            - "Liquidado" 
            - "Lote não reconc" 
            - "Não aplicável" 
            - "Não processada" 
            - "Omitida" 
            - "Orig não encontrado" 
            - "Pagamento enviado" 
            - "Pagamento recusado" 
            - "Pagamento Suspenso"
            - "Pago"
            - "Pendente" 
            - "Pgto com sucesso" 
            - "Processada" 
            - "Processada" 
            - "Recusada" 
            - "Reg conta inexiste" 
            - "Regra taxa IRD vazia" 
            - "Rejeitado" 
            - "Reprocessado" 
            - "Sem contr de serviço" 
            - "Sem instr de proc" 
            - "Sem nome da empresa" 
            - "Serv não atribuídos" 
            - "Serv não definidos" 
            - "Status contrato inc" 
            - "Status da conta inc" 
            - "Status do cartão inc" 
            - "Suspeita de fraude" 
            - "Tam No do cartão inc" 
            - "Taxa não encontrada" 
            - "Tel serv inexistente" 
            - "Trans pgto inexiste" 
            - "Trans pós-datada" 
            - "Tx entr não encontr" 
            - "Tx saída não encontr" 
            - "Valor alto" 
            - "Valor zerado" 
            - "VAU Aprovado" 
            - "VAU Rejeitado" 
        dataSuspensao:
          description: "Suspension date"
          example: "20210429"
          type: string
        valorBrutoPagamentoRejeitado:
          description: "Gross transaction amount with payment rejected"
          example: "376.90"
          type: string
        valorLiquidoPagamentoRejeitado:
          description: "Net transaction value with payment rejected"
          example: "372.93"
          type: string
        bancoAgenciaConta:
          description: "Bank / branch / account Number"
          example: "341/000001/00123456789"
          type: string
        totalParcelasTransacao:
          description: "Number of Installment Transaction"
          example: "5"
          type: string
        totalBruto: 
          description: "Total Amount Gross"
          example: "18928000"
          type: string
        totalLiquido: 
          description: "Total Amount Net"
          example: "18549440"
          type: string
    ResponseEntityConsultaTransacaoSumarizada:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
            - 102
            - 103
            - 104
            - 105
            - 106
        mensagem:
          description: Description return code
          example: Sucesso (Success)
          type: string
          enum:
            - "0 - Sucesso - (meaning Success)"
            - "101 - Formato da data nao suportado - (meaning Wrong Data Format)"
            - "102 - Data inicio nao pode ser maior que data fim - (meaning Start Date cannot be greated than End Date)"
            - "103 - O numero de dias suportado para pesquisa deve menor ou igual a 30  - (meaning Quantity of Days must be equal or less 30)"
            - "104 - A bandeira informada nao e valida - (meaning invalid Association/Schema)"
            - "105 - O servico informado nao e valido - (meaning Invalid Service)"
            - "106 - Nao existe transacoes rejeitadas com os parametros informados - (meaning There is no Suspended Transactions for the parameters)"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/ITransacaoSuspensaSumarizadaDTO'
        lastPage:
          description: Informs if it is the last page of the search
          example: true
          type: boolean
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalItems:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        currentPage: 
          description: Current search page
          example: 0
          type: integer
          format: int32
        totalCurrentItems:
          description: Total records brought to the page
          example: 30
          type: integer
          format: int32
    ITransacaoSuspensaSumarizadaDTO:
      type: object
      properties:
        totalBruto: 
          description: "Total Amount Gross"
          example: "18928060"
          type: string
        totalLiquido: 
          description: "Total Amount Net"
          example: "18549498.8"
          type: string
        tipoTransacao:
          description: "Transaction type"
          example: "MC Debit"
          type: string
          enum:
            - "Amex Credit"
            - "CABAL Credit"
            - "CABAL Debit"
            - "ELO Credit"
            - "ELO Debit"
            - "Hipercard Credit"
            - "MC Credit"
            - "MC Debit"
            - "VISA Credit"
            - "VISA Debit"
    ConsultaTransacaoRequest:
      type: object
      properties:
        bandeira:
          description: "Card flag on transaction"
          example: "002"
          type: string
          enum: 
            - "002 - Mastercard"
            - "003 - Visa"
            - "004 - Amex Full"
            - "009 - CABAL"
            - "024 - Hipercard/Hiper"
            - "025 - ELO Full"
        tipoServico:
          description: "Transaction type carried out"
          example: "001"
          type: string
          enum: 
            - "001 - Credit"
            - "002 - Debit"
        dataInicial:
          description: "Search start date (optional)"
          example: "YYYY-MM-DD"
          type: string
        dataFinal:
          description: "Search end date (optional)"
          example: "YYYY-MM-DD"
          type: string
        valorLiquido:
          description: "Search Ammount"
          example: "52.16"
          type: string
        statusDoPagamento:
          description: "Status payment"
          example: "Payment Rejected"
          type: string
        bancoAgConta:
          description: "Bank"
          example: "200/000215/3450000"
          type: string
