openapi: 3.0.2
info:
  title: Search for service order cancellation reasons registered in TMP System
  description: Search for service order cancellation reasons registered in TMP System
  termsOfService: 'urn:tos'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  version: 1.0.0
servers:
  - url: 'https://cat.api.firstdata.com'
    variables: {}
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: 'prod.api.firstdata.com'
paths:
  '/bwa/service-order-cancellation-reason/{code}':
    get:
      tags:
        - Find, by code, one cancellation reason registered in BR TMP
      x-proxy-name: Find, by code, one cancellation reason registered in BR TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: 'Find, by code, one cancellation reason registered in BR TMP'
      operationId: Find, by code, one cancellation reason registered in BR TMP
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: 
        - name: code
          in: path
          description: Cancellation reason code generated by TMP System
          required: true
          schema:
            type: string
            example: MCT025
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDCancellationReason'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
        '502':
          description: Error in the communication between the API and the BR TMP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
  /bwa/service-order-cancellation-reason/:
    get:
      tags:
        - List all cancellation reasons registered in TMP
      x-proxy-name: List all cancellation reasons registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all cancellation reasons registered in TMP
      operationId: List all cancellation reasons registered in TMP
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: 
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDCancellationReasonWrapper'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
        '502':
          description: Error in the communication between the API and the BR TMP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
components:
  schemas:
    DApiErro:
      type: object
      properties:
        timestamp:
          type: string
          description: 'Request date in format yyyy-MM-dd HH:mm:ss'
          example: '2020-02-02 20:00:02'
        status:
          type: integer
          description: HTTP code return
          format: int32
          example: 404
        error:
          type: string
          description: HTTP code description
          example: Not Found
        message:
          type: string
          description: Error message
          example: The requested resource was not found
        path:
          type: string
          description: URI
          example: /service-order-cancellation-reason/XYZ123
      description: Return body
    DResponseDApiErro:
      type: object
      properties:
        returncode:
          type: integer
          description: 'Return code (0 for success, 1 for error)'
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: 'Return message, describe the error when the return code is 1'
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DApiErro'
    DCancellationReason:
      type: object
      properties:
        code:
          type: string
          description: The code of the service order cancellation reason generated by BR TMP
          example: MCT025
        description:
          type: string
          description: The explained reason of the service order cancellation
          example: Cancellation requested by the merchant
      description: Return body
    DResponseDCancellationReason:
      type: object
      properties:
        returncode:
          type: integer
          description: 'Return code (0 for success, 1 for error)'
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: 'Return message, describe the error when the return code is 1'
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCancellationReason'
    DCancellationReasonWrapper:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/DCancellationReason'
      description: Return body
    DResponseDCancellationReasonWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: 'Return code (0 for success, 1 for error)'
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: 'Return message, describe the error when the return code is 1'
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCancellationReasonWrapper'
