openapi: 3.0.2
info:
  description: Bureau for Tax ID - Company - CNPJ (SERPRO)
  version: "1.0"
  title: Bureau for Tax ID - Company - CNPJ (SERPRO)
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Bureau for Tax ID - Company - CNPJ (SERPRO)
paths:
  "/bwa/cnpj/{cnpj}":
    get:
      tags:
        - Bureau for Tax ID - Company - CNPJ
      x-proxy-name: Tax ID (company) Validation(not available PROD)
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Bureau for Tax ID - Company - CNPJ
      summary: Search Bureau for Company Tax ID - CNPJ (SERPRO)
      operationId: searchCompanyTaxId
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: cnpj
          in: path
          description: Company Tax ID (CNPJ) to be searched
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search done successfully!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
      deprecated: false
components:
  schemas:
    Response:
      type: object
      properties:
        ni:
          type: string
          description: Tax ID (CNPJ) Searched
        data_abertura:
          type: string
          description: Foundation Date
          example: AAAA-MM-DD
        nome_empresarial:
          type: string
          description: Legal Name
          example: Empresa XPTO
        nome_fantasia:
          type: string
          description: Trade Name
          example: Nome Fantasia da Empresa
        cnae_principal:
          type: object
          properties:
            codigo:
              type: string
              description: CNAE - Main Activity Code
              example: 6201501
            descricao:
              type: string
              description: CNAE - Main Activity Description
              example: Desenvolvimento de programas de computador sob encomenda
        natureza_juridica:
          type: object
          properties:
            codigo:
              type: string
              description: Company Type Code
              example: 2062
            descricao:
              type: string
              description: Company Type Description
              example: Sociedade Empresarial Limitada
        endereco:
          type: object
          properties:
            logradouro:
              type: string
              description: Tax ID Address
              example: Rua das Acacias
            numero:
              type: string
              description: Tax ID Address Number
              example: 169
            complemento:
              type: string
              description: Tax ID Address Complement
              example: Apartametno 11
            cep:
              type: string
              description: Tax ID Address ZIPCODE
              example: 05056020
            bairro:
              type: string
              description: Tax ID Address Neighborhood
              example: Vila das Acacias
            municipio:
              type: string
              description: Tax ID Address City
              example: São Paulo
            uf:
              type: string
              description: Tax ID Addres State
              example: SP
        situacao_especial:
          type: string
          description: Company Situation.
        situacao_cadastral:
          type: object
          properties:
            codigo:
              type: string
              description: Company Situation Code
              example: "8"
              enum:
                - 2 - Ativa - (meaning Active)
                - 3 - Suspensa - (meaning Suspended)
                - 4 - Inapta - (meaning Blocked)
                - 5 - Nula - (meaing Revoked)
                - 8 - Baixada - (meaning Revoked)
                - 9 - Cancelada de Ofício (meaning Revoked by order)
            data:
              type: string
              description: Situation Last Update Date
              example: AAAA-MM-DD
            motivo:
              type: string
              description: Situation Code Reason
              example: "Situation Code Reason"
        orgao:
          type: string
          description: Public Code
          example: "0818000"
        tipo_estabelecimento:
          type: string
          description: Establishment Type
          example: "1"
        correio_eletronico:
          type: string
          description: Establishment e-mail
          example: e-mail@correio.com.br
        capital_social:
          type: number
          description: Share Capital
          example: 10000
        porte:
          type: string
          description: Financial Size
          example: "01"
        telefones:
          type: array
          description: Telephone Number
          items:
            type: object
            properties:
              ddd:
                type: string
                description: Phone Number DDD
                example: "011"
              numero:
                type: string
                description: Phone Number
                example: "3636-6161"
        cnae_secundarias:
          description: CNAE - Secondary Activity Code
          type: array
          items:
            properties:
              codigo:
                type: string
                description: CNAE - Secondary Activity Code
                example: 6204000
              descricao:
                type: string
                description: CNAE - Secondary Activity Description
                example: "Consultoria em tecnologia da informação"
        nome_orgao:
          type: string
          description: State
          example: São Paulo
        ente_federativo:
          type: string
          description: State Abbreviation
          example: ""
        socios:
          type: array
          description: Corporate Structure
          items:
            properties:
              nome:
                type: string
                description: Partner Name
                example: "Partner #1"
              qualificacao:
                type: string
                description: Partner Classification Code
                example: "49"
              captalSocial:
                type: string
                description: Partner Share Capital
                example: "00000000099000"
              codigoPais:
                type: string
                description: Partner Country Code
                example: "000"
              qualificacaoRepLegal:
                type: string
                description: Partner Classification Description
                example: ""
              nomeRepLegal:
                type: string
                description: Partner Legal Representative
                example: ""
      title: Response
      description: Class representing returning search Zip Code
