openapi: 3.0.2
info:
  description: Search for Merchant Information by Partner Tax ID
  version: "1.0"
  title: Search for Merchant Information by Partner Tax ID
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  '/bwa/consulta-estabelecimento-socio/v1/consulta/{documento}':
    get:
      tags:
        - 'Search for Merchant by Partner Tax ID'
      x-proxy-name: Search for Merchant by Partner Tax ID
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      summary: 'Search for Merchant by Partner Tax ID'
      operationId: Search for Merchant by Partner Tax ID
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Institution Number
          required: true
          example: 00000009
          schema:
            type: string
        - name: codigo-contrato
          in: header
          description: Service Contract Number. Please contact your Fiserv Representative, in case you don't know
          example: "101"
          required: true
          schema:
            type: string
        - name: documento
          in: path
          description: Partner Document Number (CPF)
          example: "11332242567"
          required: true
          schema:
            type: string
     
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaPartner'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum: 
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios (meaning Missing Mandatory Fields)
          type: string
          enum: 
            - 9 - Campos mandatorios...
            - 10 - (Erro validaçao)...
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado (meaning Access Denied for he parameters provided)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum: 
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado (meaning Access Denied)
          type: string
          enum: 
            - 3 - Acesso negado (meaning Access Denied)
            - 6 - Token expirado (meaning Expired Token)
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado (meaning Item not found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado (meaning Duplicated Item)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum: 
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno (meaning Internal Error)
          type: string
          enum: 
            - 2 - Erro Interno (meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (meaning Integration Error)
    ResponseEntityConsultaPartner:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
        mensagem:
          description: Description return code
          example: Sucesso (meaning Success)
          type: string
          enum:
            - 0 - Sucesso (meaning Success)
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/StcStatisticDetailSpRespDTO'
        
    StcStatisticDetailSpRespDTO:
      type: object
      properties:
        status: 
          description: "Establishment status"
          example: "Ativo (meaning Active)"
          type: string
          enum:
             - Ativo (meaning Active)
             - Suspenso (meaning Suspended)
             - Fechado (meaning Closed)
             - Inativo (meaning Inactive)
        email: 
          description: "E-mail Information"
          example: "partener@establishment.com"
          type: string
        companyName: 
          description: "Company Name"
          example: "Company S/A"
          type: string
        clientNumber: 
          description: "Customer Tax ID"
          example: "087645873457"
          type: string
        registrationNumber: 
          description: "Merchant Id Number"
          example: "45873457"
          type: string
        partnerInfoName1: 
          description: "Partner Info Name 1"
          example: "Partner name 1"
          type: string
        partnerInfoPhone1: 
          description: "Partner Info Phone 1"
          example: "11333333333"
          type: string
        partnerInfoName2: 
          description: "Partner Info Name 2"
          example: "Partner name 2"
          type: string
        partnerInfoPhone2: 
          description: "Partner Info Phone 2"
          example: "11333333333"
          type: string
        partnerInfoName3: 
          description: "Partner Info Name 3"
          example: "Partner name 3"
          type: string
        partnerInfoPhone3: 
          description: "Partner Info Phone 3"
          example: "11333333333"
          type: string
