openapi: 3.0.2
info:
  description: Devices Maintenance
  version: "1.0"
  title: Devices Maintenance
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Devices Maintenance
paths:
  /bwa/wsm/devicerequest/addterminal/processAddTerminalRequest:
    post:
      tags:
        - Devices Maintenance
      x-proxy-name: Service Order - Terminal Maintenance - Request Device - Additional Terminal
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Request Device - Additional Terminal
      summary: Request Device - Additional Terminal
      operationId: requestAdditionalTerminal
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyAddTerminal"
        description: Device Information
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/devicerequest/maintenance/processMaintenanceRequest:
    post:
      tags:
        - Devices Maintenance
      x-proxy-name: Service Order - Terminal Maintenance - Request Device - Terminal Maintenance
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Request Device - Terminal Maintenance
      summary: Request Device - Terminal Maintenance
      operationId: requestDeviceMaintenance
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyMaintenance"
        description: Device Update Information
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/devicerequest/replacechange/processReplaceChangeRequest:
    post:
      tags:
        - Devices Maintenance
      x-proxy-name: Service Order - Terminal Maintenance - Request Device - Replace Terminal
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Request Device - Replace Terminal
      summary: Request Device - Replace Terminal
      operationId: requestTerminalReplacement
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyReplaceTerminal"
        description: Request Uninstal Terminal
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /bwa/wsm/devicerequest/uninstall/processUninstallRequest:
    post:
      tags:
        - Devices Maintenance
      x-proxy-name: Service Order - Terminal Maintenance - Device Request -  Uninstall Terminal
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Device Request -  Uninstall Terminal
      summary: Device Request -  Uninstall Terminal
      operationId: requestUninstallTerminal
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BodyUnistallTerminal"
        description: Request Uninstal Terminal
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
#  /replaceChangeComponent/processReplaceChangeComponentRequest:
#    post:
#      tags:
#        - Devices Maintenance
#      summary: Request Device - Replace Component
#      operationId: requestComponentReplacement
#      parameters:
#        - name: Message-Signature
#          in: header
#          description: HMAC
#          required: true
#          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
#          schema:
#            type: string
#        - name: Api-Key
#          in: header
#          description: APigee Key
#          required: true
#          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
#          schema:
#            type: string
#        - name: auth
#          in: header
#          description: Oauth Key
#          required: true
#          example: 
#          schema:
#            type: string
#        - name: Timestamp
#          in: header
#          description: Date - Epoch format
#          required: true
#          example: 1563309156733
#          schema:
#            type: string
#        - name: Client-Request-Id
#          in: header
#          description: Randomly generated by client
#          required: true
#          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
#          schema:
#            type: string
#      requestBody:
#        content:
#          application/json:
#            schema:
#              $ref: "#/components/schemas/BodyReplaceTerminal"
#        description: Request Uninstal Terminal
#        required: true
#      responses:
#        "200":
#          description: Success
#          content:
#            application/json:
#              schema:
#                $ref: "#/components/schemas/Response"
#  /uninstallComponent/processUninstallComponentRequest:
#    post:
#      tags:
#        - Devices Maintenance
#      summary: Request Device - Uninstall Component
#      operationId: requestUninstallComponent
#      parameters:
#        - name: Message-Signature
#          in: header
#          description: HMAC
#          required: true
#          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
#          schema:
#            type: string
#        - name: Api-Key
#          in: header
#          description: APigee Key
#          required: true
#          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
#          schema:
#            type: string
#        - name: auth
#          in: header
#          description: Oauth Key
#          required: true
#          example: 
#          schema:
#            type: string
#        - name: Timestamp
#          in: header
#          description: Date - Epoch format
#          required: true
#          example: 1563309156733
#          schema:
#            type: string
#        - name: Client-Request-Id
#          in: header
#          description: Randomly generated by client
#          required: true
#          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
#          schema:
#            type: string
#      requestBody:
#        content:
#          application/json:
#            schema:
#              $ref: "#/components/schemas/BodyUnistallComponent"
#        description: Request Uninstal Terminal
#        required: true
#      responses:
#        "200":
#          description: Success
#          content:
#            application/json:
#              schema:
#                $ref: "#/components/schemas/Response"
components:
  schemas:
    BodyMaintenance:
      type: object
      required:
        - institutionNumber
        - merchantID
        - contactName
        - terminalID
      properties:
        maintenance:
          type: array
          items:
            type: object
            required:
              - institutionNumber
              - merchantID
              - contactName
              - terminalID
            properties:
              institutionNumber:
                type: string
                description: Merchant Institution Number
                example: "00000003"
              merchantID:
                type: string
                description: Merchant Code
                example: "91002806"
              contactName:
                type: string
                description: Merchant Contact Name (max 20 characters)
                example: Marcelo Soares
              terminalID:
                type: string
                description: Terminal Identification for Maintenance
                example: "ETH39PZA"
              reason:
                type: string
                description: Reason of maitenance terminal
                example: "TESTE"
    Fees:
      type: object
      properties:
        feeList:
          type: array
          items:
            $ref: "#/components/schemas/fee"
    fee:
      type: object
      properties:
        effectiveDate:
          type: integer
          description: Fee Effective Date. It needs to be at least D+1.
          example: YYYYMMDD
        expiryDate:
          type: integer
          description: Fee Expire Date. It can be "99991231"
          example: "YYYYMMDD"
        feeApplied:
          type: number
          description: Device (Terminal) Price
          example: "010.00"
    Components:
      type: object
      properties:
        componentList:
          type: array
          items:
            $ref: "#/components/schemas/component"
    component:
      type: object
      description: These Group is still not in use. Please fill as blank all the fields.
      properties:
        componentType:
          type: string
          description: Component Type. To be Sent as ""
          example: ""
        quantity:
          type: string
          description: Quantity of Devices. To be Sent as ""
          example: ""
        effectiveDate:
          type: integer
          description: Fee Effective Date. Usually date of Today. To be Sent as ""
          example: ""
        expiryDate:
          type: integer
          description: Fee Expire Date. To be Sent as ""
          example: ""
        feeApplied:
          type: number
          description: Repeat the information of the Device Price. To be Sent as ""
          example: ""
    BodyAddTerminal:
      type: object
      required:
        - institutionNumber
        - merchantID
        - numberOfRequests
        - contactName
        - terminalType
        - userID
        - fees
        - components
      properties:
        addTerminal:
          type: array
          items:
            type: object
            required:
              - institutionNumber
              - merchantID
              - numberOfRequests
              - contactName
              - terminalType
              - userID
              - fees
              - components
            properties:
              institutionNumber:
                type: string
                description: Merchant Institution Number
                example: "00000003"
              merchantID:
                type: string
                description: Merchant Code
                example: "91002806"
              numberOfRequests:
                type: string
                description: Quantity of Terminals to be requested
                example: "2"
              contactName:
                type: string
                description: Merchant Contact Name (max 20 characters)
                example: Marcelo Soares
              terminalType:
                type: string
                description: Merchant Terminal Type
                example: "303"
                enum:
                  - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
                  - "334 - Ecommerce TEF"
                  - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
                  - "352 - Mobile POS"
                  - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
                  - "377 - POS Web"
                  - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
                  - "380 - POS MP5"
                  - "309 - Arquivo de lote (meaning Batch file)"
                  - "386 - POS do Futuro (meaning Future POS)"
                  - "301 - POS GPRS"
                  - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
                  - "305 - POS 3 Conexões (meaning POS three Connections)"
                  - "366 - POS Wifi"
                  - "357 - POGO"
                  - "364 - POS Virtual"
                  - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
                  - "365 - POS Wifi GPRS"
                  - "308 - E-Commerce Gateway 1"
                  - "391 - App Hardwareless"
                  - "356 - E-Comm IPG"
                  - "300 - POS ISO"
                  - "306 - PINPAD"
                  - "379 - Gateway WhiteLabel"
                  - "303 - POS Internet/Discado"
              userID:
                type: string
                description: User ID. Please chec with Fiserv representative
                example: "123456"
              notes:
                type: string
                description: Notes Description
                example: ""
              fees:
                $ref: "#/components/schemas/Fees"
              components:
                $ref: "#/components/schemas/Components"
    tmsInformationList:
      type: object
      properties:
        tmsReferenceID:
          type: string
          description: Terminal Reference Identification - 12 digit (Service Order Number)
          example: "123456789012"
    tmsDetails:
      type: object
      properties:
        tmsInformationList:
          type: array
          items:
            $ref: "#/components/schemas/tmsInformationList"
    responseInformationList:
      type: object
      properties:
        responseCode:
          type: string
          description: Return Code
          example: "00"
          enum:
            - "00 - Request Successfully Done"
            - "99 - System Error"
        responseCodeDesc:
          type: string
          description: Return Descripion code
          example: Request Successfully Done
          enum:
            - "00 - Request Successfully Done"
            - "99 - System Error"
    response:
      type: object
      properties:
        responseInformationList:
          type: array
          items:
            $ref: "#/components/schemas/responseInformationList"
    processMessage:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        tmsRequestNumber:
          type: string
          description: Device Request Number - 8 Digit
          example: "12345678"
        tmsDetails:
          $ref: "#/components/schemas/tmsDetails"
        response:
          $ref: "#/components/schemas/response"
    Response:
      type: object
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessage"
    BodyUnistallTerminal:
      type: object
      required:
        - institutionNumber
        - merchantID
        - contactName
        - terminalID
      properties:
        uninstall:
          type: array
          items:
            type: object
            required:
              - institutionNumber
              - merchantID
              - contactName
              - terminalID
            properties:
              institutionNumber:
                type: string
                description: Merchant Institution Number
                example: "00000003"
              merchantID:
                type: string
                description: Merchant Code
                example: "91002806"
              contactName:
                type: string
                description: Merchant Contact Name (max 20 characters)
                example: Marcelo Soares
              terminalID:
                type: string
                description: Terminal Identification to be uninstalled
                example: "ETH39PZA"
              reason:
                type: string
                description: Reason of uninstall terminal
                example: "TESTE"
    BodyReplaceTerminal:
      type: object
      required:
        - institutionNumber
        - merchantID
        - contactName
        - terminalID
        - terminalType
        - terminalEffectiveDate
        - terminalExpiryDate
        - terminalFeeApplied
      properties:
        uninstall:
          type: array
          items:
            type: object
            required:
              - institutionNumber
              - merchantID
              - contactName
              - terminalID
              - terminalType
              - terminalEffectiveDate
              - terminalExpiryDate
              - terminalFeeApplied
            properties:
              institutionNumber:
                type: string
                description: Merchant Institution Number
                example: "00000003"
              merchantID:
                type: string
                description: Merchant Code
                example: "91002806"
              contactName:
                type: string
                description: Merchant Contact Name (max 20 characters)
                example: Marcelo Soares
              terminalID:
                type: string
                description: Terminal Identification to be uninstalled
                example: "ETH39PZA"
              terminalType:
                type: string
                description: Component Type Code (3 Digit)
                example: "365"
                enum:
                  - "367 - POS Auto Credenc (meaning POS Auto Boarding)"
                  - "334 - Ecommerce TEF"
                  - "330 - TEF Dedicado-conec (meaning Balance Eletronic Transfer - Dedicated)"
                  - "352 - Mobile POS"
                  - "331 - TEF IP-conec (meaning Balance Eletronic Transfer - IP)"
                  - "377 - POS Web"
                  - "378 - POS TEF Terceiros (meaning Balance Eletronic Transfer - Third Party)"
                  - "380 - POS MP5"
                  - "309 - Arquivo de lote (meaning Batch file)"
                  - "386 - POS do Futuro (meaning Future POS)"
                  - "301 - POS GPRS"
                  - "307 - TEF Discado-conec (meaning Balance Eletronic Transfer - Dial in)"
                  - "305 - POS 3 Conexões (meaning POS three Connections)"
                  - "366 - POS Wifi"
                  - "357 - POGO"
                  - "364 - POS Virtual"
                  - "395 - POS MOBY6500 Aluguel (meaning POS MOBY6500 Rent)"
                  - "365 - POS Wifi GPRS"
                  - "308 - E-Commerce Gateway 1"
                  - "391 - App Hardwareless"
                  - "356 - E-Comm IPG"
                  - "300 - POS ISO"
                  - "306 - PINPAD"
                  - "379 - Gateway WhiteLabel"
                  - "303 - POS Internet/Discado"
              terminalEffectiveDate:
                type: string
                description: Terminal Effective Date in YYYYMMDD Format
                example: "20200102"
              terminalExpiryDate:
                type: string
                description: Terminal Expire Date in YYYYMMDD Format
                example: "20201202"
              terminalFeeApplied:
                type: string
                description: Fee Amount with 2 Decimals and comma
                example: "90,99"
              reason:
                type: string
                description: Reason of replace terminal
                example: "TESTE"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
