openapi: 3.0.1
info:
  title: API brtmp-microservices
  description: API with the external BRTMP services
  termsOfService: urn:tos
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 1.3.1
servers:
  - url: https://cat.api.firstdata.com
    variables: {}
paths:
  /bwa/brtmp-microservices/listTicket/{merchantId}:
    get:
      tags:
        - list-ticket-controller
      x-proxy-name: TMP - Find, by merchantId, the list of ticket registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find, by merchantId, the list of ticket registered in TMP
      operationId: findByMerchantId
      parameters:
        - name: merchantId
          in: path
          description: The merchant Id Number
          required: true
          schema:
            type: string
            example: '00000123456789'
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DListTicket'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/product/{serialNumber}:
    get:
      tags:
        - product-controller
      x-proxy-name: TMP - Find, by its Serial Number, a product registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find, by its Serial Number, a product registered in TMP
      operationId: findBySerialNumber
      parameters:
        - name: serialNumber
          in: path
          description: The product Serial Number
          required: true
          schema:
            type: string
            example: 326-239-696
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DProduct'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-reschedule-motive:
    get:
      tags:
        - ticket-reschedule-motive-controller
      x-proxy-name: TMP - List all reschedule motive registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all reschedule motive registered in TMP
      operationId: listAll
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDTicketRescheduleMotiveWrapper'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/motives-reverse:
    get:
      tags:
        - motive-reverse-controller
      x-proxy-name: TMP - List all motives reverse registered in TMP with filter by code
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all motives reverse registered in TMP with filter by code
      operationId: listAll_1
      parameters:
        - name: code
          in: query
          description: Motive reverse generated by BR TMP
          required: true
          schema:
            type: string
            example: 400000
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDMotiveReverseWrapper'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-reschedule:
    post:
      tags:
        - ticket-reschedule-controller
      x-proxy-name: TMP - Register reschedule in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Register reschedule in TMP
      operationId: rescheduleTicket
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTicketReschedule'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DTicketRescheduleResponse'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-cancel-reason/{code}:
    get:
      tags:
        - cancellation-reason-controller
      x-proxy-name: TMP - Find, by code, one cancellation reason registered in BR TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find, by code, one cancellation reason registered in BR TMP
      operationId: findByCode
      parameters:
        - name: code
          in: path
          description: Cancellation reason code generated by BR TMP
          required: true
          schema:
            type: string
            example: MCT025
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDCancellationReason'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-cancel-reason:
    get:
      tags:
        - cancellation-reason-controller
      x-proxy-name: TMP - List all cancellation reasons registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all cancellation reasons registered in TMP
      operationId: listAll_2
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDCancellationReasonWrapper'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/modal/search:
    get:
      tags:
        - modal-controller
      x-proxy-name: TMP - It List, according the given parameters, the Service Providers/Modals which can be attached in the Service Order
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: It List, according the given parameters, the Service Providers/Modals which can be attached in the Service Order.
      operationId: findModal
      parameters:
        - name: ticketType
          in: query
          description: 'The process code of the service order (ticket) type which the modal will be associated to. It can be: 400000 (activation), 410000 (maintenance), 420000 (exchange), 440000 (uninstall), 470000 (supply), etc... (Other types can be added later)'
          required: true
          schema:
            type: string
            example: 410000
            enum:
              - '400000'
              - '410000'
              - '420000'
              - '440000'
              - '470000'
              - etc...
        - name: zipCode
          in: query
          description: The merchant's zip code where the service order will be executed, ONLY THE NUMBERS
          required: true
          schema:
            type: string
            example: '01451001'
        - name: affiliationChannel
          in: query
          description: 'The merchant''s affiliation channel code (under the affiliation channel type code in the hierarchy), according to the registration in BW. Ex: the code ''756'' refers to ''BANCOOB'''
          required: false
          schema:
            type: string
            example: '007'
        - name: affiliationChannelType
          in: query
          description: 'The merchant''s affiliation channel type code, according to the registration in BW. Ex: the code ''007'' refers to ''01. BANCO'''
          required: false
          schema:
            type: string
            example: '007'
        - name: affiliationSubChannel
          in: query
          description: 'The merchant''s affiliation subchannel code (under the affiliation channel code in the hierarchy), according to the registration in BW. Ex: the code ''99999'' refers to ''PROPOSTA ELETRÔNICA'''
          required: false
          schema:
            type: string
            example: 99999
        - name: productAccounting
          in: query
          description: Product Accounting
          required: true
          schema:
            type: string
            example: ALUGUEL | VENDA
        - name: nameAgency
          in: query
          description: Agency Name
          required: true
          schema:
            type: string
            example: FEDEX
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: instituicao
          in: header
          description: The institution number
          required: true
          schema:
            type: string
            example: '00000003'
        - name: service-contract
          in: header
          description: The service contract ID
          required: true
          schema:
            type: string
            example: 101
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDServiceProviderWrapper'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/flag/pesquisa-por-instituicao:
    get:
      tags:
        - special-condition-controller
      x-proxy-name: TMP - Consults special condition by institution
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Consults special condition by institution
      operationId: findByInstituicao
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: instituicao
          in: header
          description: Número da instituicao - 8 dígitos, preenchido com zeros à esquerda
          required: true
          schema:
            type: string
            example: '00000003'
        - name: service-contract
          in: header
          description: Service Contract ID (id da aliança)
          required: true
          schema:
            type: string
            example: 101
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDResultadoPesquisaPorInstituicao'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/update-task:
    post:
      tags:
        - update-task-controller
      x-proxy-name: TMP - Request for actions with the sale format (Reversal, post code, dispute) in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: 'Request for actions with the sale format (Reversal, post code, dispute) in TMP.<br /><br />Id Taks Acceptable: 720, 730, 740, 750, 760 e 770.'
      operationId: findBySerialNumber_1
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DUpdateTask'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: 'Invalid Request <br /><br />Code Messages: <ul><li>0001 (description is required on task id 720)</li><li>0002 (invalid task id code)</li><li>0004 (ticket is not eligible to contain tasks)</li><li>0006 (ticket is required)</li></ul>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DUpdateTaskResponse'
        '403':
          description: 'Unauthorized <br /><br />Code Messages: <ul><li>0003 (service provider didn''t authorized)</li></ul>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DUpdateTaskResponse'
        '404':
          description: 'Resource Not FoundCode Messages: <ul><li>0005 (ticket is not exist)</li></ul>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DUpdateTaskResponse'
        '500':
          description: Internal Server Error
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/coil/inventory/{merchant}:
    get:
      tags:
        - coil-controller
      x-proxy-name: TMP - Get Coil Inventory By EC
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Get Coil Inventory By EC
      operationId: getCoilInventoryByEC
      parameters:
        - name: merchant
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDCoilInventory'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/coil/balance/{merchant}:
    get:
      tags:
        - coil-controller
      x-proxy-name: TMP - Get Coil Balance By EC
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Get Coil Balance By EC
      operationId: getCoilBalanceByEC
      parameters:
        - name: merchant
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDCoilBalance'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-maintenance-reason/{code}:
    get:
      tags:
        - maintenance-reason-controller
      x-proxy-name: TMP - Find, by code, one maintenance reason registered in BR TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find, by code, one maintenance reason registered in BR TMP
      operationId: findByCode_1
      parameters:
        - name: code
          in: path
          description: Maintenance reason code generated by BR TMP
          required: true
          schema:
            type: string
            example: C025
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: ticketType
          in: header
          description: 'ACTIVATION - 0 | MAINTENANCE - 1 | EXCHANGE - 2 | UNINSTALL - 3 | SUPPLY - 4 | SCREENING - 5 | CHANGE_MOBILE - 6 | TECHNICAL - 7 | RECOVERY - 8 | default : MAINTENANCE - 1'
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDMaintenanceReason'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/ticket-maintenance-reason:
    get:
      tags:
        - maintenance-reason-controller
      x-proxy-name: TMP - List all maintenance reasons registered in TMP
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all maintenance reasons registered in TMP
      operationId: listAll_3
      parameters:
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: ticketType
          in: header
          description: 'ACTIVATION - 0 | MAINTENANCE - 1 | EXCHANGE - 2 | UNINSTALL - 3 | SUPPLY - 4 | SCREENING - 5 | CHANGE_MOBILE - 6 | TECHNICAL - 7 | RECOVERY - 8 | default : MAINTENANCE - 1'
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseDMaintenanceReasonWrapper'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/service-order/logistics/{referenceNumberID}:
    get:
      tags:
        - service-order-controller
      x-proxy-name: TMP - Find, by the Service Order number, the Service Order's logistic data
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find, by the Service Order number, the Service Order's logistic data
      operationId: findLogisticsBySoNumber
      parameters:
        - name: referenceNumberID
          in: path
          description: The Service Order reference number ID
          required: true
          schema:
            type: string
            example: 600000128529
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DServiceOrderLogisticData'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/tms-cos/rest/consultaos/v2/json/trackos/{instituicao}/{merchant}:
    get:
      tags:
        - tms-cos-controller
      x-proxy-name: TMP - Find Order number by Inc and merchant
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find Order number by Inc and merchant
      operationId: getTrackos
      parameters:
        - name: instituicao
          in: path
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DTrackos'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/tms-cos/resources/v2/json/{merchant}/{institution}:
    get:
      tags:
        - tms-cos-controller
      x-proxy-name: TMP - List Services Orders
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List Services Orders
      operationId: getServiceOrderV2
      parameters:
        - name: merchant
          in: path
          required: true
          schema:
            type: string
        - name: institution
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseTmsCosDServiceOrderResponse'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/tms-cos/rest/consultaos/v3/json/trackos/{instituicao}/{merchant}:
    get:
      tags:
        - tms-cos-controller
      x-proxy-name: TMP - Find Order number by Inc and merchant V3
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find Order number by Inc and merchant
      operationId: getTrackosV2
      parameters:
        - name: instituicao
          in: path
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DTrackosV2'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
  /bwa/brtmp-microservices/tms-cos/resources/v2/json/byos/{instituicao}/{serviceorder}:
    get:
      tags:
        - tms-cos-controller
      x-proxy-name: TMP - Find byos by Inc and merchant V2
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: Find byos by Inc and merchant V2
      operationId: getServiceOrderbyOS
      parameters:
        - name: serviceorder
          in: path
          required: true
          schema:
            type: string
        - name: instituicao
          in: path
          required: true
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: eyJhbGaiOiJSUzI1NiasInR5cCIgOiAiSlaUIiwia0lkIiA6ICIz0VdqaW5TNHQ4eUhQSkVqdG91MW9CQ2c0U1lUWHNBMllUM2kyU0o4UXJZIn0.eyJqdGkiOiI1N2NiNmUzNy1lNzc0LTQwODQtYjQ4ZC05ZGYzNzBiZWQ2ZmEiLCJleHAiOjE2NTM0MjAwODksIm5iZiI6MCwiaWF0IjoxNTkxMjEyMDg5LCJpc3MiOiJodHRwczovL3JhY3Z3YjEwMDEuMWRjLmNvbS9hdXRoL3JlYWxtcy9GaXJzdERhdGEiLCJhdWQiOiJ0bXMtc2IiLCJzdWIiOiJiNDU5ZTU0Yi1kZDk4LTQzMTUtYmM2Yy00Njg0Mjk2MjhhMWYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ0bXMtc2IiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI1MmNmMzEwNC0zYzIyLTQ2ZjAtYTljOS04ZmUzMjM2ZDgwZDQiLCJhY3IiOiIxIiwiY2xpZW50X3Nlc3Npb24iOiIyNmVlNDg2Yy0yMDU1LTQ1OTItODc4Ny0xOTFhYTBhOWE4NDYiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cDovL3JhY3Z3YjEwMDEuMWRjLmNvbS90bXMtc2IvIiwiaHR0cHM6Ly9yYWN2d2IxMDAxLjFkYy5jb20vdG1zLXNiLyJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiVkFMSURBVE9SIiwiRE9NSUNJTElPQkFOQ0FSSU8iLCJTSUNSRUQiLCJIVUlBIiwiU0lDUkVESSIsIkNPTlNVTFRBX0NQRl9DTlBKIiwiQ1JFRElDQVJEIiwiQ0VQIiwiZGlsaWdlbmNlIiwiUkVERSIsIlNFTkRfRU1BSUwiLCJGSVJTVERBVEEiLCJ2YW5ib2FyZGluZyIsIkdBX0ZpcnN0RGF0YSIsIkdBX0l0ZXJpcyIsIkdPT0dMRSIsIkRBRE9TX0xPR0lTVElDQSIsIkJBTkNPT0IiXX0sInJlc291cmNlX2FjY2VzcyI6eaaJhY2NvdW50Ijp7InJvbGVzIjabImahbmFnZS1hY2NvdW50IiwibWFuYWalLWFjYa91bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJuYW1lIjoiIiwicHJlZmVycmVkX3VzZXJuYW1lIjoic2VydmljZTM2MCJ9.dELgls0MlwpQ9MgtxLYLr8PLpY16VMuPlXnhB-UL4WFiUaaECwbicH7mvL8UD7Bf84jp7SlAW8axkeePCSLF4aF1jVMOmmNGvfy8kQN4Zag52qoaaFA5cxGpHK9FnfXLrxf6kqaUNB2aohnEcWoo098OuxoufZ2Rq7h55EygkaPSXkuHKEvbc2ZRlBpgyQrXbB02uaasUuvJ8Eens1-dxU6iY6CSX0sMaI6CaiETW5Qdxab4OGkNL-aK4bKjo7I-Iayg9OTvzyZXhn5LflQgar8gF_zFB-XfVKnEn-R1SGvCCatu0-F8WWjFo6NzXbxfq2SOy3YGOg46fokLVtSNF2br
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DResponseTmsCosDServiceOrderResponse'
        '400':
          description: Invalid parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '404':
          description: The requested resource was not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
        '502':
          description: Communication error between the API and BR TMP
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DApiErro'
components:
  schemas:
    DApiErro:
      type: object
      properties:
        timestamp:
          type: string
          description: Request date in format yyyy-MM-dd HH:mm:ss
          example: '2020-02-02 20:00:02'
        status:
          type: integer
          description: HTTP code
          format: int32
          example: 404
        error:
          type: string
          description: HTTP code description
          example: Not Found
        message:
          type: string
          description: Error message
          example: The requested resource was not found
        path:
          type: string
          description: URI
          example: /service-order-cancellation-reason/XYZ123
    DListTicket:
      type: object
      properties:
        merchantId:
          type: string
        ticketQuantity:
          type: string
          description: Number of tickets per merchant
          example: '15'
        dateTime:
          type: string
          description: Date time of request
          example: 2021-05-14 07:49 Sex
        listTicket:
          type: array
          description: List all tickets per merchant
          example: 2021-05-14 07:49 Sex
          items:
            $ref: '#/components/schemas/DTicket'
    DTicket:
      type: object
      properties:
        ticketNumber:
          type: string
          description: Ticket number
          example: '00000123456789'
        status:
          type: string
          description: status of ticket
        cancelId:
          type: string
          description: The cancel code
        cancelDescription:
          type: string
          description: 'The cancelDescription '
        createDate:
          type: string
          description: createDate ticket
        logicalTerminal:
          type: string
          description: logical terminal of merchant
        type:
          type: string
          description: ticket type
        lastChangeDate:
          type: string
          description: last update
        concludedDate:
          type: string
          description: the conclude date
        concludedDateTMS:
          type: string
        concludedDateSP:
          type: string
          description: Date the Service Provider sent cancellation
        cancelDate:
          type: string
          description: Date cancel ticket
          example: 2021-05-14 07:49 Sex
      description: List all tickets per merchant
      example: 2021-05-14 07:49 Sex
    DInstitution:
      type: object
      properties:
        number:
          type: string
          description: The institution number
          example: '00000004'
        contractID:
          type: string
          description: The institution contract ID
          example: '110'
        gatewayID:
          type: string
          description: The e-commerce payment gateway ID
          example: '003'
        name:
          type: string
          description: The institution name
          example: SICREDI
      description: The product owner
    DPartNumber:
      type: object
      properties:
        number:
          type: string
          description: The part number code
          example: SC000680-01
        institution:
          $ref: '#/components/schemas/DInstitution'
        technology:
          $ref: '#/components/schemas/DTechnology'
        vendor:
          $ref: '#/components/schemas/DVendor'
      description: The product code
    DProduct:
      type: object
      properties:
        serial:
          type: string
        type:
          type: string
          description: The product type. POS = sales point and pinpad. CHP = simcard
          example: POS
          enum:
            - POS
            - CHP
        partNumber:
          $ref: '#/components/schemas/DPartNumber'
        status:
          type: string
          description: The product status. GOOD = the product is working, BAD = the product isn't working, SCREENING = product in screening, REPAIR = product at laboratory, SCRAP = product discarded (without fix), WRONG = product registered with wrong serial number, WRITE-OFF = product approved to discard, LOSS = product location unknown, HUNT = product in hunt process
          example: BAD
          enum:
            - BAD
            - GOOD
            - SCREENING
            - REPAIR
            - SCRAP
            - WRONG
            - WRITE-OFF
            - LOSS
            - HUNT
    DTechnology:
      type: object
      properties:
        type:
          type: string
          description: The technology type code
          example: PGW
      description: The product technology, like 'PGW' (pos + gprs + wifi)
    DVendor:
      type: object
      properties:
        name:
          type: string
          description: The vendor name
          example: VERIFONE DO BRASIL LTDA
        model:
          type: string
          description: The product model, by the vendor
          example: TERMINAL C680 3G-BT-WIFI-CTLS
        description:
          type: string
          description: The product model description
          example: TERMINAL C680 3G-BT-WIFI-CTLS
        chipType:
          type: string
          description: The simcard type
          example: ONE-PIECE
          enum:
            - ONE-PIECE
            - TRIPLE CUT
            - NI
      description: The product manufacturer
    DResponseDTicketRescheduleMotiveWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DTicketRescheduleMotiveWrapper'
    DTicketRescheduleMotive:
      type: object
      properties:
        code:
          type: string
          description: The code of the Ticket - Reschedule Motive BR TMP
          example: '001'
        description:
          type: string
          description: The Description of the Ticket - Reschedule Motive BR TMP
          example: EC fechado
    DTicketRescheduleMotiveWrapper:
      type: object
      properties:
        motives:
          type: array
          items:
            $ref: '#/components/schemas/DTicketRescheduleMotive'
      description: Return body
    DMotiveReverse:
      type: object
      properties:
        code:
          type: string
          description: The code of the motive reverse generated by BR TMP
          example: '400000'
        description:
          type: string
          description: The explained of the service motive reverse
          example: ACTIVATION
    DMotiveReverseWrapper:
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/DMotiveReverse'
      description: Return body
    DResponseDMotiveReverseWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DMotiveReverseWrapper'
    DTicketReschedule:
      type: object
      properties:
        ticketNumber:
          type: string
        rescheduleDate:
          type: string
        motiveRescheduleCode:
          type: string
    DTicketRescheduleResponse:
      type: object
      properties:
        message:
          type: string
    DCancellationReason:
      type: object
      properties:
        code:
          type: string
          description: The code of the service order cancellation reason generated by BR TMP
          example: MCT025
        description:
          type: string
          description: The explained reason of the service order cancellation
          example: Cancellation requested by the merchant
      description: Return body
    DResponseDCancellationReason:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCancellationReason'
    DCancellationReasonWrapper:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/DCancellationReason'
      description: Return body
    DResponseDCancellationReasonWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCancellationReasonWrapper'
    DModal:
      type: object
      properties:
        code:
          type: string
          description: The modal code
          example: MD05
        unitValue:
          type: string
          description: The unit cost value of the modal
          example: R$ 500.00
        service:
          type: string
          description: The modal service description
          example: Service with candlelight dinner and 20 years whiskey
        subChannel:
          type: string
          description: Affiliation SubChannel
          example: '0000'
      description: The modals that match the given parameters
    DResponseDServiceProviderWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DServiceProviderWrapper'
    DServiceProvider:
      type: object
      properties:
        id:
          type: string
          description: The ID of the service provider associated to the modal list
          example: '131091'
        name:
          type: string
          description: The name of the service provider associated to the modal list
          example: FEDEX BRASIL LOGISTICA E TRANSPORTES S.A
        sla:
          type: integer
          description: The ticket type SLA (Service Level Agreement), in days, for THIS service provider
          format: int32
          example: 3
        productAccounting:
          type: string
          description: Product Accounting
          example: ALUGUEL | VENDA
        modals:
          type: array
          description: The modals that match the given parameters
          items:
            $ref: '#/components/schemas/DModal'
    DServiceProviderWrapper:
      type: object
      properties:
        serviceProviders:
          type: array
          items:
            $ref: '#/components/schemas/DServiceProvider'
      description: Return body
    DResponseDResultadoPesquisaPorInstituicao:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DResultadoPesquisaPorInstituicao'
    DResultadoPesquisaPorInstituicao:
      type: object
      properties:
        instituicao:
          type: string
          description: Número da instituição
          example: '00000003'
        serviceContract:
          type: string
          description: Service Contract ID (id da aliança)
          example: '101'
        nomeInstituicao:
          type: string
          description: Nome da instituição
          example: BIN
        condicoesEspeciais:
          type: array
          description: Lista de condições especiais de atentimento habilitadas para a instituição
          items:
            $ref: '#/components/schemas/DSpecialCondition'
      description: Return body
    DSpecialCondition:
      type: object
      properties:
        codigoFlag:
          type: string
          description: Flag - nome único da flag de condição especial de atendimento
          example: URGENTE
        descricaoFlag:
          type: string
          description: Descrição da flag - descrição das condições especiais associadas a esta flag
          example: Atentimento urgente, deve ser efetuado em 24hrs após a abertura da OS
      description: Lista de condições especiais de atentimento habilitadas para a instituição
    DUpdateTask:
      type: object
      properties:
        referenceNumberID:
          type: string
          description: the reference number of the ticket
          example: '600005185'
        idTask:
          type: string
          description: the code of the task
          example: '720'
        description:
          type: string
          description: the description of the reason for update task
        dateTimeTransmission:
          type: string
          description: the year,date and time transmission message, it is the same format of the time transaction and date transaction
          example: 20210322152814 it is means the transmission begins in the year 2021 day 22 of march 152814
        timeTransaction:
          type: string
          description: 24h time format
          example: 152814 it is means that transaction occur in 3 hours PM 28 minutes and 14 seconds
        dateTransaction:
          type: string
          description: the month and day of transaction
          example: 0322 it is means that transaction occur in the month of march and the day 22
    DUpdateTaskResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    CoilInventoryDTO:
      type: object
      properties:
        cep:
          type: string
        sla:
          type: integer
          format: int32
        currentSupply:
          type: integer
          format: int32
        averagePrints:
          type: number
          format: float
        lastTicketDate:
          type: string
          format: date-time
        previousTicketDate:
          type: string
          format: date-time
    DCoilInventory:
      type: object
      properties:
        numeroMerchant:
          type: string
        retornoCodigo:
          type: string
        retornoDescricao:
          type: string
        inventory:
          $ref: '#/components/schemas/CoilInventoryDTO'
      description: Return body
    DResponseDCoilInventory:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCoilInventory'
    CoilBalanceDTO:
      type: object
      properties:
        createDate:
          type: string
          format: date-time
        currentSupply:
          type: integer
          format: int64
        dayPrints:
          type: integer
          format: int64
        initialSupply:
          type: integer
          format: int64
    DCoilBalance:
      type: object
      properties:
        numeroMerchant:
          type: string
        retornoCodigo:
          type: string
        retornoDescricao:
          type: string
        balance:
          type: array
          items:
            $ref: '#/components/schemas/CoilBalanceDTO'
      description: Return body
    DResponseDCoilBalance:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DCoilBalance'
    DMaintenanceReason:
      type: object
      properties:
        code:
          type: string
          description: The code of the service order cancellation reason generated by BR TMP
          example: C025
        description:
          type: string
          description: The explained reason of the service order Maintenance
          example: Maintenance requested by the merchant
      description: Return body
    DResponseDMaintenanceReason:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DMaintenanceReason'
    DMaintenanceReasonWrapper:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/DMaintenanceReason'
      description: Return body
    DResponseDMaintenanceReasonWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: Return code (0 for success, 1 for error)
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: Return message, describe the error when the return code is 1
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DMaintenanceReasonWrapper'
    DServiceOrderLogisticData:
      type: object
      properties:
        referenceNumberID:
          type: string
          description: The ticket number
          example: '600000128529'
        mobileOperator:
          type: string
          description: The mobile operator
          example: Algar
        specialConditions:
          type: string
          description: The special service conditions selected to this ticket
          example: URGENT
        serviceProvider:
          type: string
          description: The service provider that executed the ticket, with, if selected, the special modal
          example: 'GERTEC (MODAL: SF Modais)'
        type:
          type: string
          description: The service type.
          example: MAINTENANCE
          enum:
            - ACTIVATION
            - MAINTENANCE
            - EXCHANGE
            - UNINSTALL
            - SUPPLY
            - SCREENING
            - CHANGE_MOBILE
            - TECHNICAL
        createDate:
          type: string
          description: The ticket creation date
          example: '2020-09-17 18:09:41'
        scheduledDateFirst:
          type: string
          description: The ticket scheduled date
          example: 2020-09-28 10:00 MON
        rescheduledDate:
          type: string
          description: The ticket rescheduled date
          example: 2020-09-28 10:00 MON
        rescheduledTotal:
          type: string
          description: Number of rescheduling of the ticket
[...]
