openapi: 3.0.2
info:
  title: 'Search/Select special modals available for delivery. The MODAL is a special form of execution of a service order. Can be, as example, a VIP service'
  description: 'Search/Select special modals available for delivery. The MODAL is a special form of execution of a service order. Can be, as example, a VIP service'
  termsOfService: 'urn:tos'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  version: 1.0.0
servers:
  - url: 'https://cat.api.firstdata.com'
    variables: {}
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-config:
  tryItOut: true
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: 'prod.api.firstdata.com'
paths:
  /bwa/modal/search:
    get:
      tags:
        - List all the special modals based on the parameters provided
      x-proxy-name: List all the special modals based on the parameters provided
      x-group-name: Service Order Information
      x-child-product-name: Digital Solutions
      description: List all the special modals based on the parameters provided
      operationId: List all the special modals based on the parameters provided
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          schema:
            type: string
            example: MzgzYTIxZjJjYTI1NmE2ZGM2OTE3YTkzZjU5YTY0Zjk2NjAzMmUxMTZjOTJlMDU1ZWExOGU4MzJhMzc2NjQwOA==
        - name: Api-Key
          in: header
          description: APIGEE key
          required: true
          schema:
            type: string
            example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
        - name: Timestamp
          in: header
          description: Date in EPOCH format
          required: true
          schema:
            type: string
            example: 1591212089576
        - name: Client-Request-Id
          in: header
          description: Ramdom string generated by the client
          required: true
          schema:
            type: string
            example: H7MZvxxy2qWfc5gxScXQYC2tyaWZ8
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
            example: 
        - name: ticketType
          in: query
          description: 'The TMS code of the service order (ticket) type which the modal will be associated to. Can be: 400000 (activation), 410000 (maintenance), 420000 (exchange), 440000 (uninstall), 470000 (supply), etc... (Other types can be added later)'
          required: true
          schema:
            type: string
            example: 410000
            enum:
              - '400000'
              - '410000'
              - '420000'
              - '440000'
              - '470000'
              - etc...
        - name: zipCode
          in: query
          description: 'The merchant''s zip code where the service order will be executed, ONLY THE NUMBERS'
          required: true
          schema:
            type: string
            example: '01451001'
        - name: billingPresumed
          in: query
          description: 'The presumed monthly billing of the merchant, in brazillian currency (R$), without the cents'
          required: true
          schema:
            type: string
            example: 200000
        - name: instituicao
          in: header
          description: Institution number
          required: true
          schema:
            type: string
            example: '00000003'
        - name: service-contract
          in: header
          description: The service contract ID. Please ask Fiserv representative to be informed yours
          required: true
          schema:
            type: string
            example: 101
        - name: affiliationChannelType
          in: query
          description: "3 Digits Code. The merchant''s affiliation channel type code, according to the boarding registration. Please ask Fiserv representative to be informed yours"
          required: false
          schema:
            type: string
        - name: affiliationChannel
          in: query
          description: "3 Digits Code. The merchant''s affiliation channel code (under the affiliation channel type code in the hierarchy), according to the boarding registration. Please ask Fiserv representative to be informed yours" 
          required: false
          schema:
            type: string
        - name: affiliationSubChannel
          in: query
          description: "5 Digits Code. The merchant''s affiliation subchannel code (under the affiliation channel code in the hierarchy), according to the boarding registration. Please ask Fiserv representative to be informed yours"
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDServiceProviderWrapper'
        '400':
          description: BAD REQUEST - Invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
        '502':
          description: BAD GATEWAY - Error in the communication between the API and the BR TMP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DResponseDApiErro'
components:
  schemas:
    DApiErro:
      type: object
      properties:
        timestamp:
          type: string
          description: 'Request date in format yyyy-MM-dd HH:mm:ss'
          example: '2020-02-02 20:00:02'
        status:
          type: integer
          description: HTTP code
          format: int32
          example: 404
        error:
          type: string
          description: HTTP code description
          example: Not Found
        message:
          type: string
          description: Error message
          example: The requested resource was not found
        path:
          type: string
          description: URI
          example: /modal/search
      description: Return body
    DResponseDApiErro:
      type: object
      properties:
        returncode:
          type: integer
          description: 'Return code (0 for success, 1 for error)'
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: 'Return message, describe the error when the return code is 1'
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DApiErro'
    DModal:
      type: object
      properties:
        code:
          type: string
          description: The TMP modal code. (unique identification code registered in TMP)
          example: MD05
        unitValue:
          type: string
          description: The unit cost value of the modal
          example: R$ 500.00
        service:
          type: string
          description: The modal service description
          example: Service with candlelight dinner and 20 years whiskey
      description: The modals that match the given parameters
    DResponseDServiceProviderWrapper:
      type: object
      properties:
        returncode:
          type: integer
          description: 'Return code (0 for success, 1 for error)'
          format: int32
          example: 0
          enum:
            - 0
            - 1
        message:
          type: string
          description: 'Return message, describe the error when the return code is 1'
          example: The requested resource was not found
        content:
          $ref: '#/components/schemas/DServiceProviderWrapper'
    DServiceProvider:
      type: object
      properties:
        id:
          type: string
          description: The ID of the service provider associated to the modal list
          example: '131091'
        name:
          type: string
          description: The name of the service provider associated to the modal list
          example: FEDEX BRASIL LOGISTICA E TRANSPORTES S.A
        sla:
          type: integer
          description: 'The ticket type SLA (Service Level Agreement), in days, for THIS service provider'
          format: int32
          example: 3
        modals:
          type: array
          description: The modals that match the given parameters
          items:
            $ref: '#/components/schemas/DModal'
    DServiceProviderWrapper:
      type: object
      properties:
        serviceProviders:
          type: array
          items:
            $ref: '#/components/schemas/DServiceProvider'
      description: Return body
