openapi: 3.0.2
info:
  description: Service Order Search
  version: "1.0"
  title: Service Order Search
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Service Order Search
paths:
  /bwa/consultaos/{instituicao}/{numeroMerchant}:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Search by Institution Number and Merchant Code
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Search by Institution Number and Merchant Code
      summary: Service Order Search by Institution Number and Merchant Code
      operationId: serviceOrderSearch
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by Client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: numeroMerchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succesfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
      deprecated: true
  /bwa/consultaos/byos/{instituicao}/{osNumero}:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Inquiry by Institution and Service Order Number
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Inquiry by Institution and Service Order Number
      summary: Service Order Inquiry by Institution and Service Order Number
      operationId: serviceOrderSearchById
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: osNumero
          in: path
          description: Service Order Number
          example: "123456789"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
      deprecated: true
  /bwa/consultaos/trackos/{instituicao}/{numeroMerchant}:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Tracking by Institution Number and Merchant Code
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Tracking by Institution Number and Merchant Code
      summary: Service Order Tracking by Institution Number and Merchant Code
      operationId: serviceOrderTracking
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: path
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: numeroMerchant
          in: path
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseTrack"
      deprecated: true
  /bwa/consultaos/resources/v2/os:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Search by Institution Number and Merchant Code
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Search by Institution Number and Merchant Code
      summary: Service Order Search by Institution Number and Merchant Code
      operationId: serviceOrderSearch1
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by Client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succesfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
      deprecated: false
  /bwa/consultaos/resources/v1/os/{osNumero}:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Inquiry by Institution and Service Order Number
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Inquiry by Institution and Service Order Number
      summary: Service Order Inquiry by Institution and Service Order Number
      operationId: serviceOrderSearchById1
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: osNumero
          in: path
          description: Service Order Number
          example: "123456789"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponse"
      deprecated: false
  /bwa/consultaos/resources/v1/trackos:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Tracking by Institution Number and Merchant Code
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Tracking by Institution Number and Merchant Code
      summary: Service Order Tracking by Institution Number and Merchant Code
      operationId: serviceOrderTracking2
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponseTrack"
      deprecated: false
  /bwa/consultaos/resources/v1/trackos/{osNumero}:
    get:
      tags:
        - Service Order Search
      x-proxy-name: Service Order - Consult - Service Order Tracking by Institution Number, Merchant Code and Service Order Number
      x-group-name: Service Order Information
      x-child-product-name: Banworks
      description: Service Order Tracking by Institution Number, Merchant Code and Service Order Number
      summary: Service Order Tracking by Institution Number, Merchant Code and Service Order Number
      operationId: serviceOrderTrackingByOS
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: institution
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: merchant
          in: header
          description: Merchant Code
          example: "91002806"
          required: true
          schema:
            type: string
        - name: osNumero
          in: path
          description: Service Order Number
          example: "123456789"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully Done.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DResponseTrack"
      deprecated: false
components:
  schemas:
    Response:
      type: object
      properties:
        numeroInstituicao:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        numeroMerchant:
          type: string
          description: Merchant Code
          example: "91002806"
        codigoRetorno:
          type: string
          description: Return Code
          example: "00"
          enum:
            - 00 - Successfully Done
            - 01 - Merchant don't have OS to consult
            - 02 - Instituion/Merchant don't exist
        descricaoRetorno:
          type: string
          example: Successfully done
        ordemServico:
          type: array
          description: Return Information
          items:
            type: object
            properties:
              osNumero:
                type: string
                description: Service Order Number
                example: "123456789"
              osData:
                type: string
                description: Service Order Open Date
                example: "20190606"
              numeroLogico:
                type: string
                description: Service Order Terminal Logic Number
                example: "1234567890"
              numeroTerminal:
                type: string
                description: Service Order Terminal Number
                example: "1234567890"
              osStatus:
                type: string
                description: Service Order Status
                example: "O"
                enum:
                  - O - Open
                  - C - Closed
                  - A - Cancelled
              osStatusDesc:
                type: string
                description: Service Order Status Description
                example: "Open"
              numeroEndereco:
                type: string
                description: Merchant Address Number
                example: "1234"
              contratoServico:
                type: string
                description: Merchant Service Contract
                example: "123"
              estado:
                type: string
                description: Merchant Address - State
                example: "SP"
              cep:
                type: string
                description: Merchat Address - ZIPCODE
                example: "05109180"
              endereco:
                type: string
                description: Merchant Address
                example: Rua das Acacias
              cidade:
                type: string
                description: Merchant Address - City
                example: "São Paulo"
              complemento:
                type: string
                description: Merchant Address - Complement
                example: Apartamento 11
              bairro:
                type: string
                description: Merchant Address - Neighborhood
                example: Vila das Acacias
              razaoSocial:
                type: string
                description: Merchant Legal Name
                example: "Nome do Estabelecimento"
              nomeFantasia:
                type: string
                description: Merchant Trade Name
                example: "Nome Fantasia do Estabelecimento"
              osTipo:
                type: string
                description: Service Order Request Type
                example: "400000"
                enum:
                  - 400000 - Instalation
                  - 410000 - Maintenance
                  - 420000 - Exchange
                  - 440000 - Desinstalation
                  - 470000 - Supply
              osTipoDescricao:
                type: string
                description: Service Order Request Type Description
                example: Instalation
                enum:
                  - Instalation
                  - Maintenance
                  - Exchange
                  - Desinstalation
                  - Supply
              slaEntregaEquipamento:
                type: string
                description: Device End Delivery Date/time
                example: "2019-10-10 10:12:15"
      title: Response
    ResponseTrack:
      type: object
      description: Return Information
      properties:
        numeroInstituicao:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        numeroMerchant:
          type: string
          description: Merchant Code
          example: "91002806"
        retornoCodigo:
          type: string
          description: Return Codes.
          example: "00"
          enum:
            - 00 - Successfully Done
            - 01 - Merchant don't have OS to consult
            - 02 - Instituion/Merchant don't exist
        retornoDescricao:
          type: string
          example: Successfully Done
        trackOs:
          type: array
          description: Tracking Information
          items:
            type: object
            properties:
              osNumero:
                type: string
                description: Service Order Number
                example: "123456789"
              osStatusDescricao:
                type: string
                description: Service Order Description Status
                enum:
                  - Sent
                  - Planned
                  - Completed
                  - Cancelled
                example: Completed
              numeroLogico:
                type: string
                description: Service Order Logical Number
                example: "1234567890"
              slaEntregaEquipamento:
                type: string
                description: Device End Delivery Date/Time
                example: "2018-03-27 10:20:30"
              dateTimeTrack:
                type: string
                description: Log Date of the Request
                example: "2018-03-27 11:12:33"
              descTracking:
                type: string
                description: Log Description for the Delivery
                example: C04 - Merchant Closed.
              entregaImediata:
                type: boolean
                description: Immediate delivery flag
                example: true
      title: ResponseTrack
    DResponse:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: API result code
          example: 0
        mensagem:
          type: string
          description: API result message
          example: "Sucesso."
        conteudo:
          type: object
          oneOf:
            - $ref: "#/components/schemas/Response"
      title: DResponse
    DResponseTrack:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: API result code
          example: 0
        mensagem:
          type: string
          description: API result message
          example: "Sucesso."
        conteudo:
          type: object
          oneOf:
            - $ref: "#/components/schemas/ResponseTrack"
      title: DResponseTrack

