openapi: 3.0.2
info:
  title: Search for EC's Account Debits
  description: "Search all about account debits. Example: FEES, REFUNDS, REVERSALS, CHARGEBACKS, ADJUSTMENTS, MISC_ADJUSTMENTS"
  termsOfService: urn:tos
  version: "1.0"
  contact:
    name: Fiserv
    url: https://merchants.fiserv.com/pt-br/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search EC's Account Debits
paths:
  '/bwa/ajuste-debitos/v1/obter':
    get:
      tags:
        - Search for EC's Account Debits
      x-proxy-name: Merchant Debits (fee, refund, reversal, etc)- Consult
      x-group-name: Merchant Information & Cases
      x-child-product-name: Banworks
      summary: Merchant Information & Cases
      description: Search EC's Account Debits
      operationId: Search EC's Account Debits
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          required: true
          schema:
            type: string
          example: "00000003"
        - name: estabelecimento
          in: header
          description: Merchant Code
          required: true
          schema:
            type: string
          example: 33333332
        - name: dataInicio
          in: query
          description: Search start date. yyyyMMdd format
          required: true
          schema:
            type: string
            format: String
          example: 20210131
        - name: dataFim
          in: query
          description: Search end date. yyyyMMdd format
          required: true
          schema:
            type: string
          example: 20210228
        - name: linguagem
          in: query
          description: Search language
          required: true
          schema:
            allOf:
              - type: string
                enum:
                  - USA
                  - POR
        - name: tipoAjuste
          in: query
          description: Type of Adjustment requested
          required: true
          schema:
            allOf:
              - type: string
                enum:
                  - FEES
                  - REFUNDS
                  - REVERSALS
                  - CHARGEBACKS
                  - ADJUSTMENTS
        - name: tipoConta
          in: query
          description: "Type of account. Possible Values: 999 (All) | 009(Acq Disputed \ Trans) | 050(VISA Credit) | 051(MC Credit) | 052(MC Debit) | 053(VISA Debit) | 054(Fees/Adj.) | 055(CABAL Credit) | 056(CABAL Debit) | 059(Hipercard Credit) | 060(ELO Credit) | 061(ELO Debit) | 063(Amex Credit)"
          required: true
          schema:
            type: string
            enum:
              - "999"
              - "009"
              - "050"
              - "051"
              - "052"
              - "053"
              - "054"
              - "055"
              - "056"
              - "059"
              - "060"
              - "061"
              - "063"
      responses:
        "206":
          description: Partial Content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PartialContent'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Conflict'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Unauthorized'
        "200":
          description: Successfully Done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Success'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Forbidden'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/NotFound'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/InternalServerError'
      security:
        - JWT: []
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 9
          enum:
            - 9
            - 10
        mensagem:
          type: string
          description: Description return code
          example: "Campos mandatorios: ... (meaning Mandatory Fields)"
          enum:
            - "9 - Campos mandatorios: ... (meaning Mandatory Fields)"
            - "10 - (Erro validaçao) (meaning VAlidation Error)"
    Conflict:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 8
          enum:
            - 8
        mensagem:
          type: string
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          enum:
            - 8 - Item duplicado (Meaning Duplicated Item)
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 4
          enum:
            - 4
        mensagem:
          type: string
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized
            Access
          enum:
            - Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized
              Access
    AjusteDTO:
      type: object
      properties:
        dataAjuste:
          type: string
          description: Adjustment date
          example: "20210228"
        statusAjuste:
          type: string
          description: Adjustment status
          example: Scheduled
          enum:
            - Scheduled
            - Pending
            - Settled
        tipoAjuste:
          type: string
          description: Adjustment type
          example: FEES
          enum:
            - FEES
            - REFUNDS
            - REVERSALS
            - CHARGEBACKS
            - ADJUSTMENTS
        descricaoAjuste:
          type: string
          description: Adjustment description
          example: Abatimento de POS nível 3
          enum:
            - Abat por vol vendas nível 1
            - Abat por vol vendas nível 2
            - Abat por vol vendas nível 3
            - Abatimento de POS nível 1
            - Abatimento de POS nível 2
            - Abatimento de POS nível 3
            - Acq Comm Credit
            - Acq Comm Reversal
            - Acq. Service Fee CR.
            - Acq. Service Fee DR.
            - Acq Settl Cash Dom Fee
            - Acq Settl Cash Int Fee
            - Acq Settl Purch Int Fee
            - Acq Settl Refund Int Fee
            - Acquirer Commission
            - AISA Charge Base Cash CR
            - AISA Charge Base Cash DR
            - AISA Charge Enh Cash CR
            - AISA Charge Enh Cash DR
            - AISA Mult Base Pur CR
            - AISA Mult Base Pur DR
            - AISA Mult Enh Pur CR
            - AISA Mult Enh Pur DR
            - Ajuste CFL – Exceção
            - Ajuste Debito Cashback
            - All
            - ALL CR
            - ALL DR
            - Ant espéc In/Out-Todas-Dom
            - Ant espéc In/Out-Todas-Int
            - Ant espécie In/Out - Todas
            - Antecipações automáticas
            - Antecipações manuais
            - Assessment Fee - AMEX
            - Assessment Fee - CABAL
            - Assessment Fee - Hipercard
            - Assessment Fee - MasterCard
            - Assessment Fee - Visa
            - Assessment Fee Refund - AMEX
            - Assessment Fee Refund - MC
            - Assessment Fee Refund - Visa
            - Assessment Fee Refund -CABAL
            - Assessment Fee Refund -Hiper
            - ATM Cash Income
            - ATM cash Withdrawal
            - Auszahlung Einbehaltungsbetr
            - Auto Prepayments
            - Baixa dn
            - Baixa 80
            - Balance Inquiry
            - Batch File Fee
            - BeautyFair_Link
            - BeautyFair_Move
            - Boarding Validation
            - Bônus de bandeira crédito
            - Bonus Scheme Credit
            - Bundle Fee
            - Campaign
            - Campanhas
            - Card holder payment
            - Cardh. Paym. excl. Unrealize
            - Cardholder Funds Transfer
            - Cardholder Payment
            - Cash Disbrsmnt Royalties Cr
            - Cash Disbrsmnt Royalties Dr
            - Cash Withdrawal Cashier
            - Cash Withdrawal Income
            - Cashback In/Out
            - Clover Mini Fee
            - Clover Mobile Dock Fee
            - Clover Mobile Fee
            - Clover Mobile Holster Fee
            - Clover Mobile Printer Fee
            - Cobrança de Pagamento do EC
            - Cobrança de taxa crédito
            - Cobrança de taxas Débito
            - Cobrança do Estabelecimento
            - Comissão de compra do EC
            - Comissão de reembolso do EC
            - Comissão do adquirente
            - Comissão do estabelecimento
            - Compra
            - Compra com cashback
            - Compra com 02 parcelas
            - Compra com 03 parcelas
            - Compra com 04 parcelas
            - Compra com 05 parcelas
            - Compra com 06 parcelas
            - Compra com 07 parcelas
            - Compra com 08 parcelas
            - Compra com 09 parcelas
            - Compra com 10 parcelas
            - Compra com 11 parcelas
            - Compra com >12 parcelas
            - Compra com 12 parcelas
            - Compra com 13 a 18 parcelas
            - Compra com 19 a 24 parcelas
            - Compra com 2 a 3 parcelas
            - Compra com 4 a 6 parcelas
            - Compra com 7 a 12 parcelas
            - Compra In/Out - Todas
            - Conciliador Credito
            - Conciliador Debito
            - Consulta de saldo
            - CR Link de Pagto Anti Fraude
            - CR Regularize Prepay Reject
            - CR Rev duplicate prepayment
            - CR Settl Paymt betw Merch
            - CR SOC trx not processed
            - CR 2nd copy of Paper Stat
            - CRÉD DIVERSOS CONTA CONTÁBIL
            - Crediario Install-02 parcels
            - Crediario Install-03 parcels
            - Crediario Install-04 parcels
            - Crediario Install-05 parcels
            - Crediario Install-06 parcels
            - Crediario Install-07 parcels
            - Crediario Install-08 parcels
            - Crediario Install-09 parcels
            - Crediario Install-10 parcels
            - Crediario Install-11 parcels
            - Crediario Install-12 parcels
            - Crediario Install>12 parcels
            - Credit Block by Court order
            - Credit Bundle Service Pack
            - Credit Chgback Reversal
            - Credit Duplicated Trx
            - Credit Interest
            - Credit Legal Agreement
            - Credit Link Pagto
            - Credit MDR
            - Credit Merchant Incentive
            - Credit Others Services
            - Credit Paper Statement
            - Credit Payday
            - Credit Pin pad rental
            - Credit POS Rental
            - Credit Registration Rate
            - Credit Request by Ombudsman
            - Credit ReStatement
            - Credit Reversal Rental
            - CreditMDR_SOCIAL
            - Crédito de comissão do adq
            - Crédito de comissão do EC
            - Debit Block by Court Order
            - Debit Bundle Service Pack
            - Debit chgback Reversal
            - Debit Interest
            - Debit Legal Agreement
            - Debit Link Pagto
            - Debit MDR
            - Debit Merchant Incentive
            - Debit Others Services
            - Debit Paper Statement
            - Debit Payday
            - Debit Pin pad rental
            - Debit POS Rental
            - Debit Registration Rate
            - Debit Request by Ombudsman
            - Debit ReStatement
            - Debit Reversal Rental
            - DebitMDR_SOCIAL
            - Débito do estabelecimento
            - Depósito pelo EC
            - Despesas de reembolso (créd)
            - Disagio
            - DR Link de Pgto Anti Fraude
            - DR Regularize Prepay Reject
            - DR Rev duplicate prepayment
            - DR Settl Paymt betw Merch
            - DR SOC trx not processed
            - DR 2nd copy of Paper Stat
            - E-Comm Gateway 1 Fee
            - E-Comm Gateway 2 Fee
            - E-Comm Gateway 3 Fee
            - E-Comm Gateway 4 Fee
            - E-Comm Gateway 5 Fee
            - E-Comm IPG Fee
            - E-Comm Own Solution Fee
            - E-Comm Sub-Acq Fee
            - eCommerce SE Con 616
            - eCommerce SE Conecta
            - EDI Recon. State. Daily Fee
            - EDI Recon State. Monthly Fee
            - EDI Recon State. Weekly Fee
            - EDI Recon State.BiMonth. Fee
            - EDI Statement BiMonthly Fee
            - EDI Statement Daily Fee
            - EDI Statement Monthly Fee
            - EDI Statement v7 Daily Fee
            - EDI Statement v7 Monthly Fee
            - EDI Statement Weekly Fee
            - EDI Stmt v7 Grp Daily Fee
            - EDI Stmt v7 Grp Monthly Fee
            - Einbehaltungsbetrag
            - ELO Assess Fee 0001 Refund
            - ELO Assess Fee 0002 Refund
            - ELO Assess Fee 0003 Refund
            - ELO Assess Tax Refund CBK
            - ELO Assessment Fee 0001
            - ELO Assessment Fee 0002
            - ELO Assessment Fee 0003
            - ELO Assessment Tax
            - ELO Assessment Tax CBK
            - ELO Assessment Tax Debit
            - ELO Assessment Tax Refund
            - Email State. BiMonthly Fee
            - Email Statement Daily Fee
            - Email Statement Monthly Fee
            - Email Statement Weekly Fee
            - Equipamento Nao Devolvido
            - Estorno da comissão do adq
            - Estorno da comissão do EC
            - Excl pg por port não realiza
            - Fee collection CR
            - Fee Collection DR
            - Fraud On-Hold Payment Out
            - Fraud On-Hold Payments
            - Future POS Fee
            - GL debit transaction
            - GL MISCELLANEOUS CR
            - GL Reclassification CR
            - GL Reclassification DR
            - GL summary dummy trn
            - Gratificação do EC
            - IAF Charge Base Cash CR
            - IAF Charge Base Cash DR
            - IAF Charge Base Pur CR
            - IAF Charge Base Pur DR
            - IAF Charge Enh Cash CR
            - IAF Charge Enh Cash DR
            - IAF Charge Enh Pur CNP CR
            - IAF Charge Enh Pur CNP DR
            - IAF Charge Enh Pur CP CR
            - IAF Charge Enh Pur CP DR
            - IASF Charge Base Cash CR
            - IASF Charge Base Cash DR
            - IASF Charge Enh Cash CR
            - IASF Charge Enh Cash DR
            - II Ant espécie - Todas - Dom
            - II Ant espécie - Todas - Int
            - II Cash Adv-All-Dom
            - II Cash Adv-All-Int
            - II Compras - Todas - Dom
            - II Compras - Todas - Int
            - II Credit
            - II Crédito
            - II Purchase-All-Dom
            - II Purchase-All-Int
            - INC IAF CNP Chrg Enh Pur CR
            - INC IAF CNP Chrg Enh Pur DR
            - Installment Fee (13 to 18)
            - Installment Fee (19 to 24)
            - Installment Fee (2 to 3)
            - Installment Fee (4 to 6)
            - Installment Fee (7 to 12)
            - Interchange Fee Debit
            - Interchange Payment
            - Interest on Interest
            - Intra Account Payments
            - Invoice Payment
            - IO Cash Adv-All-Dom
            - IO Cash Adv-All-Int
            - IO Cash Advance - All
            - IO Cashback
            - IO Clearing Fee
            - IO Clearing Fee - CFT
            - IO Clearing Fee-Dom
            - IO Clearing Fee-Int
            - IO Fax Fee
            - IO Purch All-Dom
            - IO Purch All-Int
            - IO Purchase - All
            - IO Refund-All
            - IO Refund-All-Dom
            - IO Refund-All-Int
            - IOI Fees CR
            - IOI Fees DR
            - Issuer Installment
            - Issuer Installments
            - Issuer Install-02 parcels
            - Issuer Install-03 parcels
            - Issuer Install-04 parcels
            - Issuer Install-05 parcels
            - Issuer Install-06 parcels
            - Issuer Install-07 parcels
            - Issuer Install-08 parcels
            - Issuer Install-09 parcels
            - Issuer Install-10 parcels
            - Issuer Install-11 parcels
            - Issuer Install-12 parcels
            - Issuer Install>12 parcels
            - Juro sobre juro não realiza
            - Juros de crédito
            - Juros de Débito
            - Juros de excesso de limite
            - Juros débito não realizado
            - Juros devido não realizado
            - Juros por atraso
            - Juros sobre juros
            - Karteninhabergutschriftsgebu
            - Late Payment Fee
            - Link de Pagamento
            - Link 2500 2G Pop Comodato
            - Link 2500 2G Pop Fee
            - Liquidação de reserva do EC
            - Liquidação recup tx do EC
            - Loyalty Fee
            - Manual Prepayments
            - MC PCB Fee CR
            - MC PCB Fee DR
            - MC PWCB Fee CR
            - MC PWCB Fee DR
            - Membership Fee
            - Merch Cash Adv/ATM With Dep
            - Merch Comm Credit
            - Merch Comm Reversal
            - Merch Fee Reimbursement
            - Merch Fee Retrieve Settlemen
            - Merch Purch  Commission
            - Merch Refund Commission
            - Merch Refund Rev Comm
            - Merchant  Debit
            - Merchant Collection
            - Merchant Commission
            - Merchant Commission New
            - Merchant Credit Fee
            - Merchant Deposit
            - Merchant Installment
            - Merchant Install-02 parcels
            - Merchant Install-03 parcels
            - Merchant Install-04 parcels
            - Merchant Install-05 parcels
            - Merchant Install-06 parcels
            - Merchant Install-07 parcels
            - Merchant Install-08 parcels
            - Merchant Install-09 parcels
            - Merchant Install-10 parcels
            - Merchant Install-11 parcels
            - Merchant Install-12 parcels
            - Merchant Install>12 parcels
            - Merchant Paym Collection
            - Merchant Payments
            - Merchant Refund Fee - All
            - Merchant Reserve
            - Merchant Reserve Settlement
            - Merchant Reward
            - Misc CR - Lockin
            - Misc. CR transaction
            - Misc DR - Lockin
            - Misc. DR transaction
            - Mobile POS Fee
            - Mobile-Recharge Fee
            - Mobile-Recharge Retailer Fee
            - Moby6500 entrega bau
            - Moby6500 entrega na hora
            - Move 5000 Mega Pop Comodato
            - Move 5000 Mega Pop Fee
            - n/a
            - Nova comissão do EC
            - On-Hold Out Payments
            - On-Hold Payments
            - On-Hold Prepayments
            - Operational Standards fee Cr
            - Operational Standards fee Dr
            - Overdue Interest
            - OverLimit Interest
            - Pagamento de Cashback
            - Pagamento pelo portador
            - Pagamento pelo portador
            - Pagamentos pelo EC
            - Parcelado Emissor >12 parc
            - Parcelado Emissor-02 parc
            - Parcelado Emissor-03 parc
            - Parcelado Emissor-04 parc
            - Parcelado Emissor-05 parc
            - Parcelado Emissor-06 parc
            - Parcelado Emissor-07 parc
            - Parcelado Emissor-08 parc
            - Parcelado Emissor-09 parc
            - Parcelado Emissor-10 parc
            - Parcelado Emissor-11 parc
            - Parcelado Emissor-12 parc
            - Parcelado pelo emissor
            - Parcelamento da compra
            - Parcelamento pelo est
            - Payment by Book Transfer
            - Payment by Direct Debit
            - Payment Request
            - Pgto comissão intermediação
            - Pgto por débito automático
            - Pgto por transf registrada
            - PINPAD Fee
            - POGO Fee
            - POS Auto Credenc Fee
            - POS Crefisinha Fee
            - POS Desktop Fee
            - POS Eth/Desktop Fee
            - POS Ethernet Fee
            - POS GPRS Desktop Fee
            - POS GPRS Dt/Dial/Eth Fee
            - POS GPRS Mobile Fee
            - POS GPRS WIFI Fee
            - POS Link2500 2G Fee
            - Pos Link2500 2G Ncom Fee
            - POS Link2500 2G PR_ENTR
            - POS Link2500 3G Fee
            - POS Link2500 3G NCom Fee
            - POS Link2500 3G PR_ENTR
            - POS Maintenance Fee 2 hr
            - POS Maintenance Fee 24 hr
            - POS Maintenance Fee 4 hr
            - POS Maintenance Fee 48 hr
            - POS Maintenance Fee 72 hr
            - POS Maintenance Fee 8 hr
            - POS MOBY6500 Aluguel
            - POS MOBY6500 Rental Fee
            - POS MOBY6500 Sale Fee
            - POS MOBY6500 Tarifa Venda
            - POS Move5000 Fee
            - POS Move5000 NCom Fee
            - POS MP5 Fee
            - POS no celular
            - POS Rebate Tier 1
            - POS Rebate Tier 2
            - POS Rebate Tier 3
            - POS TEF Proprio com Chip
            - POS TEF Proprio sem Chip
            - POS Virtual Fee
            - POS Web Fee
            - POS Wifi Fee
            - POS-TEF Browser
            - POSTEF Terc_Fee
            - POS-TEF Whitelabel
            - Printed State. BiMonth. Fee
            - Printed State. Monthly Fee
            - Printed Statement Daily Fee
            - Printed Statement Weekly Fee
            - Purch. with Install 13 to 18
            - Purch. with Install 19 to 24
            - Purch with Install 4 to 6
            - Purch with Install 7 to 12
            - Purchase
            - Purchase Income
            - Purchase Installment
            - Purchase with Cashback
            - Purchase with Install 2 to 3
            - Pure Cashback
            - Pymnt Req Bank Order
            - Pymnt Req Dir Deb
            - Pymnt Req Paper
            - Pymnt Req Post Order
            - Reclassificação GL crédito
            - Reclassificação GL débito
            - Reemb à conta do portador
            - Reemb In/Out - Todos - Dom
            - Reemb In/Out - Todos - Int
            - Reembolso (Crédito)
            - Reembolso In/Out - Todos
            - Reembolso taxa do EC
            - Refund (CR) Expenditure
            - Refund (Credit)
            - Refund To Cardholder Acct
            - REMOVE
            - Renda de compras
            - Renda de retirada em espécie
            - Renda de saque no ATM
            - Renda de transação única
            - Rental POS 2G Fee
            - Rental POS 3G Fee
            - Req pgto de pedido bancário
            - Req pgto de pedido de proc
            - Requisição de pagamento
            - Requisição pg por déb direto
            - Requisição pgto em papel
            - Reserva do estabelecimento
            - Retirada em espécie no ATM
            - Retirada em espécie no caixa
            - Sales Volume Rebate Tier 1
            - Sales Volume Rebate Tier 2
            - Sales Volume Rebate Tier 3
            - Special Care Fee Level 1
            - Special Care Fee Level 2
            - Special Care Fee Level 3
            - Storno kr. zost.
            - Supply Chain Fee Level 1
            - Supply Chain Fee Level 2
            - Supply Chain Fee Level 3
            - Taxa cadeia forn Nível 1
            - Taxa cadeia forn Nível 2
            - Taxa cadeia forn Nível 3
            - Taxa compensação In/Out
            - Taxa de arquivo em lote
            - Taxa de associação
            - Taxa de crédito do EC
            - Taxa de E-Commerce Gateway 1
            - Taxa de E-Commerce Gateway 2
            - Taxa de E-Commerce Gateway 3
            - Taxa de E-Commerce Gateway 4
            - Taxa de E-Commerce Gateway 5
            - Taxa de IP TEF
            - Taxa de parcelamento (2 a 3)
            - Taxa de parcelamento (4 a 6)
            - Taxa de recarga de celular
            - Taxa dedicada TEF
            - Taxa Desktop GPRS POS
            - Taxa desktop POS
            - Taxa do pacote de serviços
            - Taxa e-com de subadquirente
            - Taxa e-comm solução própria
            - Taxa eth/desktop POS
            - Taxa Ethernet POS
            - Taxa fidelidade
            - Taxa In/Out por fax
            - Taxa manutenção POS 2 horas
            - Taxa manutenção POS 24 horas
            - Taxa manutenção POS 4 horas
            - Taxa manutenção POS 48 horas
            - Taxa manutenção POS 72 horas
            - Taxa manutenção POS 8 horas
            - Taxa móvel  GPRS POS
            - Taxa parcelamento (13 a 18)
            - Taxa parcelamento (19 a 24)
            - Taxa parcelamento (7 a 12)
            - Taxa PINPAD
            - Taxa por pgto em atraso
            - Taxa reembolso est - Todas
            - Taxa TEF discada
            - Taxa varejo recarga celular
            - TEF Dedicated Fee
            - TEF Dial Up Fee
            - TEF IP Fee
            - Third POS TEF
            - Todas Compras In/Out - Dom
            - Todas Compras In/Out - Int
            - Todos
            - Trans déb da conta contábil
            - Trans. of Fraud - Insurance
            - Trans. of Fraud - Write Off
            - Transação de fraude - Baixa
            - Transação de fraude - Seguro
            - Transação única
            - Transações crédito diversas
            - Transações débito diversas
            - Transaction process fee Cr
            - Transaction Process fee Dr
            - Transf fundos pelo portador
            - Trx Cancellation Review
            - Tx atenção especial Nível 1
            - Tx atenção especial Nível 2
            - Tx atenção especial Nível 3
            - Tx compensação In/Out - CFT
            - Tx compensação In/Out - Dom
            - Tx compensação In/Out - Int
            - Tx dktop/discada/ethGPRS POS
            - Tx dom em espécie liq adq
            - Unique transaction
            - Unique Transaction Income
            - Unrealized Debit Interest
            - Unrealized Interest on Int.
            - Unrealized Overdue Interest
            - Validacao Credenciamento
            - Visa AISA Enh Pur CR
            - Visa AISA Enh Pur DR
            - Visa CBSA Fee CR
            - Visa CBSA Fee DR
            - Visa IAF Multi CR
            - Visa IAF Multi DR
            - Visa IAF Single CR
            - Visa IAF Single DR
            - White_Label_Payzen_fee
            - White_Label_Payzen_Fee2
            - White_Label_Payzen_Fee3
            - Write off dn
            - WriteOff 80
            - 3DS Credito
            - 3DS Debito
            - ETC..
        idEstabelecimentoAjustado:
          type: string
          description: Id adjusted merchant
          example: "33333332"
        idEstabelecimentoOrigem:
          type: string
          description: Id merchant origin
          example: "33333332"
        numeroReferenciaTransacao:
          type: string
          description: Transaction reference number
          example: "1234567890"
        produto:
          type: string
          description: Product (type of adjustment made)
          example: Taxas/Ajustes
          enum:
            - Acq Disputed Trans
            - Amex Credit
            - CABAL Credit
            - CABAL Crédito
            - CABAL Debit
            - CABAL Débito
            - ELO Credit
            - ELO Debit
            - Fees/Adj.
            - Hipercard Credit
            - MasterCard Crédito
            - MasterCard Débito
            - MC Credit
            - MC Debit
            - Taxas/Ajustes
            - Trans Contestada Adq
            - VISA Credit
            - VISA Crédito
            - VISA Debit
            - VISA Débito
        numeroParcelas:
          type: string
          description: Number of installments
          example: "2"
        numeroCartao:
          type: string
          description: Card number
          example: "4055998874582569"
        dataTransacao:
          type: string
          description: Transaction date
          example: "20210228"
        tipoOperacao:
          type: string
          description: "Operation type (C - Credit | D - Debit )"
          example: C
          enum:
            - C
            - D
        valorTransacao:
          type: string
          description: Transaction amount
          example: "40.21"
        valorAjuste:
          type: string
          description: Adjustment amount
          example: "5.14"
        numeroAutorizacao:
          type: string
          description: Authorization number
          example: "1234567890"
        numeroComprovanteVenda:
          type: string
          description: Proof of Sale number
          example: "1234567890"
        dataEfetivaAjuste:
          type: string
          description: Effective date of Adjustment
          example: "20210228"
      description: Field containing the request return
    Success:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 0
          enum:
            - 0
        mensagem:
          type: string
          description: Sucesso.
          enum:
            - Sucesso.
        conteudo:
          type: array
          description: Field containing the request return
          items:
            $ref: '#/components/schemas/AjusteDTO'
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 3
          enum:
            - 3
            - 6
        mensagem:
          type: string
          description: Description return code
          example: Acesso negado - (Meaning Denied Access)
          enum:
            - 3 - Acesso negado - (Meaning Denied Access)
            - 10 - Token expirado - (Meaning Expired Token
    NotFound:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 5
          enum:
            - 5
        mensagem:
          type: string
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          enum:
            - 5 - Item nao encontrado (Meaning item not found)
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          type: integer
          description: Return code
          format: int32
          example: 2
          enum:
            - 2
            - 7
        mensagem:
          type: string
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          enum:
            - 2 - Erro Interno (Meaning Internal Error)
            - 7 - Erro na integracao da API. Detalhe (Meaning Integration Error)
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
