openapi: 3.0.2
info:
  description: Merchant Address Update
  version: "1.0"
  title: Merchant Address Update
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Merchant Address Update
paths:
  "/bwa/wsm/merchantinformation/address/updateAddress/":
    post:
      tags:
        - Merchant Address Update
      x-proxy-name: Merchant Addresses - Update
      x-group-name: Merchant Information & Cases
      x-child-product-name: Banworks
      description: Merchant Addresses - Update
      summary: Merchant Information & Cases
      operationId: MerchantAddressUpdate
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
components:
  schemas:
    updateAddress:
      type: object
      required:
        - institutionNumber
        - merchantID
        - addressCategory
        - postCode
        - street
        - number
        - neighbourhood
        - country
        - state
        - city
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "24041966"
        addressCategory:
          type: string
          description: Merchant Address Category Code
          example: "002"
          enum:
            - 001 - Billing Code
            - 002 - Shipping Code
        postCode:
          type: string
          description: Merchant Address Zipcode
          example: "05104180"
        street:
          type: string
          description: Merchant Street Name. No Accentuation
          example: "Rua das Acacias"
        number:
          type: string
          description: Merchant Address Number
          example: "1234"
        neighbourhood:
          type: string
          description: Merchant Address Neighborhood. No Accentuation
          example: "Vila das Acacias"
        block:
          type: string
          description: Merchant Address Complement. No Accentuation
          example: Apartamento 11
        country:
          type: string
          description: Merchant Address Country Code
          example: "076"
        state:
          type: string
          description: Merchant Address State Code
          example: "331"
          enum:
            - 307 - AC - Acre
            - 308 - AL - Alagoas
            - 309 - AP - Amapá
            - 310 - AM - Amazonas
            - 311 - BA - Bahia
            - 312 - CE - Ceará
            - 313 - DF - Distrito Federal
            - 314 - ES - Espírito Santo
            - 315 - GO - Goiás
            - 316 - MA - Maranhão
            - 317 - MT - Mato Grosso
            - 318 - MS - Mato Grosso do Sul
            - 319 - MG - Minas Gerais
            - 320 - PA - Pará
            - 321 - PB - Paraíba
            - 322 - PR - Paraná
            - 323 - PE - Pernambuco
            - 324 - PI - Piauí
            - 325 - RJ - Rio de Janeiro
            - 326 - RN - Rio Grande do Norte
            - 327 - RS - Rio Grande do Sul
            - 328 - RO - Rondônia
            - 329 - RR - Roraima
            - 330 - SC - Santa Catarina
            - 331 - SP - São Paulo
            - 332 - SE - Sergipe
            - 333 - TO - Tocantins
        city:
          type: string
          description: Merchant Address City Code. No Accentuation
          example: "Sao Paulo"
    Body:
      type: object
      properties:
        updateAddress:
          type: array
          items:
            $ref: "#/components/schemas/updateAddress"
    responseInformationList:
      type: object
      properties:
        responseCode:
          type: string
          description: Return Code
          example: "00"
          enum:
            - 00 - Update Successful (Address information updated)
            - 01 - Update Successful but UNS message not sent. (Address information updated)
            - 02 - Invalid Parameters - <field_name>
            - 03 - Merchant Does not exist (combination of institution number, client number);
            - 04 - Merchant not Active/Dormant.
            - 05 - No existing Address for Address Category provided
            - 06 - No Response from Commserver/TMS/FHM
            - 07 - Request rejected by TMS/FHM
            - 08 - Mandatory information missing
            - 99 - System Error
        responseCodeDesc:
          type: string
          description: Return Code Descrition
          enum:
            - 00 - Update Successful (Address information updated)
            - 01 - Update Successful but UNS message not sent. (Address information updated)
            - 02 - Invalid Parameters - <field_name>
            - 03 - Merchant Does not exist (combination of institution number, client number);
            - 04 - Merchant not Active/Dormant.
            - 05 - No existing Address for Address Category provided
            - 06 - No Response from Commserver/TMS/FHM
            - 07 - Request rejected by TMS/FHM
            - 08 - Mandatory information missing
            - 99 - System Error
    response:
      type: object
      properties:
        responseInformationList:
          type: array
          items:
            $ref: "#/components/schemas/responseInformationList"
    processMessage:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "24041966"
        addressCategory:
          type: string
          description: Merchant Address Category Code
          example: "002"
          enum:
            - 001 - Billing Code
            - 002 - Shipping Code
        response:
          $ref: "#/components/schemas/response"
    Response:
      type: object
      description: "This API has two type of return when: This return payload when the message is processed by the application"
      properties:
        processMessage:
          type: array
          items:
            $ref: "#/components/schemas/processMessage"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
