openapi: 3.0.2
info:
  description: Merchant Contact Information Update
  version: "1.0"
  title: Merchant Contact Information Update
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-header-api-key: 'X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
x-header-api-secret: 'N93nmFmoY0NzSMC5'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Merchant Contact Information Update
paths:
  /bwa/wsm/merchantinformation/contact/updateContactInformation/:
    post:
      tags:
        - Merchant Contact Information Update
      x-proxy-name: Merchant Contact Information - Update
      x-group-name: Merchant Information & Cases
      x-child-product-name: Banworks
      description: Update Contact Information
      summary: Update Contact Information. Processing system stores only 1 contact, so that the Contact information provided will replace the current Contact information
      operationId: Merchant Contact Information Update
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example:
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
components:
  schemas:
    updateContactInformation:
      type: object
      required:
        - institutionNumber
        - merchantID
        - contactName
        - servicePhone
        - mobileNumber
        - email
        - pepIndicator
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        contactName:
          type: string
          description: Merchant Contact Name - Max 50 characters
          example: "Marcelo Soares"
        servicePhone:
          type: string
          description: Merchant Contact Phone Number
          example: 1136368181
        mobileNumber:
          type: string
          description: Merchant Contact Cellphone Number
          example: 1198737382
        website:
          type: string
          description: Merchant Website Information
          example: www.sitedaempresa.com.br
        email:
          type: string
          description: Merchant E-mail
          example: e-mail@email.com.br
        pepIndicator:
          type: string
          description: Politically Exposed Person Indicator
          example: "000"
          enum:
            - 000 - No
            - 001 - Yes
        signedAverageTicketValue:
          type: string
          description: Merchant Average Ticket of sales
          example: "000000000000150.00"
        totMoneyCredDeb:
          type: string
          description: Total Debit and Credit Amount in Cash
          example: "000000000000150.00"
        totCredDeb:
          type: string
          description: Total Debit and Credit Amount
          example: "000000000000150.00"
    Body:
      type: object
      properties:
        updateContactInformation:
          type: array
          description: Update Contact Information. Processing system stores only 1 contact, so that the Contact information provided will replace the current Contact information
          items:
            $ref: "#/components/schemas/updateContactInformation"
    responseInformationList:
      type: object
      properties:
        responseCode:
          type: string
          description: Return code
          example: "00"
          enum:
            - 00 - Atualização realizada com sucesso. -(meaning Updated Successfully Done)
            - 01 - Atualização realizada com sucesso, mas mensagem UNS não enviada - (meaning Update Successfully done without UNS)
            - 02 - Parâmetros inválidos - (meaning Invalid Parameters)
            - 03 - Instituição/Estabelecimento Comercial não existe - (meaning Merchant Does not Exist)
            - 04 - Erro Interno no sistema - (meaning Error System)
            - 05 - Atualização rejeitada pelos sistemas TMS/FHM - (meaning Updated not confirmed)
            - 06 - Informações mandatórias não enviadas - (meaning Required Information not Provided)
            - 07 - Estabelecimento Comercial não Ativo/Suspenso - (meaning (Merchaint is not active or suspended)
            - 08 - Indicador de PEP para o CNPJ é inválido - (meaning PEP information as TRUE cannot be Company)
            - 99 - Erro de Sistema - (meaning System Error)
        responseCodeDesc:
          type: string
          description: Return Code Description
          example: "Descrição da mensagem em inglês"
          enum:
            - 00 - Atualização realizada com sucesso. -(meaning Updated Successfully Done)
            - 01 - Atualização realizada com sucesso, mas mensagem UNS não enviada - (meaning Update Successfully done without UNS)
            - 02 - Parâmetros inválidos - (meaning Invalid Parameters)
            - 03 - Instituição/Estabelecimento Comercial não existe - (meaning Merchant Does not Exist)
            - 04 - Erro Interno no sistema - (meaning Error System)
            - 05 - Atualização rejeitada pelos sistemas TMS/FHM - (meaning Updated not confirmed)
            - 06 - Informações mandatórias não enviadas - (meaning Required Information not Provided)
            - 07 - Estabelecimento Comercial não Ativo/Suspenso - (meaning (Merchaint is not active or suspended)
            - 08 - Indicador de PEP para o CNPJ é inválido - (meaning PEP information as TRUE cannot be Company)
            - 99 - Erro de Sistema - (meaning System Error)
    response:
      type: array
      items:
        $ref: "#/components/schemas/responseInformationList"
    processMessage:
      type: object
      properties:
        institutionNumber:
          type: string
          description: Merchant Institution Number
          example: "00000003"
        merchantID:
          type: string
          description: Merchant Code
          example: "91002806"
        response:
          $ref: "#/components/schemas/response"
    Response:
      type: array
      items:
        $ref: "#/components/schemas/processMessage"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
