openapi: 3.0.0
info:
  title: Get or Update Merchant Partner Information
  description: Get or Update Merchant partner data
  termsOfService: urn:tos
  version: "1.0"
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-header-api-key: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
x-header-api-secret: N93nmFmoY0NzSMC5
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search Merchant Partner Information
  - name: Update Merchant Partnet Information
paths:
  '/bwa/atualiza-socio/v1/consultaEstabelecimento/{clientNumber}':
    get:
      tags:
        - Get or Update Merchant Partner Information
      x-proxy-name: Merchant Information - Consult Partner
      x-group-name: Merchant Information & Cases
      x-child-product-name: Banworks
      description: Search Merchant Partner Information
      summary: Search Merchant Partner Information
      operationId: Search Merchant Partner Information
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: codigo-contrato
          in: header
          description: Service Contract Code
          example: "101"
          required: true
          schema:
            type: string
        - name: clientNumber
          in: path
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaSocio'
        206:
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  '/bwa/atualiza-socio/v1/atualizaEstabelecimento/{clientNumber}':
    post:
      tags:
        - Get or Update Merchant Partner Information
      x-proxy-name: Merchant Information - Update Partner
      x-group-name: Merchant Information & Cases
      x-child-product-name: Banworks
      description: Update Merchant Partnet Information
      summary: Update Merchant Partnet Information
      operationId: Update Merchant Partnet Information
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: null
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: 1563309156733
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: codigo-contrato
          in: header
          description: Service Contract Code
          example: "101"
          required: true
          schema:
            type: string
        - name: clientNumber
          in: path
          description: Merchant Code
          example: "12341964"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocioRespDTO'
      responses:
        200:
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntityConsultaSocio'
        206:
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          example: Campos mandatorios - (meaning Mandatory Fields)
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields)"
            - "10 - (Erro validaçao) - (meaning VAlidation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - Meaning Not Authorized Access
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          example: Acesso negado - Meaning Denied Access
          type: string
          enum:
            - "3 - Acesso negado - (Meaning Denied Access)"
            - "10 - Token expirado - (Meaning Expired Token"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (Meaning item not found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (Meaning Duplicated Item)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          example: Erro Interno - (Meaning Internal Error)
          type: string
          enum:
            - "2 - Erro Interno - (Meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (Meaning Integration Error)"
    ResponseEntityConsultaSocio:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
        mensagem:
          description: Description return code
          example: Sucesso.
          type: string
          enum:
            - "0 - Sucesso - (Meaning Successfull Done)"
        conteudo:
          $ref: '#/components/schemas/SocioRespDTO'
    SocioRespDTO:
      type: object
      properties:
        partnerInfoName1:
          description: "Partner name 1"
          example: "Joao da Silva"
          type: string
        partnerInfoCpf1:
          description: "Partner 1 CPF"
          example: "11111111111"
          type: string
        partnerInfoPhone1:
          description: "Partner 1 phone"
          example: "011999999999"
          type: string
        partnerInfoBirthDate1:
          description: "Partner's birthday 1"
          example: "YYYY-MM-DD"
          type: string
        partnerInfoName2:
          description: "Partner name 2"
          example: "Maria dos Santos"
          type: string
        partnerInfoCpf2:
          description: "Partner 2 CPF"
          example: "22222222222"
          type: string
        partnerInfoPhone2:
          description: "Partner 2 phone"
          example: "011988888888"
          type: string
        partnerInfoBirthDate2:
          description: "Partner's birthday 2"
          example: "YYYY-MM-DD"
          type: string
        partnerInfoName3:
          description: "Partner name 3"
          example: "Marcio Souza"
          type: string
        partnerInfoCpf3:
          description: "Partner 3 CPF"
          example: "33333333333"
          type: string
        partnerInfoPhone3:
          description: "Partner 3 phone"
          example: "01197777777"
          type: string
        partnerInfoBirthDate3:
          description: "Partner's birthday 3"
          example: "YYYY-MM-DD"
          type: string
