openapi: 3.0.2
info:
  version: 22.5.0
  title: Payments API Reference
  description: >-
    The documentation here is designed to provide all of the technical guidance
    required to consume and integrate with our APIs for payment processing. To
    learn more about our APIs please visit https://fiserv.dev.
  termsOfService: 'https://fiserv.dev'
  contact:
    email: developers@fiserv.com
  license:
    name: License under Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://prod.emea.api.fiservapps.com/sandbox/ipp/payments-gateway/v2'
    description: Sandbox Environment
  - url: 'https://prod.emea.api.fiservapps.com/ipp/payments-gateway/v2'
    description: Production Environment
tags:
  - name: Authentication
    description: ''
  - name: Payment
    description: ''
  - name: Order
    description: ''
  - name: Payment Schedules
    description: ''
  - name: Payment URL
    description: ''
  - name: Payment Token
    description: ''
  - name: Verification
    description: ''
  - name: Currency Conversion
    description: ''
  - name: Information Lookup
    description: ''
paths:
  /payments:
    post:
      tags:
        - Payment
      security:
        - Api-Key: []
      x-proxy-name: Create Primary Transaction
      x-group-name: Payment
      x-child-product-name: Payments
      summary: Generate a primary transaction
      description: >-
        Use this to originate a financial transaction like a sale,
        preauthorization, or credit.
      operationId: submitPrimaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrimaryTransactionGroup'
            examples:
              PaymentCardSaleTransaction:
                summary: PaymentCardSaleTransaction
                value:
                  requestType: PaymentCardSaleTransaction
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  storedCredentials:
                    sequence: FIRST
                    scheduled: true
              PaymentCardPreAuthTransaction:
                summary: PaymentCardPreAuthTransaction
                value:
                  requestType: PaymentCardPreAuthTransaction
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
                  incrementalFlag: false
              PaymentCardCreditTransaction:
                summary: PaymentCardCreditTransaction
                value:
                  requestType: PaymentCardCreditTransaction
                  transactionAmount:
                    total: 123.04
                    currency: USD
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  currencyConversion:
                    conversionType: Dcc
                    inquiryRateId: '123456'
              PaymentCardForcedTicketTransaction:
                summary: PaymentCardForcedTicketTransaction
                value:
                  requestType: PaymentCardForcedTicketTransaction
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  referenceNumber: '123455'
              PaymentCardPayerAuthTransaction:
                summary: PaymentCardPayerAuthTransaction
                value:
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  requestType: PaymentCardPayerAuthTransaction
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
              PaymentTokenCreditTransaction:
                summary: PaymentTokenCreditTransaction
                value:
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  requestType: PaymentTokenCreditTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
              PaymentTokenPreAuthTransaction:
                summary: PaymentTokenPreAuthTransaction
                value:
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  requestType: PaymentTokenPreAuthTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
              PaymentTokenSaleTransaction:
                summary: PaymentTokenSaleTransaction
                value:
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  requestType: PaymentTokenSaleTransaction
                  paymentMethod:
                    paymentToken:
                      value: '1235325235236'
                      function: DEBIT
                      securityCode: '977'
                  storedCredentials:
                    sequence: FIRST
                    scheduled: true
              PaypalCreditTransaction:
                summary: PaypalCreditTransaction
                value:
                  transactionAmount:
                    total: 12.04
                    currency: USD
                  requestType: PaypalCreditTransaction
                  paymentMethod:
                    payPal:
                      recipientEmail: John@tester.com
              SepaSaleTransaction:
                summary: SepaSaleTransaction
                value:
                  transactionAmount:
                    total: 23
                    currency: EUR
                  requestType: SepaSaleTransaction
                  sepa:
                    iban: DE34500100600032121604
                    name: John Doe
                    country: DEU
                    email: john.doe@test.com
                  mandate:
                    reference: 3RBQVEE
                    url: 'https://www.firstdata.com'
                    signatureDate: '2017-07-15'
                    type: SINGLE
              WalletSaleTransaction:
                summary: WalletSaleTransaction
                value:
                  requestType: WalletSaleTransaction
                  transactionAmount:
                    total: 23
                    currency: EUR
                  walletPaymentMethod:
                    walletType: EncryptedApplePayWalletPaymentMethod
                    encryptedApplePay:
                      data: >-
                        NdCmVw5nMjQq746HYc/VbiZcQZ/zFzeEcM1wVMPruEG4/C/EFhobSkwB5JZJU+t6JuDVXUBiRYuOOC8FTYd+qIm6ckktid9aiGh0f2NDP0INSr59QXmr389RonyUfRYKnBmwsh5UqtI7Iz0AmMtl1PWMdxcCewtjuffs79ahTnFgXsRN+ynuhyDfbdRanlTnYKGoTeVh9eJfheJ1wquO+jiGj+npJ/Oh9bAdlw7iEHrYO2aUkgaMyXZ3foXRAJeimQVQS1y8lU1PPq62zpPrFzidbnnU5fK25pvGFjOdmLsBELZPk5thQEkSaA9p1LSKzWSesHhi0BxZaFPXSA6ANXvYIU2AT0lG+0O0w1URA5Sinyj3YDZVqjuir6rzNN9bB2U2nTQnKMbuGLMS20K8fUKZN/YLJh+AtE6J69+VVSU95mE1nOb8hyabz6E5RmnC5Ze2k6F/hQ75ig==
                      header:
                        applicationDataHash: >-
                          94ee059335e587e501cc4bf90613e0814f00a7b08bc7c648fd865a2af6a22cc2
                        ephemeralPublicKey: >-
                          MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEiaU1SbkYTJy/j5L1t51vtGDh4KlNl5MFPWzo/C8r0WcrktWriz5pdRaDVUDvU++KlDu2iuQsd2xSNKJlFscbDQ==
                        publicKeyHash: YmSWN7lj4+A6fVJVPicP8TgS7gI7ougD8rEWB5LXtMM=
                        transactionId: '31323334353637'
                      signature: >-
                        MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIIB0zCCAXkCAQEwCQYHKoZIzj0EATB2MQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxFDASBgNVBAcMC0plcnNleSBDaXR5MRMwEQYDVQQKDApGaXJzdCBEYXRhMRIwEAYDVQQLDAlGaXJzdCBBUEkxGzAZBgNVBAMMEmQxZHZ0bDEwMDAuMWRjLmNvbTAeFw0xNTA3MjMxNjQxMDNaFw0xOTA3MjIxNjQxMDNaMHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAErnHhPM18HFbOomJMUiLiPL7nrJuWvfPy0Gg3xsX3m8q0oWhTs1QcQDTT+TR3yh4sDRPqXnsTUwcvbrCOzdUEeTAJBgcqhkjOPQQBA0kAMEYCIQDrC1z2JTx1jZPvllpnkxPEzBGk9BhTCkEB58j/Cv+sXQIhAKGongoz++3tJroo1GxnwvzK/Qmc4P1K2lHoh9biZeNhAAAxggFUMIIBUAIBATB7MHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tAgEBMA0GCWCGSAFlAwQCAQUAoGkwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODEyMTczMTAwWjAvBgkqhkiG9w0BCQQxIgQgJyjKLiGQo3I1ZbfHSmF2XCZ8dNlcZyohziuXO48EKwgwCgYIKoZIzj0EAwIESDBGAiEAznKDYEz9MsC+r1g6e4LR1DTaQOl+X2rVNkWnKDpc1EQCIQCmK48ChHoz4HWnUnW5XqaGWOUXKHQvUgeqFr/jgBUzegAAAAAAAA==
                      applicationData: VEVTVA==
                      merchantId: order-1
                      version: EC_v1
                  paymentFacilitator:
                    externalMerchantId: '12345'
                    paymentFacilitatorId: '123123123'
                    saleOrganizationId: '123124214'
                    name: First Reseller
                    subMerchantData:
                      mcc: '1432'
                      legalName: First Merchant
                      timezone: Europe/London
                      address:
                        address1: 123 Main St.
                        city: Sandy Springs
                        region: Georgia
                        postalCode: '30303'
                        country: USA
                      document:
                        type: NATIONAL_IDENTITY
                        number: '12345666544'
                      merchantId: '12435325235'
              WalletPreAuthTransaction:
                summary: WalletPreAuthTransaction
                value:
                  requestType: WalletPreAuthTransaction
                  transactionAmount:
                    total: 23
                    currency: EUR
                  walletPaymentMethod:
                    walletType: EncryptedGooglePayWalletPaymentMethod
                    encryptedGooglePay:
                      data:
                        encryptedMessage: >-
                          8nxjB9mr2tWZeDRQRcGN91UUnb7AioGp3oRo8kmQ6lyvJZiqD7PJlbRCYElNqUmr6Z8zK7b2gO9MKOjpnTCqH0qAe2vuIlwNXB60M2Lh7Qfl3bVgWzwF/FfFcenVW381hoItYi8AjWnWoydz1XMTEv2qhqUG03mEnRXdMyDyk6KKZXoW8Qc0p1F1thbxxu8weU8CZbZsWGGTjB42cilIqLVbribcOAG8Oas1AcgefFsu2hwp4gdSuOg7wmeSV7XKsGQzzVy85qtjuqET2XYzJE3K/Wh9QKkhu5P9Ms5s1+Smr2IjRyidqQa88SxQplrVoo9+PvT0bxFcMspBmO3pLkuaZSUBy++dL2fefcxNJvGCFfFhdxW9DojuuQxgpeu7RAQUsGLyFmr/4ZfBxt882xTmpX9MRx5CAudl9qUgBfKdwWwMX35qSbDTm1ju5XXzNh94VebjD3bB9Zj8qgbmUOr/+6OQLhoFJyBCXgx3EEH8hBwNVFrss/SLwQvFhZh62eO6lOtnmbOtP1yTDDVqGDBfai5SwAmM+KTcc9SGv/xDC+cWe8ck+aCBkG4HoRPapUVMZ3JIgV7yzTsVLJE\\u003d\\
                        ephemeralPublicKey: >-
                          BGH3fRFdoAobYrAlxnZOCYzkH84Cna92IZxtgsU36CMDaqSaDYb9/LsY8qw+vMtlBnwsUg/YVMOeeKp+qDkOWb4\\u003d\\
                        tag: nvmOUNpnOTZULLhMxT/hWCHzH/4f7gGpfvQgwl3p8ng\\u003d\\
                      signature: >-
                        MEUCIFWTRWUZAOM5nfJC79FtJm56olnbwG4H5uWWxAUWAquiAiEA24j/BcOroeISsdJzYsyoVi8wzu4tnmKw+jdsGfuvPko=
                      version: ECv1
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
                  incrementalFlag: false
        description: >-
          Accepted request types: PaymentCardCreditTransaction,
          PaymentCardForcedTicketTransaction, PaymentCardSaleTransaction,
          PaymentCardPreAuthTransaction, PaymentCardPayerAuthTransaction,
          PaymentTokenCreditTransaction, PaymentTokenPreAuthTransaction,
          PaymentTokenSaleTransaction, PaypalCreditTransaction,
          SepaSaleTransaction, SepaCreditTransaction, WalletSaleTransaction, and
          WalletPreAuthTransaction.
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  '/payments/{transaction-id}':
    get:
      tags:
        - Payment
      security:
        - Api-Key: []
      x-proxy-name: Transaction Inquiry
      x-group-name: Payment
      x-child-product-name: Payments
      summary: Retrieve the state of a transaction.
      description: Use this query to get the current state of an existing transaction.
      operationId: transactionInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    patch:
      tags:
        - Payment
      security:
        - Api-Key: []
      x-proxy-name: Finalize Secure Transaction
      x-group-name: Payment
      x-child-product-name: Payments
      operationId: finalizeSecureTransaction
      summary: Update a 3DSecure or UnionPay payment and continue processing
      description: >-
        Use this to handle a 3DSecure redirect response or UnionPay
        authentication, updating the transaction and continuing processing.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationUpdateRequestGroup'
        required: true
        description: >-
          Accepted request types: Secure3DAuthenticationUpdateRequest,
          Secure3D10AuthenticationUpdateRequest and
          Secure3D21AuthenticationUpdateRequest.
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    post:
      tags:
        - Payment
      security:
        - Api-Key: []
      x-proxy-name: Secondary Transaction
      x-group-name: Payment
      x-child-product-name: Payments
      summary: Perform a secondary transaction
      description: >-
        Use this to perform a void, postAuth or return secondary transaction.
        Partial postAuths and returns are allowed.
      operationId: submitSecondaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  '/orders/{order-id}':
    post:
      tags:
        - Order
      security:
        - Api-Key: []
      x-proxy-name: Order-Based Secondary Transactions
      x-group-name: Order
      x-child-product-name: Payments
      summary: Perform return or postAuth secondary transactions
      description: >-
        Use this to perform a postAuth or return secondary transaction using
        order ID. Partial postAuths and returns are allowed.
      operationId: submitSecondaryTransactionFromOrder
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
    get:
      tags:
        - Order
      security:
        - Api-Key: []
      x-proxy-name: Order Inquiry
      x-group-name: Order
      x-child-product-name: Payments
      summary: Retrieve the state of an order
      description: Use this query to get the current state of an existing order.
      operationId: orderInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /payment-schedules:
    post:
      tags:
        - Payment Schedules
      security:
        - Api-Key: []
      x-proxy-name: Schedule Creation
      x-group-name: Payment Schedules
      x-child-product-name: Payments
      summary: Create gateway payment schedule
      description: Use this to create a gateway payment schedule.
      operationId: createPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The attempted action is not valid according to gateway rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          description: The endpoint declined the transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  '/payment-schedules/{order-id}':
    get:
      tags:
        - Payment Schedules
      security:
        - Api-Key: []
      x-proxy-name: Schedule Inquiry
      x-group-name: Payment Schedules
      x-child-product-name: Payments
      summary: View a gateway payment schedule
      description: Use this to view an existing gateway payment schedule.
      operationId: inquiryPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Schedules
      security:
        - Api-Key: []
      x-proxy-name: Schedule Cancel
      x-group-name: Payment Schedules
      x-child-product-name: Payments
      summary: Cancel a gateway payment schedule
      description: Use this to cancel an existing gateway payment schedule.
      operationId: cancelPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Schedules
      security:
        - Api-Key: []
      x-proxy-name: Schedule Update
      x-group-name: Payment Schedules
      x-child-product-name: Payments
      summary: Update a gateway payment schedule
      description: Use this to update a gateway payment schedule.
      operationId: updatePaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentScheduleRequestGroup'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-url:
    post:
      tags:
        - Payment URL
      security:
        - Api-Key: []
      x-proxy-name: URL Creation
      x-group-name: Payment URL
      x-child-product-name: Payments
      summary: Create a payment URL
      description: Use this to generate an embedding payment link.
      operationId: createPaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUrlRequest'
        description: 'Accepted request type: PaymentUrlRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment URL
      security:
        - Api-Key: []
      x-proxy-name: Delete URL
      x-group-name: Payment URL
      x-child-product-name: Payments
      summary: Delete a payment URL
      description: Use this to delete an embedding payment link.
      operationId: deletePaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/TransactionIdQueryParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/PaymentUrlIdQueryParam'
        - $ref: '#/components/parameters/TransactionTimeQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Payment URL
      security:
        - Api-Key: []
      x-proxy-name: URL Detail
      x-group-name: Payment URL
      x-child-product-name: Payments
      summary: Retrieve the state of payment URL
      description: Use this query to get the current state of an existing paymentURL.
      operationId: paymentUrlDetail
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/MerchantTransactionIdQueryParam'
        - $ref: '#/components/parameters/FromDateQueryParam'
        - $ref: '#/components/parameters/ToDateQueryParam'
        - $ref: '#/components/parameters/StatusQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
  /payment-tokens:
    post:
      tags:
        - Payment Token
      security:
        - Api-Key: []
      x-proxy-name: Token Creation
      x-group-name: Payment Token
      x-child-product-name: Payments
      operationId: createPaymentToken
      summary: Create a payment token from a payment card
      description: Use this to create a payment token from a payment card.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTokenizationRequestGroup'
        required: true
        description: >-
          Accepted request types: PaymentCardPaymentTokenizationRequest,
          PaymentDevicePaymentTokenizationRequest, and
          ReferencedOrderPaymentTokenizationRequest.
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Token
      security:
        - Api-Key: []
      x-proxy-name: Token Update
      x-group-name: Payment Token
      x-child-product-name: Payments
      operationId: updatePaymentToken
      summary: Update one or more payment tokens
      description: Use this update one or more payment tokens.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardPaymentTokenUpdateRequest'
        required: true
        description: 'Accepted request type: PaymentCardPaymentTokenUpdateRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  '/payment-tokens/{token-id}':
    get:
      tags:
        - Payment Token
      security:
        - Api-Key: []
      x-proxy-name: Get Token Source Details
      x-group-name: Payment Token
      x-child-product-name: Payments
      operationId: getPaymentTokenDetails
      summary: Get payment card details associated with token
      description: Get payment card details associated with token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Token
      security:
        - Api-Key: []
      x-proxy-name: Token Deletion
      x-group-name: Payment Token
      x-child-product-name: Payments
      operationId: deletePaymentToken
      summary: Delete a payment token
      description: Use this to delete a payment token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /card-verification:
    post:
      tags:
        - Verification
      security:
        - Api-Key: []
      x-proxy-name: Card Verification
      x-group-name: Verification
      x-child-product-name: Payments
      operationId: verifyCard
      summary: Verify a payment card
      description: >-
        Use this to perform card verification for a payment card. Use the
        account-verification endpoint instead for this request.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardVerificationRequest'
        required: true
        description: 'Accepted request type: CardVerificationRequest.'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /account-verification:
    post:
      tags:
        - Verification
      security:
        - Api-Key: []
      x-proxy-name: Account Verification
      x-group-name: Verification
      x-child-product-name: Payments
      operationId: verifyAccount
      summary: Verify a payment card or payment token
      description: >-
        Use this to perform an account verification for a payment card or
        payment token
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerificationRequestGroup'
        required: true
        description: >-
          Accepted request type: PaymentCardVerificationRequest and
          PaymentTokenVerificationRequest.
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
  /exchange-rates:
    post:
      tags:
        - Currency Conversion
      security:
        - Api-Key: []
      x-proxy-name: Currency Conversion Inquiry
      x-group-name: Currency Conversion
      x-child-product-name: Payments
      summary: Generate dynamic currency conversion transactions
      description: >-
        Sale, return and lookup exchange rate with dynamic currency conversion
        option
      operationId: getExchangeRate
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateRequestGroup'
        required: true
        description: >-
          Accepted request types: DCCExchangeRateRequest and
          DynamicPricingExchangeRateRequest.
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DCCExchangeRateRequest'
                  - $ref: '#/components/schemas/DynamicPricingExchangeRateRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
  /card-information:
    post:
      tags:
        - Information Lookup
      security:
        - Api-Key: []
      x-proxy-name: Card Info Lookup
      x-group-name: Information Lookup
      x-child-product-name: Payments
      summary: Card Information Lookup
      description: >-
        Use this to look up card related information such as issuer country,
        card function and card brand.
      operationId: cardInfoLookup
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInfoLookupRequest'
        description: 'Accepted request type: CardInfoLookupRequest.'
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /account-information:
    post:
      tags:
        - Information Lookup
      security:
        - Api-Key: []
      x-proxy-name: Account Info Lookup
      x-group-name: Information Lookup
      x-child-product-name: Payments
      summary: Account Information Lookup
      description: >-
        Use this to look up card related information associated with a payment
        card or payment token.
      operationId: lookupAccount
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoLookupRequestGroup'
        description: >-
          Accepted request type: PaymentCardInfoLookupRequest and
          PaymentTokenInfoLookupRequest
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  securitySchemes:
    Api-Key:
      name: Api-Key
      type: apiKey
      in: header
      description: Authorization value in header (obtain from developer portal)
  parameters:
    ContentTypeParam:
      name: Content-Type
      schema:
        type: string
        enum:
          - application/json
        default: application/json
      in: header
      required: true
      description: Content type.
    ClientRequestIdParam:
      name: Client-Request-Id
      schema:
        type: string
      in: header
      required: true
      description: >-
        A client-generated ID for request tracking and signature creation,
        unique per request.  This is also used for idempotency control. We
        recommend 128-bit UUID format.
    ApiKeyParam:
      name: Api-Key
      schema:
        type: string
      in: header
      required: true
      description: >-
        Key given to merchant after boarding associating their requests with the
        appropriate app in Apigee.
    TimestampParam:
      name: Timestamp
      schema:
        type: integer
        format: int64
      in: header
      required: true
      description: >-
        Epoch timestamp in milliseconds in the request from a client system.
        Used for Message Signature generation and time limit (5 mins).
    MessageSignatureParam:
      name: Message-Signature
      schema:
        type: string
      in: header
      required: true
      description: >-
        Used to ensure the request has not been tampered with during
        transmission. The Message-Signature is the Base64 encoded HMAC hash
        (SHA256 algorithm with the API Secret as the key.) For more information,
        refer to the supporting documentation on the Developer Portal.
      x-link:
        name: How to Create Message Signature
        link: 'https://docs.firstdata.com/org/gateway/node/394'
    AccessTokenParam:
      name: Authorization
      description: >-
        The access token previously generated with the access-tokens call. Use
        the format 'Bearer {access-token}'.
      schema:
        type: string
      in: header
      required: false
    TransactionIdParam:
      name: transaction-id
      schema:
        type: string
      in: path
      required: true
      description: >-
        Gateway transaction identifier as returned in the parameter
        ipgTransactionId or merchantTransactionId.
    TransactionIdQueryParam:
      name: transactionId
      schema:
        type: string
      in: query
      required: false
      description: >-
        Gateway transaction identifier as returned in the parameter
        ipgTransactionId or merchantTransactionId.
    OrderIdParam:
      name: order-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway order identifier as returned in the parameter orderId.
    OrderIdQueryParam:
      name: orderId
      schema:
        type: string
      in: query
      required: false
      description: Gateway order identifier as returned in the parameter orderId.
    PaymentUrlIdQueryParam:
      name: paymentUrlId
      schema:
        type: string
      in: query
      required: false
      description: The ID code from the payment URL.
    MerchantTransactionIdQueryParam:
      name: merchantTransactionId
      schema:
        type: string
      in: query
      required: false
      description: >-
        Gateway merchant identifier as returned in the parameter
        merchantTransactionId.
    FromDateQueryParam:
      name: fromDate
      schema:
        type: string
      in: query
      required: true
      description: The start date for payment URL in seconds since epoch.
    ToDateQueryParam:
      name: toDate
      schema:
        type: string
      in: query
      required: true
      description: The end date for payment URL search query in seconds since epoch.
    StatusQueryParam:
      name: status
      schema:
        type: string
      in: query
      required: false
      description: The status of payment URL.
    StoreIdParam:
      name: storeId
      schema:
        type: string
      in: query
      required: false
      description: >-
        An optional outlet ID for clients that support multiple stores in the
        same developer app.
    TokenIdParam:
      name: token-id
      schema:
        type: string
      in: path
      required: true
      description: Identifies a payment token.
    TransactionTimeQueryParam:
      name: transactionTime
      schema:
        type: string
      in: query
      required: false
      description: The transaction time in seconds since epoch.
  responses:
    BadRequest:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: >-
        The request cannot be authenticated or was submitted with the wrong
        credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request was unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Format that is not supported by the server for the HTTP method.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: An unexpected internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointCommunicationError:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TransactionGatewayDeclined:
      description: >-
        The attempted action is not valid according to gateway rules. For
        example, the merchant is not set-up or the order already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    TransactionEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    PaymentTokenizationGatewayDeclined:
      description: >-
        The attempted action is not valid according to gateway rules. For
        example, when the gateway is too busy then the transaction is not
        processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
    PaymentTokenizationEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
  requestBodies:
    SecondaryTransaction:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecondaryTransactionGroup'
      required: true
      description: >-
        Accepted request types: PostAuthTransaction, VoidTransaction,
        VoidPreAuthTransactions, ReturnTransaction and
        PreAuthSecondaryTransaction.
    PaymentSchedulesRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentScheduleRequestGroup'
      required: true
      description: >-
        Accepted request types: PaymentMethodPaymentSchedulesRequest and
        ReferencedOrderPaymentSchedulesRequest.
    AuthenticationVerificationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationUpdateRequestGroup'
      required: true
  schemas:
    PrimaryTransactionGroup:
      x-hide-model: true
      type: object
      anyOf:
        - $ref: '#/components/schemas/PaymentCardCreditTransaction'
        - $ref: '#/components/schemas/PaymentCardForcedTicketTransaction'
        - $ref: '#/components/schemas/PaymentCardSaleTransaction'
        - $ref: '#/components/schemas/PaymentCardPreAuthTransaction'
        - $ref: '#/components/schemas/PaymentCardPayerAuthTransaction'
        - $ref: '#/components/schemas/PaymentTokenCreditTransaction'
        - $ref: '#/components/schemas/PaymentTokenPreAuthTransaction'
        - $ref: '#/components/schemas/PaymentTokenSaleTransaction'
        - $ref: '#/components/schemas/PaypalCreditTransaction'
        - $ref: '#/components/schemas/SepaSaleTransaction'
        - $ref: '#/components/schemas/SepaCreditTransaction'
        - $ref: '#/components/schemas/WalletSaleTransaction'
        - $ref: '#/components/schemas/WalletPreAuthTransaction'
        - $ref: '#/components/schemas/ApmSaleTransaction'
        - $ref: '#/components/schemas/ApmPreAuthTransaction'
      discriminator:
        propertyName: requestType
        mapping:
          PaymentCardCreditTransaction: '#/components/schemas/PaymentCardCreditTransaction'
          PaymentCardSaleTransaction: '#/components/schemas/PaymentCardSaleTransaction'
          PaymentCardPreAuthTransaction: '#/components/schemas/PaymentCardPreAuthTransaction'
          PaymentCardPayerAuthTransaction: '#/components/schemas/ChinaPnRSaleTransaction'
          PaymentTokenCreditTransaction: '#/components/schemas/PaymentTokenCreditTransaction'
          PaymentTokenPreAuthTransaction: '#/components/schemas/PaymentTokenPreAuthTransaction'
          PaymentTokenSaleTransaction: '#/components/schemas/PaymentTokenSaleTransaction'
          PaypalCreditTransaction: '#/components/schemas/PaypalCreditTransaction'
          SepaSaleTransaction: '#/components/schemas/SepaSaleTransaction'
          SepaCreditTransaction: '#/components/schemas/SepaCreditTransaction'
          WalletSaleTransaction: '#/components/schemas/WalletSaleTransaction'
          WalletPreAuthTransaction: '#/components/schemas/WalletPreAuthTransaction'
          ApmSaleTransaction: '#/components/schemas/ApmSaleTransaction'
          ApmPreAuthTransaction: '#/components/schemas/ApmPreAuthTransaction'
    SecondaryTransactionGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/PostAuthTransaction'
        - $ref: '#/components/schemas/VoidTransaction'
        - $ref: '#/components/schemas/VoidPreAuthTransactions'
        - $ref: '#/components/schemas/ReturnTransaction'
        - $ref: '#/components/schemas/PreAuthSecondaryTransaction'
      discriminator:
        propertyName: requestType
        mapping:
          PostAuthTransaction: '#/components/schemas/PostAuthTransaction'
          VoidTransaction: '#/components/schemas/VoidTransaction'
          VoidPreAuthTransactions: '#/components/schemas/VoidPreAuthTransactions'
          ReturnTransaction: '#/components/schemas/ReturnTransaction'
          PreAuthSecondaryTransaction: '#/components/schemas/PreAuthSecondaryTransaction'
    AuthenticationUpdateRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/Secure3DAuthenticationUpdateRequest'
        - $ref: '#/components/schemas/Secure3D10AuthenticationUpdateRequest'
        - $ref: '#/components/schemas/Secure3D21AuthenticationUpdateRequest'
      discriminator:
        propertyName: authenticationType
        mapping:
          Secure3DAuthenticationUpdateRequest: '#/components/schemas/Secure3DAuthenticationUpdateRequest'
          Secure3D10AuthenticationUpdateRequest: '#/components/schemas/Secure3D10AuthenticationUpdateRequest'
          Secure3D21AuthenticationUpdateRequest: '#/components/schemas/Secure3D21AuthenticationUpdateRequest'
    PaymentScheduleRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/PaymentMethodPaymentSchedulesRequest'
        - $ref: '#/components/schemas/ReferencedOrderPaymentSchedulesRequest'
      discriminator:
        propertyName: requestType
        mapping:
          PaymentMethodPaymentSchedulesRequest: '#/components/schemas/PaymentMethodPaymentSchedulesRequest'
          ReferencedOrderPaymentSchedulesRequest: '#/components/schemas/ReferencedOrderPaymentSchedulesRequest'
    ExchangeRateRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/DCCExchangeRateRequest'
        - $ref: '#/components/schemas/DynamicPricingExchangeRateRequest'
      discriminator:
        propertyName: requestType
        mapping:
          DCCExchangeRateRequest: '#/components/schemas/DCCExchangeRateRequest'
          DynamicPricingExchangeRateRequest: '#/components/schemas/DynamicPricingExchangeRateRequest'
    AccountInfoLookupRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/PaymentCardInfoLookupRequest'
        - $ref: '#/components/schemas/PaymentTokenInfoLookupRequest'
      discriminator:
        propertyName: requestType
        mapping:
          PaymentCardInfoLookupRequest: '#/components/schemas/PaymentCardInfoLookupRequest'
          PaymentTokenInfoLookupRequest: '#/components/schemas/PaymentTokenInfoLookupRequest'
    AccountVerificationRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/PaymentCardVerificationRequest'
        - $ref: '#/components/schemas/PaymentTokenVerificationRequest'
      discriminator:
        propertyName: requestType
        mapping:
          PaymentCardVerificationRequest: '#/components/schemas/PaymentCardVerificationRequest'
          PaymentTokenVerificationRequest: '#/components/schemas/PaymentTokenVerificationRequest'
    PaymentTokenizationRequestGroup:
      x-hide-model: true
      type: object
      oneOf:
        - $ref: '#/components/schemas/PaymentCardPaymentTokenizationRequest'
        - $ref: '#/components/schemas/PaymentDevicePaymentTokenizationRequest'
        - $ref: '#/components/schemas/PaymentTokenInfoLookupRequest'
      discriminator:
        propertyName: requestType
        mapping:
          PaymentCardPaymentTokenizationRequest: '#/components/schemas/PaymentCardPaymentTokenizationRequest'
          PaymentDevicePaymentTokenizationRequest: '#/components/schemas/PaymentDevicePaymentTokenizationRequest'
          ReferencedOrderPaymentTokenizationRequest: '#/components/schemas/ReferencedOrderPaymentTokenizationRequest'
    BasicResponse:
      description: Contains apiTraceId and clientRequestId shared in all response types.
      properties:
        clientRequestId:
          description: Echoes back the value in the request header for tracking.
          type: string
          example: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId:
          description: >-
            Request identifier in API, can be used to request logs from the
            support team.
          type: string
          example: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        responseType:
          $ref: '#/components/schemas/ResponseType'
    ErrorResponse:
      description: Response containing an error object.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    TransactionErrorResponse:
      description: Transaction response with error field included.
      allOf:
        - $ref: '#/components/schemas/TransactionResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentUrlErrorResponse:
      description: Payment URL response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentUrlResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentSchedulesErrorResponse:
      description: Payment schedules response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentTokenizationErrorResponse:
      description: Payment tokenization response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentTokenizationResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    OrderErrorResponse:
      description: Order response with error field included.
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    OrderResponse:
      description: Common object for primary and secondary payment request responses.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            orderId:
              description: >-
                Note - Client Order ID if supplied by client. If not supplied by
                client, IPG will generate. The first 12 alphanumeric digits are
                passed down to Fiserv Enterprise reporting tool, Clientline and
                Data File Manager (DFM).
              type: string
              example: '123456'
            billing:
              $ref: '#/components/schemas/Billing'
            shipping:
              $ref: '#/components/schemas/Shipping'
            mandate:
              $ref: '#/components/schemas/SepaMandate'
            transactions:
              description: 'Required for some payment methods (for example, Klarna).'
              type: array
              items:
                $ref: '#/components/schemas/TransactionResponse'
              example:
                - transactionState: AUTHORIZED
                  ipgTransactionId: '838916029301'
                  transactionType: SALE
                  transactionAmount:
                    total: 10.24
                    currency: USD
                  storeId: '1109959991'
            additionalDetails:
              $ref: '#/components/schemas/AdditionalDetails'
          example:
            orderId: '123456'
            billing:
              name: John Doe
              customerId: '1234567890'
              address:
                address1: 123 Main St.
                city: Sandy Springs
                region: Georgia
                postalCode: '30303'
                country: USA
            shipping:
              name: John Doe
              contact:
                phone: '5555555555'
                mobilePhone: '5555555555'
                email: john@test.com
              address:
                address1: 123 Main St.
                city: Sandy Springs
                region: Georgia
                postalCode: '30303'
                country: USA
            mandate:
              reference: 3RBQVEE
              url: 'https://www.firstdata.com'
              signatureDate: '2017-07-15'
              type: SINGLE
    PaymentTokenUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum:
                - FAILED
                - SUCCESS
                - PARTIAL_SUCCESS
              example: SUCCESS
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: 1554308829345
            errors:
              type: array
              items:
                $ref: '#/components/schemas/Error'
          example:
            requestStatus: PARTIAL_SUCCESS
            requestTime: 1554308829345
            errors:
              - message: >-
                  HOSTED_DATA_ID4773410890807324. Invalid credit card number:
                  CreditCard [cardNumber=4773410...7324, expirationMonth=12,
                  expirationYear=2026
              - message: >-
                  HOSTED_DATA_ID4773410888998888. Invalid credit card number:
                  CreditCard [cardNumber=4773410...8888, expirationMonth=12,
                  expirationYear=2026
    PaymentTokenizationResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum:
                - DELETED
                - FAILED
                - SUCCESS
                - APPROVED
                - WAITING
                - VALIDATION_FAILED
                - DECLINED
              example: DELETED
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: 1554308829345
            brand:
              description: Card brand.
              type: string
              example: VISA
            country:
              description: Country of the card issued.
              type: string
              example: Germany
            paymentToken:
              $ref: '#/components/schemas/PaymentTokenDetails'
            paymentCard:
              $ref: '#/components/schemas/PaymentCard'
            networkToken:
              $ref: '#/components/schemas/NetworkToken'
            processor:
              $ref: '#/components/schemas/ProcessorData'
            orderId:
              description: >-
                Note - Client Order ID if supplied by client. If not supplied by
                client, IPG will generate. The first 12 alphanumeric digits are
                passed down to Fiserv Enterprise reporting tool, Clientline and
                Data File Manager (DFM).
              type: string
              example: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              maxLength: 14
              example: '838916029301'
            merchantTransactionId:
              description: >-
                The unique merchant transaction ID from the request header, if
                supplied.
              type: string
              maxLength: 40
              example: lsk23532djljff3
            additionalResponseData:
              $ref: '#/components/schemas/AdditionalResponseData'
          example:
            requestStatus: DELETED
            requestTime: 1554308829345
            brand: VISA
            country: Germany
            paymentToken:
              value: 234ljl124l12
              reusable: true
              declineDuplicates: false
              last4: '4997'
              brand: VISA
              accountVerification: true
              type: PAYMENT_CARD
            paymentCard:
              number: '5424180279791732'
              expiryDate:
                month: '03'
                year: '21'
              securityCode: '977'
            networkToken:
              value: '2343446334644554'
              expiryMonth: '12'
              expiryYear: '24'
            processor:
              referenceNumber: '117011573'
              authorizationCode: OK1852
              responseCode: '00'
              network: DISC
              associationResponseCode: '000'
              responseMessage: APPROVAL
              avsResponse:
                streetMatch: NO_INPUT_DATA
                postalCodeMatch: NO_INPUT_DATA
                associationAvsResponse: 'Y'
              securityCodeResponse: MATCHED
            orderId: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
            ipgTransactionId: '838916029301'
            merchantTransactionId: lsk23532djljff3
    PaymentSchedulesResponse:
      description: Response from the gateway scheduler creation call.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: >-
                Result of requested operation. If it's anything other than
                'SUCCESS', please refer to 400s HTTP error codes or decline. See
                Error object for details.
              type: string
              enum:
                - SUCCESS
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - FAILURE
                - DECLINED
              example: SUCCESS
            orderId:
              description: >-
                Note - Client Order ID if supplied by client. If not supplied by
                client, IPG will generate. The first 12 alphanumeric digits are
                passed down to Fiserv Enterprise reporting tool, Clientline and
                Data File Manager (DFM).
              type: string
              example: '123456'
            state:
              $ref: '#/components/schemas/RecurringPaymentState'
            transactionResponse:
              $ref: '#/components/schemas/TransactionResponse'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestStatus: SUCCESS
        orderId: ABC12345
    RecurringPaymentDetailsResponse:
      description: Order response containing recurring payment details.
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - properties:
            recurringPaymentDetails:
              $ref: '#/components/schemas/RecurringPaymentDetails'
            industrySpecificExtensions:
              $ref: '#/components/schemas/IndustrySpecificExtensions'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        orderId: '123456'
        billing:
          name: John Doe
          customerId: '1234567890'
          contact:
            email: John.Doe@example.com
            phone: '5555555555'
        storeId: '1109959991'
        purchaseOrderNumber: '123055342'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        nextAttemptDate: '2018-10-25'
        transactionAmount:
          total: 10.5
          currency: USD
        frequency:
          every: 3
          unit: DAY
        numberOfPayments: '10'
        runCount: '3'
        state: Installed
        comments: This scheduled payment series is to pay for the thing
    ExchangeRateResponse:
      description: Exchange rate response.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              example: '838916029301'
            requestTime:
              description: >-
                Time of the request. The used format is
                "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
              type: string
              example: '2018-12-05T19:13:00.000Z'
            exchangeRateDetails:
              $ref: '#/components/schemas/ExchangeRateDetails'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestTime: '2020-06-23T11:46:00.000Z'
        exchangeRateDetails:
          inquiryRateId: 49150
          foreignCurrency: AUD
          foreignAmount: '130.33'
          exchangeRate: '1.2968'
          dccOffered: 'true'
          exchangeRateSourceTimestamp: '2015-06-23T13:46:00.000+02:00'
          expirationTimestamp: '2015-06-23T13:46:00.000+02:00'
          marginRatePercentage: '3'
          exchangeRateSourceName: REUTERS WHOLESALE INTERBANK
    PaymentUrlResponse:
      description: Response from an embedded payment link request.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              type: string
              enum:
                - SUCCESS
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - FAILURE
              description: >-
                Request status. If it is anything other than 'SUCCESS', please
                refer to 400s HTTP error codes or decline. See Error object for
                details.
              example: SUCCESS
            orderId:
              type: string
              description: >-
                Note - Client Order ID if supplied by client. If not supplied by
                client, IPG will generate. The first 12 alphanumeric digits are
                passed down to Fiserv Enterprise reporting tool, Clientline and
                Data File Manager (DFM).
              example: '123456'
            paymentUrl:
              description: URL for embedded payment link.
              type: string
              example: >-
                https://api.firstdata.com/connect/gateway/processing?storename=123456789&oid=R-96cdbaa4-c22e-4598-a2f1-c2b5fed79ef1&paymentUrlId=d3eb74fe-cf63-47e1-b89f-52ba0cc7965c
            expiration:
              description: Time until payment URL expires. Returns EPOCH Seconds
              type: integer
              format: int64
              example: 4102358400
            transactionId:
              type: string
              description: ID code from the transaction.
              example: '123978432'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestStatus: SUCCESS
        orderId: '9723846'
        paymentUrl: 'https://hyperlink-to-payment.com'
        transactionId: '2381723322'
    PaymentUrlDetailResponse:
      description: Response from an embedded payment link request.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            paymentUrlDetails:
              description: Array of payment URL details.
              type: array
              items:
                $ref: '#/components/schemas/PaymentUrlDetail'
            industrySpecificExtensions:
              $ref: '#/components/schemas/IndustrySpecificExtensions'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        paymentUrl: 'https://hyperlink-to-payment.com'
        orderId: '9723846'
        requestTime: 1518811817
        status: Created
    TransactionResponse:
      description: Common object for primary and secondary payment request responses.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              example: '838916029301'
            orderId:
              description: >-
                Note - Client Order ID if supplied by client. If not supplied by
                client, IPG will generate. The first 12 alphanumeric digits are
                passed down to Fiserv Enterprise reporting tool, Clientline and
                Data File Manager (DFM).
              type: string
              example: '123456'
            transactionType:
              $ref: '#/components/schemas/TransactionType'
            paymentToken:
              $ref: '#/components/schemas/PaymentTokenDetails'
            transactionOrigin:
              $ref: '#/components/schemas/TransactionOrigin'
            paymentMethodDetails:
              $ref: '#/components/schemas/PaymentMethodDetails'
            country:
              description: Country of the card issuer.
              type: string
              example: USA
            terminalId:
              description: The terminal that is processing the transaction.
              type: string
              example: '123456'
            merchantId:
              description: >-
                The unique (on Acquirer level) mechant ID. Usually this value
                has been chosen from the merchant itself and will be used in
                communication with the endpoint.
              type: string
              maxLength: 30
              example: '199950008'
            merchantTransactionId:
              description: >-
                The unique merchant transaction ID from the request header, if
                supplied.
              type: string
              maxLength: 40
              example: lsk23532djljff3
            transactionTime:
              description: The transaction time in seconds since epoch.
              type: integer
              format: int64
              example: 1518811817
            approvedAmount:
              $ref: '#/components/schemas/Amount'
            transactionStatus:
              description: This field is Deprecated. Point to 'transactionResult'.
              type: string
              enum:
                - APPROVED
                - WAITING
                - PARTIAL
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - DECLINED
              example: APPROVED
            transactionResult:
              description: >-
                This is the result of the operation, unless transaction status
                that represent financial status of the transaction, this fields
                helps us to understand if the operation is successfully executed
              type: string
              enum:
                - APPROVED
                - DECLINED
                - FAILED
                - WAITING
                - PARTIAL
                - FRAUD
              example: APPROVED
            approvalCode:
              description: Shows the transaction approvalcode.
              type: string
              example: 'N:-30031:No terminal setup'
            errorMessage:
              description: Shows the transaction errorMessage.
              type: string
              example: '000100: Tx was processed but response was not stored correctly'
            transactionState:
              description: Shows the state of the current transaction.
              type: string
              enum:
                - AUTHORIZED
                - CAPTURED
                - DECLINED
                - CHECKED
                - COMPLETED_GET
                - INITIALIZED
                - PENDING
                - READY
                - TEMPLATE
                - SETTLED
                - VOIDED
                - WAITING
              example: AUTHORIZED
            paymentAccountReferenceNumber:
              description: 'Payment Account Reference Number from response, if supplied.'
              type: string
              maxLength: 30
              example: 1234001AB101112131415161718CV
            secure3dResponse:
              $ref: '#/components/schemas/Secure3dResponse'
            standinResponseDetails:
              $ref: '#/components/schemas/StandinResponseDetails'
            redirectURL:
              description: The endpoint redirection URL.
              type: string
              example: 'http://pay.issuer-bank.com/sessionID=123&sharedKey=456'
            authenticationResponse:
              $ref: '#/components/schemas/Secure3DAuthenticationResponse'
            schemeTransactionId:
              description: >-
                The transaction ID received from schemes for the initial
                transaction of card on file flows.
              type: string
              maxLength: 40
              example: 019078743804756
            processor:
              $ref: '#/components/schemas/ProcessorData'
            additionalDetails:
              $ref: '#/components/schemas/AdditionalTransactionDetails'
            accountUpdaterResponse:
              $ref: '#/components/schemas/AccountUpdaterResponse'
            achResponse:
              $ref: '#/components/schemas/AchResponse'
            currencyConversionResponse:
              $ref: '#/components/schemas/CurrencyConversionResponse'
            requiredActions:
              $ref: '#/components/schemas/RequiredActions'
            plannedDueDate:
              description: Capture PlannedDueDate field sent for SEPA transactions.
              type: string
              pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$'
              example: '2022-03-03'
            networkToken:
              $ref: '#/components/schemas/NetworkToken'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
        ipgTransactionId: '838916029301'
        transactionType: SALE
        transactionTime: 1518811817
        approvedAmount:
          total: 10.24
          currency: USD
        transactionStatus: APPROVED
        transactionResult: APPROVED
        schemeTransactionId: 019078743804756
        processor:
          responseCode: '00'
          responseMessage: APPROVED
          authorizationCode: OK7118
        plannedDueDate: '2022-03-03'
        requiredActions:
          requiredRedirectionData:
            url: 'https://payment.thirdparty.com'
            headerParameters:
              headerParam1: value1
              headerParam2: value2
            method: GET
          requiredConsumerData:
            - hint: Your 6-digit Code will be provided in your mobile application
              validationExpression: '^\\d{6}$'
              key: BLIK_CODE
          requiredIntegrationData:
            - hint: >-
                Payment requires the user agent information on the
                browser/device.
              key: USER_AGENT
    RecurringPaymentDetails:
      description: Details about existing gateway schedule.
      properties:
        storeId:
          description: Store ID number.
          type: string
          maxLength: 20
          example: '1109959991'
        purchaseOrderNumber:
          description: Purchase order number.
          type: string
          example: '123055342'
        invoiceNumber:
          description: Invoice number.
          type: string
          example: '96126098'
        additionalDetails:
          $ref: '#/components/schemas/AdditionalDetails'
        creationDate:
          description: >-
            Deprecated. Please use creationDateFormatted. This may be removed in
            a future release. Date recurring payment was created.
          type: string
          example: 'Tue Jul 14 13:40:26 IST 2020'
        startDate:
          description: >-
            Deprecated. Please use startDateFormatted. This may be removed in a
            future release. Date of mandate signature.
          type: string
          example: 'Tue Jul 14 13:40:26 IST 2020'
        nextAttemptDate:
          description: >-
            Deprecated. Please use nextAttemptDateFormatted. This may be removed
            in a future release. Date of next transaction process attempt.
          type: string
          example: 'Tue Jul 14 13:40:26 IST 2020'
        creationDateFormatted:
          description: Date recurring payment was created.
          type: string
          example: '2018-10-25'
        startDateFormatted:
          description: Date of mandate signature.
          type: string
          example: '2018-10-25'
        nextAttemptDateFormatted:
          description: Date of next transaction process attempt.
          type: string
          example: '2018-10-25'
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        paymentMethodDetails:
          $ref: '#/components/schemas/PaymentMethodDetails'
        frequency:
          $ref: '#/components/schemas/Frequency'
        numberOfPayments:
          description: Number of times the recurring payment will process.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        runCount:
          description: Times the recurring payment has already run.
          type: integer
          format: int32
          minimum: 0
          maximum: 999
          example: 10
        state:
          $ref: '#/components/schemas/RecurringPaymentState'
        comments:
          description: User supplied comments.
          type: string
          example: This scheduled payment series is to pay for the thing.
      example:
        storeId: '1109959991'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        transactionAmount:
          total: 10.24
          currency: USD
        frequency:
          every: 3
          unit: DAY
        numberOfPayments: 10
        runCount: 3
        state: Installed
        comments: This scheduled payment series is to pay for the thing.
    PaymentMethodPaymentSchedulesRequest:
      title: PaymentMethodPaymentSchedulesRequest
      description: Request to create a new payment schedule using a payment method.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesRequest'
        - type: object
          required:
            - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/components/schemas/PaymentCardPaymentMethod'
      example:
        requestType: PaymentMethodPaymentSchedulesRequest
        transactionAmount:
          total: 25.24
          currency: GBP
        startDate: '2021-12-31'
        frequency:
          every: 1
          unit: MONTH
        paymentMethod:
          paymentCard:
            number: '5424180279791732'
            expiryDate:
              month: '12'
              year: '25'
            securityCode: '977'
            brand: VISA
    ReferencedOrderPaymentSchedulesRequest:
      title: ReferencedOrderPaymentSchedulesRequest
      description: Request to create a new payment schedule using a referenced order ID.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesRequest'
        - type: object
          required:
            - referencedOrderId
          properties:
            referencedOrderId:
              description: >-
                Order ID used to create recurring payment from existing
                transaction.
              type: string
              pattern: ^(?!\s*$).+
              example: R-f9c2c198-b7cc-491a-a711-93d22fd0e589
      example:
        requestType: ReferencedOrderPaymentSchedulesRequest
        referencedOrderId: R-f9c2c198-b7cc-491a-a711-93d22fd0e589
        startDate: '2021-12-31'
        numberOfPayments: 10
        maximumFailures: 1
        invoiceNumber: '96126098'
        purchaseOrderNumber: '123055342'
        transactionOrigin: ECOM
        dynamicMerchantName: MyWebsite
        frequency:
          every: 1
          unit: MONTH
        transactionAmount:
          total: 25.24
          currency: GBP
        clientLocale:
          language: EN
          country: USA
    PaymentSchedulesRequest:
      description: >-
        Request to create a gateway schedule. Abstract class, do not use this
        class directly, use one of its children.
      required:
        - requestType
        - transactionAmount
        - startDate
        - frequency
      discriminator:
        propertyName: requestType
      properties:
        requestType:
          description: Object name of the payment schedules request.
          type: string
          example: PaymentMethodPaymentSchedulesRequest
        storeId:
          description: Store ID number.
          type: string
          maxLength: 20
          example: '1109959991'
        startDate:
          description: Date of mandate signature.
          type: string
          format: date
          example: '2018-10-25'
        numberOfPayments:
          description: Number of times the recurring payment will process.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        maximumFailures:
          description: Number of failures that can be encountered before re-tries cease.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 1
        invoiceNumber:
          description: Invoice number.
          type: string
          example: '96126098'
        purchaseOrderNumber:
          description: Purchase order number.
          type: string
          example: '123055342'
        transactionOrigin:
          $ref: '#/components/schemas/TransactionOrigin'
        dynamicMerchantName:
          description: Dynamic merchant name for the cardholder's statement.
          type: string
          example: MyWebsite
        frequency:
          $ref: '#/components/schemas/Frequency'
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        clientLocale:
          $ref: '#/components/schemas/ClientLocale'
        orderId:
          description: >-
            Note - Client Order ID if supplied by client. If not supplied by
            client, IPG will generate. The first 12 alphanumeric digits are
            passed down to Fiserv Enterprise reporting tool, Clientline and Data
            File Manager (DFM).
          type: string
          example: '123456'
        billing:
          $ref: '#/components/schemas/Billing'
        shipping:
          $ref: '#/components/schemas/Shipping'
        industrySpecificExtensions:
          $ref: '#/components/schemas/IndustrySpecificExtensions'
        comments:
          description: User supplied comments.
          type: string
          example: This scheduled payment series is to pay for the thing.
      example:
        requestType: PaymentMethodPaymentSchedulesRequest
        startDate: '2021-12-31'
        numberOfPayments: 10
        maximumFailures: 1
        invoiceNumber: '96126098'
        purchaseOrderNumber: '123055342'
        transactionOrigin: ECOM
        dynamicMerchantName: MyWebsite
        frequency:
          every: 1
          unit: MONTH
        paymentMethod:
          paymentCard:
            number: '5426064000424979'
            expiryDate:
              month: '12'
              year: '25'
            securityCode: '147'
            cardFunction: CREDIT
        transactionAmount:
          total: 25.24
          currency: GBP
        clientLocale:
          language: EN
          country: USA
    Frequency:
      description: How often payments are sent.
      required:
        - every
        - unit
      properties:
        every:
          description: Rate of frequency.
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          example: 10
        unit:
          description: Unit which defines the frequency.
          type: string
          enum:
            - DAY
            - WEEK
            - MONTH
            - YEAR
          example: MONTH
      example:
        every: 3
        unit: DAY
    ClientLocale:
      description: Country and language of client.
      required:
        - language
        - country
      properties:
        language:
          description: Language used by client.
          type: string
          pattern: ^(?!\s*$).+
          example: en
        country:
          description: Country of the client.
          type: string
          pattern: ^(?!\s*$).+
          example: GB
      example:
        language: en
        country: GB
    AccessTokenRequest:
      description: Access token generation request.
      required:
        - domain
        - token
        - publicKeyRequired
      properties:
        domain:
          description: Domain name.
          type: string
          example: somedomain.com
        token:
          description: The token value.
          type: string
          example: gfgF92JHDJFjxcJHCQ23IbI12D
        publicKeyRequired:
          description: Indicates whether public key is requested or not.
          type: boolean
          example: true
      example:
        domain: somedomain.com
        token: gfgF92JHDJFjxcJHCQ23IbI12D
        publicKeyRequired: false
    AccessTokenResponse:
      description: Access token generation response.
      properties:
        tokenId:
          description: Access token for authentication.
          type: string
          example: gliF92ypj9cKRWUP8lpRIbI3bhNf
        status:
          description: The token status.
          type: string
          example: ACTIVE
        issuedOn:
          description: Access token issued time in milliseconds.
          type: string
          example: '1579021570941'
        expiresInSeconds:
          description: Access token expiration time.
          type: string
          example: '899'
        publicKeyBase64:
          description: Public key to encrypt data.
          type: string
          example: LS0tLS1CRUdJTiBQLbnFSNXRnVmc4U08LS1FTkQgUFVCTElDIEtFWS0tLS0t
        algorithm:
          description: Encyption algorithym. One way ECDH 256 bit key.
          type: string
          example: RSA/NONE/PKCS1PADDING
        clientRequestId:
          description: Echoes back the value from the request header for tracking.
          type: string
          example: 30dd879c-ee2f-11db-8314-0800200c9a66
      example:
        tokenId: gliF92ypj9cKRWUP8lpRIbI3bhNf
        status: ACTIVE
        issuedOn: '1579021570941'
        expiresInSeconds: '899'
        publicKeyBase64: LS0tLS1CRUdJTiBQLbnFSNXRnVmc4U08LS1FTkQgUFVCTElDIEtFWS0tLS0t
        algorithm: RSA/NONE/PKCS1PADDING
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
    CardVerificationRequest:
      description: Request to verify card validity.
      required:
        - paymentCard
      properties:
        paymentCard:
          $ref: '#/components/schemas/PaymentCard'
        billingAddress:
          $ref: '#/components/schemas/Address'
        storeId:
          description: >-
            An optional outlet ID for clients that support multiple stores in
            the same app.
          type: string
          maxLength: 20
          example: '12345500000'
        transactionOrigin:
          $ref: '#/components/schemas/TransactionOrigin'
      example:
        paymentCard:
          number: '4035874000424977'
          expiryDate:
            month: '12'
            year: '25'
          securityCode: '977'
        billingAddress:
          address1: 5565 Glenridge Conn
          city: Atlanta
          postalCode: '30342'
          country: USA
    AccountVerificationRequest:
      description: >-
        Request to verify payment card or payment token. Abstract class, do not
        use this class directly, use one of its children.
      type: object
      required:
        - requestType
      discriminator:
[...]
